@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- 404 -->
            <section class="not-found">
                <h1>Такой страницы не&nbsp;существует</h1>
                <div class="not-found__text">Вернуться <a href="#" class="blue">на главную</a> или воспользоваться формой&nbsp;поиска:</div>
                <form class="not-found__search">
                    <input type="search">
                    <button class="not-found__search-btn btn_link">
                        <span class="icon icon-search"></span>
                    </button>
                    <button class="not-found__search-close btn_link">
                        <span class="icon icon-cross"></span>
                    </button>
                </form>
            </section>
            <!-- /404 -->

        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>