@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white",
            "class_modificator": "header-main"
        })

        <section class="slider-block">
            <div class="slick slick__main_slider">
                <div class="slick__item">
                    <div class="slick__item_block">
                        <div class="slick__item_block_text">
                            <span class="label_title">Сплит-системы</span>
                            <h3>Daikin Emura</h3>
                            <p class="fz-20 info_title">Действительно красивые кондиционеры</p>
                            <p>Наивысший класс энергоэффективности и совершенные технологии Daikin. В корпусе Emura выпускаются внутренние блоки кондиционеров <a href="#">FTXG/RXG-L</a> и <a href="#">FTXJ-M/RXJ-M</a>.</p>
                            <a href="#" class="btn btn_more">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slick__item_block">
                        <div class="slick__item_block_image">
                            <img src="img/index/slider-1.jpg" alt="">
                        </div>
                    </div>
                </div><!-- slick__item -->
                <div class="slick__item">
                    <div class="slick__item_block">
                        <div class="slick__item_block_text">
                            <span class="label_title">Сплит-системы</span>
                            <h3>Daikin Emura</h3>
                            <p class="fz-20 info_title">Действительно красивые кондиционеры</p>
                            <p>Наивысший класс энергоэффективности и совершенные технологии Daikin. В корпусе Emura выпускаются внутренние блоки кондиционеров <a href="#">FTXG/RXG-L</a> и <a href="#">FTXJ-M/RXJ-M</a>.</p>
                            <a href="#" class="btn btn_more">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slick__item_block">
                        <div class="slick__item_block_image">
                            <img src="img/index/slider-1.jpg" alt="">
                        </div>
                    </div>
                </div><!-- slick__item -->
                <div class="slick__item">
                    <div class="slick__item_block">
                        <div class="slick__item_block_text">
                            <span class="label_title">Сплит-системы</span>
                            <h3>Daikin Emura</h3>
                            <p class="fz-20 info_title">Действительно красивые кондиционеры</p>
                            <p>Наивысший класс энергоэффективности и совершенные технологии Daikin. В корпусе Emura выпускаются внутренние блоки кондиционеров <a href="#">FTXG/RXG-L</a> и <a href="#">FTXJ-M/RXJ-M</a>.</p>
                            <a href="#" class="btn btn_more">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slick__item_block">
                        <div class="slick__item_block_image">
                            <img src="img/index/slider-1.jpg" alt="">
                        </div>
                    </div>
                </div><!-- slick__item -->
            </div>
        </section><!-- slider-block -->
        
        <section class="info-block info-block-b1">
            <div class="col2-grid align_top">
                <div class="col2-grid__block">
                    <img src="img/system.jpg" alt="">
                </div>
                <div class="col2-grid__block">
                    <div class="text-block">
                        <span class="label_title">Системы кондиционирования</span>
                        <h2>Daikin VRV VI</h2>
                        <p class="fz-20 info_title">Легендарные многозональные кондиционеры</p>
                        <p>Системы VRV — комплексное решение для больших и средних зданий. Благодаря рекордной эффективности и интеллектуальному управлению система уменьшает энергопотребление, сокращает затраты и выбросы углекислого газа.</p>
                        <a href="#" class="btn btn_more">Узнать больше</a>
                    </div>
                </div>
            </div>
        </section><!-- info-block -->
        
        <section class="info-block info-block-b2">
            <div class="col2-grid">
                <div class="col2-grid__block">
                    <div class="text-block">
                        <span class="text-block__title">Сплит-системы</span>
                        <h2>Kentatsu Titan Genesis</h2>
                        <p class="text-block__info">Разумно. Надежно. Япония.</p>
                        <p>От модели <a href="#">KSGX_HFA</a> не оторвать глаз! Боковая подсветка-индикация внутреннего блока меняет цвет с голубого в режиме охлаждения на оранжевый – в режиме обогрева. Яркость подсветки блок регулирует самостоятельно в зависимости от освещения в комнате.</p>
                        <a href="#" class="btn btn__more">Узнать больше</a>
                    </div>
                </div>
                <div class="col2-grid__block">
                    <img src="img/model_kentatsu.png" alt="">
                </div>
            </div>
        </section><!-- info-block -->
        
        <section class="info-block">
            <div class="col2-grid">
                <div class="col2-grid__block"> 
                    <img src="img/model_midea.png" alt="">
                </div>
                <div class="col2-grid__block">
                    <div class="text-block">
                        <span class="text-block__title">Сплит-системы</span>
                        <h2>Midea Blanc</h2>
                        <p class="text-block__info">Передовые технологии для комфорта и безопасности</p>
                        <p>Фильтр высокой эффективности и автоматическая очистка блока изнутри. Тихая работа и особые режимы на время сна или отдыха. А еще кондиционер MSMA1 запоминает, какие настройки предпочитаете именно вы.</p>
                        <a href="#" class="btn btn__more">Узнать больше</a>
                    </div>
                </div>
            </div>
        </section><!-- info-block -->
        
        <section class="info-block">
            <div class="col2-grid">                
                <div class="col2-grid__block">
                    <div class="text-block">
                        <h2>О компании</h2>
                        <p>Daichi — крупнейший дистрибьютор климатического оборудования с 20-летней историей</p>
                        <a href="#" class="btn btn__more">Подробнее о компании</a>
                    </div>
                </div>
                <div class="col2-grid__block"> 
                    <div class="about-info">
                        <div class="about-info__bgvideo"></div>
                        <ul class="about-info__list">
                            <li class="about-info__list_item">
                                <span>19</span>
                                <p>Представительств<br> в регионах РФ</p>
                            </li>
                            <li class="about-info__list_item">
                                <span>8000</span>
                                <p>Компаний-партнеров</p>
                            </li>
                            <li class="about-info__list_item">
                                <span>100</span>
                                <p>Авторизованных<br> сервисных центров</p>
                            </li>
                            <li class="about-info__list_item">
                                <span>35</span>
                                <p>Оптовых складов<br> в городах РФ</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- info-block -->
        
        <section class="bestsellers">
            <div class="container">
                <h3 class="text-c">Хиты продаж</h3>
                
                <ul class="tabs">
                    <li class="tabs__item">
                        <span class="tabs__link is-active">Сплит-системы</span>
                        <div class="tabs__cnt is-open">
                            <div class="product-list">
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                            </div><!-- product-list -->
                        </div>
                    </li>
                    <li class="tabs__item">
                        <span class="tabs__link">Полупромышленные кондиционеры</span>
                        <div class="tabs__cnt">
                            <div class="product-list">
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                            </div><!-- product-list -->
                        </div>
                    </li>
                    <li class="tabs__item">
                        <span class="tabs__link">VRF-системы</span>
                        <div class="tabs__cnt">
                            <div class="product-list">
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                            </div><!-- product-list -->
                        </div>
                    </li>
                    <li class="tabs__item">
                        <span class="tabs__link">Отопительное оборудование</span>
                        <div class="tabs__cnt">
                            <div class="product-list">
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product1.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product2.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product3.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item_image">
                                        <a href="#"><img src="img/product5.jpg" alt=""></a>
                                    </div>
                                    <div class="product-list__item_name">
                                        <a href="#"><span>Настенная сплит-система</span> Kentatsu KSGX_HFA Titan Genesis</a>
                                    </div>
                                    <div class="product-list__item_price">От 54 900 <span class="rub">руб.</span></div>
                                </div>
                            </div><!-- product-list -->
                        </div>
                    </li>
                </ul>
                
            </div>
        </section><!-- bestsellers -->
        
        <section class="news">
            <div class="container">
                <h3 class="text-c">Наши новости</h3>
                
                <div class="news-list">
                    <div class="news-list__item">
                        <div class="news-list__item_title">Новости<span class="date">13 Декабря 2016</span></div>
                        <h6><a href="#">Kentatsu Furst для «Газпром газораспределение Волгоград»</a></h6>
                        <p>6 и 7 декабря сотрудники компании «Даичи» провели в подразделениях компании «Газпром газораспределение Волгоград» обучающие мероприятия, посвященные сервису настенных газовых котлов.</p>
                    </div><!-- news-list__item -->
                    
                    <div class="news-list__item">
                        <div class="news-list__item_title">Новости<span class="date">13 Декабря 2016</span></div>
                        <h6><a href="#">Новые канальные кондиционеры Kentatsu KSKR-HFA/KSUT-HFAN1</a></h6>
                        <p>На российском рынке появились канальные средненапорные сплит-системы KSKTR-HFA/KSUT-HFAN1 на хладагенте R410A.</p>
                    </div><!-- news-list__item -->
                    
                    <div class="news-list__item">
                        <div class="news-list__item_title">Статьи</div>
                        <h6><a href="#">Новинки 2016 года от Daikin</a></h6>
                    </div><!-- news-list__item -->
                </div><!-- news-list -->
                
                <div class="link-all text-c">
                    <a href="#">Все новости</a>
                </div>
                
            </div>
        </section><!-- news -->

		@@include('template/footer.html')
    </div>

    @@include('template/foot.html')
</body>
</html>
