@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- articles -->
            <section class="articles">
                <div class="container">
                    <h2 class="page-title">Статьи</h2>
                    <ul class="breadcrumbs inside" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#"><span itemprop="name">Новости</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#"  class="active"><span itemprop="name">Статьи</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                    <div class="articles__list" id="js-for-articles-list">
                        <div class="articles__row has-thumbnails dark">
                            <img src="img/artciles/01.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">18 Марта 2017</div>
                                <div class="articles__title">
                                    <span>Daikin во главе новых тенденций</span>
                                </div>
                                <div class="articles__text">Преимущества хладагента R-32</div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails">
                            <img src="img/artciles/02.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">4 Марта 2017</div>
                                <div class="articles__title">
                                    <span>Топ-5 решений для склада</span>
                                </div>
                                <div class="articles__text">Обзор промышленных кондиционеров</div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails dark">
                            <img src="img/artciles/03.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">20 Февраля 2017</div>
                                <div class="articles__title">
                                    <span>Чиллеры Daikin</span>
                                </div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails dark">
                            <img src="img/artciles/04.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">14 Января 2017</div>
                                <div class="articles__title">
                                    <span>Как бороться с сухим воздухом?</span>
                                </div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails dark">
                            <img src="img/artciles/05.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">30 Декабря 2016</div>
                                <div class="articles__title">
                                    <span>Midea: новинки 2016 года</span>
                                </div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails t-center">
                            <img src="img/artciles/06.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__title">
                                    <span>Кондиционеры Daikin Emura</span>
                                </div>
                                <div class="readmore">
                                    <span>Смотреть</span>
                                </div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails dark t-center">
                            <img src="img/artciles/07.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__title">
                                    <span>Сплит-системы Kentatsu</span>
                                </div>
                                <div class="articles__thumb">
                                    <img src="img/artciles/07_1.png" alt="">
                                </div>
                                <div class="readmore">
                                    <span>Смотреть</span>
                                </div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails dark">
                            <img src="img/artciles/08.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">5 Декабря 2016</div>
                                <div class="articles__title">
                                    <span>Чугунные твердотопливные котлы Kentatsu Furst</span>
                                </div>
                                <div class="articles__text">Элегантное решение проблем отопления</div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                        <div class="articles__row has-thumbnails dark">
                            <img src="img/artciles/09.png" alt="" class="articles__bg">
                            <div class="articles__details">
                                <div class="articles__date">25 Ноября 2016</div>
                                <div class="articles__title">
                                    <span>Инновационные системыDaikin VRV IV NINI S-серии</span>
                                </div>
                                <div class="articles__text">Экономичное использование пространства</div>
                            </div>
                            <a href="#" class="articles__link"></a>
                        </div>
                    </div>
                    <div class="content-more">
                        <a class="content-more__btn js-load-articles-list" role="button">
                            <i class="content-more__icon"></i>
                            <span class="content-more__text">Показать еще</span>
                        </a>
                    </div>
                    <div class="articles__paging">
                        <ul class="paging">
                            <li class="paging__prev"><a href="#">Назад</a></li>
                            <li class="paging__page is-active"><a href="#">1</a></li>
                            <li class="paging__page"><a href="#">2</a></li>
                            <li class="paging__page"><a href="#">3</a></li>
                            <li class="paging__page"><a href="#">4</a></li>
                            <li class="paging__dots">...</li>
                            <li class="paging__page"><a href="#">22</a></li>
                            <li class="paging__next"><a href="#">Вперёд</a></li>
                        </ul>
                    </div>
                </div>
                <!-- SUBSCRIBE -->
                <div class="subscribe">
                    <div class="container">
                        <h6>Подписаться на рассылку</h6>
                        <p>Получать актуальные новости и статьи</p>
                        <form action="/">
                            <input type="email" placeholder="email">
                            <button class="btn btn-link"><span class="icon icon-on"></span></button>
                        </form>
                    </div>
                </div>
                 <!-- /SUBSCRIBE -->

            </section>
            <!-- articles -->
        </main><!-- END page -->
        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>