@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page catalog">

            <section class="cat-intro">
                <div class="container">
                    <div class="cat-intro__row">
                        <div class="cat-intro__pict">
                            <img class="cat-intro__img" src="img/inhtml/banner_img.png" alt="Кондиционирование">
                        </div>
                        <div class="cat-intro__text">
                            <div class="cat-intro__type">Кондиционирование</div>
                            <h3 class="cat-intro__title">Комфорт <br>и ничего лишнего</h3>
                        </div>
                    </div>
                    <ul class="cat-intro__tags">
                        <li class="cat-intro__tags-item">
                            <input type="checkbox" name="cat-intro-tag_01"  id="cat-intro-tag_01" value="1">
                            <label class="cat-intro__tags-btn" for="cat-intro-tag_01">Самые тихие</label>
                        </li>
                        <li class="cat-intro__tags-item">
                            <input type="checkbox" name="cat-intro-tag_02"  id="cat-intro-tag_02" value="1">
                            <label class="cat-intro__tags-btn" for="cat-intro-tag_02">Инверторные</label>
                        </li>
                        <li class="cat-intro__tags-item">
                            <input type="checkbox" name="cat-intro-tag_03"  id="cat-intro-tag_03" value="1">
                            <label class="cat-intro__tags-btn" for="cat-intro-tag_03">Для аллергиков</label>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="sorting catalog__sort">
                <div class="container">
                    <a class="sorting__mob-btn js-mob-filter_toggle" role="button">Фильтр</a>
                    <div class="sorting__side">
                        <div class="sorting__note">Всего товаров: <span>74</span></div>
                    </div>
                    <h4 class="sorting__title">Сортировать:</h4>
                    <div class="sorting__by">
                        <ul class="sorting__by-list" id="cat-sort-list">
                            <li class="sorting__by-item is-active">
                                <a class="sorting__by-btn js-cat-sort" role="button"><span>По цене</span><i class="sorting__icon icon-az"></i></a>
                            </li>
                            <li class="sorting__by-item">
                                <a class="sorting__by-btn js-cat-sort" role="button"><span>По рейтингу</span><i class="sorting__icon icon-za"></i></a>
                            </li>
                            <li class="sorting__by-item">
                                <a class="sorting__by-btn js-cat-sort" role="button"><span>По отзывам</span><i class="sorting__icon"></i></a>
                            </li>
                            <li class="sorting__by-item">
                                <a class="sorting__by-btn js-cat-sort" role="button"><span>По новизне</span><i class="sorting__icon"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="catalog__body">
                <div class="container">
                    <aside class="catalog__side" id="js-catalog-side">
                        <form class="filters">
                            <div class="filters__unit">
                                <h5 class="filters__unit-title js-accordion-head is-open">Назначение</h5>
                                <div class="filters__unit-body js-accordion-body">
                                    <input type="checkbox" name="home" value="" id="home" checked>
                                    <label for="home">Бытовые кондиционеры</label>
                                    <input type="checkbox" name="semiindustrial" value="" id="semiindustrial">
                                    <label for="semiindustrial">Полупромышленные</label>
                                    <input type="checkbox" name="industrial" value="" id="industrial">
                                    <label for="industrial">Промышленные</label>
                                </div>
                            </div>
                            <div class="filters__unit">
                                <h5 class="filters__unit-title js-accordion-head is-open">Стоимость, <i class="icon-rub">a</i></h5>
                                <div class="filters__unit-body js-accordion-body">
                                    <div class="slider">
                                        <div class="slider__range" data-min="0" data-max="150000" data-step="5000" data-values="23000, 149000"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="filters__unit">
                                <h5 class="filters__unit-title js-accordion-head is-open">Производитель</h5>
                                <div class="filters__unit-body js-accordion-body">
                                    <input type="checkbox" name="daikin" value="" id="daikin" checked>
                                    <label for="daikin">Daikin</label>
                                    <input type="checkbox" name="midea" value="" id="midea">
                                    <label for="midea">Midea</label>
                                    <input type="checkbox" name="kentatsu" value="" id="kentatsu">
                                    <label for="kentatsu">Kentatsu</label>
                                    <input type="checkbox" name="axioma" value="" id="axioma">
                                    <label for="axioma">Axioma</label>
                                </div>
                            </div>
                            <div class="filters__unit">
                                <h5 class="filters__unit-title js-accordion-head is-open">
                                    Тип <span class="icon icon-help tooltip" title="Текст подсказки, который рассказывает о типах кондиционеров">?</span>
                                </h5>
                                <div class="filters__unit-body js-accordion-body">
                                    <input type="checkbox" name="mono" value="" id="mono">
                                    <label for="mono">Моноблок</label>
                                    <input type="checkbox" name="multisplit" value="" id="multisplit">
                                    <label for="multisplit">Мультисплит-система</label>
                                    <input type="checkbox" name="split" value="" id="split" checked>
                                    <label for="split">Сплит-система</label>
                                </div>
                            </div>
                            <div class="filters__unit">
                                <div class="filters__unit-body for-checkbox">
                                    <input type="checkbox" name="inverter" value="" id="inverter">
                                    <label for="inverter">Инверторный</label>
                                </div>
                            </div>
                            <div class="filters__unit">
                                <div class="filters__unit-btns">
                                    <a class="filters__btn-more" role="button">Еще 12 параметров</a>
                                    <button class="btn btn_border btn_block" type="submit">Применить</button>
                                    <button class="filters__btn-clear" type="reset">Сбросить фильтры</button>
                                </div>
                            </div>
                        </form>
                    </aside>

                    <div class="catalog__main">
                        <div class="catalog__list" id="js-for-load-cat-prod">
                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="cat-banner">
                                    <div class="cat-banner__back" style="background-image: url('img/inhtml/bg_cat-banner_01.jpg')"></div>
                                    <div class="cat-banner__front">
                                        <div class="cat-banner__type">Новинки</div>
                                        <h5 class="cat-banner__title">Обновление <br>линейки Kentatsu</h5>
                                        <div class="cat-banner__pict">
                                            <img class="cat-banner__img" src="img/inhtml/cat-banner_01.png" alt="Kentatsu">
                                        </div>
                                        <div class="cat-banner__more">Узнать больше</div>
                                        <a class="cat-banner__link" href="#"></a>
                                    </div>
                                </div><!-- END cat-banner -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="prod-card for-catalog">
                                    <ul class="prod-card__top">
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                        </li>
                                        <li class="prod-card__top-item">
                                            <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                        </li>
                                    </ul>
                                    <div class="prod-card__pict">
                                        <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                    </div>
                                    <div class="prod-card__text">
                                        <div class="prod-card__rate rate rate_four"></div>
                                        <div class="prod-card__type">Настенная сплит-система</div>
                                        <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                        <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                    </div>
                                    <div class="prod-card__more">
                                        <div class="prod-card__status">
                                            <div class="prod-card__comment">7 Отзывов</div>
                                            <div class="prod-card__rate rate rate_four"></div>
                                        </div>
                                        <ul class="features-line prod-card__icons">
                                            <li class="features-line__item"><i class="icon-prod-auto"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-water"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-flash"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-freez"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-termo"></i></li>
                                            <li class="features-line__item"><i class="icon-prod-touch"></i></li>
                                        </ul>
                                        <a class="prod-card__btn btn btn_block" href="#">Где купить</a>
                                    </div>
                                    <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                </div><!-- END prod-card -->
                            </div><!-- END catalog__card -->

                            <div class="catalog__card">
                                <div class="cat-banner">
                                    <div class="cat-banner__back" style="background-image: url('img/inhtml/bg_cat-banner_02.jpg')"></div>
                                    <div class="cat-banner__front">
                                        <h5 class="cat-banner__title">Кондиционеры <br>с датчиком движения</h5>
                                        <div class="cat-banner__pict to-right">
                                            <img class="cat-banner__img" src="img/inhtml/cat-banner_02.png" alt="Кондиционеры">
                                        </div>
                                        <div class="cat-banner__more">Смотреть</div>
                                        <a class="cat-banner__link" href="#"></a>
                                    </div>
                                </div><!-- END cat-banner -->
                            </div><!-- END catalog__card -->

                        </div><!-- END catalog__list -->

                        <div class="content-more catalog__more">
                            <a class="content-more__btn js-load-cat-prod" role="button">
                                <i class="content-more__icon"></i>
                                <span class="content-more__text">Показать еще</span>
                            </a>
                        </div>

                        <div class="catalog__paging">
                            <ul class="paging">
                                <li class="paging__prev"><a href="#">Назад</a></li>
                                <li class="paging__page is-active"><a href="#">1</a></li>
                                <li class="paging__page"><a href="#">2</a></li>
                                <li class="paging__page"><a href="#">3</a></li>
                                <li class="paging__page"><a href="#">4</a></li>
                                <li class="paging__dots">...</li>
                                <li class="paging__page"><a href="#">22</a></li>
                                <li class="paging__next"><a href="#">Вперёд</a></li>
                            </ul>
                        </div>
                    </div><!-- END catalog__main -->
                </div><!-- END container -->
            </section><!-- END catalog__body -->

            <section class="sec-news has-white-bg has-border-top">
                <div class="container sec-news__container">
                    <h2 class="sec-news__title">Наши статьи</h2>
                    <div class="sec-news__set">
                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card has-dark-bg">
                                <img class="pict-card__back" src="img/sec-news/article-img_03_450x320.jpg" alt="Как бороться с сухим воздухом?">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Как бороться с сухим воздухом?</h4>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->

                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card">
                                <img class="pict-card__back" src="img/sec-news/article-img_02_450x320.jpg" alt="Топ-5 решений для склада">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Топ-5 решений для склада</h4>
                                    <div class="pict-card__note">Обзор промышленных <br>кондиционеров</div>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->

                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card has-dark-bg">
                                <img class="pict-card__back" src="img/sec-news/article-img_04_450x320.jpg" alt="Midea: новинки 2017 года">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Midea: новинки 2017 года</h4>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->
                    </div><!-- END sec-news__set -->
                </div><!-- END sec-news__container -->
            </section><!-- END sec-news -->

            <section class="sec-watched">
                <div class="container">
                    <h2 class="sec-watched__title">Вы смотрели</h2>
                    <div class="sec-watched__set js-watched-slider">
                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_01.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FTXJ-M/RXJ-M</div>
                                    <div class="watched-prod__price">От 95 000 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_02.jpg" alt="Daikin FTX20J/RX20J">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FTX20J/RX20J</div>
                                    <div class="watched-prod__price">От 43 700 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FTX20J/RX20J"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_03.jpg" alt="Daikin FTXM25K/ RXM25L">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FTXM25K/ RXM25L</div>
                                    <div class="watched-prod__price">От 72 000 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FTXM25K/ RXM25L"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_04.jpg" alt="Daikin FBQ100C8/ RQ100BW">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FBQ100C8/ RQ100BW</div>
                                    <div class="watched-prod__price">От 194 800 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FBQ100C8/ RQ100BW"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_05.jpg" alt="Daikin FVXS50F/ RXS50L">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FVXS50F/ RXS50L</div>
                                    <div class="watched-prod__price">От 145 000 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FVXS50F/ RXS50L"></a>
                            </div>
                        </div><!-- END sec-watched__col -->
                    </div><!-- END sec-watched__set -->
                </div><!-- END container -->
            </section><!-- END sec-watched -->


        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>