@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- CONTACTS -->
            <section class="contacts">
                <div class="container">
                    <h2 class="page-title">Контакты</h2>
                    <div class="contacts__wrap">
                        <div class="contacts__wrap-item">
                            <div class="contacts__item">
                                <dl>
                                    <dt>Телефон</dt>
                                    <dd>+7 495 737-37-33 (многоканальный)</dd>
                                    <dt>Факс</dt>
                                    <dd>+7 495 737-37-32</dd>
                                    <dt>Электронная почта</dt>
                                    <dd><a href="mailto:info@daichi.ru" class="blue">info@daichi.ru</a></dd>
                                    <dt>Юридический адрес</dt>
                                    <dd>125130, Москва, Старопетровский пр-д, 11, корп. 1</dd>
                                </dl>
                            </div>
                            <address>
                                <a href="tel:8 800 200-00-05" class="phone">8 800 200-00-05</a>
                                <span>Единая служба поддержки клиентов</span>
                                <small>в будни с 10:00 до 19:00</small>
                            </address>
                        </div>
                        <div class="contacts__tabs">
                            <div class="contacts__tabs-nav">
                                <ul>
                                    <li><a href="#" class="active" data-id="tab-office">Офис</a></li>
                                    <li><a href="#" data-id="tab-storage">Складской комплекс</a></li>
                                </ul>
                            </div>
                            <div class="contacts__tabs-content">
                                <div id="tab-office" class="active-tab">
                                    <p>Офис на Ленинградском шоссе</p>
                                    <p>125167, Москва, Ленинградский пр-т, 39, стр. 80 (бизнеc-центр Skylight, башня В), эт. 17</p>
                                    <div id="map-office" class="map"></div>
                                </div>
                                <div id="tab-storage">
                                    <p>Складской комплекс «Даичи Экспо»</p>
                                    <p>г. Долгопрудный, микрорайон Хлебниково, Новое шоссе, д. 1, стр. 1, 3 эт.</p>
                                    <div id="map-storage" class="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- CONTACTS -->

        </main><!-- END page -->
        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>