@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- SIDE NAV -->
            <nav class="top-menu">
                <div class="container">
                    <ul>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Структура</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li class="active"><a href="#">Галерея</a></li>
                        <li><a href="#">Представительства</a></li>
                        <li><a href="#">Объекты</a></li>
                        <li><a href="#">Шоу-рум</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDE NAV -->

            <!-- GALLERY -->
            <section class="gallery">
                <div class="container">
                    <h2>Галерея</h2>
                    <div class="fancybox-overlay"></div>
                    <div class="gallery__list">
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/01.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>21</span></li>
                                            <li><i class="icon icon-video-w"></i><span>2</span></li>
                                        </ul>
                                    </div>
                                    <h5>Выставка <br>«Мир климата 2017»</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/02.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-video-w"></i><span>1</span></li>
                                        </ul>
                                    </div>
                                    <div class="icon icon-play"></div>
                                    <h5>Cплит-системы Kentatsu в передаче «Чудо техники»</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/03.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>23</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Астрахань</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/04.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>20</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Владивосток</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/05.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>20</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Волгоград</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/06.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>32</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Екатеринбург</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/07.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>16</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Иркутск</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/08.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>21</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Казань</h5>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__row">
                            <a href="#gallery-popup" data-popup="open">
                                <div class="gallery__thumb">
                                    <img src="img/gallery/09.jpg" alt="">
                                </div>
                                <div class="gallery__details">
                                    <div class="gallery__tags">
                                        <ul>
                                            <li><i class="icon icon-picture"></i><span>21</span></li>
                                        </ul>
                                    </div>
                                    <h5>Дилерские конференции «Даичи» 2016: Москва</h5>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            <!-- /GALLERY -->

            <div id="gallery-popup">
                <div class="gallery__slider">
                    <div class="gallery__slider-item"><img src="img/gallery/01_big.jpg" alt=""></div>
                    <div class="gallery__slider-item"><img src="img/gallery/01_big.jpg" alt=""></div>
                    <div class="gallery__slider-item"><img src="img/gallery/01_big.jpg" alt=""></div>
                </div>
                <div class="gallery__slider-info"></div>
            </div>

        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>