@@include('template/head.html')
<body class="hide-footer">
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

             <!-- SIDE NAV -->
            <nav class="top-menu">
                <div class="container">
                    <ul>
                        <li class="active"><a href="#">История</a></li>
                        <li><a href="#">Структура</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Представительства</a></li>
                        <li><a href="#">Объекты</a></li>
                        <li><a href="#">Шоу-рум</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDE NAV -->

            <!-- HISTORY -->
            <section class="history">
                <div class="container full-size">
                    <div class="history__details">
                        <h1>На сегодняшний день компания Daichi это</h1>
                        <div class="history__list">
                            <div class="history__row">
                                <div class="history__number">5000</div>
                                <div class="history__desc">специализированных монтажных компаний-партнёров в РФ</div>
                            </div>
                            <div class="history__row">
                                <div class="history__number">21</div>
                                <div class="history__desc">представительств в&nbsp;регионах&nbsp;РФ</div>
                            </div>
                            <div class="history__row">
                                <div class="history__number">100</div>
                                <div class="history__desc">авторизованных сервисных центров</div>
                            </div>
                            <div class="history__row">
                                <div class="history__number">35</div>
                                <div class="history__desc">оптовых складов <br>в крупных городах</div>
                            </div>
                        </div>
                    </div>
                    <div class="history__item">
                        <div class="history__slider">
                            <div class="history__slider-item">
                                <div class="history__date">
                                    <span>1997</span>
                                </div>
                                <div class="history__text">
                                    <p>28 ноября основана компания Daichi.</p>
                                    <p>Daichi становится дистрибьютором климатического оборудования Daikin на территории Российской Федерации.</p>
                                    <p>Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации. Компания Daichi стала первым общенациональным полноценным дистрибьютором климатической техники.</p>
                                </div>
                            </div>

                            <div class="history__slider-item">
                                <div class="history__date">
                                    <span>1998</span>
                                </div>
                                <div class="history__text">
                                    <p>Уже в феврале состоялись первый дилерский договор и отгрузка оборудования.</p>
                                    <p>За первый год работы объем продаж составил 600 кондиционеров, дилерами стали всего 23 компании.</p>
                                    <p>Прошла первая выставка Heat Vent, на которой компания Daichi представила оборудование Daikin.</p>
                                </div>
                            </div>

                            <div class="history__slider-item">
                                <div class="history__date">
                                    <span>1999</span>
                                </div>
                                <div class="history__text">
                                    <p>В Москве проходит первая дилерская конференция Daichi.</p>
                                    <p>Через три года работы принято решение расширить географию продаж компании. </p>
                                    <p>В 2000 году были открыты региональные офисы Daichi:</p>
                                    <ul>
                                        <li>на юге (Daichi-Юг, Краснодар);</li>
                                        <li>на Волге (Daichi-Волга, Тольятти);</li>
                                        <li>на Урале (Daichi-Урал, Екатеринбург);</li>
                                        <li>в Нижнем Новгороде (Daichi-НН, Нижний Новгород).</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="history__slider-item">
                                <div class="history__date">
                                    <span>1997</span>
                                </div>
                                <div class="history__text">
                                    <p>28 ноября основана компания Daichi.</p>
                                    <p>Daichi становится дистрибьютором климатического оборудования Daikin на территории Российской Федерации.</p>
                                    <p>Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации. Компания Daichi стала первым общенациональным полноценным дистрибьютором климатической техники.</p>
                                </div>
                            </div>

                            <div class="history__slider-item">
                                <div class="history__date">
                                    <span>1998</span>
                                </div>
                                <div class="history__text">
                                    <p>Уже в феврале состоялись первый дилерский договор и отгрузка оборудования.</p>
                                    <p>За первый год работы объем продаж составил 600 кондиционеров, дилерами стали всего 23 компании.</p>
                                    <p>Прошла первая выставка Heat Vent, на которой компания Daichi представила оборудование Daikin.</p>
                                </div>
                            </div>

                            <div class="history__slider-item">
                                <div class="history__date">
                                    <span>1999</span>
                                </div>
                                <div class="history__text">
                                    <p>В Москве проходит первая дилерская конференция Daichi.</p>
                                    <p>Через три года работы принято решение расширить географию продаж компании. </p>
                                    <p>В 2000 году были открыты региональные офисы Daichi:</p>
                                    <ul>
                                        <li>на юге (Daichi-Юг, Краснодар);</li>
                                        <li>на Волге (Daichi-Волга, Тольятти);</li>
                                        <li>на Урале (Daichi-Урал, Екатеринбург);</li>
                                        <li>в Нижнем Новгороде (Daichi-НН, Нижний Новгород).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mouse-block"><span>Используйте скролл</span></div>
                    </div>
                </div>
            </section>
            <!-- /HISTORY -->

        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>