@@include('template/head.html')

<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white",
            "class_modificator": "header-main"
        })

        <main class="page main-page">

            <section class="sec-intro">
                <div class="sec-intro__slider js-intro-slider">
                    <div class="sec-intro__slide sec-intro-slide">
                        <div class="container sec-intro-slide__container">
                            <div class="sec-intro-slide__text">
                                <div class="sec-intro-slide__type">Сплит-системы</div>
                                <h2 class="sec-intro-slide__title">Daikin Emura</h2>
                                <div class="sec-intro-slide__lead">Действительно красивые кондиционеры</div>
                                <div class="sec-intro-slide__pict">
                                    <a href="#">
                                        <img class="sec-intro-slide__img" src="img/sec-intro/sec-intro-slide_01.png" alt="Daikin Emura">
                                    </a>
                                </div>
                                <div class="sec-intro-slide__note">
                                    Наивысший класс энергоэффективности и&nbsp;совершенные&nbsp;технологии Daikin.
                                    В корпусе Emura выпускаются внутренние блоки кондиционеров<br>
                                    <a href="#">FTXG/RXG-L</a> и <a href="#">FTXJ-M/RXJ-M</a>.
                                </div>
                                <div class="sec-intro-slide__btn">
                                    <a href="#" class="btn btn_more">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END sec-intro__slide -->

                    <div class="sec-intro__slide sec-intro-slide">
                        <div class="container sec-intro-slide__container">
                            <div class="sec-intro-slide__text">
                                <div class="sec-intro-slide__type">Сплит-системы</div>
                                <h2 class="sec-intro-slide__title">Daikin Emura</h2>
                                <div class="sec-intro-slide__lead">Действительно красивые кондиционеры</div>
                                <div class="sec-intro-slide__pict">
                                    <a href="#">
                                        <img class="sec-intro-slide__img" src="img/sec-intro/sec-intro-slide_01.png" alt="Daikin Emura">
                                    </a>
                                </div>
                                <div class="sec-intro-slide__note">
                                    Наивысший класс энергоэффективности и&nbsp;совершенные технологии Daikin.
                                    В корпусе Emura выпускаются внутренние блоки кондиционеров
                                    <a href="#">FTXG/RXG-L</a> и <a href="#">FTXJ-M/RXJ-M</a>.
                                </div>
                                <div class="sec-intro-slide__btn">
                                    <a href="#" class="btn btn_more">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END sec-intro__slide -->

                    <div class="sec-intro__slide sec-intro-slide">
                        <div class="container sec-intro-slide__container">
                            <div class="sec-intro-slide__text">
                                <div class="sec-intro-slide__type">Сплит-системы</div>
                                <h2 class="sec-intro-slide__title">Daikin Emura</h2>
                                <div class="sec-intro-slide__lead">Действительно красивые кондиционеры</div>
                                <div class="sec-intro-slide__pict">
                                    <a href="#">
                                        <img class="sec-intro-slide__img" src="img/sec-intro/sec-intro-slide_01.png" alt="Daikin Emura">
                                    </a>
                                </div>
                                <div class="sec-intro-slide__note">
                                    Наивысший класс энергоэффективности и&nbsp;совершенные технологии Daikin.
                                    В корпусе Emura выпускаются внутренние блоки кондиционеров
                                    <a href="#">FTXG/RXG-L</a> и <a href="#">FTXJ-M/RXJ-M</a>.
                                </div>
                                <div class="sec-intro-slide__btn">
                                    <a href="#" class="btn btn_more">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END sec-intro__slide -->
                </div><!-- END sec-intro__container -->
            </section><!-- END sec-intro -->

            <section class="sec-about">
                <div class="container sec-about__container">
                    <div class="sec-about__text">
                        <div class="sec-about__type">Системы кондиционирования</div>
                        <h2 class="sec-about__title">Daikin VRV VI</h2>
                        <div class="sec-about__lead">Легендарные многозональные кондиционеры</div>
                        <div class="sec-about__pict is-wide">
                            <img class="sec-about__img" src="img/sec-about/daikin.jpg" alt="Daikin VRV VI">
                        </div>
                        <div class="sec-about__note">
                            Системы VRV — комплексное решение
                            для&nbsp;больших и средних зданий. Благодаря рекордной эффективности
                            и&nbsp;интеллектуальному управлению система уменьшает энергопотребление,
                            сокращает затраты и выбросы углекислого газа.
                        </div>
                        <div class="sec-about__btn">
                            <a href="#" class="btn btn_more">Узнать больше</a>
                        </div>
                    </div>
                </div><!-- END sec-about__container -->
            </section><!-- END sec-about -->

            <section class="sec-about has-bg-clouds has-right-pict">
                <div class="container sec-about__container">
                    <div class="sec-about__text">
                        <div class="sec-about__type">Сплит-системы</div>
                        <h2 class="sec-about__title">Kentatsu<br>Titan Genesis</h2>
                        <div class="sec-about__lead">Разумно. Надежно. Япония.</div>
                        <div class="sec-about__pict">
                            <img class="sec-about__img" src="img/sec-about/kentatsu.png" alt="Kentatsu Titan Genesis">
                        </div>
                        <div class="sec-about__note">
                            От модели <a href="#">KSGX_HFA</a> не оторвать глаз!<br>
                            Боковая подсветка-индикация внутреннего блока меняет цвет с голубого в
                            режиме охлаждения на оранжевый – в режиме обогрева. Яркость подсветки
                            блок регулирует самостоятельно в зависимости от освещения в комнате.

                        </div>
                        <div class="sec-about__btn">
                            <a href="#" class="btn btn_more">Узнать больше</a>
                        </div>
                    </div>
                </div><!-- END sec-about__container -->
            </section><!-- END sec-about -->

            <section class="sec-about">
                <div class="container sec-about__container">
                    <div class="sec-about__text">
                        <div class="sec-about__type">Сплит-системы</div>
                        <h2 class="sec-about__title">Midea Blanc</h2>
                        <div class="sec-about__lead">Передовые технологии для комфорта и&nbsp;безопасности</div>
                        <div class="sec-about__pict">
                            <img class="sec-about__img" src="img/sec-about/midea.png" alt="Midea Blanc">
                        </div>
                        <div class="sec-about__note">
                            Фильтр высокой эффективности и&nbsp;автоматическая очистка блока изнутри.
                            Тихая работа и особые режимы на время сна или&nbsp;отдыха. А еще кондиционер
                            <a href="#">MSMA1</a>
                            запоминает, какие настройки предпочитаете именно вы.
                        </div>
                        <div class="sec-about__btn">
                            <a href="#" class="btn btn_more">Узнать больше</a>
                        </div>
                    </div>
                </div><!-- END sec-about__container -->
            </section><!-- END sec-about -->

            <section class="sec-about has-right-pict has-video">
                <div class="container sec-about__container">
                    <div class="sec-about__text">
                        <div class="sec-about__pict">
                            <div class="sec-about__info">
                                <video class="sec-about__video" loop autoplay>
                                    <source src="video/main-page-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                                    <source src="video/main-page-video.webm" type='video/webm; codecs="vp8, vorbis"'>
                                    <source src="video/main-page-video.ogv" type='video/ogg; codecs="theora, vorbis"'>
                                </video>
                                <ul class="about-facts sec-about__facts">
                                    <li class="about-facts__item">
                                        <div class="about-facts__data">19</div>
                                        <div class="about-facts__note">Представительств<br> в регионах РФ</div>
                                    </li>
                                    <li class="about-facts__item">
                                        <div class="about-facts__data">8000</div>
                                        <div class="about-facts__note">Компаний-партнеров</div>
                                    </li>
                                    <li class="about-facts__item">
                                        <div class="about-facts__data">100</div>
                                        <div class="about-facts__note">Авторизованных<br> сервисных центров</div>
                                    </li>
                                    <li class="about-facts__item">
                                        <div class="about-facts__data">35</div>
                                        <div class="about-facts__note">Оптовых складов<br> в городах РФ</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="sec-about__title">О компании</h2>
                        <div class="sec-about__slogan">
                            Daichi — крупнейший дистрибьютор
                            климатического оборудования
                            <span class="mod-nowrap">с 20-летней историей.</span>
                        </div>
                        <div class="sec-about__btn">
                            <a href="#" class="btn btn_more">Подробнее о компании</a>
                        </div>
                    </div>
                </div><!-- END sec-about__container -->
            </section><!-- END sec-about -->

            <section class="sec-brands">
                <div class="container sec-brands__container">
                    <h2 class="sec-brands__title">Бренды</h2>
                    <div class="sec-brands__line js-brands-slider" id="brands-line">
                        <div class="sec-brands__item">
                            <a class="sec-brands__item-link js-brands-link" data-brand="#brand_01" role="button">
                                <img class="sec-brands__item-img" src="img/sec-brands/brand-logo_01.jpg" alt="Daikin">
                                <span class="sec-brands__item-txt">Показать оборудование</span>
                            </a>
                        </div>
                        <div class="sec-brands__item">
                            <a class="sec-brands__item-link js-brands-link" data-brand="#brand_02" role="button">
                                <img class="sec-brands__item-img" src="img/sec-brands/brand-logo_02.jpg" alt="Daikin">
                                <span class="sec-brands__item-txt">Показать оборудование</span>
                            </a>
                        </div>
                        <div class="sec-brands__item">
                            <a class="sec-brands__item-link js-brands-link" data-brand="#brand_03" role="button">
                                <img class="sec-brands__item-img" src="img/sec-brands/brand-logo_03.jpg" alt="Daikin">
                                <span class="sec-brands__item-txt">Показать оборудование</span>
                            </a>
                        </div>
                        <div class="sec-brands__item">
                            <a class="sec-brands__item-link js-brands-link" data-brand="#brand_04" role="button">
                                <img class="sec-brands__item-img" src="img/sec-brands/brand-logo_04.jpg" alt="Daikin">
                                <span class="sec-brands__item-txt">Показать оборудование</span>
                            </a>
                        </div>
                        <div class="sec-brands__item">
                            <a class="sec-brands__item-link js-brands-link" data-brand="#brand_05" role="button">
                                <img class="sec-brands__item-img" src="img/sec-brands/brand-logo_05.jpg" alt="Daikin">
                                <span class="sec-brands__item-txt">Показать оборудование</span>
                            </a>
                        </div>
                    </div><!-- END sec-brands__line -->

                    <div class="sec-brands__tabs" id="brands-tabs">
                        <div class="sec-brands__tab" id="brand_01">
                            <ul class="sec-brands__list">
                                <li><a href="#">Сплит-системы Daikin Emura</a></li>
                                <li><a href="#">Сплит-системы Daikin FTXB-C</a></li>
                                <li><a href="#">Сплит-системы Daikin FTXM-M</a></li>
                                <li><a href="#">Сплит-системы Daikin FTXS-K</a></li>
                                <li><a href="#">Сплит-системы Daikin MC070</a></li>
                                <li><a href="#">Полупромышленные кондиционеры Daikin Sky Air</a></li>
                                <li><a href="#">Кассетные фанкойлы Daikin FWF</a></li>
                                <li><a href="#">Настенные фанкойлы Daikin FWT-CT</a></li>
                                <li><a href="#">Чиллеры Daikin EWAQ</a></li>
                                <li><a href="#">Воздухоочистители Daikin Ururu</a></li>
                            </ul>
                        </div>
                        <div class="sec-brands__tab" id="brand_02">
                            <ul class="sec-brands__list">
                                <li><a href="#">Сплит-системы Midea Emura</a></li>
                                <li><a href="#">Полупромышленные кондиционеры Midea Sky Air</a></li>
                                <li><a href="#">Воздухоочистители Midea Ururu</a></li>
                                <li><a href="#">Настенные фанкойлы Midea FWT-CT</a></li>
                                <li><a href="#">Чиллеры Midea EWAQ</a></li>
                            </ul>
                        </div>
                        <div class="sec-brands__tab" id="brand_03">
                            <ul class="sec-brands__list">
                                <li><a href="#">Сплит-системы Kentatasu FTXB-C</a></li>
                                <li><a href="#">Настенные фанкойлы Kentatasu FWT-CT</a></li>
                                <li><a href="#">Сплит-системы MC070 Kentatasu</a></li>
                                <li><a href="#">Полупромышленные кондиционеры Kentatasu Air</a></li>
                            </ul>
                        </div>
                        <div class="sec-brands__tab" id="brand_04">
                            <ul class="sec-brands__list">
                                <li><a href="#">Сплит-системы Kentatasu Furst Emura</a></li>
                                <li><a href="#">Сплит-системы Kentatasu Furst FTXB-C</a></li>
                                <li><a href="#">Сплит-системы Kentatasu Furst FTXM-M</a></li>
                                <li><a href="#">Сплит-системы Kentatasu Furst FTXS-K</a></li>
                                <li><a href="#">Сплит-системы Kentatasu Furst MC070</a></li>
                                <li><a href="#">Полупромышленные кондиционеры Kentatasu Furst Air</a></li>
                                <li><a href="#">Кассетные фанкойлы Kentatasu Furst FWF</a></li>
                            </ul>
                        </div>
                        <div class="sec-brands__tab" id="brand_05">
                            <ul class="sec-brands__list">
                                <li><a href="#">Сплит-системы Samsung FTXS-K</a></li>
                                <li><a href="#">Сплит-системы Samsung MC070</a></li>
                                <li><a href="#">Полупромышленные кондиционеры Samsung Sky Air</a></li>
                                <li><a href="#">Кассетные фанкойлы Samsung FWF</a></li>
                                <li><a href="#">Настенные фанкойлы Samsung FWT-CT</a></li>
                                <li><a href="#">Чиллеры Samsung EWAQ</a></li>
                                <li><a href="#">Воздухоочистители Samsung Ururu</a></li>
                            </ul>
                        </div>
                    </div><!-- END sec-brands__tabs -->
                </div><!-- END sec-brands__container -->
            </section><!-- END sec-brands -->

            <!--<section class="sec-products">
                <div class="container sec-products__container">
                    <h2 class="sec-products__title">Хиты продаж</h2>
                    <nav class="sec-products__menu js-tabs-head">
                        <a class="sec-products__menu-btn js-tabs-link is-active" data-tab="tab-split" role="button">Сплит-системы</a>
                        <a class="sec-products__menu-btn js-tabs-link" data-tab="tab-prom"  role="button">Полупромышленные кондиционеры</a>
                        <a class="sec-products__menu-btn js-tabs-link" data-tab="tab-vrfs"  role="button">VRF-системы</a>
                        <a class="sec-products__menu-btn js-tabs-link" data-tab="tab-heat"  role="button">Отопительное оборудование</a>
                    </nav>
                    <div class="sec-products__tabs js-tabs-body">
                        <div class="sec-products__tab js-tabs-item is-active" id="tab-split">
                            <div class="sec-products__set" id="js-for-load-prod-cards">
                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_01.jpg" alt="Kentatsu KSGX_HFA Titan Genesis">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_three"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Kentatsu KSGX_HFA Titan Genesis</div>
                                            <div class="prod-card__price">От 54 900 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Kentatsu KSGX_HFA Titan Genesis"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_02.jpg" alt="Midea Blanc MSMA1">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Midea Blanc MSMA1</div>
                                            <div class="prod-card__price">От 46 800 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Midea Blanc MSMA1"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_five"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                            <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_04.jpg" alt="Midea Mission MSMB">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Midea Mission MSMB</div>
                                            <div class="prod-card__price">От 64 200 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Midea Mission MSMB"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_05.jpg" alt="Daikin FTXS-K/RXS-L">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXS-K/RXS-L</div>
                                            <div class="prod-card__price">От 76 540 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXS-K/RXS-L"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_five"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                            <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->
                            </div><!-- END sec-products__set ->

                            <div class="content-more sec-products__more">
                                <a class="content-more__btn js-load-prod-card" role="button">
                                    <i class="content-more__icon"></i>
                                    <span class="content-more__text">Показать еще</span>
                                </a>
                            </div><!-- END sec-products__more ->
                        </div><!-- END sec-products__tab ->

                        <div class="sec-products__tab js-tabs-item" id="tab-prom">
                            <div class="sec-products__set">
                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_04.jpg" alt="Midea Mission MSMB">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Midea Mission MSMB</div>
                                            <div class="prod-card__price">От 64 200 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Midea Mission MSMB"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_05.jpg" alt="Daikin FTXS-K/RXS-L">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXS-K/RXS-L</div>
                                            <div class="prod-card__price">От 76 540 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXS-K/RXS-L"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->
                            </div><!-- END sec-products__set ->
                        </div><!-- END sec-products__tab ->

                        <div class="sec-products__tab js-tabs-item" id="tab-vrfs">
                            <div class="sec-products__set">
                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_05.jpg" alt="Daikin FTXS-K/RXS-L">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXS-K/RXS-L</div>
                                            <div class="prod-card__price">От 76 540 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXS-K/RXS-L"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate rate_five"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                            <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->
                            </div><!-- END sec-products__set ->
                        </div><!-- END sec-products__tab ->

                        <div class="sec-products__tab js-tabs-item" id="tab-heat">
                            <div class="sec-products__set">
                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_05.jpg" alt="Daikin FTXS-K/RXS-L">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_four"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXS-K/RXS-L</div>
                                            <div class="prod-card__price">От 76 540 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXS-K/RXS-L"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->

                                <div class="sec-products__card">
                                    <div class="prod-card">
                                        <ul class="prod-card__top">
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_comp" role="button">i</a>
                                            </li>
                                            <li class="prod-card__top-item">
                                                <a class="prod-card__top-btn prod-card__top-btn_like" role="button">i</a>
                                            </li>
                                        </ul>
                                        <div class="prod-card__pict">
                                            <img class="prod-card__img" src="img/sec-products/product_03.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                        </div>
                                        <div class="prod-card__text">
                                            <div class="prod-card__rate rate rate_five"></div>
                                            <div class="prod-card__type">Настенная сплит-система</div>
                                            <div class="prod-card__name">Daikin FTXJ-M/RXJ-M</div>
                                            <div class="prod-card__price">От 95 500 <i class="icon-rub">a</i></div>
                                        </div>
                                        <a class="prod-card__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                                    </div><!-- END prod-card ->
                                </div><!-- END sec-products__card ->
                            </div><!-- END sec-products__set ->
                        </div><!-- END sec-products__tab ->

                    </div><!-- END sec-products__tabs ->
                </div><!-- END sec-products__container ->
            </section><!-- END sec-products -->

            <section class="sec-news">
                <div class="container sec-news__container">
                    <h2 class="sec-news__title">Наши новости</h2>

                    <div class="sec-news__set">
                        <div class="sec-news__col">
                            <div class="news-card sec-news__card">
                                <ul class="news-card__data">
                                    <li class="news-card__data-item">Новости</li>
                                    <li class="news-card__data-item">13 Декабря 2016</li>
                                </ul>
                                <h4 class="news-card__title">Kentatsu Furst для «Газпром газораспределение Волгоград»</h4>
                                <div class="news-card__text">
                                    6 и 7 декабря сотрудники компании «Даичи» провели в подразделениях компании «Газпром
                                    газораспределение Волгоград» обучающие мероприятия, посвященные сервису настенных газовых котлов.
                                </div>
                                <a class="news-card__link" href="#" title="Перейти на новость"></a>
                            </div><!-- END news-card -->
                        </div><!-- END sec-news__col -->

                        <div class="sec-news__col">
                            <div class="news-card sec-news__card">
                                <ul class="news-card__data">
                                    <li class="news-card__data-item">Новости</li>
                                    <li class="news-card__data-item">27 апреля 2017</li>
                                </ul>
                                <h4 class="news-card__title">Новые канальные кондиционеры Kentatsu KSKR-HFA/KSUT-HFAN1</h4>
                                <div class="news-card__text">
                                    На российском рынке появились канальные средненапорные сплит-системы
                                    KSKTR-HFA/KSUT-HFAN1 на хладагенте R410A.
                                </div>
                                <a class="news-card__link" href="#" title="Перейти на новость"></a>
                            </div><!-- END news-card -->
                        </div><!-- END sec-news__col -->

                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card has-dark-bg">
                                <img class="pict-card__back" src="img/sec-news/article-img_01_450x320.jpg" alt="Новинки 2016 года от Daikin">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Новинки 2016 года от Daikin</h4>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->
                    </div><!-- END sec-news__set -->

                    <div class="sec-news__more">
                        <a class="sec-news__more-link" href="#">Все новости</a>
                    </div><!-- END sec-products__more -->

                </div><!-- END sec-news__container -->
            </section><!-- END sec-news -->

        </main><!-- END main-page -->

		@@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
