@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- NEWS VIEW -->
            <section class="news-page">
                <div class="container">
                    <div class="news-page__wrap">
                        <div class="back-link"><a href="#">Назад ко всем новостям</a></div>
                        <h2 class="page-title">Вентиляционные установки Kentatsu &laquo;Комфорт&raquo; для северных регионов</h2>
                        <div class="news-page__date">27 Марта 2017</div>
                        <div class="news-page__item">
                            <div class="news-page__slider">
                                <div class="news-page__slider-item">
                                    <img src="img/news/news-image.jpg" alt="">
                                </div>
                                <div class="news-page__slider-item">
                                    <img src="img/news/news-image.jpg" alt="">
                                </div>
                                <div class="news-page__slider-item">
                                    <img src="img/news/news-image.jpg" alt="">
                                </div>
                                <div class="news-page__slider-item">
                                    <img src="img/news/news-image.jpg" alt="">
                                </div>
                            </div>
                            <p>Разработаны установки Kentatsu &laquo;Комфорт&raquo; в&nbsp;специальном исполнении: для регионов с&nbsp;холодным климатом.</p>
                            <p>В&nbsp;районах с&nbsp;низкими температурами главное требование к&nbsp;вентиляции&nbsp;&mdash; эксплуатационная надежность. Чтобы гарантировать ее&nbsp;в&nbsp;северных условиях, инженеры Kentatsu усовершенствовали панели корпуса, использовали материалы, устойчивые к&nbsp;низкотемпературной среде, предусмотрели особую конструкцию воздушных клапанов и&nbsp;подогрев.</p>
                            <p>Панели корпуса Kentatsu &laquo;Комфорт&raquo; для северных регионов обшиты листами из&nbsp;оцинкованной стали и&nbsp;покрытой коррозионностойкой морозоустойчивой краской. Толщина панелей увеличена, теплоизоляция&nbsp;&mdash; минеральная вата высокой плотности.</p>
                            <p>Гибкие вставки и&nbsp;уплотнители воздушных клапанов выполнены из&nbsp;материалов, устойчивых к&nbsp;низким температурам. Клапаны имеют особую конструкцию (латунные втулки скольжения, передача усилия вращения происходит не&nbsp;через пластиковые шестерни, а&nbsp;через тяги). Предусмотрен подогрев клапана и&nbsp;электропривода греющим кабелем.</p>
                            <p>Для слива конденсата с&nbsp;клапана используется поддон. В&nbsp;качестве основных могут использоваться гликолевые или электрические нагреватели. Если используется водяной нагреватель, то&nbsp;для предварительного нагрева воздуха применяются дополнительные секции с&nbsp;электрическим или гликолевым нагревом.</p>
                        </div>
                    </div>
                </div>
                <div class="news-page__nav">
                    <div class="container">
                        <a href="#" class="news-page__prev">Предыдущая</a>
                        <a href="#" class="news-page__next">Следующая</a>
                    </div>
                </div>
            </section>
            <!-- NEWS VIEW -->

            <!-- NEWS -->
            <section class="news">
                <div class="container">
                    <h3 class="page-title">Другие материалы</h3>
                    <div class="news__list">
                        <div class="news__row">
                            <div class="news__date">17 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/01.png" alt="">
                                </div>
                                <div class="news__title">
                                    <a href="#">Новый настенный фанкойл Kentatsu KFGB_H</a>
                                </div>
                            </div>
                            <div class="news__text">Новые двухтрубные настенные фанкойлы KFGB_H идеально подходят для установки в жилых и коммерческих помещениях.</div>
                        </div>
                        <div class="news__row">
                            <div class="news__date">17 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/02.png" alt="">
                                </div>
                                <div class="news__title">
                                    <a href="#">Новый канальный фанкойл Daikin</a>
                                </div>
                            </div>
                            <div class="news__text">FWN-AT/F – новые средненапорные фанкойлы Daikin канального типа. </div>
                        </div>
                        <div class="news__row">
                             <div class="news__date">17 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/03.png" alt="">
                                </div>
                                <div class="news__title">
                                    <a href="#">Корпорация Midea приобрела компанию Servotronix Motion Control</a>
                                </div>
                            </div>
                            <div class="news__text">Midea завершила сделку по приобретению контрольного пакета акций израильской компании Servotronix Motion Control.</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /NEWS -->

        </main><!-- END page -->
        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>