@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- NEWS -->
            <section class="news">
                <div class="container">
                    <h2 class="page-title">Новости</h2>
                    <ul class="breadcrumbs inside" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#" class="active"><span itemprop="name">Новости</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="#"><span itemprop="name">Статьи</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                    <div class="news__list" id="js-for-news-list">
                        <div class="news__row">
                            <div class="news__date">17 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/01.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Новый настенный фанкойл Kentatsu KFGB_H</span>
                                </div>
                            </div>
                            <div class="news__text">Новые двухтрубные настенные фанкойлы KFGB_H идеально подходят для установки в жилых и коммерческих помещениях.</div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row">
                            <div class="news__date">17 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/02.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Новый канальный фанкойл Daikin</span>
                                </div>
                            </div>
                            <div class="news__text">FWN-AT/F – новые средненапорные фанкойлы Daikin канального типа. </div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row">
                             <div class="news__date">17 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/03.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Корпорация Midea приобрела компанию Servotronix Motion Control</span>
                                </div>
                            </div>
                            <div class="news__text">Midea завершила сделку по приобретению контрольного пакета акций израильской компании Servotronix Motion Control.</div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row has-thumbnails">
                            <img src="img/news/04.png" alt="" class="news__bg">
                            <div class="news__details">
                                <div class="news__title">
                                    <span>Кондиционеры Daikin Emura</span>
                                </div>
                                <div class="readmore">
                                    <span>Смотреть</span>
                                </div>
                            </div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row">
                             <div class="news__date">10 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/05.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Первый кондиционер Midea на хладагенте R-32</span>
                                </div>
                            </div>
                            <div class="news__text">На выставке «Мир климата 2017» компания Midea представила настенные инверторные кондиционеры Mission II на хладагенте R-32.</div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row">
                             <div class="news__date">10 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/06.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Новый настенный кондиционер Kentatsu RIO</span>
                                </div>
                            </div>
                            <div class="news__text">Марка Kentatsu представляет функциональную и недорогую настенную сплит-систему Rio KSGR/KSRR.</div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row">
                             <div class="news__date">7 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/07.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Axioma: новое слово в кондиционировании</span>
                                </div>
                            </div>
                            <div class="news__text">Представляем сплит-системы новой для российского рынка марки Axioma.</div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row">
                             <div class="news__date">7 Марта 2017</div>
                            <div class="news__details">
                                <div class="news__thumb">
                                    <img src="img/news/08.png" alt="">
                                </div>
                                <div class="news__title">
                                    <span>Daichi на выставке «Мир климата – 2017»</span>
                                </div>
                            </div>
                            <div class="news__text">Компания «Даичи» приняла участие в 13-ой международной выставке «Мир Климата-2017», которая прошла в Москве в ЦВК «Экспоцентр».</div>
                            <a href="#" class="news__link"></a>
                        </div>
                        <div class="news__row has-thumbnails dark">
                            <img src="img/news/09.png" alt="" class="news__bg">
                            <div class="news__details">
                                <img src="img/media-logo.png" alt="">
                                <div class="news__title">
                                    <span>Системы чиллер-фанкойл</span>
                                </div>
                                <div class="readmore">
                                    <span>Смотреть</span>
                                </div>
                            </div>
                            <a href="#" class="news__link"></a>
                        </div>
                    </div>
                    <div class="content-more">
                        <a class="content-more__btn js-load-news-list" role="button">
                            <i class="content-more__icon"></i>
                            <span class="content-more__text">Показать еще</span>
                        </span>
                    </div>
                    <div class="news__paging">
                        <ul class="paging">
                            <li class="paging__prev"><a href="#">Назад</a></li>
                            <li class="paging__page is-active"><a href="#">1</a></li>
                            <li class="paging__page"><a href="#">2</a></li>
                            <li class="paging__page"><a href="#">3</a></li>
                            <li class="paging__page"><a href="#">4</a></li>
                            <li class="paging__dots">...</li>
                            <li class="paging__page"><a href="#">22</a></li>
                            <li class="paging__next"><a href="#">Вперёд</a></li>
                        </ul>
                    </div>
                </div>

                <!-- SUBSCRIBE -->
                <div class="subscribe">
                    <div class="container">
                        <h6>Подписаться на рассылку</h6>
                        <p>Получать актуальные новости и статьи</p>
                        <form action="/">
                            <input type="email" placeholder="email">
                            <button class="btn btn-link"><span class="icon icon-on"></span></button>
                        </form>
                    </div>
                </div>
                 <!-- /SUBSCRIBE -->
            </section>
            <!-- NEWS -->
            
        </main><!-- END page -->
        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
