@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

           <!-- SIDE NAV -->
            <nav class="top-menu">
                <div class="container">
                    <ul>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Структура</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Представительства</a></li>
                        <li class="active"><a href="#">Объекты</a></li>
                        <li><a href="#">Шоу-рум</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDE NAV -->
            
            <!-- OBJECT -->
            <section class="object-page">
                <div class="container">
                    <h2 class="page-title">Объекты</h2>
                    <div class="back-link">
                        <a href="#">Назад ко всем объектам</a>
                    </div>
                    <div class="object-page__item">
                        <div class="object-page__row">
                            <div class="object-page__col">
                                <div class="object-page__actions">
                                    <div>Дата запуска: 2015</div>
                                    <div>Расположение: г.&nbsp;Ялта</div>
                                </div>
                                <h4>Установка системы Daikin VRV IV в&nbsp;санатории &laquo;Курпаты&raquo;, г.&nbsp;Ялта</h4>
                                <p>Санаторий &laquo;Курпаты&raquo; находится в&nbsp;одноименном поселке &laquo;Курпаты&raquo; примерно в&nbsp;8&nbsp;километрах от&nbsp;Ялты. Построено здание санатория по&nbsp;оригинальному проекту. </p>
                                <p>Выполненное в&nbsp;виде кольца, оно установлено на&nbsp;трех высоких башнях-опорах, в&nbsp;которых размещены лифты, лестницы, коммуникации. На&nbsp;нижнем уровне здания находится бассейн с&nbsp;морской водой, широкие окна которого создают иллюзию открытого моря. Санаторий &laquo;Курпаты&raquo; по&nbsp;своим объёмно-планировочным и&nbsp;конструктивным решениям не&nbsp;имеет аналогов и&nbsp;является уникальным строением. Здание санатория &laquo;Курпаты&raquo; входит в&nbsp;топ-50 необычных зданий мира. Выбирая систему кондиционирования заказчик сделал оптимальный выбор с&nbsp;точки зрения комфорта и&nbsp;эффективности: система Daikin VRV IV. В&nbsp;рамках системы кондиционирования на&nbsp;объекте были установлены компрессорно-конденсаторные блоки Daikin различной мощности.</p>
                            </div>
                            <div class="object-page__col">
                                <div class="object-page__slider">
                                    <div class="object-page__slider-item">
                                        <img src="img/object/object-image.jpg" alt="">
                                    </div>
                                    <div class="object-page__slider-item">
                                        <img src="img/object/object-image.jpg" alt="">
                                    </div>
                                    <div class="object-page__slider-item">
                                        <img src="img/object/object-image.jpg" alt="">
                                    </div>
                                    <div class="object-page__slider-item">
                                        <img src="img/object/object-image.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="object-page__details">
                            <div class="object-page__left">
                                <div class="object-page__dl">
                                    <div class="object-page__dt">Оборудование</div>
                                    <div class="object-page__dd">
                                        <dl>
                                            <dt><span>Наружные блоки VRV IV&nbsp;<a href="#" class="blue">RXYQ16T7Y1B</a></span></dt>
                                            <dd>6&nbsp;шт.</dd>
                                            <dt><span>Наружные блоки VRV IV&nbsp;<a href="#" class="blue">RXYQ18T7Y1B</a></span></dt>
                                            <dd>12&nbsp;шт.</dd>
                                            <dt><span>Наружные блоки VRV IV&nbsp;<a href="#" class="blue">RXYQ12T7Y1B</a></span></dt>
                                            <dd>1&nbsp;шт.</dd>
                                            <dt><span>Наружные блоки VRV IV&nbsp;<a href="#" class="blue">RXYQ14T7Y1B</a></span></dt>
                                            <dd>2&nbsp;шт</dd>
                                            <dt><span>Внутренние блоки VRV IV&nbsp;настенного типа различной мощности Daikin серии <a href="#" class="blue">FXAQ-P</a></span></dt>
                                            <dd>3&nbsp;шт.</dd>
                                            <dt><span>Внутренние блоки VRV IV&nbsp;настенного типа различной мощности Daikin серии <a href="#" class="blue">FXAQ-P</a></span></dt>
                                            <dd>34&nbsp;шт.</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="object-page__dl">
                                    <div class="object-page__dt">Общая площадь и&nbsp;этажность</div>
                                    <div class="object-page__dd">
                                        <p>10 000 м<sup>2</sup></p>
                                        <p>16 этажей</p>
                                    </div>
                                </div>
                                <div class="object-page__dl">
                                    <div class="object-page__dt">Суммарная площадь кондиционирования</div>
                                    <div class="object-page__dd">
                                        <p>1200 м<sup>2</sup></p>
                                    </div>
                                </div>
                            </div>
                            <div class="object-page__right">
                                <address>
                                    <h4>Свяжитесь с&nbsp;нами</h4>
                                    <a href="tel:+7 495 737-37-33" class="phone">+7&nbsp;495 737-37-33</a>
                                    <small class="silver">Пн-Пт с&nbsp;10:00 до&nbsp;19:00 </small>
                                    <small>125167, Москва, Ленинградский пр-т, 39, стр.&nbsp;80&nbsp;(бизнеc-центр Skylight, башня&nbsp;В), эт.&nbsp;17</small>
                                    <a href="mailto:info@daichi.ru" class="blue">info@daichi.ru</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /OBJECT -->

            <section class="object__last">
                <div class="container">
                    <h3 class="page-title">Похожие объекты</h3>
                    <div class="object__similar">
                        <div class="object__similar__row">
                            <div class="object__similar__col">
                                <div class="object__similar__thumb">
                                    <a href="#"><img src="img/object/01-small.png" alt=""></a>
                                </div>
                                <div class="object__similar__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__similar__title">
                                        <a href="#">Система Daikin VRV IV&nbsp;в отеле &laquo;Рэдиссон САС Лазурная&raquo;, г.&nbsp;Сочи</a>
                                    </div>
                                </div>
                            </div>
                            <div class="object__similar__col">
                                <div class="object__similar__thumb">
                                    <a href="#"><img src="img/object/02-small.png" alt=""></a>
                                </div>
                                <div class="object__similar__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__similar__title">
                                        <a href="#">Дом официальных приемов Правительства Хабаровского края, г.&nbsp;Хабаровск</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>