@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- SIDE NAV -->
            <nav class="top-menu">
                <div class="container">
                    <ul>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Структура</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Представительства</a></li>
                        <li class="active"><a href="#">Объекты</a></li>
                        <li><a href="#">Шоу-рум</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDE NAV -->

            <!-- OBJECT -->
            <section class="object">
                <div class="object__container">
                    <h2 class="page-title">Объекты</h2>
                    <div class="object__top">
                        <p>Для крупных объектов &laquo;Даичи&raquo; предлагает комплексные поставки инженерного оборудования.</p>
                        <p>Мы&nbsp;гордимся нашими реализованными проектами.</p>
                    </div>
                    <div class="object__list">
                        <div class="object__row">
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/01.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2016</div>
                                    <div class="object__title">
                                        <a href="#">&laquo;Лахта-Центр&raquo;, г.&nbsp;Санкт&#8209;Петербург</a>
                                    </div>
                                    <div class="object__text">
                                        Штаб-квартира госконцерна &laquo;Газпром&raquo;. Многофункциональное здание, самый северный в&nbsp;мире и&nbsp;самый высокий в&nbsp;Европе небоскрёб.
                                    </div>
                                </div>
                            </div>
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/02.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2016</div>
                                    <div class="object__title">
                                        <a href="#">Стадион &laquo;ВТБ Арена&raquo;, г.&nbsp;Москва</a>
                                    </div>
                                    <div class="object__text">Реконструкция центрального стадиона &laquo;Динамо&raquo;. Один из&nbsp;крупнейших девелопер-проектов на&nbsp;севере Москвы. Многоцелевой спортивно-развлекательный комплекс. Территория 32&nbsp;ГА.</div>
                                </div>
                            </div>
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/03.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2016</div>
                                    <div class="object__title">
                                        <a href="#">&laquo;Диспетчерский Центр&raquo; ОАО &laquo;СО&nbsp;ЕЭС&raquo;, Московская область, Румянцево</a>
                                    </div>
                                    <div class="object__text">Высокотехнологичный объект. Управляет территориальной энергосистемой, входящей в&nbsp;состав Единой энергетической...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="page-title">Другие объекты</h3>
                    <div class="object__tags">
                        <ul>
                            <li><a href="#">Аэропорты</a></li>
                            <li><a href="#">Банки</a></li>
                            <li><a href="#">Бизнес-центры и офисы</a></li>
                            <li><a href="#">Гостиницы</a></li>
                            <li><a href="#">Государственные учреждения</a></li>
                            <li><a href="#">Жилые дома</a></li>
                            <li><a href="#">Исторические здания</a></li>
                            <li><a href="#">Медицинские учреждения</a></li>
                            <li><a href="#">Объекты культуры и искусства</a></li>
                            <li><a href="#">Производственные помещения</a></li>
                            <li><a href="#">Рестораны и культурно-развлекательные комплексы</a></li>
                            <li><a href="#">Спортивные объекты</a></li>
                            <li><a href="#">Торговые центры</a></li>
                            <li><a href="#">Учебные заведения</a></li>
                            <li><a href="#">Энергетика</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- /OBJECT -->

            <section class="object__last">
                <div class="container">
                    <div class="object__list inline" id="js-for-more-objects">
                        <div class="object__row">
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/04.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2016</div>
                                    <div class="object__title">
                                        <a href="#">Дорожная клиническая больница, Центр микрохирургии глаза, г.&nbsp;Новосибирск</a>
                                    </div>
                                    <div class="object__text">
                                       В&nbsp;апреле 2016&nbsp;г. завершились работы по&nbsp;монтажу системы Daikin VRV IV&nbsp;в здании Железнодорожной больницы РЖД...</div>
                                </div>
                            </div>
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/05.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__title">
                                        <a href="#">Система Daikin VRV IV&nbsp;в здании НПП &laquo;ЭКРА&raquo;, г.&nbsp;Чебоксары</a>
                                    </div>
                                    <div class="object__text">Система кондиционирования Daikin VRV IV&nbsp;была установлена в&nbsp;Административно-производственном здании Научно-производственного предприятия &laquo;ЭКРА&raquo;...</div>
                                </div>
                            </div>
                        </div>
                        <div class="object__row">
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/06.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__title">
                                        <a href="#">Система Daikin VRV IV&nbsp;на заводе АО&nbsp;&laquo;Изотех Инвест&raquo;</a>
                                    </div>
                                    <div class="object__text">
                                        Система кондиционирования Daikin VRV IV&nbsp;установлена на&nbsp;новом заводе по&nbsp;производству труб в&nbsp;Московской области.
                                    </div>
                                </div>
                            </div>
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/07.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__title">
                                        <a href="#">Система Daikin VRV IV&nbsp;в санатории &laquo;Курпаты&raquo;, г.&nbsp;Ялта</a>
                                    </div>
                                    <div class="object__text">В&nbsp;мае 2015 года в&nbsp;санатории &laquo;Курпаты&raquo;, г. Ялта была введена в&nbsp;эксплуатацию система кондиционирования Daikin VRV IV.</div>
                                </div>
                            </div>
                        </div>
                        <div class="object__row">
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/08.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__title">
                                        <a href="#">Daikin VRV IV&nbsp;в отеле &laquo;Рэдиссон САС Лазурная&raquo;, г.&nbsp;Сочи.</a>
                                    </div>
                                    <div class="object__text">
                                        Система кондиционирования Daikin VRV IV&nbsp;климат-контроль в&nbsp;отеле премиум-класса &laquo;Рэдиссон САС Лазурная&raquo;...
                                    </div>
                                </div>
                            </div>
                            <div class="object__col">
                                <div class="object__thumb">
                                    <a href="#"><img src="img/object/09.png" alt=""></a>
                                </div>
                                <div class="object__details">
                                    <div class="object__date">2015</div>
                                    <div class="object__title">
                                        <a href="#">Аэропорт Петропавловск-Камчатский</a>
                                    </div>
                                    <div class="object__text">В&nbsp;рамках реконструкции аэропорта в&nbsp;новом здании командно-диспетчерского пункта была установлена центральная интеллектуальная система кондиционирования Daikin VRV IV...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-more">
                        <a class="content-more__btn js-load-more-objects" role="button">
                            <i class="content-more__icon"></i>
                            <span class="content-more__text">Показать еще</span>
                        </a>
                    </div>
                    <div class="object__paging">
                        <ul class="paging">
                            <li class="paging__prev"><a href="#">Назад</a></li>
                            <li class="paging__page is-active"><a href="#">1</a></li>
                            <li class="paging__page"><a href="#">2</a></li>
                            <li class="paging__page"><a href="#">3</a></li>
                            <li class="paging__page"><a href="#">4</a></li>
                            <li class="paging__dots">...</li>
                            <li class="paging__page"><a href="#">22</a></li>
                            <li class="paging__next"><a href="#">Вперёд</a></li>
                        </ul>
                    </div>
                </div>
            </section>

        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>