@@include('template/head.html')
<body>
@@include('template/old_ie_update.html')

@@include('template/svg.html')

<div class="wrap-main">
    <div class="offices__overlay"></div>
    <div class="offices__popup"></div>
    @@include('template/header.html', {
    "color": "white",
    "color_modificator": "header-desktop_white"
    })

    <main class="page content">

        <!-- SIDE NAV -->
        <nav class="top-menu">
            <div class="container">
                <ul>
                    <li><a href="#">История</a></li>
                    <li><a href="#">Структура</a></li>
                    <li><a href="#">Партнёры</a></li>
                    <li><a href="#">Галерея</a></li>
                    <li class="active"><a href="#">Представительства</a></li>
                    <li><a href="#">Объекты</a></li>
                    <li><a href="#">Шоу-рум</a></li>
                    <li><a href="#">Наша миссия</a></li>
                </ul>
            </div>
        </nav>
        <!-- /SIDE NAV -->

        <!-- OFFICES -->
        <section class="offices">
            <h2 class="page-title">Представительства</h2>

            <ul class="offices-switch">
                <li class="offices-switch__item active"><span class="offices-switch__map">Карта</span></li>
                <li class="offices-switch__item "><span class="offices-switch__list">Список</span></li>
            </ul>
            <div class="container offices__container">
                <div class="offices-list">

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Астрахань
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>414021, Астрахань, ул. Боевая,
                                    д. 136
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>(8512) 207-307</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@astrakhan.daichi.ru</a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Байкал
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>664007, Иркутск, ул.Советская,
                                    д. 55, корп. А, оф. 215
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>: (3952) 207-104</dd>
                                <dt>Факс:</dt>
                                <dd>: (3952) 207-104</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@astrakhan.daichi.ru</a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Балтика
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>236040, Калининград,
                                    ул. Больничная, д. 24, оф. 48а-49а
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>(4012) 53-93-42</dd>
                                <dt>Факс:</dt>
                                <dd>(4012) 53-94-14</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Владивосток
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>690091, Владивосток,
                                    ул. Набережная, 20, оф. 317, 318
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>(423) 241-05-30</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@vl.daichi.ru</a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Волга
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>
                                    445037, Тольятти, ул. Новый проезд, д. 3, оф. 227
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>(8482) 200-145</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@volga.daichi.ru</a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Волгоград
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>
                                    400081, Волгоград, ул. Ангарская, д. 107
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>8 (8442) 36-13-06; 36-03-34</dd>
                                <dt>Факс:</dt>
                                <dd>8 (8442) 36-13-06</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@volgograd.daichi.ru </a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offices-row">
                        <div class="offices-row__container">
                            <div class="offices__thumb">
                                Казань
                            </div>
                            <dl>
                                <dt>Адрес:</dt>
                                <dd>
                                    420107, Казань, ул. Спартаковская, 23, оф. 308
                                </dd>
                                <dt>Телефон:</dt>
                                <dd>(843) 278-06-46</dd>
                                <dt>Факс:</dt>
                                <dd>(843) 278-06-56</dd>
                            </dl>
                            <a href="#" class="offices-row__email">info@kazan.daichi.ru</a><br>
                            <div class="offices-row__hidden">
                                <button type="button" class="offices-row__close offices-row__link btn btn_link"
                                        data-queue="show">
                                    <span class="icon icon-cross"></span>
                                </button>
                                <dl>
                                    <dt>Дилерская сеть:</dt>
                                    <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                </dl>
                                <dl>
                                    <dt>Представитель в Ижевске:</dt>
                                    <dd>Кузьминых Антонина Владимировна<br>
                                        +7 906 817-65-89
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                <dl>
                                    <dt>Представитель в Набережных Челнах:</dt>
                                    <dd>Фархетдинов Айрат Галляметдинович<br>
                                        +7 906 333-99-95
                                    </dd>
                                </dl>
                                <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                            </div>
                            <div class="offices-row__more">
                                <a class="offices-row__link">
                                    больше информации
                                    <span class="icon icon-arrow-right_small"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="offices-map">
                <div class="offices-map__external">
                    <div class="offices-map__inner">
                        <!-- Москва -->
                        <div class="offices-map__town" style="left: 540px; top: 582px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>
                        <!-- Санкт-Петербург -->
                        <div class="offices-map__town" style="left: 565px; top: 376px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Ростов на Дону -->
                        <div class="offices-map__town offices-map__town_small" style="left: 360px; top: 804px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Калининград -->
                        <div class="offices-map__town offices-map__town_small" style="left: 348px; top: 336px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Воронеж -->
                        <div class="offices-map__town offices-map__town_small" style="left: 469px; top: 694px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Нижний Новгород -->
                        <div class="offices-map__town offices-map__town_small" style="left: 632px; top: 663px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Симферополь -->
                        <div class="offices-map__town offices-map__town_small" style="left: 212px; top: 724px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Краснодар -->
                        <div class="offices-map__town offices-map__town_small" style="left: 303px; top: 838px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Сочи -->
                        <div class="offices-map__town offices-map__town_small" style="left: 271px; top: 880px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Волгоград -->
                        <div class="offices-map__town offices-map__town_small" style="left: 472px; top: 840px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Астрахань -->
                        <div class="offices-map__town offices-map__town_small" style="left: 446px; top: 961px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Казань -->
                        <div class="offices-map__town offices-map__town_small" style="left: 782px; top: 699px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Тольятти -->
                        <div class="offices-map__town offices-map__town_small" style="left: 652px; top: 808px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Уфа -->
                        <div class="offices-map__town offices-map__town_small" style="left: 774px; top: 854px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Екатеринбург -->
                        <div class="offices-map__town offices-map__town_small" style="left: 886px; top: 838px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Омск -->
                        <div class="offices-map__town offices-map__town_small" style="left: 1068px; top: 986px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Новосибирск -->
                        <div class="offices-map__town offices-map__town_small" style="left: 1240px; top: 1023px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Красноярск -->
                        <div class="offices-map__town offices-map__town_small" style="left: 1460px; top: 1015px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Иркутск-->
                        <div class="offices-map__town offices-map__town_small" style="left: 1677px; top: 1150px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Хабаровск-->
                        <div class="offices-map__town offices-map__town_small" style="left: 2331px; top: 1101px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>

                        <!-- Владивосток-->
                        <div class="offices-map__town offices-map__town_small" style="left: 2348px; top: 1268px;">
                            <div class="offices-row">
                                <div class="offices-row__container offices-row_active">
                                    <button type="button" class="offices-row__close offices-row__mapclose btn btn_link"
                                            data-queue="show">
                                        <span class="icon icon-cross"></span>
                                    </button>
                                    <div class="offices__thumb">Москва</div>
                                    <dl>
                                        <dt>Адрес:</dt>
                                        <dd>236040, Калининград,
                                            ул. Больничная, д. 24, оф. 48а-49а
                                        </dd>
                                        <dt>Телефон:</dt>
                                        <dd>(4012) 53-93-42</dd>
                                        <dt>Факс:</dt>
                                        <dd>(4012) 53-94-14</dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">info@baltika.daichi.ru</a><br>
                                    <dl>
                                        <dt>Дилерская сеть:</dt>
                                        <dd>Альметьевск, Ижевск, Набережные Челны</dd>
                                    </dl>
                                    <dl>
                                        <dt>Представитель в Ижевске:</dt>
                                        <dd>Кузьминых Антонина Владимировна<br>
                                            +7 906 817-65-89
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                    <dl>
                                        <dt>Представитель в Набережных Челнах:</dt>
                                        <dd>Фархетдинов Айрат Галляметдинович<br>
                                            +7 906 333-99-95
                                        </dd>
                                    </dl>
                                    <a href="#" class="offices-row__email">akuzminykh_kazan@daichi.ru</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /OFFICES-->
    </main><!-- END page -->

    @@include('template/footer.html')
</div><!-- END wrap-main -->

@@include('template/foot.html')
</body>
</html>