@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- SIDE NAV -->
            <nav class="top-menu">
                <div class="container">
                    <ul>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Структура</a></li>
                        <li class="active"><a href="#">Партнёры</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Представительства</a></li>
                        <li><a href="#">Объекты</a></li>
                        <li><a href="#">Шоу-рум</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDE NAV -->

            <!-- PARTNERS -->
            <section class="partners">
                <h2 class="page-title">Генеральные партнёры Daichi</h2>
                <div class="partners__container">
                    <div class="container">
                        <h4 class="page-title title">Кондиционирование и&nbsp;вентиляция</h4>
                        <div class="partners__list">
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/daikin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Совершенство и престиж</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Кондиционеры бытового и коммерческого назначения</a></li>
                                                <li><a href="#">Центральные интеллектуальные системы кондиционирования VRV</a></li>
                                                <li><a href="#">Чиллеры, фанкойлы</a></li>
                                                <li><a href="#">Кондиционеры бытового и коммерческого назначения</a></li>
                                                <li><a href="#">Центральные интеллектуальные системы кондиционирования VRV</a></li>
                                                <li><a href="#">Чиллеры, фанкойлы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="partners__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="свернуть" data-close="полный список">полный список</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/samsung.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Мировой технологический лидер</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Кондиционеры бытового и коммерческого назначения</a></li>
                                                <li><a href="#">Центральные интеллектуальные системы кондиционирования DVM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/midea.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Эксперт в области климата</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Кондиционеры бытового и коммерческого назначения</a></li>
                                                <li><a href="#">Центральные интеллектуальные системы кондиционирования DVM</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/kentatsu.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Разумная достаточность</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Кондиционеры бытового и коммерческого назначения</a></li>
                                                <li><a href="#">Центральные интеллектуальные системы кондиционирования VRV</a></li>
                                                <li><a href="#">Чиллеры, фанкойлы</a></li>
                                                <li><a href="#">Кондиционеры бытового и коммерческого назначения</a></li>
                                                <li><a href="#">Центральные интеллектуальные системы кондиционирования VRV</a></li>
                                                <li><a href="#">Чиллеры, фанкойлы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="partners__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="свернуть" data-close="полный список">полный список</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/janka.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Качество, поддержка, репутация</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Центральные кондиционеры</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/llaktwoods.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Мировой поставщик решений в&nbsp;области вентиляции</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Энергоэффективные системы вентиляции PRIME</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/wolter.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Сделано в Германии - работает во всем мире</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Канальные, крышные и осевые вентиляторы</a></li>
                                                <li><a href="#">Кухонные вентиляторы</a></li>
                                                <li><a href="#">Центробежные вентиляторы</a></li>
                                                <li><a href="#">Канальные, крышные и осевые вентиляторы</a></li>
                                                <li><a href="#">Кухонные вентиляторы</a></li>
                                                <li><a href="#">Центробежные вентиляторы</a></li>
                                                <li><a href="#">Канальные, крышные и осевые вентиляторы</a></li>
                                                <li><a href="#">Кухонные вентиляторы</a></li>
                                                <li><a href="#">Центробежные вентиляторы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="partners__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="свернуть" data-close="полный список">полный список</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partners__container">
                    <div class="container">
                        <h4 class="page-title title">Отопление</h4>
                        <div class="partners__list">
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/kentatsu-furst.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Простые решения - максимальные достижения</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">Газовые настенные котлы</a></li>
                                                <li><a href="#">Котлы под наддувную горелку</a></li>
                                                <li><a href="#">Чугунные твердотопливные котлы</a></li>
                                                <li><a href="#">Стальные твердотопливные котлы с ручной и автоматической загрузкой топлива</a></li>
                                                <li><a href="#">Радиаторы отопления</a></li>
                                                <li><a href="#">Котлы промышленного назначения</a></li>
                                                <li><a href="#">Аккумуляторы тепла</a></li>
                                                <li><a href="#">Баки косвенного нагрева</a></li>
                                                <li><a href="#">Насосы</a></li>
                                                <li><a href="#">Солнечные коллекторы</a></li>
                                                <li><a href="#">Электрические котлы</a></li>
                                                <li><a href="#">Устройства регулирования</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="partners__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="свернуть" data-close="полный список">полный список</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/minib.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Больше, чем просто тепло</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">конвекторы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partners__container">
                    <div class="container">
                        <h4 class="page-title title">Профессиональное увлажнение воздуха</h4>
                        <div class="partners__list">
                            <div class="partners__row">
                                <div class="partners__row-item">
                                    <div class="partners__thumb">
                                        <a href="#">
                                            <img src="img/partners/draabe.png" alt="">
                                        </a>
                                    </div>
                                    <div class="partners__details">
                                        <h6>Прогрессивные технологии увлажнения воздуха</h6>
                                        <div class="partners__details-list">
                                            <ul>
                                                <li><a href="#">системы адиабатического увлажнения</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /PARTNERS -->


        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>