@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page product">

            <div class="container">
                <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="#"><span itemprop="name">Кондиционирование</span></a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="breadcrumbs__item for-mobile" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="#"><span itemprop="name">Промышленные кондиционеры</span></a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="#"><span itemprop="name">Kentatsu</span></a>
                        <meta itemprop="position" content="3" />
                    </li>
                </ul>
            </div>

            <section class="prod-desc product__head">
                <div class="container">
                    <div class="prod-desc__lt">
                        <div class="prod-desc__head">
                            <div class="prod-desc__type">Крышный кондиционер</div>
                            <h1 class="prod-desc__title">
                                <span class="prod-desc__title-name">Kentatsu KRFN</span>
                                <span class="prod-desc__title-note">22 Отзыва</span>
                                <span class="prod-desc__title-rate rate rate_four"></span>
                            </h1>
                        </div>
                        <div class="prod-desc__pict">
                            <div class="prod-desc__thumbs" id="prod-thumbs">
                                <div class="prod-desc__thumbs-item">
                                    <img class="prod-desc__thumbs-img" src="img/inhtml/product/thumb_05.jpg" alt="Daikin">
                                </div>
                                <div class="prod-desc__thumbs-item">
                                    <img class="prod-desc__thumbs-img" src="img/inhtml/product/thumb_06.jpg" alt="Daikin">
                                </div>
                                <div class="prod-desc__thumbs-item">
                                    <img class="prod-desc__thumbs-img" src="img/inhtml/product/thumb_07.jpg" alt="Daikin">
                                </div>
                            </div>
                            <div class="prod-desc__imgs" id="prod-imgs">
                                <div class="prod-desc__imgs-item">
                                    <img class="prod-desc__imgs-img" src="img/inhtml/product/product_02.jpg" alt="Daikin">
                                </div>
                                <div class="prod-desc__imgs-item">
                                    <img class="prod-desc__imgs-img" src="img/inhtml/product/product_02.jpg" alt="Daikin">
                                </div>
                                <div class="prod-desc__imgs-item">
                                    <img class="prod-desc__imgs-img" src="img/inhtml/product/product_02.jpg" alt="Daikin">
                                </div>
                            </div>
                        </div>
                    </div><!-- END prod-desc__lt -->

                    <div class="prod-desc__rt for-features">
                        <div class="prod-desc__features">
                            <ul class="features-list prod-desc__features-list js-spoiler-body">
                                <li class="features-list__item">
                                    <i class="features-list__icon icon-prod-auto"></i>
                                    <span class="features-list__note">Автоматический выбор режима</span>
                                </li>
                                <li class="features-list__item">
                                    <i class="features-list__icon icon-prod-water"></i>
                                    <span class="features-list__note">Программная осушка воздуха</span>
                                </li>
                                <li class="features-list__item">
                                    <i class="features-list__icon icon-prod-flash"></i>
                                    <span class="features-list__note">Энергоэффективность A класса</span>
                                </li>
                                <li class="features-list__item">
                                    <i class="features-list__icon icon-prod-freez"></i>
                                    <span class="features-list__note">Энергоэффективный хладагент R-32</span>
                                </li>
                                <li class="features-list__item">
                                    <i class="features-list__icon icon-prod-termo"></i>
                                    <span class="features-list__note">Видимо что-то о температуре</span>
                                </li>
                                <li class="features-list__item">
                                    <i class="features-list__icon icon-prod-touch"></i>
                                    <span class="features-list__note">Видимо что-то об управлении касанием</span>
                                </li>
                            </ul>
                            <a class="btn btn_link prod-desc__features-more js-features-spoiler" role="button">Все характеристики</a>
                        </div>
                    </div><!-- END prod-desc__rt -->
                </div><!-- END container -->
            </section><!-- END product__head -->


            <section class="product__tabs">
                <div class="container">
                    <nav class="product__tabs-head js-prod-tabs">
                        <a class="product__tabs-btn js-tabs-link is-active" data-tab="prod_dealers" role="button">Где купить <span>24</span></a>
                        <a class="product__tabs-btn js-tabs-link" data-tab="prod_props"   role="button">Характеристики</a>
                        <a class="product__tabs-btn js-tabs-link" data-tab="prod_reviews" role="button">Отзывы <span>22</span></a>
                        <a class="product__tabs-btn js-tabs-link" data-tab="prod_manual"  role="button">Документация</a>
                        <a class="product__tabs-btn js-tabs-link" data-tab="prod_posting" role="button">Статьи и обзоры <span>5</span></a>
                    </nav><!-- END product__tabs-head -->

                    <div class="product__tabs-body js-tabs-body">
                        <div class="prod-tab product__tabs-item js-tabs-item is-active" id="prod_dealers">
                            <a class="prod-tab__spoiler-btn js-prod-tab-spoiler" role="button">Где купить <span>24</span></a>

                            <div class="prod-tab__spoiler-content js-spoiler-body">
                                <div class="prod-tab__head">
                                    <a class="sorting__mob-btn js-mob-filter_toggle" role="button">Фильтр</a>
                                    <div class="prod-tab__head-note">
                                        Чтобы подобрать оборудование для Вашего помещения и узнать его стоимость,
                                        обращайтесь к дилерам "Даичи"
                                    </div>
                                </div><!-- END prod-tab__head -->

                                <aside id="js-catalog-side" class="prod-tab__side for-prod-offers">
                                    <form class="filters prod-tab__filters">
                                        <div class="filters__unit has-no-side-borders">
                                            <h5 class="filters__unit-title js-accordion-head is-open">Статус</h5>
                                            <div class="filters__unit-body js-accordion-body">
                                                <input type="radio" name="filters_2"  id="filters_2_1" value="1" checked>
                                                <label for="filters_2_1">Авторизованный представитель</label>
                                                <input type="radio" name="filters_2"  id="filters_2_2" value="2">
                                                <label for="filters_2_2">Менеджер</label>
                                            </div>
                                        </div>
                                        <div class="filters__unit has-no-borders">
                                            <div class="filters__unit-btns">
                                                <button class="btn btn_border btn_block" type="submit">Применить</button>
                                                <button class="btn btn_clean btn_block" type="reset"><span class="icon icon-cross"></span> Сбросить фильтры</button>
                                            </div>
                                        </div>
                                    </form><!-- END prod-tab__filters -->
                                </aside><!-- END prod-tab__side -->

                                <div class="prod-tab__main for-prod-offers">
                                    <div class="prod-tab__offers" id="js-for-load-dealers">
                                        <div class="dealer prod-tab__offer">
                                            <div class="dealer__info">
                                                <div class="dealer__name"><a href="http://www.ablgroup.ru" target="_blank">АБЛ-Инженеринг Групп</a></div>
                                                <div class="dealer__text">
                                                    Адрес: 115088, Москва,<br>
                                                    ул. Шарикоподшипниковская, 13а<br>
                                                    Телефон: (495) 221-74-30
                                                </div>
                                                <div class="dealer__site"><a href="http://www.ablgroup.ru" target="_blank">www.ablgroup.ru</a></div>
                                            </div>
                                            <div class="dealer__sales">
                                                <div class="dealer__sales-title">Акции и спецпредложения:</div>
                                                <ul class="dealer__sales-list">
                                                    <li class="dealer__sales-item">Бесплатная доставка, от 2 до 6 дней.</li>
                                                    <li class="dealer__sales-item">Монтаж в подарок.</li>
                                                </ul>
                                            </div>
                                            <div class="dealer__more">
                                                <div class="dealer__rate rate rate_five"></div>
                                                <div class="dealer__review">2 664 Отзыва</div>
                                                <div class="dealer__more-btn">
                                                    <a class="btn" href="http://www.ablgroup.ru" target="_blank">Перейти на сайт</a>
                                                </div>
                                            </div>
                                        </div><!-- END dealer -->

                                        <div class="dealer prod-tab__offer">
                                            <div class="dealer__info">
                                                <div class="dealer__name"><a href="http://www.avks.ru" target="_blank">АВК cтрой-маркет</a></div>
                                                <div class="dealer__text">
                                                    Адрес: Москва, 16-я Парковая ул., д. 26,<br>
                                                    корп. 20<br>
                                                    Телефон: +7 (495) 987-44-03<br>
                                                    Факс: (495) 987-44-03
                                                </div>
                                                <div class="dealer__site"><a href="http://www.avks.ru" target="_blank">www.avks.ru</a></div>
                                            </div>
                                            <div class="dealer__sales">
                                                <div class="dealer__sales-title">Акции и спецпредложения:</div>
                                                <ul class="dealer__sales-list">
                                                    <li class="dealer__sales-item">Бесплатная доставка, до 2 дней.</li>
                                                    <li class="dealer__sales-item">Самовывоз.</li>
                                                    <li class="dealer__sales-item">Доставка и монтаж в один день.</li>
                                                </ul>
                                                <ul class="dealer__features">
                                                    <li class="dealer__features-item">Золотой партнёр</li>
                                                </ul>
                                            </div>
                                            <div class="dealer__more">
                                                <div class="dealer__rate rate rate_four"></div>
                                                <div class="dealer__review">82 Отзыва</div>
                                                <div class="dealer__more-btn">
                                                    <a class="btn" href="http://www.avks.ru" target="_blank">Перейти на сайт</a>
                                                </div>
                                            </div>
                                        </div><!-- END dealer -->

                                        <div class="dealer prod-tab__offer">
                                            <div class="dealer__info">
                                                <div class="dealer__name"><a href="http://www.avk-klimat.ru" target="_blank">АВК-Климат</a></div>
                                                <div class="dealer__text">
                                                    Адрес: Москва, пр-д Серебрякова, д. 14 корп. 6,<br>
                                                    оф. 6204.<br>
                                                    Метро: Свиблово<br>
                                                    Телефон: (495) 923-82-55
                                                </div>
                                                <div class="dealer__site"><a href="http://www.avk-klimat.ru" target="_blank">www.avk-klimat.ru</a></div>
                                            </div>
                                            <div class="dealer__sales">
                                                <div class="dealer__sales-title">Акции и спецпредложения:</div>
                                                <ul class="dealer__sales-list">
                                                    <li class="dealer__sales-item">Бесплатная доставка, от 4 до 6 дней.</li>
                                                </ul>
                                            </div>
                                            <div class="dealer__more">
                                                <div class="dealer__rate rate rate_four"></div>
                                                <div class="dealer__review">73 Отзыва</div>
                                                <div class="dealer__more-btn">
                                                    <a class="btn" href="http://www.avk-klimat.ru" target="_blank">Перейти на сайт</a>
                                                </div>
                                            </div>
                                        </div><!-- END dealer -->

                                        <div class="dealer prod-tab__offer">
                                            <div class="dealer__info">
                                                <div class="dealer__name"><a href="http://www.avks.ru" target="_blank">Аврус</a></div>
                                                <div class="dealer__text">
                                                    Адрес: Москва, 16-я Парковая ул., д. 26,<br>
                                                    корп. 20<br>
                                                    Телефон: +7 (495) 987-44-03<br>
                                                    Факс: (495) 987-44-03
                                                </div>
                                                <div class="dealer__site"><a href="http://www.avks.ru" target="_blank">www.avks.ru</a></div>
                                            </div>
                                            <div class="dealer__sales">
                                                <div class="dealer__sales-title">Акции и спецпредложения:</div>
                                                <ul class="dealer__sales-list">
                                                    <li class="dealer__sales-item">Бесплатная доставка, до 4 дней.</li>
                                                    <li class="dealer__sales-item">Монтаж в подарок.</li>
                                                </ul>
                                                <ul class="dealer__features">
                                                    <li class="dealer__features-item">Шоу-рум</li>
                                                </ul>
                                            </div>
                                            <div class="dealer__more">
                                                <div class="dealer__rate rate rate_three"></div>
                                                <div class="dealer__review">8 Отзывов</div>
                                                <div class="dealer__more-btn">
                                                    <a class="btn" href="http://www.avks.ru" target="_blank">Перейти на сайт</a>
                                                </div>
                                            </div>
                                        </div><!-- END dealer -->
                                    </div><!-- END prod-tab__offers -->
                                    <div class="content-more prod-tab__more">
                                        <a class="content-more__btn js-load-dealers" role="button">
                                            <i class="content-more__icon"></i>
                                            <span class="content-more__text">Показать еще 10 предложений</span>
                                        </a>
                                    </div>
                                </div><!-- END prod-tab__main -->

                                
                            </div><!-- END prod-tab__spoiler-content -->
                        </div><!-- END product__tabs-item #prod_dealers -->


                        <div class="prod-tab product__tabs-item js-tabs-item" id="prod_props">
                            <a class="prod-tab__spoiler-btn js-prod-tab-spoiler" role="button">Характеристики</a>

                            <div class="prod-tab__spoiler-content js-spoiler-body">
                                <div class="prod-tab__main for-prod-props">
                                    <h2 class="prod-tab__title">Основные характеристики</h2>
                                    <ul class="prod-props">
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Мощность охлаждения, кВт</span></div>
                                            <div class="prod-props__data"><span>1.3-2.8 (2.0) кВт</span></div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Мощность обогрева, кВт</span></div>
                                            <div class="prod-props__data">1.3-4.3 (2.5) кВт</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>На помещение до, кв.м</span></div>
                                            <div class="prod-props__data">21</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Потребляемая мощность при охлаждении, кВт</span></div>
                                            <div class="prod-props__data">0,32/0,50/0,76</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Потребляемая мощность при обогреве, кВт</span></div>
                                            <div class="prod-props__data">0,31/0,50/1,12</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Напряжение электропитания</span></div>
                                            <div class="prod-props__data">220В</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Класс энергоэффективности (A, B, C, D, F, G)</span></div>
                                            <div class="prod-props__data">SEER A+++</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Дополнительная информация</span></div>
                                            <div class="prod-props__data">Матовый корпус, 2 цветовые гаммы: белый, серебро</div>
                                        </li>
                                    </ul>

                                    <h2 class="prod-tab__title">Режимы работы</h2>
                                    <ul class="prod-props">
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Режимы работы</span></div>
                                            <div class="prod-props__data">Охлаждение/обогрев</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Коэфф. энергетич. эффективности EER (охлаждение)</span></div>
                                            <div class="prod-props__data">4,59</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Коэфф. энергетич. эффективности COP (обогрев)</span></div>
                                            <div class="prod-props__data">5,00</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Частота</span></div>
                                            <div class="prod-props__data">50 Гц</div>
                                        </li>
                                    </ul>

                                    <h2 class="prod-tab__title">Габариты</h2>
                                    <ul class="prod-props">
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Габариты внутреннего блока сплит-системы (ШxВxГ)</span></div>
                                            <div class="prod-props__data">998x303x212 мм</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Габариты наружного блока сплит-системы (ШxВxГ)</span></div>
                                            <div class="prod-props__data">765x550x285 мм</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Вес нетто, кг</span></div>
                                            <div class="prod-props__data">47</div>
                                        </li>
                                    </ul>

                                    <h2 class="prod-tab__title">Общее</h2>
                                    <ul class="prod-props">
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Бренд</span></div>
                                            <div class="prod-props__data">Япония</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Сборка</span></div>
                                            <div class="prod-props__data">Чехия</div>
                                        </li>
                                        <li class="prod-props__item">
                                            <div class="prod-props__name"><span>Гарантия</span></div>
                                            <div class="prod-props__data">3 года</div>
                                        </li>
                                    </ul>
                                </div><!-- END prod-tab__main -->

                                <aside class="prod-tab__side for-prod-props">
                                    <form class="filters prod-tab__side-unit">
                                        <div class="filters__unit">
                                            <h5 class="filters__unit-title js-accordion-head is-open">Мощность, кВт</h5>
                                            <div class="filters__unit-body js-accordion-body">
                                                <div class="slider">
                                                    <div class="slider__range" data-min="0" data-max="150" data-step="5" data-values="45, 105"></div>
                                                </div>
                                                <button class="btn btn_border btn_block" type="submit">Применить</button>
                                            </div>
                                        </div>
                                    </form><!-- END prod-tab__filters -->

                                    <div class="prod-tab__side-unit">
                                        <h3 class="prod-tab__side-title">Обзоры</h3>
                                        <div class="overview">
                                            <div class="overview__video">
                                                <iframe class="overview__frame" width="640" height="360" allowfullscreen
                                                        src="https://www.youtube.com/embed/80YIQLqcBYY?showinfo=0&amp;rel=0&amp;autoplay=0">
                                                </iframe>
                                            </div>
                                            <div class="overview__text">Видеообзор инверторного кондиционера Daikin серии Emura</div>
                                            <div class="overview__more">
                                                <a class="btn btn_link overview__more-link" href="#">Еще 2 видео</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prod-tab__side-unit">
                                        <h3 class="prod-tab__side-title">Статьи</h3>
                                        <div class="overview">
                                            <ul class="overview__list for-aside">
                                                <li class="overview-article">
                                                    <div class="overview-article__title"><a href="#">Обзор кондиционера Daikin Emura</a></div>
                                                    <div class="overview-article__note"><a href="#">https://mosclimatik.ru/article/obzor-konditsionerov-daikin</a></div>
                                                </li>
                                                <li class="overview-article">
                                                    <div class="overview-article__title"><a href="#">Обзор самого красивого кондиционера Daikin Emura FTXG</a></div>
                                                    <div class="overview-article__note"><a href="#">http://climatehelp.ru/news/obzor-i-sravnenie-seriy-kondicionerov-Daikin</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside><!-- END prod-tab__side -->
                            </div><!-- END prod-tab__spoiler-content -->
                        </div><!-- END product__tabs-item #prod_props -->


                        <div class="prod-tab product__tabs-item js-tabs-item" id="prod_reviews">
                            <a class="prod-tab__spoiler-btn js-prod-tab-spoiler" role="button">Отзывы <span>22</span></a>

                            <div class="prod-tab__spoiler-content js-spoiler-body">
                                <aside class="prod-tab__side for-prod-reviews">
                                    <div class="prod-tab__rate-count">
                                        <a class="btn prod-tab__add-review" href="#review-popup" data-popup="open">Написать отзыв</a>

                                        <div class="rate-count">
                                            <div class="rate-count__total">
                                                <div class="rate-count__total-digit">4,2</div>
                                                <div class="rate-count__total-stars"><div class="rate rate_four"></div></div>
                                            </div>
                                            <div class="rate-count__note">по отзывам 22 человек</div>
                                            <ul class="rate-count__list">
                                                <li class="rate-count__line">
                                                    <div class="rate-count__line-rate"><div class="rate rate_gray rate_five"></div></div>
                                                    <div class="rate-count__line-pers">83%</div>
                                                    <div class="rate-count__line-note">16 отзывов</div>
                                                </li>
                                                <li class="rate-count__line">
                                                    <div class="rate-count__line-rate"><div class="rate rate_gray rate_four"></div></div>
                                                    <div class="rate-count__line-pers">15%</div>
                                                    <div class="rate-count__line-note">3 отзыва</div>
                                                </li>
                                                <li class="rate-count__line is-empty">
                                                    <div class="rate-count__line-rate"><div class="rate rate_gray rate_three"></div></div>
                                                    <div class="rate-count__line-pers">0%</div>
                                                    <div class="rate-count__line-note">нет отзывов</div>
                                                </li>
                                                <li class="rate-count__line">
                                                    <div class="rate-count__line-rate"><div class="rate rate_gray rate_two"></div></div>
                                                    <div class="rate-count__line-pers">1%</div>
                                                    <div class="rate-count__line-note">1 отзыв</div>
                                                </li>
                                                <li class="rate-count__line">
                                                    <div class="rate-count__line-rate"><div class="rate rate_gray rate_one"></div></div>
                                                    <div class="rate-count__line-pers">1%</div>
                                                    <div class="rate-count__line-note">2 отзыва</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside><!-- END prod-tab__side -->

                                <div class="prod-tab__main for-prod-reviews">
                                    <h2 class="prod-tab__title">Отзывы о товаре Daikin FTXG20L/RXG20L <span>22</span></h2>
                                    <div class="prod-tab__reviews">
                                        <div class="review prod-tab__review">
                                            <div class="review__info">
                                                <div class="review__rate rate rate_four"></div>
                                                <div class="review__name">Анастасия</div>
                                                <div class="review__city">Москва</div>
                                                <div class="review__time">Опыт использования: <br>Более года</div>
                                                <div class="review__date">19 февраля 2017</div>
                                            </div>
                                            <div class="review__text">
                                                <h4 class="review__title">Хорошая модель</h4>
                                                <div class="review__note">
                                                    Очень тихий без всяких нано-режимов. Ровные зазоры и лаконичный вид
                                                    внутреннего блока. Охлаждает быстро, при этом наружный блок вообще не
                                                    слышно. Инвертор - плавное охлаждение. После выключения работает в режиме
                                                    продувки еще несколько минут, чтобы просушить внутри конденсат. Большой
                                                    диапазон регулировки потока воздуха - можно направить параллельно потолку,
                                                    можно в пол.
                                                </div>
                                            </div>
                                        </div><!-- END review -->

                                        <div class="review prod-tab__review">
                                            <div class="review__info">
                                                <div class="review__rate rate rate_five"></div>
                                                <div class="review__name">Сергей</div>
                                                <div class="review__city">Пушкино</div>
                                                <div class="review__time">Опыт использования: <br>Несколько месяцев</div>
                                                <div class="review__date">19 февраля 2017</div>
                                            </div>
                                            <div class="review__text">
                                                <h4 class="review__title">Отличная модель</h4>
                                                <div class="review__note">
                                                    Присоединяюсь к предыдущему отзыву, кондей понравился тем что достаточно
                                                    тихий внутренний блок и для установки в спальню подходит. Внешка не скажу
                                                    что бесшумная, можно услышать слабое тарахтение если высунуть голову в окно
                                                    и прислушаться, вибрация слабая, на стену не передается. Порадовало
                                                    энергопотребление, по ощущениям ватт 300 не более, по его индикации в режиме
                                                    охлаждения нагрузка 1-2 столбика из 5. Надежность покажет время.
                                                </div>
                                            </div>
                                        </div><!-- END review -->

                                        <div class="review prod-tab__review">
                                            <div class="review__info">
                                                <div class="review__rate rate rate_five"></div>
                                                <div class="review__name">Алексей Смирнов</div>
                                                <div class="review__city">Ярославль</div>
                                                <div class="review__time">Опыт использования: <br>Менее месяца</div>
                                                <div class="review__date">4 февраля 2017</div>
                                            </div>
                                            <div class="review__text">
                                                <h4 class="review__title">Отличная модель</h4>
                                                <div class="review__note">
                                                    Установили сегодня две штуки. Пока сложно оценить по всем критериям.
                                                    С виду все просто, функции базовые, внутрений блок сделан хорош, учитывая
                                                    цену. При включении немного трещал внешний блок, необходимо убрать монтажную
                                                    сетку черного цвета и плотно зафиксировать датчик температуры. После этого
                                                    без нареканий, его не слышно. Внутренний блок на минимальной скорости слегка
                                                    слышно, но пожаловаться не могу. В целом пока могу сказать цена-качество,
                                                    буду смотреть за надежностью.
                                                </div>
                                            </div>
                                        </div><!-- END review -->
                                    </div><!-- END prod-tab__reviews -->
                                </div><!-- END prod-tab__main -->
                            </div><!-- END prod-tab__spoiler-content -->
                        </div><!-- END product__tabs-item #prod_reviews -->


                        <div class="prod-tab product__tabs-item js-tabs-item" id="prod_manual">
                            <a class="prod-tab__spoiler-btn js-prod-tab-spoiler" role="button">Документация</a>

                            <div class="prod-tab__spoiler-content js-spoiler-body">
                                <h2 class="prod-tab__title">Инструкции и сертификаты</h2>
                                <ul class="docs-list prod-tab__docs">
                                    <li class="docs-list__item">
                                        <i class="docs-list__icon icon-doc-pdf"></i>
                                        <div class="docs-list__text">
                                            <div class="docs-list__name">Инструкция по эксплуатации</div>
                                            <div class="docs-list__note">3,2 Мб, PDF</div>
                                        </div>
                                        <div class="docs-list__btns">
                                            <a class="docs-list__btn icon-btn-load" href="upload/daikin_01.zip"></a>
                                            <a class="docs-list__btn icon-btn-view" href="upload/daikin_01.pdf" target="_blank"></a>
                                        </div>
                                    </li>
                                    <li class="docs-list__item">
                                        <i class="docs-list__icon icon-doc-doc"></i>
                                        <div class="docs-list__text">
                                            <div class="docs-list__name">Инструкция по монтажу (внутренний блок)</div>
                                            <div class="docs-list__note">148 Кб, DOC</div>
                                        </div>
                                        <div class="docs-list__btns">
                                            <a class="docs-list__btn icon-btn-load" href="upload/daikin_02.zip"></a>
                                            <a class="docs-list__btn icon-btn-view" href="upload/daikin_02.docx" target="_blank"></a>
                                        </div>
                                    </li>
                                    <li class="docs-list__item">
                                        <i class="docs-list__icon icon-doc-jpg"></i>
                                        <div class="docs-list__text">
                                            <div class="docs-list__name">Листовка Daikin FTXG</div>
                                            <div class="docs-list__note">1,2 Мб, JPEG</div>
                                        </div>
                                        <div class="docs-list__btns">
                                            <a class="docs-list__btn icon-btn-load" href="upload/daikin_03.zip"></a>
                                            <a class="docs-list__btn icon-btn-view" href="upload/daikin_03.jpg" target="_blank"></a>
                                        </div>
                                    </li>
                                    <li class="docs-list__item">
                                        <i class="docs-list__icon icon-doc-xls"></i>
                                        <div class="docs-list__text">
                                            <div class="docs-list__name">Рекомендованные розничные цены</div>
                                            <div class="docs-list__note">218 Кб, XLS</div>
                                        </div>
                                        <div class="docs-list__btns">
                                            <a class="docs-list__btn icon-btn-load" href="upload/daikin_04.zip"></a>
                                            <a class="docs-list__btn icon-btn-view" href="upload/daikin_04.xls" target="_blank"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- END prod-tab__spoiler-content -->
                        </div><!-- END product__tabs-item #prod_manual -->


                        <div class="prod-tab product__tabs-item js-tabs-item" id="prod_posting">
                            <a class="prod-tab__spoiler-btn js-prod-tab-spoiler" role="button">Статьи и обзоры <span>5</span></a>

                            <div class="prod-tab__spoiler-content js-spoiler-body">
                                <h2 class="prod-tab__title">Обзоры</h2>
                                <div class="prod-tab__videos">
                                    <div class="prod-tab__video overview">
                                        <div class="overview__video">
                                            <iframe class="overview__frame" width="640" height="360" allowfullscreen
                                                    src="https://www.youtube.com/embed/80YIQLqcBYY?showinfo=0&amp;rel=0&amp;autoplay=0">
                                            </iframe>
                                        </div>
                                        <div class="overview__text">Видеообзор инверторного кондиционера Daikin серии Emura</div>
                                    </div>
                                    <div class="prod-tab__video overview">
                                        <div class="overview__video">
                                            <iframe class="overview__frame" width="640" height="360" allowfullscreen
                                                    src="https://www.youtube.com/embed/lQCL1O3sAjQ?showinfo=0&amp;rel=0&amp;autoplay=0">
                                            </iframe>
                                        </div>
                                        <div class="overview__text">Видеообзор дизайнерской сплит системы Daikin</div>
                                    </div>
                                    <div class="prod-tab__video overview">
                                        <div class="overview__video">
                                            <iframe class="overview__frame" width="640" height="360" allowfullscreen
                                                    src="https://www.youtube.com/embed/KiXLpdzLiKI?showinfo=0&amp;rel=0&amp;autoplay=0">
                                            </iframe>
                                        </div>
                                        <div class="overview__text">Daikin Emura. Обзор кондиционера премиум класса</div>
                                    </div>
                                </div>
                                <h2 class="prod-tab__title">Статьи</h2>
                                <div class="prod-tab__articles overview">
                                    <ul class="overview__list">
                                        <li class="overview-article">
                                            <h5 class="overview-article__title">
                                                <i class="overview-article__icon icon-vent"></i>
                                                <a href="#">Обзор кондиционера Daikin Emura</a>
                                            </h5>
                                            <div class="overview-article__link">
                                                <a href="https://mosclimatik.ru/article/obzor-konditsionerov-daikin">https://mosclimatik.ru/article/obzor-konditsionerov-daikin</a>
                                            </div>
                                        </li>
                                        <li class="overview-article">
                                            <h5 class="overview-article__title">
                                                <i class="overview-article__icon icon-sun-snow"></i>
                                                <a href="#">Обзор самого красивого кондиционера Daikin Emura FTXG</a>
                                            </h5>
                                            <div class="overview-article__link">
                                                <a href="http://climatehelp.ru/news/obzor-i-sravnenie-seriy-kondicionerov-Daikin">http://climatehelp.ru/news/obzor-i-sravnenie-seriy-kondicionerov-Daikin</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- END prod-tab__spoiler-content -->
                        </div><!-- END product__tabs-item #prod_posting -->
                    </div><!-- END product__tabs-body -->
                </div><!-- END container -->
            </section><!-- END product__tabs -->

            <section class="sec-news has-white-bg has-border-top">
                <div class="container sec-news__container">
                    <h2 class="sec-news__title">Наши статьи</h2>
                    <div class="sec-news__set">
                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card has-dark-bg">
                                <img class="pict-card__back" src="img/sec-news/article-img_05_450x320.jpg" alt="Daikin во главе новых тенденций">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Daikin во главе новых <br>тенденций</h4>
                                    <div class="pict-card__note">Преимущества хладагента R-32</div>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->

                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card">
                                <img class="pict-card__back" src="img/sec-news/article-img_02_450x320.jpg" alt="Топ-5 решений для склада">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Топ-5 решений для склада</h4>
                                    <div class="pict-card__note">Обзор промышленных <br>кондиционеров</div>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->

                        <div class="sec-news__col">
                            <div class="pict-card sec-news__card has-dark-bg">
                                <img class="pict-card__back" src="img/sec-news/article-img_06_450x320.jpg" alt="Чиллеры Daikin">
                                <div class="pict-card__front">
                                    <ul class="pict-card__data">
                                        <li class="pict-card__data-item">Статьи</li>
                                    </ul>
                                    <h4 class="pict-card__title">Чиллеры Daikin</h4>
                                </div>
                                <a class="pict-card__link" href="#"></a>
                            </div><!-- END pict-card -->
                        </div><!-- END sec-news__col -->
                    </div><!-- END sec-news__set -->
                </div><!-- END sec-news__container -->
            </section><!-- END sec-news -->

            <section class="sec-watched">
                <div class="container">
                    <h2 class="sec-watched__title">Вы смотрели</h2>
                    <div class="sec-watched__set js-watched-slider">
                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_01.jpg" alt="Daikin FTXJ-M/RXJ-M">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FTXJ-M/RXJ-M</div>
                                    <div class="watched-prod__price">От 95 000 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FTXJ-M/RXJ-M"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_02.jpg" alt="Daikin FTX20J/RX20J">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FTX20J/RX20J</div>
                                    <div class="watched-prod__price">От 43 700 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FTX20J/RX20J"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_03.jpg" alt="Daikin FTXM25K/ RXM25L">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FTXM25K/ RXM25L</div>
                                    <div class="watched-prod__price">От 72 000 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FTXM25K/ RXM25L"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_04.jpg" alt="Daikin FBQ100C8/ RQ100BW">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FBQ100C8/ RQ100BW</div>
                                    <div class="watched-prod__price">От 194 800 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FBQ100C8/ RQ100BW"></a>
                            </div>
                        </div><!-- END sec-watched__col -->

                        <div class="sec-watched__col">
                            <div class="watched-prod">
                                <div class="watched-prod__pict">
                                    <img class="watched-prod__img" src="img/sec-watched/product_05.jpg" alt="Daikin FVXS50F/ RXS50L">
                                </div>
                                <div class="watched-prod__text">
                                    <div class="watched-prod__name">Daikin FVXS50F/ RXS50L</div>
                                    <div class="watched-prod__price">От 145 000 <i class="icon-rub">a</i></div>
                                </div>
                                <a class="watched-prod__link" href="#" title="Посмотреть Daikin FVXS50F/ RXS50L"></a>
                            </div>
                        </div><!-- END sec-watched__col -->
                    </div><!-- END sec-watched__set -->
                </div><!-- END container -->
            </section><!-- END sec-watched -->

            <div id="review-popup">
                <div class="review-form">
                    <h4 class="page-title">Мой отзыв о товаре Daikin FTXG20L/ RXG20L</h4>
                    <form action="/">
                        <div class="review-form__row">
                            <label>Моя оценка</label>
                            <div class="rate rate_four"></div>
                            <div class="rate__status">Хорошая модель</div>
                        </div>
                        <div class="review-form__row inline">
                            <div class="review-form__col">
                                <label>Ваше имя</label>
                                <input type="text" value="Надежда">
                            </div>
                            <div class="review-form__col">
                                <label>Откуда вы</label>
                                <input type="text" value="Москва">
                            </div>
                        </div>
                        <div class="review-form__row">
                            <label>Ваш отзыв</label>
                            <textarea placeholder="Подробно расскажите о своём опыте использования товара. Обратите внимание на качество, удобство модели, её соответствие заявленным характеристикам."></textarea>
                        </div>
                        <div class="review-form__row">
                            <label>Опыт использования</label>
                            <ul class="switcher-list">
                                <li class="active">
                                    <a href="#">Менее месяца</a>
                                </li>
                                <li>
                                    <a href="#">Несколько месяцев</a>
                                </li>
                                <li>
                                    <a href="#">Более года</a>
                                </li>
                            </ul>
                        </div>
                        <div class="review-form__row-submit">
                            <div class="review-form__agree">Оставляя отзыв, вы соглашаетесь с условиями <a href="#" class="blue">политики конфиденциальности</a></div>
                            <input type="submit" value="Отправить отзыв ">
                        </div>
                    </form>
                </div>
            </div>
        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>