@@include('template/head.html')
<body>
@@include('template/old_ie_update.html')

@@include('template/svg.html')

<div class="wrap-main" >
    @@include('template/header.html', {
    "color": "black",
    "color_modificator": "header-desktop_night-blue header-desktop_black"
    })

    <main class="page promo-page promo-page_midea-mis">

        <section class="promo-banner promo-banner_night-bluepage">
            <div class="container">
                <h1 class="promo-banner__title">Midea Mission</h1>
                <div class="promo-banner__lead promo-banner__lead_bluepage">Комфортная прохлада</div>
                <div class="promo-banner__btns">
                    <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span
                            class="icon icon-video"></span></button>
                    <a class="btn btn_large mb0" href="#">Где купить</a>
                </div>
                <img class="promo-banner__img" src="img/midea_mission_main.png" alt="">
                <a href="#promo-promo-traits" class="promo-banner__down" role="button"></a>
            </div>
        </section><!-- END main-banner -->

        <section id="promo-traits" class="promo-traits">
            <div class="container">
                <div class="promo-text promo-text_black">
                    <div class="promo-text__type promo-text__type_black">Характеристики</div>
                    <h3 class="promo-text__title">Компактный <br>и мощный</h3>
                    <div class="promo-text__note">
                        Серия высокоэффективных и максимально улучшенных по требованиям мирововго рынка сплит-систем Mission,
                        в которых использована 1-я глобальная платформа Midea, созданная для всемирного продвижения под девизом
                        «5 континентов — 162 страны — 1 миссия».
                    </div>
                </div>
                <ul class="promo-traits__advantages">
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-icon"><img src="img/svg/wifi.svg"
                                                                        alt=""></div>
                        <div class="promo-traits__advantages-note">Управление по Wi-fi</div>
                    </li>
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-icon"><img src="img/svg/warning.svg"
                                                                        alt=""></div>
                        <div class="promo-traits__advantages-note">Обнаружение утечки хладагента</div>
                    </li>
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-icon"><img src="img/svg/turbo.svg"
                                                                        alt=""></div>
                        <div class="promo-traits__advantages-note">Turbo-режим</div>
                    </li>
                </ul>
                <!-- Изображения -->
                <div class="promo-bigimage">
                    <div class="promo-bigimage">
                        <img src="img/midea_mission.png" alt="">
                    </div>
                </div>
                <!-- /Изображения -->

                <div class="promo-traits-inverter">
                    <img class="promo-traits__image" src="img/inhtml/inverter_tech.jpg" alt="Inverter">
                </div>
                <!-- Модели с инверторной технологией -->
                <div class="promo-traits__desc-block">
                    <h4 class="promo-traits__title">Модели с инверторной технологией</h4>
                    <div class="promo-traits__description">
                        Инверторные модели Mission обеспечивают повышенный уровень комфорта благодаря точному
                        поддержанию температуры, а также существенно снижают расходы электроэнергии.
                        DC inverter — современный и надежный компрессор, который увеличивает эффективность работы кондиционера.
                    </div>
                </div>
                <div class="promo-traits__block">
                    <div class="promo-traits__column-left">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                Модель
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Потребляемая мощность
                                <br>
                                <span>охлаждение / нагрев, кВт</span>
                            </div>
                        </div>
                        <div class="promo-traits__row ">
                            <div class="promo-traits__row-data">
                                Холодопроизводительность,
                                <br>
                                <span>охлаждение / нагрев, кВт</span>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Сезонная энергоэффективность / Класс
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-left_mobile">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">Модель</div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Потребляемая мощность
                                    <br>
                                    <span>охлаждение / нагрев, кВт</span>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Холодопроизводительность,
                                    <br>
                                    <span>охлаждение / нагрев, кВт</span>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Сезонная энергоэффективность / Класс
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-right">
                        <div class="promo-traits__slider">
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBAU-09HRFN1(BW)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        0,82 / 0,81
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        2,64 / 2,93
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Сезонная энергоэффективность / Класс
                                        </div>
                                        6,8 / A++
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBBU-12HRFN1(BW)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        1,09 / 1,06
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        3,52 / 3,81
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Сезонная энергоэффективность / Класс
                                        </div>
                                        7,2 / A++
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBAU-11HRFN1(BW)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        1,0 / 1,3
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        3,31 / 3,62
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Сезонная энергоэффективность / Класс
                                        </div>
                                        7,0 / A++
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBBU-08HRFN1(BW)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        0,91 / 1,01
                                    </div>

                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        2,85 / 3,02
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Сезонная энергоэффективность / Класс
                                        </div>
                                        6,9 / A++
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="promo-traits__more">
                    <a class="promo-page__link" href="#">Все характеристики</a>
                </div>

                <!-- Модели со стандартной технологией -->
                <div class="promo-traits__desc-block promo-traits__desc-block_ident">
                    <h4 class="promo-traits__title">Модели со стандартной технологией</h4>
                </div>

                <div class="promo-traits__block">
                    <div class="promo-traits__column-left">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                Модель
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Потребляемая мощность
                                <br>
                                <span>охлаждение / нагрев, кВт</span>
                            </div>
                        </div>
                        <div class="promo-traits__row ">
                            <div class="promo-traits__row-data">
                                Холодопроизводительность,
                                <br>
                                <span>охлаждение / нагрев, кВт</span>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Годовое энергопотребление,
                                <br>
                                <span>кВт / ч</span>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-left_mobile">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">Модель</div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Потребляемая мощность
                                    <br>
                                    <span>охлаждение / нагрев, кВт</span>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Холодопроизводительность,
                                    <br>
                                    <span>охлаждение / нагрев, кВт</span>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Годовое энергопотребление,
                                    <br>
                                    <span>кВт / ч</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-right">
                        <div class="promo-traits__slider">
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBA-07HRN1(W)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        0,69 / 0,65
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        2,2 / 2,34
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Годовое энергопотребление,
                                            <br>
                                            <span>кВт / ч</span>
                                        </div>
                                        343
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBA-09HRN1(W)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        0,82 / 0,77
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        2,64 / 2,78
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Годовое энергопотребление,
                                            <br>
                                            <span>кВт / ч</span>
                                        </div>
                                        411
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBA-11HRN1(W)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        0,73 / 0,79
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        2,4 / 2,56
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Годовое энергопотребление,
                                            <br>
                                            <span>кВт / ч</span>
                                        </div>
                                        416
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/MSMBAU-09HRFN1.png"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>MSMBA-13HRN1(W)</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        0,76 / 0,55
                                    </div>

                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Холодопроизводительность,
                                            <br>
                                            <span>охлаждение / нагрев, кВт</span>
                                        </div>
                                        2,4 / 2,98
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Годовое энергопотребление,
                                            <br>
                                            <span>кВт / ч</span>
                                        </div>
                                        420
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-traits__more">
                    <a class="promo-page__link" href="#">Все характеристики</a>
                </div>
            </div>
        </section><!-- END promo-traits -->

        <section class="promo-design">
            <div class="promo-gradient">
                <div class="promo-text">
                    <div class="promo-text__type">Дизайн</div>
                    <h3 class="promo-text__title">Простота <br>и минимализм</h3>
                    <div class="promo-text__note">
                        Блоки Mission имеют универсальный и современный дизайн.
                        Разработчики дизайна основывались на результатах изучения
                        мнений потребителей со всего мира.
                    </div>
                </div>
            </div>

            <div class="promo-design__main-photo">
                <img src="./img/midea_mission_design.png" alt="">
            </div>

            <div class="promo-design-details">
                <h4 class="promo-design-details__title">Плавные изгибы внутреннего блока функциональны и добавляют в интерьер простоты и элегантности.</h4>

                <div class="promo-design-details__col-container">
                    <div class="promo-design-details__col promo-design-details__col_narrow">
                        <div class="promo-design-details__feature zoomIn wow" data-wow-duration="1.8s">
                            <div class="gradient-circle gradient-circle_grey">
                                <img src="./img/svg/display.svg" alt="">
                            </div>
                            <span>Скрытый дисплей делает дизайн еще более простым и интересным.</span>
                        </div>

                        <div class="promo-design-details__feature zoomIn wow" data-wow-duration="1.8s" data-wow-delay="0.5s">
                            <img src="./img/pult_midea.png" alt="">
                            <span>Эргономичный, удобный и интуитивно-понятный пульт.</span>
                        </div>
                    </div>
                    <div class="promo-design-details__col promo-design-details__col_wide"></div>
                </div>

            </div>
        </section>

        <section class="promo-mis-midea-comfort">
            <div class="promo-text promo-text_black">
                <div class="promo-text__type promo-text__type_black">Комфорт</div>
                <h3 class="promo-text__title">Чистый воздух</h3>
                <div class="promo-text__note">
                    В сравнении со стандартным фильтром фильтр высокой степени очистки задерживает
                    на 50% больше пыли и на 80% больше пыльцы. Каталитический фильтр уничтожает
                    бактерии и споры плесени. Это гарантирует свежесть в каждом уголке помещения и
                    безопасность для здоровья.
                </div>
            </div>
            <ul class="promo-features__list promo-features__list_left">
                <li class="promo-features__item">
                    <img class="promo-features__item-img" src="./img/svg/low_energy.svg" alt="">

                    <h4 class="promo-features__item-title">Энергосбережение</h4>
                    <div class="promo-features__item-note">
                        Экономичный режим (только для инверторных моделей). При активации
                        на пульте управления функции Eco кондиционер переходит в экономичный
                        режим работы. В данном режиме кондиционер способен работать
                        порядка 8 часов, при этом энергопотребление уменьшается на 60%.
                    </div>
                </li>
                <li class="promo-features__item">
                    <img class="promo-features__item-img" src="./img/svg/night.svg" alt="">

                    <h4 class="promo-features__item-title">Комфортный сон</h4>
                    <div class="promo-features__item-note">
                        При включенном режиме комфортного сна кондиционер автоматически
                        увеличивает (в режиме охлаждения) или уменьшает (в режиме обогрева)
                        температуру на 1 °С в течение первых двух часов, затем поддерживает
                        ее стабильной в течение следующих 5 часов, после чего выключается.
                    </div>
                </li>
                <li class="promo-features__item">

                    <img class="promo-features__item-img" src="./img/svg/no_sound.svg">

                    <h4 class="promo-features__item-title">Отключение сигналов</h4>
                    <div class="promo-features__item-note">
                        Для перевода кондиционера в режим молчания на пульте управления
                        доступна кнопка Mute. При ее нажатии гаснет дисплей и отключаются
                        все звуковые сигналы.
                    </div>
                </li>
            </ul>

            <div class="promo-mis-midea-comfort-force">
                <div class="energy-block">
                    <div class="energy energy_standart">
                        Обычный режим
                        <span class="energy__bar" data-width="100"></span>
                    </div>

                    <div class="energy energy_eco">
                        Режим Eco
                        <span class="energy__bar"></span>
                    </div>
                </div>
                <div class="promo-gradient">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Работа при чрезвычайной ситуации</h3>
                        <div class="promo-text__note">
                            В отличие от обычного кондиционера, который в случае поломки
                            температурного датчика сразу отключается, кондиционер компании Midea
                            продолжает работать в прежнем режиме. Таким образом, микроклимат в
                            помещении не нарушается, а пользователю нет необходимости в срочном
                            ремонте. Опция доступна только для инверторных моделей.
                        </div>
                    </div>
                </div>
                <div class="promo-mis-midea-comfort-force__img">
                    <img src="./img/midea_side.png" alt="">
                </div>
            </div>

        </section><!-- END promo-comfort -->

        <section class="promo-mis-midea-advantages">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">Особенности</div>
                    <h3 class="promo-text__title">Комфортная атмосфера <br> в любое время</h3>
                </div>

                <ul class="promo-advantages-list">
                    <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s">
                        <div class="promo-advantages-list__wrap-img">
                            <img src="./img/filter.png" alt="" class="promo-advantages-list__img">
                        </div>
                        <h4 class="promo-advantages-list__title">Фильтр высокой степени очистки</h4>

                        <p class="promo-advantages-list__note">
                            В сравнении со стандартным фильтром
                            фильтр высокой степени очистки задерживает на 50% больше пыли и на 80% больше пыльцы.
                        </p>
                    </li>
                    <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="promo-advantages-list__wrap-img">
                            <img src="./img/mute.png" alt="" class="promo-advantages-list__img">
                        </div>
                        <h4 class="promo-advantages-list__title">Функция отключения сигналов</h4>

                        <p class="promo-advantages-list__note">
                            Для перевода кондиционера в режим молчания на пульте управления доступна кнопка Mute. При ее нажатии гаснет дисплей и отключаются все звуковые сигналы.
                        </p>
                    </li>
                    <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="promo-advantages-list__wrap-img">
                            <img src="./img/sleep.png" alt="" class="promo-advantages-list__img">
                        </div>
                        <h4 class="promo-advantages-list__title">Комфортный сон</h4>

                        <p class="promo-advantages-list__note">
                            Функция обеспечивает энергосбережение и поддерживает комфортные условия для сна.
                        </p>
                    </li>
                    <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s">
                        <div class="promo-advantages-list__wrap-img">
                            <img src="./img/autoswing.png" alt="" class="promo-advantages-list__img">
                        </div>
                        <h4 class="promo-advantages-list__title">Автоматическое качание заслонки</h4>

                        <p class="promo-advantages-list__note">
                            Автоматическое качание горизонтальных заслонок распределяет холодный и теплый воздух по максимальной площади.
                        </p>
                    </li>
                    <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="promo-advantages-list__wrap-img">
                            <img src="./img/turbo.png" alt="" class="promo-advantages-list__img">
                        </div>
                        <h4 class="promo-advantages-list__title">Режим Turbo-производительности</h4>

                        <p class="promo-advantages-list__note">
                            Кондиционер до максимума увеличивает производительность, обеспечивая достижение желаемой температуры в кратчайшее время.
                        </p>
                    </li>
                    <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="promo-advantages-list__wrap-img">
                            <img src="img/timer.png" alt="" class="promo-advantages-list__img">
                        </div>
                        <h4 class="promo-advantages-list__title">Таймер</h4>

                        <p class="promo-advantages-list__note">
                            При помощи таймера время включения и выключения может быть установлено в 24-часовом интервале.
                        </p>
                    </li>
                </ul>

                <div class="promo-traits__more">
                    <a class="promo-page__link" href="#">Все преимущества</a>
                </div>
            </div>
        </section><!-- END promo-mis-midea-advantages -->

        <section class="promo-mis-midea-control promo-mis-midea-control_wifi">
            <div class="promo-text promo-text_white">
                <div class="promo-text__type">Управление</div>
                <h3 class="promo-text__title">Управление по Wi-fi</h3>
                <div class="promo-text__note">
                    Midea RAC разработала мобильное приложение для современных смартфонов, которое выполняет функцию пульта.
                </div>
            </div>
        </section>

        <section class="promo-mis-midea-control">
            <div class="promo-text promo-text_black">
                <h3 class="promo-text__title">Это удобно</h3>
                <div class="promo-text__note">
                    Мы разработали пульт, который поможет вам управлять кондиционером легко и просто.
                    Интуитивно понятный интерфейс, качественные материалы и большой дисплей сделают
                    управление необычайно удобным.
                </div>
            </div>

            <div class="promo-mis-midea-control-tabs">
                <div class="promo-design__tabs-imgs js-tabs-body">
                    <img id="tab-display" class="js-tabs-item is-active promo-design__tabs-img" src="img/midea_display.jpg" alt="">
                    <img id="tab-console" class="js-tabs-item promo-design__tabs-img" src="img/midea_console.jpg" alt="">
                </div>

                <ul class="promo-design__tabs-list js-tabs-head">
                    <li class="promo-design__tabs-color js-tabs-link is-active" data-tab="tab-display">
                        <span></span>Дисплей
                    </li>
                    <li class="promo-design__tabs-color js-tabs-link" data-tab="tab-console">
                        <span></span>Консоль
                    </li>
                </ul>
            </div>

        </section>
        <!-- END promo-control -->

        <section class="promo-certs">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                </div>
                <ul class="promo-certs__docs">
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Чертежи</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи Midea Blanc</span>
                                <span class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Инструкции</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span>
                                <span class="icon icon-pdf"></span></a><br>
                            <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span>
                                <span class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Сертификаты</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span
                                    class="text-solid">Декларация соответствия Midea Blanc</span> <span
                                    class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- END promo-certs -->
        <section class="promo-press">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Публикации</h3>
                </div>
                <div class="promo-press__line">
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Axioma</h4>
                            <div class="promo-press__item-note">
                                Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все
                                отличия внутри.
                                Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том
                                и есть...
                            </div>
                            <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                            <div class="promo-press__item-note">
                                Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                производит и продает климатическое оборудование по всему миру и обеспечение
                                клиента безопасной высококачественной...
                            </div>
                            <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем
                                Daikin</h4>
                            <div class="promo-press__item-note">
                                Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                уровнем производительности...
                            </div>
                            <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- END promo-press -->

        <section class="promo-buy promo-buy_midea-mis">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Midea Mission.<br><span>Комфортная прохлада.</span></h3>
                </div>
                <div class="text-c">
                    <a class="btn promo-buy__btn" href="#">Где купить</a>
                </div>

                <img class="promo-buy__image" src="img/midea_mission_main.png" alt="">
            </div>
        </section><!-- END promo-buy -->

        <section class="promo-similar">
            <div class="container">
                <div class="promo-similar__half to-left">
                    <div class="promo-similar__back"></div>
                    <div class="promo-similar__front">
                        <div class="promo-similar__type">Сплит-системы</div>
                        <h4 class="promo-similar__title">Daikin FTYN</h4>
                        <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                        <i class="promo-similar__arrow"></i>
                        <a class="promo-similar__link" href="#"></a>
                    </div>
                </div>
                <div class="promo-similar__half to-right">
                    <div class="promo-similar__back"></div>
                    <div class="promo-similar__front">
                        <div class="promo-similar__type">Сплит-системы</div>
                        <h4 class="promo-similar__title">Daikin FTXS</h4>
                        <img class="promo-similar__img" src="img/daikin_ftxs.png" alt="Daikin FTXS">
                        <i class="promo-similar__arrow"></i>
                        <a class="promo-similar__link" href="#"></a>
                    </div>
                </div>
            </div>
        </section><!-- END promo-similar -->

    </main><!-- END page -->

    @@include('template/footer.html')
</div><!-- END wrap-main -->

@@include('template/foot.html')
</body>
</html>
