@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_silver"
        })

        <main class="page promo-page">

            <section class="promo-banner promo-banner_silverpage">
                <div class="container">
                    <h1 class="promo-banner__title">Daikin FTXS-K</h1>
                    <div class="promo-banner__lead">Лаконичный современный дизайн и оптимальная эффективность</div>
                    <div class="promo-banner__btns">
                        <button class="btn btn_border btn_blue btn_small mb0" type="button">Смотреть видео <span class="icon icon-video"></span></button>
                        <a class="btn btn_large mb0" href="#">Где купить</a>
                    </div>
                    <img class="promo-banner__img" src="img/inhtml/promo_ftxs-k.png" alt="Daikin FTXS-K">
                    <a href="#promo-traits" class="promo-banner__down black" role="button"></a>
                </div>
            </section><!-- END main-banner -->

            <section id="promo-traits" class="promo-traits">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Характеристики</div>
                        <h3 class="promo-text__title">Мощный и бесшумный</h3>
                        <div class="promo-text__note">
                           Daikin серии FTXS-K обладает едва различимым уровнем шума, эффективно экономит электроэнергию и обеспечивает равномерный приток воздуха по&nbsp;всему помещению.
                        </div>
                    </div>

                    <ul class="promo-traits__advantages">
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-class"><span>A+++</span></div>
                            <div class="promo-traits__advantages-note">Класс сезонной<br> энергоэффективности</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-icon">
                                <img src="img/svg/icon_move-eye.svg" alt="Датчик движения Intelligent Eye">
                            </div>
                            <div class="promo-traits__advantages-note">Датчик движения <br>Intelligent Eye</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">19<sub>dB(A)</sub></div>
                            <div class="promo-traits__advantages-note">Минимально возможный <br>уровень звукового давления</div>
                        </li>
                    </ul>
                    <img class="promo-traits__product" src="img/inhtml/ftxs-k_pult.jpg" alt="Daikin Emura">
                    <div class="promo-traits__block">
                        <div class="promo-traits__column-left">
                            <div class="promo-traits__row promo-traits__row-thumb  promo-traits__row-model">
                                <div class="promo-traits__row-data">
                                    Модель
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Рекомендуемая <br>площадь помещения, м<sup>2</sup>
                                </div>
                            </div>
                            <div class="promo-traits__row ">
                                <div class="promo-traits__row-data">
                                    Холодопроизводительность <br>кВт
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                   SEER / Класс
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-right">
                            <div class="promo-traits__slider">

                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/thumb2.jpg"
                                                 alt="FTXG/RXG-L">
                                            <strong><strong>FTXS20K</strong></strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            2,5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            7,4 / A++
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/thumb2.jpg"
                                                 alt="FTXG/RXG-L">
                                            <strong><strong>FTXS25K</strong></strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            25
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            2,5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            7,4 / A++
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/thumb2.jpg"
                                                 alt="FTXG/RXG-L">
                                            <strong><strong>FTXS35K</strong></strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            25
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            2,5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            7,4 / A++
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>
                </div>
            </section><!-- END promo-traits -->

            <section class="promo-ftxs-design">
                <div class="promo-ftxs-design__right">
                    <div class="promo-gradient">
                        <div class="promo-text">
                            <div class="promo-text__type">Дизайн</div>
                            <h3 class="promo-text__title">Лаконичный <br>и&nbsp;современный</h3>
                            <div class="promo-text__note">
                                Плавные линии корпуса, высококачественная матово-белая отделка. Чистый, сдержанный образ прекрасно впишется в&nbsp;интерьер.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-ftxs-design__left">
                    <img src="img/model_daikin2.png" class="promo-ftxs-design__img" alt="">
                    <div class="promo-ftxs-design__pult">
                        <img src="img/model_daikin2-pult.png" alt="">
                        <p>Пульт дистанционного управления выполнен в&nbsp;едином стиле с&nbsp;внутренним блоком.</p>
                    </div>
                </div>
            </section><!-- END promo-ftxs-design -->

             <section class="promo-comfort promo-ftxs-comfort">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type promo-text__type_white">Комфорт</div>
                        <h3 class="promo-text__title">Датчик движения <br>Intelligent Eye</h3>
                        <div class="promo-text__note">
                            Если в&nbsp;помещении никого нет, блок автоматически переключается в&nbsp;энергосберегающий режим и&nbsp;экономит до&nbsp;30% электроэнергии. Двухзонный&nbsp;датчик движения (для моделей 35, 42, 50) позволяет направлять воздушный поток в&nbsp;зону, где в&nbsp;данный момент нет людей.
                        </div>
                        <div class="promo-stats">
                            <div class="promo-stats__left">
                                <h6>Расход энергии</h6>
                                <div class="promo-stats__row">
                                    <p>Обычный кондиционер</p>
                                    <div class="promo-progress"><span data-width="100" style="width:0%"></span></div>
                                </div>
                                <div class="promo-stats__row">
                                    <p>Daikin FTXK-S</p>
                                    <div class="promo-progress"><span data-width="70" style="width:0%"></span></div>
                                </div>
                            </div>
                            <div class="promo-stats__right">
                                <div class="promo-stats__counter"><span class="counter">0</span><small>%</small></div>
                                <p>снижение <br>энергопотребления</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-comfort -->

            <section class="promo-works">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Неслышная работа</h3>
                        <div class="promo-text__note">
                            Минимальный уровень звукового давления внутреннего блока составляет всего 19&nbsp;дБ(А). Бесшумный вентилятор с&nbsp;диффузором и&nbsp;специальные шумопоглощающие элементы конструкции кондиционера оптимизируют воздушный поток, еще больше снижая уровень шума.
                        </div>
                    </div>
                    <div class="promo-works__row">
                        <div class="promo-works__col">
                            <div class="promo-works__details">
                                <div class="promo-traits__advantages-data">19<sub>dB(A)</sub></div>
                                <p>Уровень шума <br>внутреннего блока </p>
                            </div>
                            <img src="img/inhtml/promo_work.jpg" alt="">
                        </div>
                        <div class="promo-works__col">
                            <div class="promo-gradient">
                                <div class="promo-text">
                                    <div class="conditioner">
                                        <div class="conditioner__waves left">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <div class="conditioner__waves right">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="promo-text__note">
                                        Режим снижения шума наружного блока позволяет снизить уровень шума наружного блока на&nbsp;3&nbsp;дБ(А) и&nbsp;расход электроэнергии&nbsp;на&nbsp;7%.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="air-flow">
                        <div class="air-flow__item">
                            <h3 class="promo-text__title">3D объемный <br>воздушный поток</h3>
                            <div class="promo-text__note">Оптимизирует циркуляцию воздуха в&nbsp;помещении за&nbsp;счет согласованного качания горизонтальных заслонок и&nbsp;вертикальных жалюзи.</div>
                        </div>
                    </div>
                </div>
            </section> <!-- End promo-works -->

            <section class="promo-features">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Особенности</div>
                        <h3 class="promo-text__title">Комфортная атмосфера <br>в любое время</h3>
                    </div>
                    <ul class="promo-features__list">
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict no-border">
                                <img class="promo-features__item-img" src="img/svg/icon_features-1.svg" alt="А++">
                            </div>
                            <h4 class="promo-features__item-title">А++</h4>
                            <div class="promo-features__item-note">
                                Высокий класс сезонной энергоэффективности SEER А++.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict no-border">
                                <img class="promo-features__item-img" src="img/svg/icon_features-2.svg" alt="Инверторная технология">
                            </div>
                            <h4 class="promo-features__item-title">Инверторная технология</h4>
                            <div class="promo-features__item-note">
                                Обеспечивает быстрое создание <br>и&nbsp;сохранение комфортных условий, <br>а также экономит электроэнергию <br>и&nbsp;снижает уровень шума.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict no-border">
                                <img class="promo-features__item-img" src="img/svg/icon_features-3.svg" alt="Титано-апатитовый фильтр">
                            </div>
                            <h4 class="promo-features__item-title">Титано-апатитовый фильтр</h4>
                            <div class="promo-features__item-note">
                                Эффективно удаляет частицы пыли, устраняет неприятные запахи, препятствует размножению бактерий, вирусов, микробов.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict no-border">
                                <img class="promo-features__item-img" src="img/svg/icon_features-4.svg" alt="Режим экономичной работы">
                            </div>
                            <h4 class="promo-features__item-title">Режим экономичной работы</h4>
                            <div class="promo-features__item-note">
                                Позволяет снизить энергопотребление кондиционера без ущерба для комфорта.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict no-border">
                                <img class="promo-features__item-img" src="img/svg/icon_features-5.svg" alt="Повышенная производительность">
                            </div>
                            <h4 class="promo-features__item-title">Повышенная производительность</h4>
                            <div class="promo-features__item-note">
                                Позволяет при включении кондиционера быстрее достичь комфортного микроклимата в&nbsp;помещении.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict no-border">
                                <img class="promo-features__item-img" src="img/svg/icon_features-6.svg" alt="Недельный таймер">
                            </div>
                            <h4 class="promo-features__item-title">Недельный таймер</h4>
                            <div class="promo-features__item-note">
                                Позволяет запрограммировать включение&nbsp;и&nbsp;выключение кондиционера на&nbsp;неделю.
                            </div>
                        </li>
                    </ul>
                    <div class="promo-features__more">
                        <a class="promo-page__link" href="#">Все преимущества</a>
                    </div>
                </div>
            </section>

            <section class="promo-control promo-ftxs-k-control">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Управление</div>
                        <h3 class="promo-text__title">Доступ из любой точки</h3>
                        <div class="promo-text__note">
                            Управляйте кондиционером пультом, если вы&nbsp;дома <br>и через интернет, если вы&nbsp;уехали.
                        </div>
                        <ul class="promo-control__device-list">
                            <li><img src="img/svg/computer.svg" alt=""></li>
                            <li><img src="img/svg/imac.svg" alt=""></li>
                            <li><img src="img/svg/ipad-b.svg" alt=""></li>
                            <li><img src="img/svg/iphone-b.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </section><!-- END promo-ftxs-k-control -->

            <div class="promo-control promo-control-other">
                <div class="container">
                    <div class="promo-control-other__list">
                        <li>
                            <div class="promo-control-other__list-thumb">
                                <img src="img/inhtml/control-other-01.png" alt="">
                            </div>
                            <div class="promo-control-other__list-note">
                                Управление одним касанием осуществляется нажатием клавиши включения на&nbsp;пульте и&nbsp;активизирует те&nbsp;же настройки кондиционера, которые действовали до&nbsp;его выключения.
                            </div>
                        </li>
                        <li>
                            <div class="promo-control-other__list-thumb">
                                <img src="img/inhtml/control-other-02.png" alt="">
                            </div>
                            <div class="promo-control-other__list-note">
                                Поверхность пульта дистанционного управления защищена антибактериальным покрытием. 
                            </div>
                        </li>
                        <li>
                            <div class="promo-control-other__list-thumb">
                                <img src="img/inhtml/control-other-03.png" alt="">
                            </div>
                            <div class="promo-control-other__list-note">
                                Проводной пульт дистанционного управления (опция) для включения, выключения и регулирования режимов работы кондиционера.
                            </div>
                        </li>
                    </div>
                </div>
            </div><!-- END promo-other-control -->

            <section class="promo-online">
                <div class="container">
                    <div class="promo-text">
                        <img class="promo-text__logo" src="img/controller_logo.jpg" alt="Daikin Online Controller">
                        <h3 class="promo-text__title">Daikin Online Controller</h3>
                        <div class="promo-text__note">
                            Приложение позволяет дистанционно управлять внутренним блоком, а также собирать
                            данные об&nbsp;энергопотреблении. Бесплатное приложение доступно&nbsp;для устройств на&nbsp;Android&nbsp;и&nbsp;IOS.
                        </div>
                    </div>
                    <div class="promo-online__btns">
                        <a class="promo-online__btn" href="#" target="_blank"><img src="img/google_play.png" alt="Google-play"></a>
                        <a class="promo-online__btn" href="#" target="_blank"><img src="img/app_store.png" alt="App-store"></a>
                    </div>
                </div>
                <div class="promo-online__pict">
                    <img class="promo-online__img" src="img/control_app.jpg" alt="Полный контроль">
                </div>
            </section><!-- END promo-online -->

            <section class="promo-desk promo-ftxs-k-desk">
                <div class="promo-desk__row">
                    <div class="promo-desk__col">
                        <img class="promo-desk__img" src="img/control_03.jpg" alt="Полный контроль">
                    </div>
                    <div class="promo-desk__col">
                        <div class="promo-gradient">
                            <div class="promo-text">
                                <h3 class="promo-text__title">Централизованное управление</h3>
                                <div class="promo-text__note">
                                    Через специальный разъем кондиционер подключается к&nbsp;системе централизованного управления в&nbsp;здании, например, &laquo;Умный дом&raquo;.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-ftxs-k-desk -->

            <section class="promo-safety">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Детали</div>
                        <h3 class="promo-text__title">Надежность</h3>
                        <div class="promo-text__note">
                           Блоки серии FTXM-M оснащены антикоррозийной защитой, функцией самодиагностики, электронным управлением мощностью и&nbsp;другими эффективными функциями для обеспечения максимального срока службы.
                        </div>
                    </div>
                    <ul class="promo-safety__list">
                        <li>
                            <div class="promo-safety__list-thumb">
                                <img src="img/inhtml/promo_ftxs-k-safety-01.png" alt="">
                            </div>
                            <h4 class="promo-safety__list-title">Антикоррозионная защита</h4>
                            <div class="promo-safety__list-note">Предохраняет металлические поверхности наиболее ответственных узлов наружного блока от&nbsp;разрушения под воздействием атмосферной влаги.</div>
                        </li>
                        <li>
                            <div class="promo-safety__list-thumb">
                                <img src="img/inhtml/promo_ftxs-k-safety-02.png" alt="">
                            </div>
                            <h4 class="promo-safety__list-title">Защита от предельных температур</h4>
                            <div class="promo-safety__list-note">Предотвращает образование инея на&nbsp;теплообменнике внутреннего&nbsp;блока и&nbsp;устраняет недопустимый рост давления хладагента в&nbsp;трубопроводе.</div>
                        </li>
                        <li>
                            <div class="promo-safety__list-thumb">
                                <img src="img/inhtml/promo_ftxs-k-safety-03.png" alt="">
                                <div class="promo-safety__list-info"></div>
                            </div>
                            <h4 class="promo-safety__list-title">Функция самодиагностики</h4>
                            <div class="promo-safety__list-note">Предназначена для быстрого нахождения неисправностей в&nbsp;работе кондиционера, а&nbsp;также для снижения времени и&nbsp;расходов на&nbsp;их устранение.</div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-safety -->

            <section class="promo-ftxs-k-comfort">
                <div class="promo-gradient">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Автоматический перезапуск</h3>
                        <div class="promo-text__note">
                            После устранения перебоев с электропитанием восстановит параметры последнего режима, обеспечивая надежность и&nbsp;безопасность работы кондиционера.
                        </div>
                    </div>
                    <div class="promo-thumb">
                        <img src="img/model_daikin.png" alt="">
                    </div>
                </div>
            </section><!-- END promo-ftxs-k-comfort -->

            <section class="promo-certs">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                    </div>
                    <ul class="promo-certs__docs">
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Чертежи</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи FTXK-S</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Инструкции</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span> <span class="icon icon-pdf"></span></a><br>
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Сертификаты</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Декларация соответствия FTXK-S</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-certs -->

            <section class="promo-press">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Публикации</h3>
                    </div>
                    <div class="promo-press__line">
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Daikin FTXS-K</h4>
                                <div class="promo-press__item-note">
                                    Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все отличия внутри.
                                    Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том и есть...
                                </div>
                                <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Daikin — идеальный баланс цены  и качества</h4>
                                <div class="promo-press__item-note">
                                    Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                    производит и продает климатическое оборудование по всему миру и обеспечение
                                    клиента безопасной высококачественной...
                                </div>
                                <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем Daikin</h4>
                                <div class="promo-press__item-note">
                                    Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                    Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                    уровнем производительности...
                                </div>
                                <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-press -->

            <section class="promo-buy promo-ftxs-buy" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Daikin FTXS-K. <br><span>Лаконичный современный дизайн и оптимальная эффективность.</span></h3>
                    </div>
                    <a class="btn promo-buy__btn" href="#">Где купить</a>
                </div>
            </section><!-- END promo-buy -->

            <section class="promo-similar">
                <div class="container">
                    <div class="promo-similar__half to-left">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTYN</h4>
                            <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-similar__half to-right">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin Emura</h4>
                            <img class="promo-similar__img" src="img/daikin_emura.png" alt="Daikin Emura">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-similar -->

        </main><!-- END page -->

		@@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
