@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "black",
            "color_modificator": "header-desktop_light-blue header-desktop_black"
        })

        <main class="page promo-page">
            <section class="promo-banner promo-banner_light-bluepage">
                <div class="container">
                    <h1 class="promo-banner__title">Daikin MC070</h1>
                    <div class="promo-banner__lead promo-banner__lead_bluepage promo-banner__lead_white">Идеальная очистка воздуха</div>
                    <div class="promo-banner__btns">
                        <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span class="icon icon-video"></span></button>
                        <a class="btn btn_large mb0" href="#">Где купить</a>
                    </div>
                    <img class="promo-banner__img promo-banner__img_daikin-mc" src="img/inhtml/promo_daikin-mc070.png" alt="Daikin FTXB-C">
                    <a href="#promo-traits" class="promo-banner__down" role="button"></a>
                </div>
            </section><!-- END main-banner -->

            <section id="promo-traits" class="promo-traits promo-traits_daikin-mc">
                <div class="container">
                    <div class="promo-text promo-text_daikin-mc">
                        <div class="promo-text__type promo-text__type_bluepage">Характеристики</div>
                        <h3 class="promo-text__title promo-text__title_daikin-mc">Мощный <br> и эффективный</h3>
                        <div class="promo-text__note">
                            Daikin MC70 — очиститель воздуха, оснащённый стримерной технологией. Очищает воздух от пыли, загрязнений с улицы, запахов, борется с аллергенами, плесенью и микробами.
                        </div>
                    </div>
                    <ul class="promo-traits__advantages">
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">420 <sup>м<sup>3</sup></sup>/<sub>час</sub></div>
                            <div class="promo-traits__advantages-note">Максимальная <br> производительность</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">16<sub>dB(A)</sub></div>
                            <div class="promo-traits__advantages-note">Очень низкий <br> уровень шума</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">7<sub>Вт</sub></div>
                            <div class="promo-traits__advantages-note">Минимальное <br> энергопотребление</div>
                        </li>
                    </ul>
                    <!-- Изображения -->
                    <img class="promo-traits__product promo-traits__product_daikin-mc" src="img/inhtml/daikin_mc070.png" alt="Daikin MC070">
                    <!-- /Изображения -->

                    <div class="promo-traits__block">
                        <div class="promo-traits__column-left">
                            <div class="promo-traits__row promo-traits__row-thumb">
                                <div class="promo-traits__row-data">
                                    Режим
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Потребляемая мощность <br> <span class="promo-traits__notice">Вт</span>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Уровень звукового <br> давления <br> <span class="promo-traits__notice">дБ(А)</span>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Воздухопроизводительность <br> <span class="promo-traits__notice">м<sup>3</sup> / час</span>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-left_mobile">
                            <div class="promo-traits__row promo-traits__row-thumb promo-traits__row-thumb_mode">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Режим</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Потребляемая мощность Вт</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Уровень звукового давления дБ(А)</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Воздухопроизводительность м<sup>3</sup> / час</div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-right">
                            <div class="promo-traits__slider">
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Режим</div>
                                            QUIET
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup></div>
                                            7
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Потребляемая мощность Вт</div>
                                            16
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Уровень звукового давления дБ(А)</div>
                                            55
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb promo-traits__row-thumb_mode">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Режим</div>
                                            LOW
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Потребляемая мощность Вт</div>
                                            10
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Уровень звукового давления дБ(А)</div>
                                            24
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Воздухопроизводительность м<sup>3</sup> / час</div>
                                            130
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb promo-traits__row-thumb_mode">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Режим</div>
                                            QUIET
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Потребляемая мощность Вт</div>
                                            7
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Уровень звукового давления дБ(А)</div>
                                            16
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Воздухопроизводительность м<sup>3</sup> / час</div>
                                            55
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>
                </div>
            </section><!-- END promo-traits -->

            <section class="promo-features promo-features_daikin-mc">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Многоступенчатая очистка воздуха</div>
                        <h3 class="promo-text__title">6 стадий очистки</h3>
                    </div>
                    <ul class="promo-features__list promo-features__list_daikin-mc">
                        <li class="promo-features__item zoomIn wow" data-wow-duration="1.5s">
                            <div class="promo-features__wrap-img"><img src="img/stages/stage-1.png" alt="Стример"></div>

                            <h4 class="promo-features__item-title">Стример</h4>
                            <div class="promo-features__item-note">
                                В результате стримерного разряда генерируются быстрые электроны, которые разлагают запахи, аллергены,  вирусы и бактерии, а затем удаляют их.
                            </div>
                        </li>
                        <li class="promo-features__item zoomIn wow" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="promo-features__wrap-img"><img class="" src="img/stages/stage-2.png" alt="Предварительный фильтр"></div>

                            <h4 class="promo-features__item-title">Предварительный фильтр</h4>
                            <div class="promo-features__item-note">
                                Задерживает крупные загрязнения: шерстинки, пыль, копоть.
                            </div>
                        </li>

                        <li class="promo-features__item zoomIn wow" data-wow-duration="1.5s" data-wow-delay="0.4s">
                            <div class="promo-features__wrap-img"><img class="" src="img/stages/stage-3.png" alt="Плазменный ионизатор"></div>

                            <h4 class="promo-features__item-title">Плазменный ионизатор</h4>
                            <div class="promo-features__item-note">
                                Заряжает мелкие частицы, прошедшие предыдущие стадии очистки <br> электрическим зарядом.
                            </div>
                        </li>
                        <li class="promo-features__item zoomIn wow" data-wow-duration="1.5s">
                            <div class="promo-features__wrap-img"><img class="" src="img/stages/stage-4.png" alt="Гофрированный электростатический фильтр"></div>

                            <h4 class="promo-features__item-title">Гофрированный электростатический фильтр</h4>
                            <div class="promo-features__item-note">
                                Притягивает заряженные частицы.
                            </div>
                        </li>
                        <li class="promo-features__item zoomIn wow" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="promo-features__wrap-img"><img class="" src="img/stages/stage-5.png" alt="Дезодорирующий титано-апатитовый фильтр"></div>

                            <h4 class="promo-features__item-title">Дезодорирующий титано-апатитовый фильтр</h4>
                            <div class="promo-features__item-note">
                                Поглощает запахи.
                            </div>
                        </li>
                        <li class="promo-features__item zoomIn wow" data-wow-duration="1.5s" data-wow-delay="0.4s">
                            <div class="promo-features__wrap-img"><img class="" src="img/stages/stage-6.png" alt="Каталитический фильтр"></div>

                            <h4 class="promo-features__item-title">Каталитический фильтр</h4>
                            <div class="promo-features__item-note">
                                Поглощает запахи и разлагает на нейтральные компоненты вредные химические вещества.
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-features -->

            <section class="promo-technology">
                <div class="container">
                    <div class="promo-text">
                        <img class="promo-text__logo" src="img/svg/icon_streamer.svg" alt="Технология Flash Streamer">
                        <div class="promo-text__type">Технологии</div>
                        <h3 class="promo-text__title">Технология Flash Streamer</h3>
                        <div class="promo-text__note">
                            Flash Streamer — стримерный разряд. Это устройство генерирует поток быстрых электронов и направляет их на фильтры очистителя. Электроны уничтожают все, что задержалось на фильтрах:
                        </div>
                    </div>

                    <ul class="technology-list">
                        <li class="technology-list__item">
                            <div class="technology-list__wrap-img"><img src="img/svg/icon_virus.svg" alt=""></div>
                            <p>Вирусы</p>
                        </li>
                        <li class="technology-list__item">
                            <div class="technology-list__wrap-img"><img src="img/svg/icon_pollen.svg" alt=""></div>
                            <p>Пыльца</p>
                        </li>
                        <li class="technology-list__item">
                            <div class="technology-list__wrap-img"><img src="img/svg/icon_allergen-mushroom.svg" alt=""></div>
                            <p>Грибковые аллергены</p>
                        </li>
                        <li class="technology-list__item">
                            <div class="technology-list__wrap-img"><img src="img/svg/icon_allergen-animal.svg" alt=""></div>
                            <p>Аллергены животного <br> происхождения</p>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-technology -->

            <section class="promo-allergen">
                <div class="promo-allergen__content js-allergen-content">
                    <div class="promo-allergen__inner-content js-allergen-inner-content">
                        <h3 class="promo-allergen__title">Уничтожитель <br> аллергенов</h3>
                    
                        <p>Очиститель — настоящее спасение для тех, кто страдает аллергией и хроническими заболеваниями дыхательных путей. Очистители Daikin задерживают все известные аллергены: домашнюю пыль, пыльцу растений, продукты жизнедеятельности клещей-сапрофитов, аллергены от домашних животных.</p>
                    </div>

                    <div class="promo-allergen__allergen promo-allergen__allergen_top js-dandelion-top"></div>
                    <div class="promo-allergen__allergen promo-allergen__allergen_bottom js-dandelion-bottom"></div>
                </div>

                <img src="img/allergen_img.jpg" alt="" class="promo-allergen__img">
            </section><!-- END promo-allergen -->

            <section class="promo-adjuvant js-parent-sticky-float">
                <div class="promo-adjuvant__wrap-img">
                    <img src="img/inhtml/promo_daikin_adjuvant.png" alt="Уничтожитель адъювантов" class="js-img">
                </div>

                <div class="promo-adjuvant__content js-sticky-float">
                    <h3 class="promo-adjuvant__title">Уничтожитель <br> адъювантов</h3>
                    <p>Фильтры очистителя MC70L улавливают и нейтрализуют не только аллергены, но и адъюванты. Адъюванты — вещества, которые сами по себе не вызывают аллергию, но переносят аллергены, усиливают симптомы заболевания и затрудняют диагностику. В городской среде чаще всего это сажа от дизельных двигателей и летучие органические соединения, источниками которых могут быть строительные материалы и косметика.</p>
                </div>
            </section><!-- END promo-adjuvant -->

            <section class="promo-daikin-mc-dream">
                <div class="promo-text">
                    <h3 class="promo-text__title">Спокойный сон</h3>
                    <div class="promo-text__note">
                        В&nbsp;режиме &laquo;Сон&raquo; очиститель работает в&nbsp;режимах &laquo;Тихий&raquo; и&nbsp;&laquo;Низкий&raquo; (в&nbsp;зависимости от&nbsp;степени загрязнения воздуха). Это наиболее комфортный режим на&nbsp;время отдыха.
                    </div>
                </div>
            </section><!-- END promo-daikin-mc-dream -->

            <section class="promo-convenience js-parent-sticky-float">
                <div class="promo-convenience__content js-sticky-float">
                    <div class="promo-convenience__type">Удобство в эксплуатации</div>
                    <h3 class="promo-convenience__title">Фильтров MC70L хватит на 10 лет</h3>
                    <p>В комплекте с очистителем 5 фильтров. Каждый из них прослужит 2 года, значит, вам не придется покупать фильтры в течение 10 лет. Фильтры хранятся внутри блока.</p>
                </div>

                <div class="promo-convenience__wrap-img">
                    <img src="img/daikin-mc_convenience.jpg" alt="Фильтров MC70L хватит на 10 лет" class="js-img">
                </div>
            </section><!-- END promo-convenience -->

            <section class="promo-energy">
                <div class="promo-text">
                    <h3 class="promo-text__title">Автоматическая <br> экономия энергии</h3>
                    <div class="promo-text__note">
                        Очиститель определяет уровень загрязненности воздуха и сам выбирает нужный режим. Если воздух чистый, очиститель не работает.
                    </div>
                </div>

                <div class="promo-energy-preview">
                    <div class="promo-energy-preview__inner">
                        <div class="promo-energy-preview__content">
                            <img src="img/svg/icon_inverter.svg" alt="" class="promo-energy-preview__logo">
                            <p>Инверторный механизм обеспечивает плавный запуск двигателя. Это экономит электроэнергию и увеличивает срок службы двигателя.</p>
                        </div>

                        <img src="img/daikin-mc_energy.png" alt="" class="promo-energy-preview__img img-parallax" data-speed="0.7">
                    </div>
                </div>
            </section>

            <section class="promo-timer">
                <div class="promo-text">
                    <h3 class="promo-text__title">Таймер выключения <br> и регулировка дисплея</h3>
                    <div class="promo-text__note">
                        Отрегулируйте работу очистителя, как вам удобно. С помощью таймера можно задать время прекращения работы. Можно регулировать яркость индикаторной панели. 
                    </div>
                </div>

                <img src="img/daikin-mc_timer.png" alt="" class="promo-timer__img">
            </section>

            <section class="promo-turbomode">
                <div class="promo-turbomode__content">
                    <div class="promo-turbomode__content-inner">
                        <h3 class="promo-turbomode__title">Турборежим</h3>
                        <p>Режим «Турбо» позволяет быстро очистить воздух, например, если вот-вот к вам нагрянут гости.</p></div>
                </div>
            </section>

            <section class="promo-certs">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                    </div>
                    <ul class="promo-certs__docs">
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Чертежи</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи Daikin MC070 </span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Сертификаты</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Декларация соответствия Daikin MC070</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-certs -->

            <section class="promo-press">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Публикации</h3>
                    </div>
                    <div class="promo-press__line">
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Daikin Emura</h4>
                                <div class="promo-press__item-note">
                                    Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все отличия внутри.
                                    Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том и есть...
                                </div>
                                <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                                <div class="promo-press__item-note">
                                    Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                    производит и продает климатическое оборудование по всему миру и обеспечение
                                    клиента безопасной высококачественной...
                                </div>
                                <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем Daikin</h4>
                                <div class="promo-press__item-note">
                                    Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                    Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                    уровнем производительности...
                                </div>
                                <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-press -->

            <section class="promo-buy promo-buy_daikin-mc" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Daikin MC070</h3>
                        <h4 class="promo-text__subtitle">Идеальная очистка воздуха.</h4>
                    </div>
                    <a class="btn promo-buy__btn" href="#">Где купить</a>
                </div>
            </section><!-- END promo-buy -->

            <section class="promo-similar">
                <div class="container">
                    <div class="promo-similar__half to-left">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTYN</h4>
                            <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-similar__half to-right">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Midea Kid Star</h4>
                            <img class="promo-similar__img" src="img/midea_kid_star.png" alt="Midea Kid Star">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-similar -->

        </main><!-- END page -->

		@@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
