@@include('template/head.html')
<body>
@@include('template/old_ie_update.html')

@@include('template/svg.html')

<div class="wrap-main" >
    @@include('template/header.html', {
    "color": "black",
    "color_modificator": "header-desktop_blue header-desktop_black"
    })

    <main class="page promo-page promo-page_axioma">

        <section class="promo-banner promo-banner_bluepage">
            <div class="container">
                <h1 class="promo-banner__title">Axioma</h1>
                <div class="promo-banner__lead">Новое слово в кондиционировании.</div>
                <div class="promo-banner__btns">
                    <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span
                            class="icon icon-video"></span></button>
                    <a class="btn btn_large mb0" href="#">Где купить</a>
                </div>
                <img class="promo-banner__img" src="img/inhtml/promo_axioma.png" alt="Axioma">
                <a href="#promo-traits" class="promo-banner__down" role="button"></a>
            </div>
        </section><!-- END main-banner -->

        <section id="promo-traits" class="promo-traits">
            <div class="container">
                <div class="promo-text promo-text_black">
                    <div class="promo-text__type">Характеристики</div>
                    <h3 class="promo-text__title">Надежный и экономичный</h3>
                    <div class="promo-text__note">
                        В линейке Axioma представлены две серии настенных кондиционеров: шесть
                        моделей ASX-A1 с постоянной производительностью и две инверторных
                        модели ASX-AZ1. Новинки оснащены роторными компрессорами последнего
                        поколения и позволяют значительно экономить электроэнергию.
                    </div>
                </div>
                <ul class="promo-traits__advantages">
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-class"><span>A</span></div>
                        <div class="promo-traits__advantages-note">Класс <br> энергоэффективности</div>
                    </li>
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-icon"><img src="img/svg/icon_traits_turbo.svg"
                                                                        alt="Температура в кратчайшее время"></div>
                        <div class="promo-traits__advantages-note">Достижение нужной<br> температуры в кратчайшее время
                        </div>
                    </li>
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-icon"><img src="img/svg/icon_traits_conditioner.svg"
                                                                        alt="Антикоррозийная защита"></div>
                        <div class="promo-traits__advantages-note">Антикоррозийная<br> защита наружного блока</div>
                    </li>
                </ul>
                <!-- Изображения -->
                <div class="promo-bigimage">
                    <div class="promo-bigimage-left">
                        <img src="img/inhtml/axioma.jpg" alt="Axioma">
                    </div>
                    <div class="promo-bigimage-right">
                        <img src="img/inhtml/pult_axioma.jpg" class="slideInUp wow promo-pult" alt="Pult">
                    </div>
                </div>
                <!-- /Изображения -->
                <img class="promo-traits__image" src="img/inhtml/inverter_tech.jpg" alt="Inverter">
                <!-- Модели с инверторной технологией -->
                <div class="promo-traits__desc-block">
                    <h4 class="promo-traits__title">Модели с инверторной технологией</h4>
                    <div class="promo-traits__description">
                        Инверторные модели обеспечивают повышенный уровень комфорта благодаря точному поддержанию
                        температуры, а также существенно снижают расходы электроэнергии. DC inverter — современный и
                        надежный компрессор, который увеличивает эффективность работы кондиционера.
                    </div>
                </div>
                <table class="promo-traits__table">
                    <tr>
                        <td class="promo-traits__table-cell is-grey">Модель</td>
                        <td class="promo-traits__table-cell">
                            <img class="promo-traits__table-thumb" src="./img/inhtml/axioma_thumb.jpg" alt="FTXG/RXG-L">
                            <div class="promo-traits__table-mob-label"><span>Модель</span></div>
                            <div class="promo-traits__table-name"><strong>ASX07AZ1</strong></div>
                        </td>
                        <td class="promo-traits__table-cell">
                            <img class="promo-traits__table-thumb" src="./img/inhtml/axioma_thumb.jpg"
                                 alt="FTXJ-M/RXJ-M">
                            <div class="promo-traits__table-mob-label"></div>
                            <div class="promo-traits__table-name"><strong>ASX09AZ1</strong></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="promo-traits__table-cell is-grey">Для помещения площадью <br>м<sup>2</sup></td>
                        <td class="promo-traits__table-cell">
                            <div class="promo-traits__table-mob-label"><span>Для помещения площадью м<sup>2</sup></span></div>
                            20
                        </td>
                        <td class="promo-traits__table-cell">25</td>
                    </tr>
                    <tr>
                        <td class="promo-traits__table-cell is-grey">Холодопроизводительность,<br> охлаждение / нагрев,
                            кВт
                        </td>
                        <td class="promo-traits__table-cell">
                            <div class="promo-traits__table-mob-label"><span>Холодопроизводительность, охлаждение /<br>
                                нагрев,кВт</span>
                            </div>
                            2,58 / 2,6
                        </td>
                        <td class="promo-traits__table-cell">2,64 / 2,64</td>
                    </tr>
                    <tr>
                        <td class="promo-traits__table-cell is-grey">Класс энергоэффективности</td>
                        <td class="promo-traits__table-cell">
                            <div class="promo-traits__table-mob-label"><span>Класс энергоэффективности</span></div>
                            A
                        </td>
                        <td class="promo-traits__table-cell">A</td>
                    </tr>
                </table>

                <div class="promo-traits__more">
                    <a class="promo-page__link" href="#">Все характеристики</a>
                </div>

                <!-- Модели со стандартной технологией -->
                <div class="promo-traits__desc-block promo-traits__desc-block_ident">
                    <h4 class="promo-traits__title">Модели со стандартной технологией</h4>
                </div>

                <div class="promo-traits__block">
                    <div class="promo-traits__column-left">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                Модель
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Для помещения площадью
                                <br>м<sup>2</sup>
                            </div>
                        </div>
                        <div class="promo-traits__row ">
                            <div class="promo-traits__row-data">
                                Холодопроизводительность,<br> охлаждение / нагрев,
                                кВт
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Класс энергоэффективности
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-left_mobile">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">Модель</div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup></div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение /
                                    нагрев,
                                    кВт
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">Класс энергоэффективности</div>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-right">
                        <div class="promo-traits__slider">
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/inhtml/axioma_thumb.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>ASX07A1</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                        </div>
                                        20
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Холодопроизводительность,<br>
                                            охлаждение /
                                            нагрев,кВт
                                        </div>
                                        5
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Класс энергоэффективности
                                        </div>
                                        A
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/inhtml/axioma_thumb.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>ASX09A1</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                        </div>
                                        20
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Холодопроизводительность,<br>
                                            охлаждение /
                                            нагрев,кВт
                                        </div>
                                        5
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Класс энергоэффективности
                                        </div>
                                        A
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/inhtml/axioma_thumb.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>Axioma</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                        </div>
                                        20
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Холодопроизводительность,<br>
                                            охлаждение /
                                            нагрев,кВт
                                        </div>
                                        5
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Класс энергоэффективности
                                        </div>
                                        A
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/inhtml/axioma_thumb.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label">Модель</div>
                                        <strong>ASX08A1</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                        </div>
                                        20
                                    </div>

                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">Холодопроизводительность,<br>
                                            охлаждение /
                                            нагрев,кВт
                                        </div>
                                        5
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Класс энергоэффективности
                                        </div>
                                        A
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-traits__more">
                    <a class="promo-page__link" href="#">Все характеристики</a>
                </div>
            </div>
        </section><!-- END promo-traits -->

        <section class="promo-axioma-design">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type">Дизайн</div>
                    <h3 class="promo-text__title">Стильный <br>и современный</h3>
                    <div class="promo-text__note">
                        Чистый и сдержанный образ великолепно дополнит любой интерьер. Мягкие плавные линии придают
                        блоку элегантности.
                    </div>
                </div>
            </div>
        </section><!-- END promo-design -->

        <section class="promo-axioma-comfort">
            <div class="promo-gradient">
                <div class="promo-text">
                    <div class="promo-text__type">Комфорт</div>
                    <h3 class="promo-text__title">Режим приятного сна</h3>
                    <div class="promo-text__note">
                        Температура автоматически изменяется для большего комфорта спящего человека. Функция
                        обеспечивает энергосбережение.
                    </div>
                </div>
            </div>
        </section><!-- END promo-comfort -->

        <section class="promo-filter">
            <div class="leaf-row">
                <div class="leaves">
                    <div class="js-parallax leaf parallax-wrapper slide-1" data-sp="0.4" data-left=""
                         data-dir="-1" data-rotate="30" data-scale="1">
                        <div class="leaves__plume leaves__plume_right">
                            <img alt="…" src="img/leaves/leaf-1.png">
                        </div>
                    </div>
                    <div class="js-parallax leaf parallax-wrapper slide-2" data-sp="0.9" data-left=""
                         data-dir="-1" data-rotate="8" data-scale="1">
                        <div class="leaves__plume leaves__plume_right">
                            <img alt="…" src="img/leaves/leaf-4.png">
                        </div>
                    </div>
                    <div class="js-parallax leaf parallax-wrapper slide-3" data-sp="0.4" data-left=""
                         data-dir="-1" data-rotate="20" data-scale="1">
                        <div class="leaves__plume leaves__plume_right">
                            <img alt="…" src="img/leaves/leaf-2.png">
                        </div>
                    </div>
                    <div class="js-parallax leaf parallax-wrapper slide-4" data-sp="0.4" data-left=""
                         data-dir="-1" data-rotate="65" data-scale="1">
                        <div class="leaves__plume leaves__plume_right">
                            <img alt="…" src="img/leaves/leaf-3.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container promo-filter__container">

                <div class="promo-filter__flow">
                    <h3 class="promo-text__title">Два направления<br>воздушного потока</h3>
                    <div class="promo-text__note">
                        Для создания комфортных условий воздушный поток&nbsp;направляется&nbsp;горизонтально&nbsp;при
                        охлаждении&nbsp;и&nbsp;вертикально&nbsp;при&nbsp;обогреве.
                    </div>
                </div>

                <div class="promo-filter__bg">
                    <div class="promo-filter__start">
                        <img class="promo-filter__start-img" src="img/svg/icon_features_flow.svg" alt="Теплый пуск">
                        <div class="promo-filter__start-title">
                            Теплый пуск
                        </div>
                        <div class="promo-filter__start-desc">
                            В режиме обогрева устраняет ощущение сквозняка в начале работы, пока теплообменник не
                            нагрелся.
                        </div>
                    </div>
                    <div class="promo-filter__text">
                        Фильтр высокой степени очистки эффективно задерживает пыль&nbsp;и&nbsp;пыльцу.
                    </div>
                </div>


            </div>
        </section><!-- END promo-filter-->

        <section class="promo-features">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type">Особенности</div>
                    <h3 class="promo-text__title">Комфортная атмосфера <br>в любое время</h3>
                </div>
                <ul class="promo-features__list">
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/icon_features-mode.svg"
                                 alt="Автоматический выбор режима">
                        </div>
                        <h4 class="promo-features__item-title">Автоматический выбор режима</h4>
                        <div class="promo-features__item-note">
                            Кондиционер выберет режим
                            в&nbsp;зависимости&nbsp;от&nbsp;разности температур
                            в&nbsp;помещении и&nbsp;установленной на&nbsp;пульте,
                            обеспечивая экономию потребляемой электроэнергии.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/icon_features-damper.svg"
                                 alt="Запоминание положения заслонки">
                        </div>
                        <h4 class="promo-features__item-title">Запоминание положения заслонки</h4>
                        <div class="promo-features__item-note">
                            Кондиционер начинает работу с тем
                            положением&nbsp;заслонки, которое было до&nbsp;выключения.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/icon_features-reboot.svg"
                                 alt="Автоматический перезапуск">
                        </div>
                        <h4 class="promo-features__item-title">Автоматический перезапуск</h4>
                        <div class="promo-features__item-note">
                            Автоматическое возобновление работы
                            после&nbsp;устранения&nbsp;сбоя<br>электроснабжения.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/icon_features-diagnostic.svg"
                                 alt="Самодиагностика">
                        </div>
                        <h4 class="promo-features__item-title">Самодиагностика</h4>
                        <div class="promo-features__item-note">
                            Предотвращает выход оборудования<br>из строя.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/icon_features-leak.svg"
                                 alt="Утечка хладагента">
                        </div>
                        <h4 class="promo-features__item-title">Утечка хладагента</h4>
                        <div class="promo-features__item-note">
                            При обнаружении утечки кондиционер
                            выключится, на&nbsp;дисплее&nbsp;появится<br>
                            сообщение.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/icon_features-lightoff.svg"
                                 alt="Отключение свечения дисплея">
                        </div>
                        <h4 class="promo-features__item-title">Отключение свечения дисплея</h4>
                        <div class="promo-features__item-note">
                            Дисплей отключается пультом<br>управления.
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- END promo-features -->

        <section class="promo-control">

            <div class="promo-control__text">
                <div class="promo-text">
                    <div class="promo-text__type">Управление</div>
                    <h3 class="promo-text__title">Беспроводной пульт управления с LCD-дисплеем </h3>
                </div>
            </div>
            <div class="promo-control__right">
                <div class="promo-control__stand">
                    <div class="promo-control__stand-pult" id="pult"></div>
                    <div class="promo-control__stand-side"></div>
                </div>
            </div>

        </section><!-- END promo-control -->

        <section class="promo-certs">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                </div>
                <ul class="promo-certs__docs">
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Чертежи</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи Axioma</span>
                                <span class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Инструкции</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span>
                                <span class="icon icon-pdf"></span></a><br>
                            <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span>
                                <span class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Сертификаты</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span
                                    class="text-solid">Декларация соответствия Axioma</span> <span
                                    class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- END promo-certs -->
        <section class="promo-press">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Публикации</h3>
                </div>
                <div class="promo-press__line">
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Axioma</h4>
                            <div class="promo-press__item-note">
                                Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все
                                отличия внутри.
                                Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том
                                и есть...
                            </div>
                            <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                            <div class="promo-press__item-note">
                                Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                производит и продает климатическое оборудование по всему миру и обеспечение
                                клиента безопасной высококачественной...
                            </div>
                            <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем
                                Daikin</h4>
                            <div class="promo-press__item-note">
                                Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                уровнем производительности...
                            </div>
                            <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- END promo-press -->

        <section class="promo-buy">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Axioma<br><span>Новое слово в кондиционировании</span></h3>
                </div>
                <a class="btn promo-buy__btn" href="#">Где купить</a>
                <img src="img/inhtml/axioma_pink.png" class="promo-buy__image" alt="Axioma">
            </div>
        </section><!-- END promo-buy -->

        <section class="promo-similar">
            <div class="container">
                <div class="promo-similar__half to-left">
                    <div class="promo-similar__back"></div>
                    <div class="promo-similar__front">
                        <div class="promo-similar__type">Сплит-системы</div>
                        <h4 class="promo-similar__title">Daikin FTYN</h4>
                        <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                        <i class="promo-similar__arrow"></i>
                        <a class="promo-similar__link" href="#"></a>
                    </div>
                </div>
                <div class="promo-similar__half to-right">
                    <div class="promo-similar__back"></div>
                    <div class="promo-similar__front">
                        <div class="promo-similar__type">Сплит-системы</div>
                        <h4 class="promo-similar__title">Daikin FTXS</h4>
                        <img class="promo-similar__img" src="img/daikin_ftxs.png" alt="Daikin FTXS">
                        <i class="promo-similar__arrow"></i>
                        <a class="promo-similar__link" href="#"></a>
                    </div>
                </div>
            </div>
        </section><!-- END promo-similar -->

    </main><!-- END page -->
    <script type="text/javascript">
        function pultParallax() {
            var pult = $("#pult")
            $(window).scroll(function () {
                var finish = pult.offset().top - $(window).height() + pult.outerHeight() / 2;
                var start = pult.offset().top + pult.outerHeight() / 2;

                var P = (pult.height() / 3) * ($(document).scrollTop() - start) / (finish - start);
                if ((P < (pult.height() / 5)) && (P > 0)) {
                    pult.css({
                        'bottom': P + 'px'
                    });
                } else if (P < 0) {
                    pult.css({
                        'bottom': 0 + 'px'
                    });
                }
            });
        }
        $(window).load(pultParallax);
    </script>
    @@include('template/footer.html')
</div><!-- END wrap-main -->

@@include('template/foot.html')
</body>
</html>
