@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "black",
            "color_modificator": "header-desktop_dark-blue header-desktop_black"
        })

        <main class="page promo-page">
            <section class="promo-banner promo-banner_dark-bluepage">
                <div class="container">
                    <h1 class="promo-banner__title">Daikin FTXB-C</h1>
                    <div class="promo-banner__lead promo-banner__lead_bluepage promo-banner__lead_white">Оптимальный комфорт</div>
                    <div class="promo-banner__btns">
                        <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span class="icon icon-video"></span></button>
                        <a class="btn btn_large mb0" href="#">Где купить</a>
                    </div>
                    <img class="promo-banner__img promo-banner__img_daikin" src="img/inhtml/promo_daikin.png" alt="Daikin FTXB-C">
                    <a href="#promo-traits" class="promo-banner__down" role="button"></a>
                </div>
            </section><!-- END main-banner -->

            <section id="promo-traits" class="promo-traits promo-traits_daikin">
                <div class="container">
                    <div class="promo-text promo-text_daikin">
                    <div class="promo-text__type promo-text__type_bluepage">Самая популярная модель Daikin</div>
                    <h3 class="promo-text__title promo-text__title_daikin">Оптимальный комфорт <br> в любых условиях</h3>
                    <div class="promo-text__note">
                        Кондиционер Daikin FTXB — это инверторная модель, которая отличается конкурентной ценой, низким уровнем шума и качественной сборкой. Лидер продаж среди кондиционеров Daikin.
                    </div>
                </div>
                    <ul class="promo-traits__advantages promo-traits__advantages_daikin">
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-class"><span>A+</span></div>
                            <div class="promo-traits__advantages-note">Класс сезонной<br> энергоэффективности</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">21<sub>dB(A)</sub></div>
                            <div class="promo-traits__advantages-note">Низкий<br> уровень шума</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <img src="img/svg/icon_man.svg" alt="Комфортное воздухораспределение">
                            <div class="promo-traits__advantages-note">Комфортное <br> воздухораспределение</div>
                        </li>
                    </ul>

                    <!-- Изображения -->
                    <div class="promo-bigimage promo-bigimage_daikin">
                        <div class="promo-bigimage-pult">
                            <img src="img/inhtml/daikin_ftxb_pult.png" class="slideInUp wow promo-pult" alt="Pult">
                        </div>
                        <div class="promo-bigimage-product">
                            <img src="img/inhtml/daikin_ftxb.png" alt="Daikin">
                        </div>
                    </div>

                    <div class="promo-traits__block">
                        <div class="promo-traits__column-left">
                            <div class="promo-traits__row promo-traits__row-thumb  promo-traits__row-model">
                                <div class="promo-traits__row-data">
                                    Модель
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Рекомендуемая <br> площадь помещения, м<sup>2</sup>
                                </div>
                            </div>
                            <div class="promo-traits__row ">
                                <div class="promo-traits__row-data">
                                    Холодопроизводительность,<br>
                                    кВт
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    SEER / Класс
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-right">
                            <div class="promo-traits__slider">
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/daikin_thumb.png"
                                                 alt="FTXG/RXG-L">
                                            <strong><strong>FTXB20C</strong></strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            5,98 / A+
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/daikin_thumb.png"
                                                 alt="FTXG/RXG-L">
                                            <strong><strong>FTXB25C</strong></strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            25
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            2,5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            6,02 / A+
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/daikin_thumb.png"
                                                 alt="FTXG/RXG-L">
                                            <strong><strong>FTXB20C</strong></strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            5,98 / A+
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>
                </div>
            </section><!-- END promo-traits -->

            <section class="promo-daikin-design">
                <div class="promo-gradient promo-gradient_daikin">
                    <div class="promo-text">
                        <div class="promo-text__type">Дизайн</div>
                        <h3 class="promo-text__title">Элегантный <br>и сдержанный</h3>
                        <div class="promo-text__note">
                            Внутренний блок легко вписывается в любой интерьер. Плоская лицевая панель может быть матовой (20, 25, 35 модели) или глянцевой (50, 60 модели).
                        </div>
                    </div>
                </div>
            </section><!-- END promo-design -->

            <section class="promo-comfort promo-comfort_daikin">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Комфорт</div>
                        <h3 class="promo-text__title">Чистый воздух</h3>
                        <div class="promo-text__note">
                            Титано-апатитовый дезодорирующий фильтр Daikin удаляет содержащиеся в воздухе частицы пыли и неприятные запахи, например, табака, домашних животных. Он также улавливает и нейтрализует вредные органические вещества, микроорганизмы и аллергены
                        </div>
                    </div>

                    <div class="promo-properties">
                        <div class="promo-properties__column promo-properties__column_img">
                            <img src="img/inhtml/promo_daikin_feature.png" alt="">
                        </div>
                        <div class="promo-properties__column promo-properties__column_properties">
                            <ul class="promo-properties-list">
                                <li class="promo-properties-list__item">
                                    <img class="promo-properties-list__img" src="img/svg/icon_turbo.svg" alt="">

                                    <p>С помощью режима «Турбо» <br> можно быстро нагреть <br> или охладить помещение.</p>
                                </li>
                                <li class="promo-properties-list__item">
                                    <img class="promo-properties-list__img" src="img/svg/icon_damper.svg" alt="">

                                    <p>Автоматическое изменение <br> положения заслонок <br> обеспечивает эффективное <br> перемешивание воздуха <br> и равномерное распределение <br> температуры.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-comfort -->

            <section class="promo-features promo-features_daikin">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Особенности</div>
                        <h3 class="promo-text__title">Комфортная атмосфера <br>в любое время</h3>
                    </div>
                    <ul class="promo-features__list promo-features__list_daikin">
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features_inverter-control.svg" alt="Инверторная технология">
                            </div>
                            <h4 class="promo-features__item-title">Инверторная технология</h4>
                            <div class="promo-features__item-note">
                                Обеспечивает быстрое создание и сохранение комфортных условий, <br> а также экономит электроэнергию <br> и снижает уровень шума.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features_energy.svg" alt="Сезонная энергоэффективность">
                            </div>
                            <h4 class="promo-features__item-title">Сезонная энергоэффективность</h4>
                            <div class="promo-features__item-note">
                                Весь модельный ряд относится <br> к классу высокой сезонной <br> энергоэффективности А+.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_air-distribution.svg" alt="Комфортное воздухораспределение">
                            </div>
                            <h4 class="promo-features__item-title">Комфортное воздухораспределение</h4>
                            <div class="promo-features__item-note">
                                Благодаря непрерывному движению заслонок кондиционер будет автоматически перемешивать воздух <br> в помещении.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_performance.svg" alt="Повышенная производительность">
                            </div>
                            <h4 class="promo-features__item-title">Повышенная производительность</h4>
                            <div class="promo-features__item-note">
                                Позволяет быстрее достичь <br> комфортного микроклимата <br> при включении.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_dream.svg" alt="Комфортный сон">
                            </div>
                            <h4 class="promo-features__item-title">Комфортный сон</h4>
                            <div class="promo-features__item-note">
                                Обеспечивает комфортные условия <br> в ночное время за счет плавного изменения температуры.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_economical-work.svg" alt="Режим экономичной работы">
                            </div>
                            <h4 class="promo-features__item-title">Режим экономичной работы</h4>
                            <div class="promo-features__item-note">
                                Позволяет снизить энергопотребление кондиционера, сохранив при этом комфорт в помещении.
                            </div>
                        </li>
                    </ul>
                    <div class="promo-features__more">
                        <a class="promo-page__link" href="#">Все преимущества</a>
                    </div>
                </div>
            </section><!-- END promo-features -->

            <section>
                <div class="promo-text promo-text_daikin-control">
                    <div class="promo-text__type">Управление</div>
                    <h3 class="promo-text__title">Просто и безопасно</h3>

                    <div class="promo-text__note">
                        Удобный инфракрасный пульт дистанционного управления управляет кондиционером и позволяет программировать время включенияи выключения блока.
                    </div>
                </div>

                <div class="daikin-control">
                    <div class="daikin-control__column daikin-control__column_list">
                        <ul class="daikin-control-list">
                            <li class="daikin-control-list__item">
                                <img src="img/daikin_control-switch.png" alt="" class="daikin-control-list__img">

                                <p class="daikin-control-list__description">Управление одним касанием <br> осуществляется нажатием <br> клавиши включения на пульте <br> и активизирует те же настройки <br> кондиционера, которые <br> действовали до его выключения.</p>
                            </li>
                            <li class="daikin-control-list__item">
                                <img src="img/daikin_pult.png" alt="" class="daikin-control-list__img">

                                <p class="daikin-control-list__description">Поверхность пульта <br> дистанционного управления <br> защищена антибактериальным <br> покрытием.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="daikin-control__column daikin-control__column_img">
                        <img src="img/daikin_control.jpg" alt="">
                    </div>
                </div>
            </section><!-- END promo-control -->
            
            <section class="promo-work">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Работает <br> практически бесшумно</h3>
                        <div class="promo-text__note">
                            Благодаря снижению уровня звукового давления, кондиционер обеспечивает минимальный уровень шума, что гарантирует вам спокойный сон по ночам.
                        </div>
                    </div>

                    <div class="noise-level">
                        <div class="noise-level__content">
                            <div class="noise-level__title">21&nbsp;<span class="noise-level__unit">dB(A)</span></div>
                            <div class="noise-level__notice">Уровень шума <br> внутреннего блока</div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-gauge -->

            <section class="promo-certs">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                    </div>
                    <ul class="promo-certs__docs">
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Чертежи</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи FTXG-LW</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Инструкции</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span> <span class="icon icon-pdf"></span></a><br>
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Сертификаты</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Декларация соответствия FTXJ-MW</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-certs -->

            <section class="promo-press">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Публикации</h3>
                    </div>
                    <div class="promo-press__line">
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Daikin Emura</h4>
                                <div class="promo-press__item-note">
                                    Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все отличия внутри.
                                    Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том и есть...
                                </div>
                                <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                                <div class="promo-press__item-note">
                                    Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                    производит и продает климатическое оборудование по всему миру и обеспечение
                                    клиента безопасной высококачественной...
                                </div>
                                <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем Daikin</h4>
                                <div class="promo-press__item-note">
                                    Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                    Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                    уровнем производительности...
                                </div>
                                <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-press -->

            <section class="promo-buy promo-buy_daikin" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Daikin FTXB-С</h3>
                        <h4 class="promo-text__subtitle">Оптимальный комфорт.</h4>
                    </div>
                    <a class="btn promo-buy__btn" href="#">Где купить</a>
                </div>
            </section><!-- END promo-buy -->

            <section class="promo-similar">
                <div class="container">
                    <div class="promo-similar__half to-left">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTYN</h4>
                            <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-similar__half to-right">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Kentatsu Mark II</h4>
                            <img class="promo-similar__img" src="img/kentatsu_mark.png" alt="Kentatsu Mark">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-similar -->

        </main><!-- END page -->

		@@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
