@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "black",
            "color_modificator": "header-desktop_black"
        })

        <main class="page promo-page">

            <section class="promo-banner">
                <div class="container">
                    <h1 class="promo-banner__title">Daikin Emura</h1>
                    <div class="promo-banner__lead">Действительно красивые кондиционеры.</div>
                    <div class="promo-banner__btns">
                        <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span class="icon icon-video"></span></button>
                        <a class="btn btn_large mb0" href="#">Где купить</a>
                    </div>
                    <img class="promo-banner__img" src="img/inhtml/promo_emura.jpg" alt="Daikin Emura">
                    <a href="#promo-traits" class="promo-banner__down" role="button"></a>
                </div>
            </section><!-- END main-banner -->

            <section id="promo-traits" class="promo-traits">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Энергоэффективность</div>
                        <h3 class="promo-text__title">Максимальная производительность</h3>
                        <div class="promo-text__note">
                            Daikin Emura имеет потрясающе низкий уровень шума, а&nbsp;также лучшую
                            энергоэффективность среди конкурентов, являясь самым экономичным кондиционером
                            на&nbsp;российском рынке. 2&nbsp;типа блоков FTXG/RXG-L <span class="mod-nowrap">и FTXJ-M/RXJ-M</span>, работающие на&nbsp;разных
                            типах фреона (хладагентах), являются образцом сочетания дизайна и&nbsp;передовых&nbsp;технологий.
                        </div>
                    </div>
                    <ul class="promo-traits__advantages">
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-class"><span>A+++</span></div>
                            <div class="promo-traits__advantages-note">Класс сезонной<br> энергоэффективности</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">19<sub>dB(A)</sub></div>
                            <div class="promo-traits__advantages-note">Очень низкий<br> уровень шума</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">-10<i>...</i>46<sup>&deg;C</sup></div>
                            <div class="promo-traits__advantages-note">Широкий рабочий<br> диапазон температур</div>
                        </li>
                    </ul>
                    <img class="promo-traits__product" src="img/inhtml/daikin_pult.jpg" alt="Daikin Emura">
                    <table class="promo-traits__table">
                        <tr>
                            <td class="promo-traits__table-cell is-grey">Модель</td>
                            <td class="promo-traits__table-cell">
                                <img class="promo-traits__table-thumb" src="./img/inhtml/thumb.jpg" alt="FTXG/RXG-L">
                                <div class="promo-traits__table-mob-label">Модель</div>
                                <div class="promo-traits__table-name">FTXG/RXG-L</div>
                            </td>
                            <td class="promo-traits__table-cell">
                                <img class="promo-traits__table-thumb" src="./img/inhtml/thumb.jpg" alt="FTXJ-M/RXJ-M">
                                <div class="promo-traits__table-mob-label"> </div>
                                <div class="promo-traits__table-name">FTXJ-M/RXJ-M</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="promo-traits__table-cell is-grey">Тип фреона</td>
                            <td class="promo-traits__table-cell">
                                <div class="promo-traits__table-mob-label">Тип фреона</div>
                                R-410A
                            </td>
                            <td class="promo-traits__table-cell">R-32</td>
                        </tr>
                        <tr>
                            <td class="promo-traits__table-cell is-grey">SEER A+++</td>
                            <td class="promo-traits__table-cell">
                                <div class="promo-traits__table-mob-label">SEER A+++</div>
                                8,57
                            </td>
                            <td class="promo-traits__table-cell">8,73</td>
                        </tr>
                    </table>
                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>
                </div>
            </section><!-- END promo-traits -->

            <section class="promo-design">
                <div class="promo-gradient">
                    <div class="promo-text">
                        <div class="promo-text__type">Дизайн</div>
                        <h3 class="promo-text__title">Элегантный <br>и утонченный</h3>
                        <div class="promo-text__note">
                            Стильный силуэт с&nbsp;изогнутыми контурами, высококачественные материалы
                            и&nbsp;превосходная отделка идеально дополняют современные интерьеры. Daikin
                            Emura поставляется с&nbsp;кристально белой или&nbsp;серебристой поверхностью.
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="promo-design__tabs">
                        <div class="promo-design__tabs-imgs js-tabs-body">
                            <img id="tab-silver" class="promo-design__tabs-img js-tabs-item is-active" src="img/inhtml/daikin_silver.png" alt="Daikin Emura">
                            <img id="tab-white" class="promo-design__tabs-img js-tabs-item" src="img/inhtml/daikin_white.png" alt="Daikin Emura">
                        </div>
                        <ul class="promo-design__tabs-list js-tabs-head">
                            <li class="promo-design__tabs-color js-tabs-link is-active" data-tab="tab-silver">
                                <span style="background: #cad1d6; border-color: #cad1d6"></span>Серебристый
                            </li>
                            <li class="promo-design__tabs-color js-tabs-link" data-tab="tab-white">
                                <span style="background: #fff; border-color: #cad1d6"></span>Белый
                            </li>
                        </ul>
                    </div>
                    <div class="promo-design__awards">
                        <h4 class="promo-design__awards-title">За&nbsp;отличный дизайн Daikin&nbsp;Emura <br>получил множество наград</h4>
                        <ul class="promo-design__awards-list">
                            <li><img src="img/inhtml/gda.png" alt="Awards"></li>
                            <li><img src="img/inhtml/da.png" alt="Awards"></li>
                            <li><img src="img/inhtml/reddot.png" alt="Awards"></li>
                            <li><img src="img/inhtml/focus.png" alt="Awards"></li>
                            <li><img src="img/inhtml/german_award.png" alt="Awards"></li>
                        </ul>
                    </div>
                </div>
            </section><!-- END promo-design -->

            <section class="promo-comfort">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Комфорт</div>
                        <h3 class="promo-text__title">Интеллектуальный <br>2-х зонный датчик</h3>
                        <div class="promo-text__note">
                            Кондиционер оснащен датчиком движения Intelligent&nbsp;Eye, который экономит электроэнергию
                            приблизительно на&nbsp;80%. Если&nbsp;в&nbsp;течение 20&nbsp;минут в&nbsp;помещении отсутствую люди, система
                            перейдет в&nbsp;режим ожидания. Кроме этого, датчик также фиксирует, в&nbsp;какой именно части
                            помещения находятся люди, и&nbsp;не&nbsp;будет направлять в&nbsp;их&nbsp;сторону поток холодного воздуха.
                        </div>
                    </div>
                </div>
            </section><!-- END promo-comfort -->

            <section class="promo-features">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type promo-text__type_black">Особенности</div>
                        <h3 class="promo-text__title">Комфортная атмосфера <br>в любое время</h3>
                    </div>
                    <ul class="promo-features__list">
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features-filter.svg" alt="Фильтрация воздуха">
                            </div>
                            <h4 class="promo-features__item-title">Фильтрация воздуха</h4>
                            <div class="promo-features__item-note">
                                Уникальный титано-апатитовый фотокаталитический фильтр удаляет содержащиеся
                                в&nbsp;воздухе частицы пыли и&nbsp;неприятные запахи, бактерии, вирусы и&nbsp;аллергены, делая воздух чистым.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features-moon.svg" alt="Комфортный сон">
                            </div>
                            <h4 class="promo-features__item-title">Комфортный сон</h4>
                            <div class="promo-features__item-note">
                                Благодаря специально разработанной программе, ваш&nbsp;кондиционер будет создавать
                                идеальные условия для&nbsp;комфортного сна, регулируя температуру специальным образом.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features-clear.svg" alt="Очистка воздуха">
                            </div>
                            <h4 class="promo-features__item-title">Очистка воздуха</h4>
                            <div class="promo-features__item-note">
                                Воздушные фильтры кондиционера эффективно удаляют частицы пыли, содержащиеся в&nbsp;воздухе,
                                обеспечивая стабильное снабжение чистым воздухом.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features-lightning.svg" alt="Режим экономии">
                            </div>
                            <h4 class="promo-features__item-title">Режим экономии</h4>
                            <div class="promo-features__item-note">
                                Кондиционер будет тратить минимум электроэнергии, становясь практически
                                бесшумным, при&nbsp;этом точно поддерживая микроклимат в&nbsp;помещении.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features-rotation.svg" alt="Циркуляция воздуха">
                            </div>
                            <h4 class="promo-features__item-title">Циркуляция воздуха</h4>
                            <div class="promo-features__item-note">
                                Благодаря непрерывному перемещению заслонок, кондиционер будет автоматически
                                перемешивать воздух в&nbsp;помещении, создавая более комфортные условия.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <div class="promo-features__item-pict">
                                <img class="promo-features__item-img" src="img/svg/icon_features-water.svg" alt="Регулирование воздуха">
                            </div>
                            <h4 class="promo-features__item-title">Регулирование воздуха</h4>
                            <div class="promo-features__item-note">
                                Кондиционер может поддерживать влажность в&nbsp;пределах 35-60%,
                                с&nbsp;минимальным изменением температуры в&nbsp;помещении.
                            </div>
                        </li>
                    </ul>
                    <div class="promo-features__more">
                        <a class="promo-page__link" href="#">Все преимущества</a>
                    </div>
                </div>
            </section><!-- END promo-features -->

            <section class="promo-control">
                <div class="promo-control__text">
                    <div class="promo-text">
                        <div class="promo-text__type">Управление</div>
                        <h3 class="promo-text__title">Доступ <br>из любой точки</h3>
                        <div class="promo-text__note">
                            Опция Online Controller позволяет управлять системой Daikin Emura со&nbsp;смартфона
                            или&nbsp;планшета. Опцию легко установить во&nbsp;внутреннем блоке,
                            а&nbsp;функция WPS позволяет легко подключаться к&nbsp;домашней&nbsp;сети.
                        </div>

                        <ul class="promo-usability-list">
                            <li class="promo-usability-list__item">
                                <img class="promo-usability-list__img" src="img/svg/mac.svg" alt="Mac">
                            </li>
                            <li class="promo-usability-list__item">
                                <img class="promo-usability-list__img" src="img/svg/ipad.svg" alt="iPad">
                            </li>
                            <li class="promo-usability-list__item">
                                <img class="promo-usability-list__img" src="img/svg/iphone.svg" alt="iPhone">
                            </li>
                        </ul>
                        <!-- <img class="promo-text__img" src="img/control-online.png" alt="Опция Online Controller"> -->
                    </div>
                </div>
                <div class="promo-control__pict">
                    <img class="promo-control__img" src="img/control-tablet.jpg" alt="Daikin управление">
                </div>
            </section><!-- END promo-control -->

            <section class="promo-online">
                <div class="container">
                    <div class="promo-text">
                        <img class="promo-text__logo" src="img/controller_logo.jpg" alt="Daikin Online Controller">
                        <h3 class="promo-text__title">Daikin Online Controller</h3>
                        <div class="promo-text__note">
                            Приложение позволяет дистанционно управлять внутренним блоком, а&nbsp;также&nbsp;собирать
                            данные об&nbsp;энергопотреблении. Бесплатное приложение доступно для&nbsp;устройств на&nbsp;Android&nbsp;и&nbsp;IOS.
                        </div>
                    </div>
                    <div class="promo-online__btns">
                        <a class="promo-online__btn" href="#" target="_blank"><img src="img/google_play.png" alt="Google-play"></a>
                        <a class="promo-online__btn" href="#" target="_blank"><img src="img/app_store.png" alt="App-store"></a>
                    </div>
                </div>
                <div class="promo-online__pict">
                    <img class="promo-online__img" src="img/control_app.jpg" alt="Полный контроль">
                </div>
            </section><!-- END promo-online -->

            <section class="promo-desk">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Полный контроль</h3>
                        <div class="promo-text__note">
                            Инфракрасный пульт обеспечит быстрый доступ к&nbsp;управлению, а&nbsp;с&nbsp;помощью проводного пульта
                            можно регулировать работу одного или&nbsp;сразу нескольких кондиционеров.
                        </div>
                    </div>
                </div>
                <div class="promo-desk__row">
                    <div class="promo-desk__col">
                        <img class="promo-desk__img" src="img/control_01.jpg" alt="Полный контроль">
                    </div>
                    <div class="promo-desk__col">
                        <img class="promo-desk__img" src="img/control_02.jpg" alt="Полный контроль">
                    </div>
                </div>
            </section><!-- END promo-desk -->

            <section class="promo-details">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type promo-text__type_black">Детали</div>
                        <h3 class="promo-text__title">Внимание к мелочам</h3>
                        <div class="promo-text__note">
                            Внутренний блок сужен по&nbsp;краям и&nbsp;имеет небольшое расширение посередине. Данное
                            технологическое решение позволило добиться узкого&nbsp;профиля корпуса. А&nbsp;обтекаемая
                            аэродинамичная форма и&nbsp;роскошная отделка подчеркивают изысканный дизайн.
                        </div>
                    </div>
                    <div class="promo-details__body">
                        <div class="promo-details__pict">
                            <canvas class="promo-details__canvas js-promo-details__canvas"></canvas>
                            <img src="img/detail_img.jpg" class="promo-details__img promo-details__img_effect js-promo-details__effect" data-mask="img/detail_img_mask.jpg" data-noise="img/noise.png" />
                        </div>
                        <ul class="promo-details__list">
                            <li class="promo-details__item">
                                <img class="promo-details__item-img" src="img/detail_1.png" alt="Воздухозаборная решетка">
                                <div class="promo-details__item-note">
                                    Воздухозаборная решетка <br> расположена сверху <br> и совершенно незаметна.
                                </div>
                            </li>
                            <li class="promo-details__item">
                                <img class="promo-details__item-img" src="img/detail_2.png" alt="Лицевая панель">
                                <div class="promo-details__item-note">
                                    Лицевая панель поднимается во&nbsp;время <br> работы, что позволяет устанавливать <br>
                                    внутренний блок на&nbsp;расстоянии всего <br> 3&nbsp;см&nbsp;от&nbsp;потолка.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section><!-- END promo-details -->

            <section class="promo-gauge">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Индикатор работы</h3>
                        <div class="promo-text__note">
                            Утонченный дизайн индикатора работы и&nbsp;датчика температуры —
                            это&nbsp;те&nbsp;детали, которые делают внешний вид Daikin Emura особенным.
                        </div>
                    </div>
                </div>
            </section><!-- END promo-gauge -->

            <section class="promo-certs">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                    </div>
                    <ul class="promo-certs__docs">
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Чертежи</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи FTXG-LW</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Инструкции</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span> <span class="icon icon-pdf"></span></a><br>
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Сертификаты</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Декларация соответствия FTXJ-MW</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-certs -->

            <section class="promo-press">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Публикации</h3>
                    </div>
                    <div class="promo-press__line">
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Daikin Emura</h4>
                                <div class="promo-press__item-note">
                                    Внешне бытовые инверторные сплит-системы ничем не&nbsp;отличают от&nbsp;неинверторных — все&nbsp;отличия внутри.
                                    Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как&nbsp;раз в&nbsp;том и&nbsp;есть...
                                </div>
                                <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                                <div class="promo-press__item-note">
                                    Daikin — транснациональная корпорация, основанная в Японии. В&nbsp;настоящее время
                                    производит и&nbsp;продает климатическое оборудование по&nbsp;всему миру и&nbsp;обеспечение
                                    клиента безопасной высококачественной...
                                </div>
                                <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем Daikin</h4>
                                <div class="promo-press__item-note">
                                    Знакомимся с&nbsp;актуальной линейкой кондиционеров (работающих на&nbsp;охлаждение и&nbsp;обогрев) —
                                    Daikin Emura. В&nbsp;ней представлены несколько инверторных моделей, которые отличаются
                                    уровнем производительности...
                                </div>
                                <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-press -->

            <section class="promo-buy" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Daikin Emura. <br>Эталон комфорта</h3>
                    </div>
                    <a class="btn promo-buy__btn" href="#">Где купить</a>
                </div>
            </section><!-- END promo-buy -->

            <section class="promo-similar">
                <div class="container">
                    <div class="promo-similar__half to-left">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTYN</h4>
                            <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-similar__half to-right">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTXS</h4>
                            <img class="promo-similar__img" src="img/daikin_ftxs.png" alt="Daikin FTXS">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-similar -->

        </main><!-- END page -->

		@@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
