@@include('template/head.html')

<body>
    @@include('template/old_ie_update.html') @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', { "color": "black", "color_modificator": "header-desktop_radialbluegray header-desktop_blue" })

        <main class="page promo-page promo-page_midea-blanc">

            <section class="promo-banner promo-banner_radial-bluegraypage">
                <div class="container">
                    <h1 class="promo-banner__title">Midea Blanc</h1>
                    <div class="promo-banner__lead">Комфорт с чистого листа</div>
                    <div class="promo-banner__btns">
                        <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span
                            class="icon icon-video"></span></button>
                        <a class="btn btn_large mb0" href="#">Где купить</a>
                    </div>
                    <img class="promo-banner__img" src="img/inhtml/promo_midea_blanc.png" alt="Midea Blanc">
                    <a href="#promo-traits" class="promo-banner__down" role="button"></a>
                </div>
            </section>
            <!-- END main-banner -->

            <section id="promo-traits" class="promo-traits">
                <div class="container">
                    <div class="promo-text promo-text_black">
                        <div class="promo-text__type promo-text__type_black">Характеристики</div>
                        <h3 class="promo-text__title">Вдохновение<br> от природы</h3>
                        <div class="promo-text__note">
                            Современные технологии и стильный дизайн объединились, чтобы воплотиться&nbsp;в&nbsp;сплит&nbsp;системах&nbsp;Midea&nbsp;Blanc.&nbsp;Встречайте&nbsp;в&nbsp;вашем&nbsp;доме&nbsp;легкость: свежесть и прохладу самой природы.
                        </div>
                    </div>
                    <ul class="promo-traits__advantages">
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-icon"><img src="img/svg/wifi.svg" alt=""></div>
                            <div class="promo-traits__advantages-note">Управление по Wi-fi</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-icon"><img src="img/svg/warning.svg" alt=""></div>
                            <div class="promo-traits__advantages-note">Обнаружение утечки хладагента</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-icon"><img src="img/svg/turbo.svg" alt=""></div>
                            <div class="promo-traits__advantages-note">Turbo-режим</div>
                        </li>
                    </ul>
                    <!-- Изображения -->
                    <div class="promo-bigimage">
                        <div class="promo-bigimage-left">
                            <img src="img/inhtml/midea_blanc_big.jpg" alt="Axioma">
                        </div>
                        <div class="promo-bigimage-right">
                            <img src="img/inhtml/midea_blanc_pult.jpg" class="slideInUp wow promo-pult" alt="Pult">
                        </div>
                    </div>
                    <!-- /Изображения -->
                    <img class="promo-traits__image" src="img/inhtml/inverter_tech.jpg" alt="Inverter">
                    <!-- Модели с инверторной технологией -->
                    <div class="promo-traits__desc-block">
                        <h4 class="promo-traits__title">Модели с инверторной технологией</h4>
                        <div class="promo-traits__description">
                            Инверторные модели Blanc обеспечивают повышенный уровень комфорта благодаря точному поддержанию температуры, а также существенно снижают расходы электроэнергии. DC&nbsp;inverter&nbsp;-&nbsp;современный&nbsp;и&nbsp;надежный&nbsp;компрессор, который увеличивает
                            эффективность работы&nbsp;кондиционера.
                        </div>
                    </div>
                    <div class="promo-traits__block">
                        <div class="promo-traits__column-left">
                            <div class="promo-traits__row promo-traits__row-thumb ">
                                <div class="promo-traits__row-data">
                                    Модель
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Для помещения площадью
                                    <br>м<sup>2</sup>
                                </div>
                            </div>
                            <div class="promo-traits__row ">
                                <div class="promo-traits__row-data">
                                    Холодопроизводительность
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Класс энергоэффективности
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-left_mobile">
                            <div class="promo-traits__row promo-traits__row-thumb ">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Модель</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup></div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Холодопроизводительность</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Класс энергоэффективности</div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-right">
                            <div class="promo-traits__slider">
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-07HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            18
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            2,64
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-09HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            18
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            2,64
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-10HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-11HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            20
                                        </div>

                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>

                    <!-- Модели со стандартной технологией -->
                    <div class="promo-traits__desc-block promo-traits__desc-block_ident">
                        <h4 class="promo-traits__title">Модели со стандартной технологией</h4>
                    </div>

                    <div class="promo-traits__block">
                        <div class="promo-traits__column-left">
                            <div class="promo-traits__row promo-traits__row-thumb ">
                                <div class="promo-traits__row-data">
                                    Модель
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Для помещения площадью
                                    <br>м<sup>2</sup>
                                </div>
                            </div>
                            <div class="promo-traits__row ">
                                <div class="promo-traits__row-data">
                                    Холодопроизводительность
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    Класс энергоэффективности
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-left_mobile">
                            <div class="promo-traits__row promo-traits__row-thumb ">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Модель</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup></div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Холодопроизводительность</div>
                                </div>
                            </div>
                            <div class="promo-traits__row">
                                <div class="promo-traits__row-data">
                                    <div class="promo-traits__table-mob-label">Класс энергоэффективности</div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__column-right">
                            <div class="promo-traits__slider">
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-07HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            18
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            2,64
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-09HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            18
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            2,64
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-10HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            20
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="promo-traits__cell">
                                    <div class="promo-traits__row promo-traits__row-thumb">
                                        <div class="promo-traits__row-data">
                                            <img class="promo-traits__thumb" src="./img/inhtml/midea_blanc_thumb.jpg" alt="FTXG/RXG-L">
                                            <div class="promo-traits__table-mob-label">Модель</div>
                                            <strong>MSMAAU-11HRDN1</strong>
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Для помещения площадью м<sup>2</sup>
                                            </div>
                                            20
                                        </div>

                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">Холодопроизводительность,<br> охлаждение / нагрев,кВт
                                            </div>
                                            5
                                        </div>
                                    </div>
                                    <div class="promo-traits__row">
                                        <div class="promo-traits__row-data">
                                            <div class="promo-traits__table-mob-label">
                                                Класс энергоэффективности
                                            </div>
                                            A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>
                </div>
            </section>
            <!-- END promo-traits -->

            <section class="promo-design">
                <div class="promo-gradient">
                    <div class="promo-text">
                        <div class="promo-text__type">Дизайн</div>
                        <h3 class="promo-text__title">Изящный <br>и привлекательный</h3>
                        <div class="promo-text__note">
                            Приятные плавные формы и минималистичное оформление делают блок универсальным решением для любого интерьера.
                        </div>
                    </div>
                </div>

                <div class="promo-design__main-photo">
                    <div class="promo-design__container">
                        <img src="./img/inhtml/midea_blanc_design.png" alt="Midea Blanc">
                    </div>
                </div>

                <div class="container">
                    <div class="promo-design-details">
                        <h3 class="promo-design-details__title">Оригинальное дизайнерское решение</h3>
                        <div class="promo-design-details__note">
                            Наших дизайнеров вдохновила сама природа. Поэтому рельеф боковых сторон блока напоминает форму морской волны.
                        </div>
                        <div class="promo-design-details__wave"></div>
                    </div>
                </div>

            </section>
            <!-- END promo-design -->


            <section class="promo-midea-advantages">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type promo-text__type_daikin">Особенности</div>
                        <h3 class="promo-text__title">Комфортная атмосфера <br> в любое время</h3>
                    </div>

                    <ul class="promo-advantages-list">
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s">
                            <img src="img/svg/icon_follow.svg" alt="" class="promo-advantages-list__img">
                            <h4 class="promo-advantages-list__title">Режим Follow-me</h4>

                            <p class="promo-advantages-list__note">Используется датчик температуры, встроенный в пульт дистанционного управления. Блок автоматически изменяет режим работы, как будто кондиционер находится рядом с вами.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/svg/icon_selfcleaning.svg" alt="" class="promo-advantages-list__img"></div>
                            <h4 class="promo-advantages-list__title">Самоочистка</h4>

                            <p class="promo-advantages-list__note">Технология позволяет очистить внутренние детали блока и предотвратить размножение бактерий.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/svg/icon_filter.svg" alt="" class="promo-advantages-list__img"></div>
                            <h4 class="promo-advantages-list__title">Комбинированный фильтр</h4>

                            <p class="promo-advantages-list__note">Уникальная технология фильтрации, эффективно удаляющая табачный дым, пыль, пыльцу, споры плесени и шерсть животных, а также уничтожающая бактерии.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/svg/icon_restart.svg" alt="" class="promo-advantages-list__img"></div>
                            <h4 class="promo-advantages-list__title">Автоматический перезапуск</h4>

                            <p class="promo-advantages-list__note">В случае сбоя питания, после возобновления подачи электроэнергии кондиционер автоматически вернется к предыдущим настройкам.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/svg/icon_flaps.svg" alt="" class="promo-advantages-list__img"></div>
                            <h4 class="promo-advantages-list__title">Автоматическая работа заслонок</h4>

                            <p class="promo-advantages-list__note">Возможность автоматического качания вертикальных и горизонтальных заслонок обеспечивает распределение воздушного потока по большей площади.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/svg/icon_temperature.svg" alt="" class="promo-advantages-list__img"></div>
                            <h4 class="promo-advantages-list__title">Температурная компенсация</h4>

                            <p class="promo-advantages-list__note">Изменение конфигурации соединительных перемычек на печатной плате позволяет компенсировать отклонения температуры, измеряемой датчиком, от фактической температуры на уровне пола.</p>
                        </li>
                    </ul>

                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все преимущества</a>
                    </div>
                </div>
            </section>
            <!-- END promo-midea-advantages -->

            <section class="promo-certs">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                    </div>
                    <ul class="promo-certs__docs">
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Чертежи</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи Axioma</span>
                                <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Инструкции</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span>
                                <span class="icon icon-pdf"></span></a><br>
                                <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span>
                                <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Сертификаты</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span
                                    class="text-solid">Декларация соответствия Axioma</span> <span
                                    class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- END promo-certs -->
            <section class="promo-press">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Публикации</h3>
                    </div>
                    <div class="promo-press__line">
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Axioma</h4>
                                <div class="promo-press__item-note">
                                    Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все отличия внутри. Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том и есть...
                                </div>
                                <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                                <div class="promo-press__item-note">
                                    Daikin — транснациональная корпорация, основанная в Японии. В настоящее время производит и продает климатическое оборудование по всему миру и обеспечение клиента безопасной высококачественной...
                                </div>
                                <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем
                                Daikin</h4>
                                <div class="promo-press__item-note">
                                    Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) — Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются уровнем производительности...
                                </div>
                                <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END promo-press -->

            <section class="promo-buy">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Axioma<br><span>Новое слово в кондиционировании</span></h3>
                    </div>
                    <a class="btn promo-buy__btn" href="#">Где купить</a>
                    <img src="img/inhtml/axioma_pink.png" class="promo-buy__image" alt="Axioma">
                </div>
            </section>
            <!-- END promo-buy -->

            <section class="promo-similar">
                <div class="container">
                    <div class="promo-similar__half to-left">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTYN</h4>
                            <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-similar__half to-right">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTXS</h4>
                            <img class="promo-similar__img" src="img/daikin_ftxs.png" alt="Daikin FTXS">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END promo-similar -->

        </main>
        <!-- END page -->
        <script type="text/javascript">
            function pultParallax() {
                var pult = $("#pult")
                $(window).scroll(function() {
                    var finish = pult.offset().top - $(window).height() + pult.outerHeight() / 2;
                    var start = pult.offset().top + pult.outerHeight() / 2;

                    var P = (pult.height() / 3) * ($(document).scrollTop() - start) / (finish - start);
                    if ((P < (pult.height() / 5)) && (P > 0)) {
                        pult.css({
                            'bottom': P + 'px'
                        });
                    } else if (P < 0) {
                        pult.css({
                            'bottom': 0 + 'px'
                        });
                    }
                });
            }
            $(window).load(pultParallax);
        </script>
        @@include('template/footer.html')
    </div>
    <!-- END wrap-main -->

    @@include('template/foot.html')
</body>

</html>
