@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "black",
            "color_modificator": "header-desktop_pink header-desktop_black"
        })

        <main class="page promo-page">
            <section class="promo-banner promo-banner_pink">
                <div class="container">
                    <h1 class="promo-banner__title">Midea Kid Star</h1>
                    <div class="promo-banner__lead promo-banner__lead_bluepage promo-banner__lead_white">Детский кондиционер</div>
                    <div class="promo-banner__btns">
                        <button class="btn btn_border btn_white btn_small mb0" type="button">Смотреть видео <span class="icon icon-video"></span></button>
                        <a class="btn btn_large mb0" href="#">Где купить</a>
                    </div>
                    <img class="promo-banner__img promo-banner__img_midea" src="img/inhtml/promo_midea_kid_star.png" alt="Midea Kid Star">
                    <a href="#promo-traits" class="promo-banner__down" role="button"></a>
                </div>
            </section><!-- END main-banner -->

            <section id="promo-traits" class="promo-traits promo-traits_midea">
                <div class="container">
                    <div class="promo-text promo-text_daikin-mc">
                        <div class="promo-text__type promo-text__type_bluepage">Характеристики</div>
                        <h3 class="promo-text__title promo-text__title_daikin-mc">Особенный <br> кондиционер для детской</h3>
                        <div class="promo-text__note">
                            Midea Kid Star создан специально для детей. Дружелюбный, игрушечный  облик делает его идеальным для детского восприятия, а современные технологии безопасным и надежным.
                        </div>
                    </div>
                    <ul class="promo-traits__advantages">
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-class"><span>A++</span></div>
                            <div class="promo-traits__advantages-note">Класс сезонной <br> энергоэффективности</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data">19<sub>dB(A)</sub></div>
                            <div class="promo-traits__advantages-note">Низкий <br> уровень шума</div>
                        </li>
                        <li class="promo-traits__advantages-item">
                            <div class="promo-traits__advantages-data promo-traits__advantages-data_has-arrow">
                                DC
                                <sub>
                                    inverter

                                    <img src="img/svg/icon_arrow.svg" alt="" class="promo-traits__advantages-arrow">
                                </sub>
                            </div>
                            <div class="promo-traits__advantages-note">Инверторная <br> технология</div>
                        </li>
                    </ul>
                    <!-- Изображения -->
                    
                    <div class="promo-switcher">
                        <div class="promo-switcher__tabs-list js-tabs-head">
                            <div class="promo-design__tabs-color js-tabs-link is-active" data-tab="tab-pink">
                                <span style="background: #f5b5d4; border-color: #f5b5d4"></span>Розовый
                            </div>
                            <div class="promo-design__tabs-color js-tabs-link" data-tab="tab-blue">
                                <span style="background: #5ea6d8; border-color: #5ea6d8"></span>Голубой
                            </div>
                        </div>

                        <div class="promo-switcher__content js-tabs-body">
                            <img id="tab-pink" src="img/inhtml/midea_kid_star_pink.png" alt="" class="promo-switcher__img js-tabs-item is-active">
                            <img id="tab-blue" src="img/inhtml/midea_kid_star_blue.png" alt="" class="promo-switcher__img js-tabs-item">
                        </div>
                    </div>

                    <!-- /Изображения -->

                    <table class="promo-traits__table">
                        <tbody>
                            <tr>
                                <td class="promo-traits__table-cell is-grey">Модель</td>
                                <td class="promo-traits__table-cell">
                                    <img class="promo-traits__table-thumb" src="./img/inhtml/thumb_midea_blue.png" alt="MSEAAU-HRFN1(SB)">
                                    <div class="promo-traits__table-mob-label">MSEAAU-HRFN1(SB)</div>
                                    <div class="promo-traits__table-name">ГОЛУБОЙ <br> MSEAAU-HRFN1(SB)</div>
                                </td>
                                <td class="promo-traits__table-cell">
                                    <img class="promo-traits__table-thumb" src="./img/inhtml/thumb_midea_pink.png" alt="MSEAAU-HRFN1(SP)">
                                    <div class="promo-traits__table-mob-label">MSEAAU-HRFN1(SP)</div>
                                    <div class="promo-traits__table-name">РОЗОВЫЙ <br> MSEAAU-HRFN1(SP)</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="promo-traits__table-cell is-grey">Производительность, <br> <span class="promo-traits__subtitle">Охлаждение / нагрев, кВт</span></td>
                                <td class="promo-traits__table-cell">
                                    <div class="promo-traits__table-mob-label">Производительность, <br> Охлаждение / нагрев, кВт</div>
                                    2.64 / 2.93
                                </td>
                                <td class="promo-traits__table-cell">2.64 / 2.93</td>
                            </tr>
                            <tr>
                                <td class="promo-traits__table-cell is-grey">Потребляемая мощность, <br> <span class="promo-traits__subtitle">Охлаждение / нагрев, кВт</span></td>
                                <td class="promo-traits__table-cell">
                                    <div class="promo-traits__table-mob-label">Потребляемая мощность, <br> Охлаждение / нагрев, кВт</div>
                                    0.83 / 0.85
                                </td>
                                <td class="promo-traits__table-cell">0.83 / 0.85</td>
                            </tr>
                            <tr>
                                <td class="promo-traits__table-cell is-grey">Класс энергоэффективности <br> <span class="promo-traits__subtitle">Охлаждение / нагрев, кВт</span></td>
                                <td class="promo-traits__table-cell">
                                    <div class="promo-traits__table-mob-label">Класс энергоэффективности <br> Охлаждение / нагрев, кВт</div>
                                    А++ / А+
                                </td>
                                <td class="promo-traits__table-cell">А++ / А+</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все характеристики</a>
                    </div>
                </div>
            </section><!-- END promo-traits -->

            <section class="promo-midea-design">
                <div class="container">
                    <div class="promo-text promo-text_midea-design">
                        <div class="promo-text__type promo-text__type_bluepage">Дизайн</div>
                        <h3 class="promo-text__title promo-text__title_daikin-mc">Идеален для детей</h3>
                        <div class="promo-text__note">
                            Впервые дизайнеры и&nbsp;конструкторы разработали идеальный для детского восприятия стиль оформления, который подружит ребенка с&nbsp;техникой, как с&nbsp;желанной новой игрушкой и&nbsp;вызовут нежные чувства не&nbsp;только у&nbsp;детей, но&nbsp;и&nbsp;у&nbsp;их&nbsp;родителей.
                        </div>
                    </div>
                </div>
            </section><!-- END promo-midea-design -->

            <section class="promo-midea-features">
                <ul class="promo-midea-features-list">
                    <li class="promo-midea-features-list__item zoomIn wow" data-wow-duration="1s">
                        <div class="promo-midea-features-list__wrap-img">
                            <img src="img/svg/icon_brush.svg" alt="" class="promo-midea-features-list__img">
                        </div>
                        <p class="promo-midea-features-list__note">Любимые детьми <br> цветовые тона</p>
                    </li>
                    <li class="promo-midea-features-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="promo-midea-features-list__wrap-img">
                            <img src="img/svg/icon_moon.svg" alt="" class="promo-midea-features-list__img">
                        </div>
                        <p class="promo-midea-features-list__note">Добрые картинки</p>
                    </li>
                    <li class="promo-midea-features-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="promo-midea-features-list__wrap-img">
                            <img src="img/svg/icon_housing.svg" alt="" class="promo-midea-features-list__img">
                        </div>
                        <p class="promo-midea-features-list__note">Сглаженные формы <br> корпуса</p>
                    </li>
                    <li class="promo-midea-features-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="promo-midea-features-list__wrap-img">
                            <img src="img/svg/icon_bear.svg" alt="" class="promo-midea-features-list__img">
                        </div>
                        <p class="promo-midea-features-list__note">Уникальный <br> пульт-медвеженок</p>
                    </li>
                </ul>
            </section><!-- END promo-midea-features -->

            <section class="promo-sensor">
                <div class="container">
                    <div class="promo-sensor-block">
                        <img src="img/midea_sensor.png" alt="" class="promo-sensor-block__img">

                        <div class="promo-sensor-block__waves">
                            <img src="img/wave_1.png" alt="" class="promo-sensor-block__wave promo-sensor-block__wave_first">
                            <img src="img/wave_2.png" alt="" class="promo-sensor-block__wave promo-sensor-block__wave_second">
                            <img src="img/wave_3.png" alt="" class="promo-sensor-block__wave promo-sensor-block__wave_third">
                            <img src="img/wave_4.png" alt="" class="promo-sensor-block__wave promo-sensor-block__wave_fourth">
                        </div>
                    </div>

                    <div class="promo-text promo-text_midea">
                        <div class="promo-text__type promo-text__type_bluepage">Комфорт</div>
                        <h3 class="promo-text__title promo-text__title_midea">Датчик Caring eye</h3>
                        <div class="promo-text__note">
                            Если ребенок сбросит одеяло или снимет одежду, датчик определит, что площадь зоны с высокой температурой значительно увеличилась. В этом случае система управления повысит целевую температуру воздуха, снизит скорость вентилятора, заслонки повернутся и направят воздушный поток вдоль потолка, предотвращая переохлаждение ребенка.
                        </div>
                    </div>
                </div>
            </section><!-- END promo-sensor -->

            <section class="promo-midea-dream">
                <div class="promo-midea-dream__content">
                    <div class="promo-midea-dream__inner-content">
                        <h3 class="promo-midea-dream__title">Здоровый сон</h3>
                    
                        <p>Теперь не нужно проверять, укрыт ли ребенок одеялом. Кондиционер узнает об этом первым и создаст комфортные условия охлаждения: снизит температуру и направит воздух в сторону от ребенка. Ваши дети здоровы и полноценно готовятся к встрече нового дня.</p>
                    </div>
                </div>

                <div class="promo-midea-dream__wrap-img">
                    <img src="img/midea_dream.jpg" alt="" class="promo-midea-dream__img">
                </div>
            </section><!-- END promo-midea-dream -->

            <section class="promo-midea-pult">
                <img src="img/midea_bear.png" alt="">

                <div class="promo-midea-pult-block">
                    <div class="promo-midea-pult-block__content">
                        <h3 class="promo-midea-pult-block__title">Пульт-игрушка</h3>        
                        <p>Подружиться с кондиционером ребенку поможет уникальный пульт-неваляшка в форме медведя. Эта забавная игрушка никогда не падает и очень нравится детям.</p>
                    </div>
                </div>
            </section><!-- END promo-midea-pult -->

            <section class="promo-midea-advantages">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type promo-text__type_daikin">Особенности</div>
                        <h3 class="promo-text__title">Комфортная атмосфера <br> в любое время</h3>
                    </div>

                    <ul class="promo-advantages-list">
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s">
                            <img src="img/follow.png" alt="" class="promo-advantages-list__img promo-advantages-list__img_halfsize">
                            <h4 class="promo-advantages-list__title">Режим Follow-me</h4>

                            <p class="promo-advantages-list__note">Используется датчик температуры, встроенный в пульт дистанционного управления. Блок автоматически изменяет режим работы, как будто кондиционер находится рядом с вами.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/provod.png" alt="" class="promo-advantages-list__img promo-advantages-list__img_halfsize"></div>
                            <h4 class="promo-advantages-list__title">Самоочистка</h4>

                            <p class="promo-advantages-list__note">Технология позволяет очистить внутренние детали блока и предотвратить размножение бактерий.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/combine.png" alt="" class="promo-advantages-list__img promo-advantages-list__img_halfsize"></div>
                            <h4 class="promo-advantages-list__title">Комбинированный фильтр</h4>

                            <p class="promo-advantages-list__note">Уникальная технология фильтрации, эффективно удаляющая табачный дым, пыль, пыльцу, споры плесени и шерсть животных, а также уничтожающая бактерии.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/autorestart.png" alt="" class="promo-advantages-list__img promo-advantages-list__img_halfsize"></div>
                            <h4 class="promo-advantages-list__title">Автоматический перезапуск</h4>

                            <p class="promo-advantages-list__note">В случае сбоя питания, после возобновления подачи электроэнергии кондиционер автоматически вернется к предыдущим настройкам.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/strelki.png" alt="" class="promo-advantages-list__img promo-advantages-list__img_halfsize"></div>
                            <h4 class="promo-advantages-list__title">Автоматическая работа заслонок</h4>

                            <p class="promo-advantages-list__note">Возможность автоматического качания вертикальных и горизонтальных заслонок обеспечивает распределение воздушного потока по большей площади.</p>
                        </li>
                        <li class="promo-advantages-list__item zoomIn wow" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="promo-advantages-list__wrap-img"><img src="img/compensation.png" alt="" class="promo-advantages-list__img promo-advantages-list__img_halfsize"></div>
                            <h4 class="promo-advantages-list__title">Температурная компенсация</h4>

                            <p class="promo-advantages-list__note">Изменение конфигурации соединительных перемычек на печатной плате позволяет компенсировать отклонения температуры, измеряемой датчиком, от фактической температуры на уровне пола.</p>
                        </li>
                    </ul>

                    <div class="promo-traits__more">
                        <a class="promo-page__link" href="#">Все преимущества</a>
                    </div>
                </div>
            </section><!-- END promo-midea-advantages -->

            <section class="promo-midea-control" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <div class="promo-text__type">Управление</div>
                        <h3 class="promo-text__title">Доступ из любой точки</h3>

                        <div class="promo-text__note">
                            <p>Кондиционер легко управляется пультом дистанционного управления или удаленно при помощи смартфона.</p>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-midea-control -->

            <section class="promo-midea-remote-control">
                <div class="promo-midea-remote-control__content">
                    <div class="promo-midea-remote-control__inner-content js-control-content js-control-step" data-transition-delay="1.2s">
                        <h3 class="promo-midea-remote-control__title">Удаленное <br> управление</h3>
                        <p class="promo-midea-remote-control__note">Встроенный Wi-Fi адаптер позволяет управлять работой кондиционера через облачный сервер Midea c помощью смартфона.</p>
                    </div>

                    <div class="promo-midea-remote-control__wrap-img promo-midea-remote-control__wrap-img_first js-control-wrap">
                        <img src="img/svg/icon_remote-control-1.svg" alt="" class="promo-midea-remote-control__img js-control-step" data-transition-delay="0">

                        <div class="promo-midea-remote-control__line js-control-line" data-transition-delay="0.1s"></div>
                    </div>
                    <div class="promo-midea-remote-control__wrap-img promo-midea-remote-control__wrap-img_second js-control-wrap">
                        <img src="img/svg/icon_remote-control-2.svg" alt="" class="promo-midea-remote-control__img js-control-step" data-transition-delay="0.4s">

                        <div class="promo-midea-remote-control__line js-control-line" data-transition-delay="0.5s"></div>
                    </div>
                    <div class="promo-midea-remote-control__wrap-img promo-midea-remote-control__wrap-img_third js-control-wrap">
                        <img src="img/svg/icon_remote-control-3.svg" alt="" class="promo-midea-remote-control__img js-control-step" data-transition-delay="0.8s">

                        <div class="promo-midea-remote-control__line js-control-line" data-transition-delay="0.9s"></div>
                    </div>
                    <div class="promo-midea-remote-control__wrap-img promo-midea-remote-control__wrap-img_fourth js-control-wrap">
                        <img src="img/svg/icon_remote-control-4.svg" alt="" class="promo-midea-remote-control__img js-control-step" data-transition-delay="1.6s">

                        <div class="promo-midea-remote-control__line js-control-line" data-transition-delay="1.7s"></div>
                    </div>
                </div>
            </section><!-- END promo-remote-control -->

            <div class="container"><section class="promo-midea-details">
                    <div class="promo-midea-details__column promo-midea-details__column_boy">
                        <img src="img/bg_midea_details_boy.png" alt="">
                    </div>
                    <div class="promo-midea-details__column promo-midea-details__column_wrap-content">
                        <div class="promo-midea-details__content">
                            <div class="promo-text">
                                <div class="promo-text__type">Детали</div>
                                <h3 class="promo-text__title">Особенный <br> кондиционер <br> для детей</h3>

                                <div class="promo-text__note">
                                    <p>Для разработки Kids Star компания Midea обратилась в China National Institute of Standardization (Китайский департамент санитарных норм и правил), где в течение длительного времени проводились глубокие исследования процесса сна ребенка.</p>
                                </div>

                                <img src="img/svg/icon_key.svg" alt="" class="promo-midea-details__img">
                            </div>
                        </div>
                    </div>
                    <div class="promo-midea-details__column promo-midea-details__column_girl">
                        <img src="img/bg_midea_details_girl.png" alt="">
                    </div>
                </section>
            </div>
            <!-- END promo-midea-details -->

            <section class="promo-midea-science">
                <div class="container">
                    <div class="promo-midea-science-block">
                        <div class="promo-midea-science-block__content">
                            <h3 class="promo-midea-science-block__title">Строго <br> научный подход</h3>
                            <p>Изучалось изменение температуры тела, поведение и эмоции детей, измерялись термическое сопротивление одеяла и температура стен. С учетом полученных данных был разработан уникальный инфракрасный датчик, следящий за изменениями температуры в зоне вокруг ребенка, где бы он не находился.</p>
                        </div>
                    </div>
                    
                    <img src="img/midea_science.jpg" alt="" class="promo-midea-science-block__img">
                </div>
            </section><!-- END promo-midea-science -->

            <section class="promo-midea-child" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Все лучшее — детям</h3>

                        <div class="promo-text__note">
                            <p>В самый жаркий день ребенка будет окружать приятная прохлада при полном отсутствии риска простуды. Ребенок будет спать в спокойной обстановке, его сон не потревожит шум работающего кондиционера, звуковые и световые сигналы. Проснувшись, маленький человек соприкоснется с идеальной эстетикой дизайна для детей.</p>
                        </div>
                        
                        <p class="promo-midea-child__notice">В одном устройстве органично объединены самые передовые технологии, креативные идеи, изящный стиль. Ваш ребенок спит и бодрствует в исключительно благоприятных условиях.</p>
                    </div>
                </div>
            </section><!-- END promo-midea-child -->

            <section class="promo-certs">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                    </div>
                    <ul class="promo-certs__docs">
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Чертежи</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи Daikin MC070 </span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Инструкции</div>
                            <div class="promo-certs__doc-links">
                                <div><a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок) </span> <span class="icon icon-pdf"></span></a></div>
                                <div><a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок) </span> <span class="icon icon-pdf"></span></a></div>
                            </div>
                        </li>
                        <li class="promo-certs__doc">
                            <div class="promo-certs__doc-title">Сертификаты</div>
                            <div class="promo-certs__doc-links">
                                <a class="blue no-border" href="#"><span class="text-solid">Декларация соответствия Kid Star</span> <span class="icon icon-pdf"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- END promo-certs -->

            <section class="promo-press">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Публикации</h3>
                    </div>
                    <div class="promo-press__line">
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Daikin Emura</h4>
                                <div class="promo-press__item-note">
                                    Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все отличия внутри.
                                    Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том и есть...
                                </div>
                                <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                                <div class="promo-press__item-note">
                                    Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                    производит и продает климатическое оборудование по всему миру и обеспечение
                                    клиента безопасной высококачественной...
                                </div>
                                <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                        <div class="promo-press__col">
                            <div class="promo-press__item">
                                <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем Daikin</h4>
                                <div class="promo-press__item-note">
                                    Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                    Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                    уровнем производительности...
                                </div>
                                <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                                <a class="promo-press__item-link" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-press -->
            
            <section class="promo-buy promo-buy_midea" data-parallax="">
                <div class="container">
                    <div class="promo-text">
                        <h3 class="promo-text__title">Midea Kid Star.</h3>
                        <h4 class="promo-text__subtitle">Самый заботливый кондиционер.</h4>
                    </div>

                    <a class="btn promo-buy__btn" href="#">Где купить</a>

                    <div class="promo-buy__wrap-img">
                        <img src="img/midea_kid_star_buy.png" alt="">
                    </div>
                </div>
            </section><!-- END promo-buy -->

            <section class="promo-similar">
                <div class="container">
                    <div class="promo-similar__half to-left">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Daikin FTYN</h4>
                            <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-similar__half to-right">
                        <div class="promo-similar__back"></div>
                        <div class="promo-similar__front">
                            <div class="promo-similar__type">Сплит-системы</div>
                            <h4 class="promo-similar__title">Kentatsu Mark II</h4>
                            <img class="promo-similar__img" src="img/kentatsu_mark.png" alt="Kentatsu Mark II">
                            <i class="promo-similar__arrow"></i>
                            <a class="promo-similar__link" href="#"></a>
                        </div>
                    </div>
                </div>
            </section><!-- END promo-similar -->

        </main><!-- END page -->

		@@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
