@@include('template/head.html')
<body>
@@include('template/old_ie_update.html')

@@include('template/svg.html')

<div class="wrap-main" >
    @@include('template/header.html', {
    "color": "black",
    "color_modificator": "header-desktop_sky-blue"
    })

    <main class="page promo-page promo-page_draabe">

        <section class="promo-banner promo-banner_sky-bluepage">
            <div class="container">
                <h1 class="promo-banner__title">Draabe</h1>
                <div class="promo-banner__lead promo-banner__lead_white">Оптимальная влажность дома, в офисе и на производстве.</div>
                <div class="promo-banner__btns">
                    <button class="btn btn_white btn_small mb0" type="button">Смотреть видео <span
                            class="icon icon-video"></span></button>
                    <a class="btn btn_large mb0" href="#">Где купить</a>
                </div>
                <img class="promo-banner__img" src="img/draabe_main.png" alt="">
                <a class="promo-banner__down" role="button"></a>
            </div>
        </section><!-- END main-banner -->

        <section class="promo-traits">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">О системе</div>
                    <h3 class="promo-text__title">24 часа в сутки 365 дней в году</h3>
                    <div class="promo-text__note">
                        <p>
                            Draabe предлагает современное и качественное решение для поддержания
                            оптимальной влажности воздуха в помещениях, что важно как для людей,
                            так и для различных технологических процессов.
                            Системы с кольцевым контуром высокого давления - безопасные комплексные системы
                            увлажнения, работающие 24 часа в сутки 365 дней в году.
                        </p>
                        <p>Такая система включает в себя:</p>
                    </div>
                </div>
                <ul class="promo-traits__advantages promo-traits__advantages_no-border">
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-img">
                            <img src="./img/draabe_sys_block.jpg" alt="">
                        </div>
                        <h4 class="promo-traits__advantages-title">Комплекс оборудования для очистки и подачи воды</h4>
                        <div class="promo-traits__advantages-note">
                            Вода подаётся в трубы высокого давления.
                            Обеспечивается постоянная циркуляция и обеззараживание.
                        </div>
                    </li>
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-img">
                            <img src="./img/draabe_atomizer.jpg" alt="">
                        </div>
                        <h4 class="promo-traits__advantages-title">Атомайзеры для увлажнения воздуха в помещении</h4>
                        <div class="promo-traits__advantages-note">
                            Вода распыляется атомайзером в виде мелкодисперсных капель,
                            которые полностью испаряются на расстоянии 0,5 м.
                        </div>
                    </li>
                    <li class="promo-traits__advantages-item">
                        <div class="promo-traits__advantages-img">
                            <img src="./img/draabe_pult.jpg" alt="">
                        </div>
                        <h4 class="promo-traits__advantages-title">Пульт управления и мониторинга</h4>
                        <div class="promo-traits__advantages-note">
                            Точное поддержание параметров увлажнения (&lt;1%). Управление работой группы атомайзеров.
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- END promo-traits -->

        <section class="promo-features">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">Особенности</div>
                    <h3 class="promo-text__title">Современные системы увлажнения</h3>
                </div>
                <ul class="promo-features__list promo-features__list_no-border promo-features__list_gradient">
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/protection.svg"
                                 alt="">
                        </div>
                        <h4 class="promo-features__item-title">Гигиеническая безопасность и экономный расход воды</h4>
                        <div class="promo-features__item-note">
                            Очищенная вода постоянно циркулирует в системе и стерилизуется при помощи УФ-облучения.
                            Исключается застаивание воды в режиме ожидания. Кольцевая схема работы снижает эксплуатационные расходы.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/drops.svg"
                                 alt="">
                        </div>
                        <h4 class="promo-features__item-title">Точное поддержание параметров увлажнения</h4>
                        <div class="promo-features__item-note">
                            Система способна плавно изменять производительность в широком диапозоне
                            и поддерживать уровень относительной влажности с высокой точностью: 1-3%
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/interior.svg"
                                 alt="">
                        </div>
                        <h4 class="promo-features__item-title">Сохранность интерьера</h4>
                        <div class="promo-features__item-note">
                            Совершенная система фильтрации и деминерализации воды исключает осадок
                            минеральных солей на предметах интерьера и в узлах системы.
                            Вода не капает из системы: микрокапли на выходе полностью испаряются.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/bulb.svg"
                                 alt="">
                        </div>
                        <h4 class="promo-features__item-title">«Умные» технологии</h4>
                        <div class="promo-features__item-note">
                            Прямое подключение при интеграции в систему управления зданием.
                            Встроенный интернет-интерфейс для дистанционного мониторинга и
                            управления сервисной службой. Высокая степень надежности.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/clock.svg"
                                 alt="">
                        </div>
                        <h4 class="promo-features__item-title">Долговечность работы</h4>
                        <div class="promo-features__item-note">
                            Система проводит постоянный контроль рабочих параметров,
                            что гарантирует эксплуатационную безопасность и стабильную
                            производительность. Немецкое качество.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <div class="promo-features__item-pict">
                            <img class="promo-features__item-img" src="img/svg/cert.svg"
                                 alt="">
                        </div>
                        <h4 class="promo-features__item-title">Сертификат Optimized Humidification</h4>
                        <div class="promo-features__item-note">
                            Всестороннее тестирование подтверждает: безопасность для жизни и здоровья, легкость обслуживания.
                            Оборудование проходит обязательные испытания каждые 2 года и применимо на любом производстве.
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- END promo-features -->

        <section class="promo-humidity">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">Увлажнение для здоровья</div>
                    <h3 class="promo-text__title">Среда с оптимальной влажностью</h3>
                    <div class="promo-text__note">
                        Достаточная относительная влажность поддерживает слизистые оболочки нашего организма здоровыми,
                        снижает заболеваемость и значительно улучшает самочувствие.
                    </div>
                </div>
            </div>

            <div class="promo-humidity-bar">
                <p class="promo-humidity__percent">45%</p>
                <span>Идеальный процент влажности</span>
            </div>
            <div class="container">
                <ul class="promo-features__list">
                    <li class="promo-features__item">
                        <h4 class="promo-features__item-title">Меньше заболеваемость ОРВИ</h4>
                        <div class="promo-features__item-note">
                            Достаточная влажность воздуха замедляет процесс распространения
                            мельчайших инфицированных частиц - вероятность заболеть ниже.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <h4 class="promo-features__item-title">Защита голосовых связок</h4>
                        <div class="promo-features__item-note">
                            Долго говорить в сухом воздухе трудно
                            и некомфортно - сухой воздух негативно влияет на голосовые связки.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <h4 class="promo-features__item-title">Защитная функция кожи</h4>
                        <div class="promo-features__item-note">
                            Достаточное количество влаги поддерживает водно-липидную пленку
                            на нашей коже, которая обладает бактерицидными свойствами.
                        </div>
                    </li>
                    <li class="promo-features__item">
                        <h4 class="promo-features__item-title">Меньше пыли в возудхе</h4>
                        <div class="promo-features__item-note">
                            В увлажненном воздухе мелкие частицы не летают, а оседают внизу помещения.
                            В дыхательные пути попадет гораздо меньше пыли и аллергенов.
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="promo-beauty">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">Увлажнение для комфорта и красоты</div>
                    <h3 class="promo-text__title">Влажность определяет самочувствие</h3>
                </div>

                <div class="promo-beauty-entrance">
                    <p>
                        Достаточное количество влаги в воздухе делает пребывание в помещении намного более приятным.
                        Легко дышится, комфортно коже, глазам, губам — мы просто не задумываемся о них, наше тело в том состоянии,
                        в котором оно должно быть.
                    </p>
                    <p>
                        Поэтому важно задуматься о том, чтобы в помещении, будь то дом
                        или офис, была установлена современная эффективная система увлажнения.
                    </p>
                </div>
            </div>

            <div class="promo-beauty-features">
                <div class="promo-beauty-features__col">
                    <img class="promo-beauty-features__img" src="./img/draabe_beauty_1.jpg" alt="">

                    <div class="promo-beauty-features__gradient-block">
                        <p>
                            Достаточное увлажнение поддерживает здоровое состояние кожи и волос,
                            предотвращая обезвоженность, сухость и шелушение.
                        </p>
                    </div>
                </div>
                <div class="promo-beauty-features__col">
                    <img class="promo-beauty-features__img" src="./img/draabe_beauty_2.jpg" alt="">

                    <div class="promo-beauty-features__gradient-block">
                        <p>
                            Комфортная влажность воздуха поможет избежать таких проблем, как сухость
                            и покраснение глаз, что особенно важно для пользователей контактных линз.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="promo-blocks">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">Системные блоки</div>
                    <h3 class="promo-text__title">Подготовление и подача воды</h3>
                </div>
            </div>

            <div class="promo-blocks-imgs">
                <div class="container">
                    <div class="promo-blocks-imgs__item">
                        <img src="./img/draabe_perpur.png" alt="">
                    </div>
                    <div class="promo-blocks-imgs__item">
                        <img src="./img/draabe_highpur.png" alt="">
                    </div>
                    <div class="promo-blocks-imgs__item">
                        <img src="./img/draabe_synpur.png" alt="">
                    </div>
                </div>
            </div>

            <div class="promo-blocks-list">
                <div class="container">
                    <ul class="promo-features__list">
                        <li class="promo-features__item">
                            <h4 class="promo-features__item-title">PerPur</h4>
                            <div class="promo-features__item-note">
                                Блок очистки. В блоке происходит мембранная фильтрация
                                умягченной воды по принципу обратного осмоса, в результате чего достигается
                                ее деминерализация на 98% и электрическая проводимость менее 5 µS (микросименс).
                                Вода такого качества подходит для увлажнения помещений без риска образования
                                минерального налета на предметах.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <h4 class="promo-features__item-title">HighPur</h4>
                            <div class="promo-features__item-note">
                                Базовый компонент системы, предназначенный для генерации гидравлического потока
                                высокого давления. Блок высокого давления с водяным насосом, повышающим давление
                                до 85 бар. Производительность насоса плавно регулируется частотным преобразователем.
                            </div>
                        </li>
                        <li class="promo-features__item">
                            <h4 class="promo-features__item-title">SynPur</h4>
                            <div class="promo-features__item-note">
                                Блок очистки сверхвысокой степени. Подготовка воды для увлажнения помещений
                                с очень высокими требованиями к параметрам загрязненности воздуха (чистых помещений,
                                лабораторий). Поддержание требуемой электропроводимости воды.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="promo-blocks-table">
                <!-- Жду адаптив -->
            </div>
        </section>

        <section class="promo-atomizers">
            <div class="container">
                <div class="promo-text">
                    <div class="promo-text__type promo-text__type_black">Атомайзеры</div>
                    <h3 class="promo-text__title">Распыление влаги в помещении</h3>
                </div>
            </div>
            <div class="promo-atomizers-container">
                <div class="promo-atomizers-bg">
                    <div class="promo-atomizers__text-block">
                        <p>
                            Атомайзеры Draabe имеют вихревые форсунки
                            с соплами очень маленького диаметра, через которые
                            поток мелкодисперсных капель подаётся в помещение.
                        </p>
                        <p>
                            Микроскопические капли распыляются
                            на расстояние 0,5м и мгновенно испаряются в окружающей среде,
                            чему дополнительно способствуют встроенные вентиляторы
                            и соленоидный клапан.
                        </p>
                    </div>

                </div>
                <div class="promo-atomizers-img">
                    <img src="./img/atomizer.png" alt="">
                </div>
            </div>
        </section>

        <section class="promo-construction">
            <div class="container promo-construction-container">
                <div class="promo-construction-col promo-construction-col_half">
                    <h5>Конструктивные особенности</h5>
                    <ul class="ls-outside">
                        <li>
                            Вентиляторы расположены в корпусе, вследствие чего микрокапли
                            быстро полностью испаряются в воздухе.
                        </li>
                        <li>
                            Новинка на рынке! Встроенные электромагнитные запорные клапаны
                            дают новые преимущества.
                        </li>
                        <li>Точное адресное увлажнение отдельных помещений или зон.</li>
                        <li>Никаких капель после выключения.</li>
                        <li>Долговечные форсунки из нержавеющей стали.</li>
                        <li>Вариативность монтажа: настенное либо потолочное крепление.</li>
                        <li>Регулировка направления увлажняющего потока.</li>
                        <li>Комбинируется со всеми атомайзерами высокого давления Draabe.</li>
                    </ul>
                </div>
                <div class="promo-construction-col promo-construction-col_half">
                    <div class="promo-construction-col__list">
                        <h5>Преимущества</h5>
                        <ul class="ls-no">
                            <li>Равномерное комфортное увлажнение</li>
                            <li>Низкий уровень шума</li>
                            <li>Полное отсутствие капель в помещении</li>
                            <li>Практически незаметная и эффективная работа</li>
                            <li>Минимальные размеры</li>
                            <li>Небольшой вес</li>
                            <li>Элегантный дизайн</li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <div class="container promo-construction-wrapper">
            <div class="promo-construction-col promo-construction-col_wide">
                <img src="./img/nano_fog.jpg" alt="">
            </div>
            <div class="promo-construction-col promo-construction-col_narrow">
                <div class="promo-construction-col__list promo-construction-col__list_right">
                    <h5>NanoFog</h5>
                    <p>Широкий диапозон производительности для помещений до 750 м²</p>
                </div>
            </div>
        </div>
        <div class="container promo-construction-wrapper">
            <div class="promo-construction-col promo-construction-col_narrow">
                <div class="promo-construction-col__list promo-construction-col__list_left">
                    <h5>TurboFogNeo</h5>
                    <p>
                        Базовый компонент системы, предназначенный для генерации
                        гидравлического потока
                    </p>
                </div>
            </div>
            <div class="promo-construction-col promo-construction-col_wide">
                <img src="./img/turbo_fog_neo.jpg" alt="">
            </div>

        </div>

        <section class="promo-traits">
            <div class="container">
                <div class="promo-traits__block">
                    <div class="promo-traits__column-left">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">

                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Производительность
                            </div>
                        </div>
                        <div class="promo-traits__row ">
                            <div class="promo-traits__row-data">
                                Площадь обслуживания
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Рабочее давление
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Высота размещения / расстояние от потолка
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Электропитание
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Потребляемая мощность
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                Вес
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-left_mobile">
                        <div class="promo-traits__row promo-traits__row-thumb ">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label"></div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Производительность
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Площадь обслуживания
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Рабочее давление
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Высота размещения / расстояние от потолка
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Электропитание
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Потребляемая мощность
                                </div>
                            </div>
                        </div>
                        <div class="promo-traits__row">
                            <div class="promo-traits__row-data">
                                <div class="promo-traits__table-mob-label">
                                    Вес
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="promo-traits__column-right">
                        <div class="promo-traits__slider">
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/fog_sens.jpg"
                                             alt="">
                                        <div class="promo-traits__table-mob-label"></div>
                                        <strong>NanoFogSens</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Производительность
                                        </div>
                                        1,5 кг/ч
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Площадь обслуживания
                                        </div>
                                        до 70 м²
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Рабочее давление
                                        </div>
                                        75 бар
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Высота размещения / расстояние от потолка
                                        </div>
                                        ≥ 2 м / ≥ 0,4 м
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Электропитание
                                        </div>
                                        ~230 В, 24 В пост. тока
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                        </div>
                                        8 Вт
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Вес
                                        </div>
                                        400 г
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/fog_sens.jpg"
                                             alt="">
                                        <div class="promo-traits__table-mob-label"></div>
                                        <strong>TurboFogNeo 8</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Производительность
                                        </div>
                                        24 кг/ч
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Площадь обслуживания
                                        </div>
                                        до 750 м²
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Рабочее давление
                                        </div>
                                        85 бар
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Высота размещения / расстояние от потолка
                                        </div>
                                        ≥ 4-6 м / ≥ 1 м
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Электропитание
                                        </div>
                                        ~230 В
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                        </div>
                                        34 Вт
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Вес
                                        </div>
                                        8000 г
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/fog_neo.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label"></div>
                                        <strong>TurboFogNeo 1L</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Производительность
                                        </div>
                                        3 кг/ч
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Площадь обслуживания
                                        </div>
                                        до 150 м²
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Рабочее давление
                                        </div>
                                        85 бар
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Высота размещения / расстояние от потолка
                                        </div>
                                        ≥ 2 м / ≥ 0,5 м
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Электропитание
                                        </div>
                                        ~230 В, 24 В пост. тока
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                        </div>
                                        6,2 Вт
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Вес
                                        </div>
                                        1000 г
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/fog_neo.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label"></div>
                                        <strong>TurboFogNeo 2L</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Производительность
                                        </div>
                                        6 кг/ч
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Площадь обслуживания
                                        </div>
                                        до 250 м²
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Рабочее давление
                                        </div>
                                        85 бар
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Высота размещения / расстояние от потолка
                                        </div>
                                        ≥ 3 м / ≥ 1 м
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Электропитание
                                        </div>
                                        ~230 В, 24 В пост. тока
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                        </div>
                                        6,2 Вт
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Вес
                                        </div>
                                        1000 г
                                    </div>
                                </div>
                            </div>
                            <div class="promo-traits__cell">
                                <div class="promo-traits__row promo-traits__row-thumb">
                                    <div class="promo-traits__row-data">
                                        <img class="promo-traits__thumb" src="./img/fog_neo8.jpg"
                                             alt="FTXG/RXG-L">
                                        <div class="promo-traits__table-mob-label"></div>
                                        <strong>TurboFogNeo 2L</strong>
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Производительность
                                        </div>
                                        6 кг/ч
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Площадь обслуживания
                                        </div>
                                        до 250 м²
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Рабочее давление
                                        </div>
                                        85 бар
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Высота размещения / расстояние от потолка
                                        </div>
                                        ≥ 3 м / ≥ 1 м
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Электропитание
                                        </div>
                                        ~230 В, 24 В пост. тока
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Потребляемая мощность
                                        </div>
                                        6,2 Вт
                                    </div>
                                </div>
                                <div class="promo-traits__row">
                                    <div class="promo-traits__row-data">
                                        <div class="promo-traits__table-mob-label">
                                            Вес
                                        </div>
                                        1000 г
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="promo-certs">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Инструкции и&nbsp;сертификаты</h3>
                </div>
                <ul class="promo-certs__docs">
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Чертежи</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span class="text-solid">Размерные чертежи Axioma</span>
                                <span class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Инструкции</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (внутренний блок)</span>
                                <span class="icon icon-pdf"></span></a><br>
                            <a class="blue no-border" href="#"><span class="text-solid">Инструкция по монтажу (наружный блок)</span>
                                <span class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                    <li class="promo-certs__doc">
                        <div class="promo-certs__doc-title">Сертификаты</div>
                        <div class="promo-certs__doc-links">
                            <a class="blue no-border" href="#"><span
                                    class="text-solid">Декларация соответствия Axioma</span> <span
                                    class="icon icon-pdf"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- END promo-certs -->
        <section class="promo-press">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Публикации</h3>
                </div>
                <div class="promo-press__line">
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Обзор инверторных кондиционеров Axioma</h4>
                            <div class="promo-press__item-note">
                                Внешне бытовые инверторные сплит-системы ничем не отличают от неинверторных — все
                                отличия внутри.
                                Латинское слово inverto означает изменять, переворачивать, обращать. Смысл как раз в том
                                и есть...
                            </div>
                            <img class="promo-press__item-logo" src="img/mailru.png" alt="Mail.ru">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Daikin — идеальный баланс цены и качества</h4>
                            <div class="promo-press__item-note">
                                Daikin — транснациональная корпорация, основанная в Японии. В настоящее время
                                производит и продает климатическое оборудование по всему миру и обеспечение
                                клиента безопасной высококачественной...
                            </div>
                            <img class="promo-press__item-logo" src="img/kp.png" alt="Комсомольская правда">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                    <div class="promo-press__col">
                        <div class="promo-press__item">
                            <h4 class="promo-press__item-title">Говорим &laquo;кондиционер&raquo; — подразумеваем
                                Daikin</h4>
                            <div class="promo-press__item-note">
                                Знакомимся с актуальной линейкой кондиционеров (работающих на охлаждение и обогрев) —
                                Daikin Emura. В ней представлены несколько инверторных моделей, которые отличаются
                                уровнем производительности...
                            </div>
                            <img class="promo-press__item-logo" src="img/zoom.png" alt="Zoom">
                            <a class="promo-press__item-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- END promo-press -->

        <section class="promo-buy">
            <div class="container">
                <div class="promo-text">
                    <h3 class="promo-text__title">Axioma<br><span>Новое слово в кондиционировании</span></h3>
                </div>
                <a class="btn promo-buy__btn" href="#">Где купить</a>
                <img src="img/inhtml/axioma_pink.png" class="promo-buy__image" alt="Axioma">
            </div>
        </section><!-- END promo-buy -->

        <section class="promo-similar">
            <div class="container">
                <div class="promo-similar__half to-left">
                    <div class="promo-similar__back"></div>
                    <div class="promo-similar__front">
                        <div class="promo-similar__type">Сплит-системы</div>
                        <h4 class="promo-similar__title">Daikin FTYN</h4>
                        <img class="promo-similar__img" src="img/daikin_ftyn.png" alt="Daikin FTYN">
                        <i class="promo-similar__arrow"></i>
                        <a class="promo-similar__link" href="#"></a>
                    </div>
                </div>
                <div class="promo-similar__half to-right">
                    <div class="promo-similar__back"></div>
                    <div class="promo-similar__front">
                        <div class="promo-similar__type">Сплит-системы</div>
                        <h4 class="promo-similar__title">Daikin FTXS</h4>
                        <img class="promo-similar__img" src="img/daikin_ftxs.png" alt="Daikin FTXS">
                        <i class="promo-similar__arrow"></i>
                        <a class="promo-similar__link" href="#"></a>
                    </div>
                </div>
            </div>
        </section><!-- END promo-similar -->

    </main><!-- END page -->
    @@include('template/footer.html')
</div><!-- END wrap-main -->

@@include('template/foot.html')
</body>
</html>
