@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            @@include('template/topmenu.html')

            <section class="showroom">
                <div class="showroom-header">
                    <h1 class="showroom-header__title">Шоу-рум «Даичи» в многофункциональном комплексе «Даичи Хлебниково»</h1>
                    <p class="showroom-header__subtitle">Экспозиция актуальных технических решений крупнейшего российского дистрибьютора климатической техники</p>
                    <a class="btn btn_blue-border btn_small mb0" href="#">Смотреть видео <span class="icon icon-video"></span></a>
                </div>

                <div class="showroom-carousel">
                    <div class="showroom-carousel__img">
                        <img src="./img/showroom/slider_1.jpg" alt="">
                    </div>
                    <div class="showroom-carousel__img">
                        <img src="./img/showroom/slider_2.jpg" alt="">
                    </div>
                    <div class="showroom-carousel__img">
                        <img src="./img/showroom/slider_3.jpg" alt="">
                    </div>
                    <div class="showroom-carousel__img">
                        <img src="./img/showroom/slider_4.jpg" alt="">
                    </div>
                </div>

                <div class="showroom-about">
                    <h2>О шоу-руме</h2>
                    <ul class="showroom-about-list">
                        <li class="showroom-about-list-item">
                            <span class="showroom-about-list-item__img">
                                <img src="./img/showroom/about_1.jpg" alt="">
                            </span>
                            <span class="showroom-about-list-item__description">Постоянная экспозиция актуальных линеек оборудования «Даичи»</span>
                        </li>

                        <li class="showroom-about-list-item">
                            <span class="showroom-about-list-item__img">
                                <img src="./img/showroom/about_2.jpg" alt="">
                            </span>
                            <span class="showroom-about-list-item__description">Действующие экспонаты популярных и новейших моделей</span>
                        </li>

                        <li class="showroom-about-list-item">
                            <span class="showroom-about-list-item__img">
                                <img src="./img/showroom/about_3.jpg" alt="">
                            </span>
                            <span class="showroom-about-list-item__description">Экскурсии для партнёров и клиентов: заказчиков, проектировщиков, дизайнеров, конечных пользователей</span>
                        </li>

                        <li class="showroom-about-list-item">
                            <span class="showroom-about-list-item__img">
                                <img src="./img/showroom/about_4.jpg" alt="">
                            </span>
                            <span class="showroom-about-list-item__description">Семинары, презентации и другие мероприятия в конференц-зале шоу-рума</span>
                        </li>

                        <li class="showroom-about-list-item">
                            <span class="showroom-about-list-item__img">
                                <img src="./img/showroom/about_5.jpg" alt="">
                            </span>
                            <span class="showroom-about-list-item__description">Обучение и курсы повышения квалификации в специально оборудованных классах</span>
                        </li>

                        <li class="showroom-about-list-item">
                            <span class="showroom-about-list-item__img">
                                <img src="./img/showroom/about_6.jpg" alt="">
                            </span>
                            <span class="showroom-about-list-item__description">Площадка для действующих систем VRF на кровле здания</span>
                        </li>
                    </ul>
                </div>

                <div class="showroom-sections">
                    <h2>Залы и тематические экспозиции</h2>

                    <div class="showroom-sections-item">
                        <h3>Экспозиция «Исторические блоки»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_1.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_2.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Первые поставленные «Даичи» настенные сплит-системы, очистители Daikin и Kentatsu</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Зал «Системы кондиционирования»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_3.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Daikin Split, Multi, Sky</li>
                                        <li>Daikin VRV, HRV</li>
                                        <li>Воздухоочистители Daikin</li>
                                        <li>Midea Split, Multi, Light Commercial</li>
                                        <li>Midea MIV V5, MIV V6</li>
                                        <li>Kentatsu Split, Multi, Light Commercial</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Kentatsu DX PRO</li>
                                        <li>Наружный блок Sky Air Daikin с доработкой для использования при низких температурах наружного воздуха</li>
                                        <li>Решение для бесперебойного охлаждения технологических помещении СРК-D</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Зал «Типовые решения от «Даичи» для загородного дома»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_4.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Интеграция поставляемого “Даичи” оборудования в систему “Умный Дом”</li>
                                        <li>Премиальные решения для жилых помещений</li>
                                        <li>Системы ATW для отопления и ГВС Midea и Daikin</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Котлы, радиаторы отопления Kentatsu Furst</li>
                                        <li>Энергосберегающая вентиляционная установка Flaktwoods</li>
                                        <li>Кондиционеры и фанкойлы Daikin и Kentatsu</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Зал «Премиальные решения от «Даичи» в VIP-комнате для переговоров»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_5.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_6.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_7.jpg" alt="">
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Экспозиция «Системы увлажнения Draabe»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_8.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_9.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_10.jpg" alt="">
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Зал «Отопительное оборудование»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_11.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_12.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Газовые и твердотопливные котлы, котел под горелку Kentatsu Furst</li>
                                        <li>Горелки Kentatsu Furst</li>
                                        <li>Радиаторы Furst</li>
                                        <li>Конвекторы Minib</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Кабинет практических занятий</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_13.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_14.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_15.jpg" alt="">
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Учебный класс</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_16.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_17.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_18.jpg" alt="">
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Зал «Системы централизованного управления/Диспетчерская действующего оборудования экспозиции»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_19.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_20.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Daikin</li>
                                        <li>Kentatsu</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Зал «Центральные системы кондиционирования и вентиляции»</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_21.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_22.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <div class="section-gallery__list">
                                    <ul>
                                        <li>Вентиляционные установки, ККБ Kentatsu и Daikin</li>
                                        <li>Фанкойлы Kentatsu и Daikin </li>
                                        <li>Гидромодуль Kentatsu</li>
                                        <li>Примеры подключения водяных теплообменников и ККБ</li>
                                        <li>Вентиляция Wolter</li>
                                        <li>Автоматика систем вентиляции</li>
                                        <li>Чиллеры Midea и Daikin</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="showroom-sections-item">
                        <h3>Площадка с действующими системами VRF Kentatsu и VRV Daikin на кровле здания</h3>

                        <ul class="section-gallery section-gallery_carousel">
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_23.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_24.jpg" alt="">
                            </li>
                            <li class="section-gallery__item">
                                <img src="./img/showroom/section_25.jpg" alt="">
                            </li>
                        </ul>
                    </div>

                    <p class="showroom-sections__howto">Для посещения Шоу-рума «Даичи» обращайтесь к вашему менеджеру в компании.</p>
                </div>
            </section>

        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>
