@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <main class="page content">

            <!-- SIDE NAV -->
            <nav class="top-menu">
                <div class="container">
                    <ul>
                        <li><a href="#">История</a></li>
                        <li class="active"><a href="#">Структура</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Представительства</a></li>
                        <li><a href="#">Объекты</a></li>
                        <li><a href="#">Шоу-рум</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDE NAV -->

            <!-- STRUCTURE -->
            <section class="structure">
                <h2 class="page-title">Деятельность Daichi</h2>
                <div class="structure__container">
                    <div class="container">
                        <div class="structure__list">
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Коммерческое направление</h5>
                                        <div class="structure__details-text">
                                            <p>Коммерческий отдел компании DAICHI организует взаимодействие и&nbsp;координирует работу подразделений компании с&nbsp;дилерами на&nbsp;всех этапах сотрудничества. Одна из&nbsp;приоритетных задач коммерческого направления&nbsp;&mdash; постоянное развитие региональной сети представительств.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Техническое направление</h5>
                                        <div class="structure__details-text">
                                            <p>Инженерно-техническую поддержку дилеров на&nbsp;всех стадиях разработки и&nbsp;реализации систем кондиционирования о&nbsp;существля ет&nbsp;технический отдел DAICHI. Клиент всегда может получить консультации по&nbsp;техническим характеристикам и&nbsp;применению оборудования, а&nbsp;также необходимую техническую документацию. Дилерам и&nbsp;проектировщикам DAICHI оказывает помощь в&nbsp;подготовке коммерческих предложений и&nbsp;к&nbsp;участию в&nbsp;тендерах.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Cервисный центр</h5>
                                        <div class="structure__details-text">
                                            <p>Качественный монтаж и&nbsp;квалифицированное сервисное обслуживание являются гарантией надежной и&nbsp;долговечной работы климатической системы. </p>
                                            <p>Сервисный центр DAICHI осуществляет информационную поддержку сервисных служб дилеров для квалифицированного решения вопросов работы с&nbsp;кондиционерами. Он&nbsp;принимает участие в&nbsp;решении сложных технических проблем дилеров на&nbsp;объектах монтажа. </p>
                                            <p>Специалисты сервисного центра участвуют в&nbsp;обучении технических специалистов дилеров правильному выполнению монтажных и&nbsp;сервисных работ и&nbsp;предоставляют техническую документацию сервисным службам дилеров. Персонал дилерской организации может получить оперативные консультации на&nbsp;объектах монтажа, исправные детали и&nbsp;агрегаты для выполнения ремонтных работ. </p>
                                            <p>Сервисный центр DAICHI проводит сертификацию сервисных центров, организованных на&nbsp;базе авторизованных дилеров, которые производят </p>
                                        </div>
                                    </div>
                                    <div class="structure__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="Свернуть" data-close="Читать далее">Читать далее</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Технический маркетинг</h5>
                                        <div class="structure__details-text">
                                            <p>Центр технического маркетинга DAICHI осуществляет сбор, систематизацию и&nbsp;оперативное предоставление технической информации дилерам DAICHI с&nbsp;целью эффективного продвижения климатического оборудования на&nbsp;российском рынке. </p>
                                            <p>ЦТМ оценивает перспективность новых и&nbsp;существующих моделей для отечественного рынка, осуществляет информационную поддержку оборудования, оперативное предоставление электронной информации по&nbsp;запросу дилера. По&nbsp;любым вопросам, связанным с&nbsp;информацией о&nbsp;модельных рядах оборудования, за&nbsp;документацией описательного характера или тематическими статьями дилер может обращаться в&nbsp;ЦТМ.</p>
                                        </div>
                                    </div>
                                    <div class="structure__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="Свернуть" data-close="Читать далее">Читать далее</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Информационная поддержка</h5>
                                        <div class="structure__details-text">
                                            <p>DAICHI осуществляет подготовку и&nbsp;повышение квалификации специалистов фирм-дилеров в&nbsp;области подбора, монтажа и&nbsp;сервисного обслуживания систем кондиционирования воздуха и&nbsp;вентиляции, поставляемых DAICHI. <br>DAICHI стремится предоставить своим партнерам в&nbsp;полном объеме всю информацию о&nbsp;поставляемом оборудовании, методах подбора оборудования и&nbsp;проектирования систем кондиционирования. </p>
                                            <p>Консультирование проводят профессиональные преподаватели, имеющие большой опыт практической работы с&nbsp;оборудованием. Применяется выездная форма консультирования на&nbsp;базе региональных представительств DAICHI.</p>
                                            <p>Программа дистанционного консультирования дополняет традиционные формы преподавания и&nbsp;предназначена для самостоятельной подготовки персонала региональных представительств и&nbsp;дилеров DAICHI через Интернет. После завершения тематического курса и&nbsp;тестирования слушателям выдаются именные документы о&nbsp;прохождении курса.</p>
                                        </div>
                                    </div>
                                    <div class="structure__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="Свернуть" data-close="Читать далее">Читать далее</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Системная поддержка (ЦСП)</h5>
                                        <div class="structure__details-text">
                                            <p>Центр системной поддержки DAICHI организует взаимодействие и&nbsp;координирует работу компании с&nbsp;проектными организациями. ЦСП взаимодействует со&nbsp;специалистами проектных организаций и&nbsp;дилеров по&nbsp;проектам с&nbsp;целью применения оборудования DAICHI. Для дилеров есть возможность сотрудничества по&nbsp;программе &laquo;Приоритетный объект&raquo;.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Рекламное направление</h5>
                                        <div class="structure__details-text">
                                            <p>В&nbsp;отличие от&nbsp;многих дистрибьюторов, компания DAICHI располагает собственным отделом рекламы, который ежегодно проводит сезонные рекламные кампании реализуемых брендов оборудования. В&nbsp;регионах отдел рекламы координирует маркетинговую деятельность представительств, филиалов и&nbsp;дилеров, которым предоставляются рекламные материалы по&nbsp;программе компенсации. </p>
                                            <p>Регулярно проводятся маркетинговые и&nbsp;PR акции, ведется маркетинговая поддержка всех проектов и&nbsp;направлений компании DAICHI. Отдел рекламы также обеспечивает партнеров всеми видами рекламной продукции.</p>
                                        </div>
                                    </div>
                                    <div class="structure__btn">
                                        <a href="#" class="showmore"><span class="text" data-open="Свернуть" data-close="Читать далее">Читать далее</span> <span class="icon icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Закупки и планирование</h5>
                                        <div class="structure__details-text">
                                            <p>Для компании DAICHI как дистрибьютора прежде всего важно обеспечивать бесперебойный процесс продаж. Поэтому отдел закупок и&nbsp;планирования организует закупки для поддержания оптимального стока оборудования на&nbsp;складе, планирует продажи и&nbsp;производит закупки в&nbsp;соответствии с&nbsp;текущим планом закупок и&nbsp;заказами клиентов.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Корпоративное направление</h5>
                                        <div class="structure__details-text">
                                            <p>Компания DAICHI заинтересована в&nbsp;развитии и&nbsp;поддержании долгосрочных отношений с&nbsp;корпоративными клиентами. Соответствующее подразделение компании повышает эффективность и&nbsp;качество работы с&nbsp;существующими корпоративными клиентами, занимается подготовкой тендерной документации и&nbsp;участием в&nbsp;тендерах клиентов.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>Финансовое направление</h5>
                                        <div class="structure__details-text">
                                            <p>Сотрудники финансового подразделения компании DAICHI осуществляют юридическую поддержку и&nbsp;сопровождение договоров, организацию, планирование и&nbsp;контроль финансовых и&nbsp;материальных потоков.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="structure__row">
                                <div class="structure__row-item">
                                    <div class="structure__details">
                                        <h5>IT-направление</h5>
                                        <div class="structure__details-text">
                                            <p>DAICHI регулярно развивает программные продукты, IT-cервисы, web-приложения , что способствует оперативной связи с&nbsp;партнерами, бесперебойной передаче информации и&nbsp;предоставлению клиентам удобного интерфейса для работы со&nbsp;всеми программными продуктами DAICHI, в&nbsp;том числе представленными на&nbsp;официальном сайте компании www.daichi.ru.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /STRUCTURE -->


        </main><!-- END page -->

        @@include('template/footer.html')
    </div><!-- END wrap-main -->

    @@include('template/foot.html')
</body>
</html>