@@include('template/head.html')
<body>
    @@include('template/old_ie_update.html')

    @@include('template/svg.html')

    <div class="wrap-main">
        @@include('template/header.html', {
            "color": "white",
            "color_modificator": "header-desktop_white"
        })

        <div class="container">
            <h1>Заголовок h1</h1>
            <h2>Заголовок h2</h2>
            <h3>Заголовок h3</h3>
            <h4>Заголовок h4</h4>
            <h5>Заголовок h5</h5>
            <h6>Заголовок h6</h6>

            <p>Пример использования подсказки: <span class="tooltip" title="Сдвоенные заслонки изменяют направление воздушного потока из внутреннего блока по вертикали">Подсказка. Наведи на меня</span></p>

            <p>Цена 123 <span class="rub">руб.</span></p>

            <p><span class="icon icon-search"></span></p>

            <p>Lorem ipsum dolor sit amet, consectetur <a href="">adipisicing</a> elit. Mollitia illum enim numquam blanditiis repellendus aspernatur aperiam, hic. Cum harum ea recusandae molestiae, blanditiis asperiores, voluptatem tempore vero in consequatur perferendis!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quo sequi nam, consequuntur soluta atque labore blanditiis odio beatae pariatur totam minus. Voluptatum nam, alias nobis fuga tempore beatae nostrum.</p>
            <a class="" href="#">Ссылка обычная</a><br>
            <a class="black bold big" href="#">Ссылка жирная и большая</a><br>
            <a class="blue" href="#">Ссылка синяя</a><br>
            <a class="black" href="#">Ссылка черная</a><br>
            <a class="grey small" href="#">Ссылка серая и маленькая</a>

            <p>Список маркированный:</p>
            <ul>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </li>
                <li>
                    Corrupti blanditiis nesciunt nam ratione temporibus, architecto natus similique!
                    <ul>
                        <li>Fugiat quo sequi nam, consequuntur soluta atque labore blanditiis odio beatae pariatur totam minus.</li>
                        <li>Voluptatum nam, alias nobis fuga tempore beatae nostrum.</li>
                    </ul>
                </li>
                <li>
                    Nisi vitae impedit incidunt id assumenda cum corporis qui possimus eius accusantium!
                </li>
            </ul>

            <p>Список нумерованный</p>
            <ol>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </li>
                <li>
                    Corrupti blanditiis nesciunt nam ratione temporibus, architecto natus similique!
                    <ol>
                        <li>Fugiat quo sequi nam, consequuntur soluta atque labore blanditiis odio beatae pariatur totam minus.</li>
                        <li>Voluptatum nam, alias nobis fuga tempore beatae nostrum.</li>
                    </ol>
                </li>
                <li>
                    Nisi vitae impedit incidunt id assumenda cum corporis qui possimus eius accusantium!
                </li>
            </ol>

            <p>Блок с градиентом</p>
            <div class="gradient-block" style="width: 320px; height: 320px;"></div>

            <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi repudiandae quo voluptate beatae dolore, sed. Harum blanditiis, sit illum ut nulla quis similique quo ab sunt distinctio minus, vero natus?</q>

            <hr>

            <p>No styled table</p>
            <table>
                <thead>
                    <tr>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>Voluptatum nam, alias nobis fuga tempore beatae nostrum.</td>
                        <td>Quidem fugit velit, inventore.</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                        <td>Eius consequuntur perferendis pariatur, at libero iste quam!</td>
                    </tr>
                    <tr>
                        <td>789</td>
                        <td>Sit delectus iure, ratione ipsam quo.</td>
                        <td>Molestiae ipsa vitae, minus nobis in.</td>
                    </tr>
                </tbody>
            </table>
            <br>

            <p>Styled table</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>Voluptatum nam, alias nobis fuga tempore beatae nostrum.</td>
                        <td>Quidem fugit velit, inventore.</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                        <td>Eius consequuntur perferendis pariatur, at libero iste quam!</td>
                    </tr>
                    <tr>
                        <td>789</td>
                        <td>Sit delectus iure, ratione ipsam quo.</td>
                        <td>Molestiae ipsa vitae, minus nobis in.</td>
                    </tr>
                </tbody>
            </table>

            <fieldset>
                <legend>Fieldset</legend>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste molestias quos eum labore, ipsum dolorum dolores culpa cupiditate nulla ex, eveniet sit reprehenderit, repellendus nemo suscipit, hic enim recusandae. Doloribus?
            </fieldset>

            <ul class="tabs">
                <li class="tabs__item">
                    <span class="tabs__link is-active">Предложения (24)</span>
                    <div class="tabs__cnt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem.Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
                    </div>
                </li>
                <li class="tabs__item">
                    <span class="tabs__link">Характеристики</span>
                    <div class="tabs__cnt">
                        <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate.</p>
                    </div>
                </li>
                <li class="tabs__item">
                    <span class="tabs__link">Отзывы (7)</span>
                    <div class="tabs__cnt">
                        <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
                    </div>
                </li>
                <li class="tabs__item">
                    <span class="tabs__link">Last Item</span>
                    <div class="tabs__cnt">
                        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
                    </div>
                </li>
            </ul>

            <p>Кнопка обычная</p>
            <button class="btn" type="button">Button</button>
            <input class="btn" type="button" value="Input">
            <a href="" class="btn">Link</a>
            <br>

            <p>Кнопка обычная disabled</p>
            <button class="btn" type="button" disabled>Button</button>
            <input class="btn" type="button" value="Input" disabled>
            <a href="" class="btn is-disabled">Link</a>
            <br>

            <p>Default icon</p>
            <button class="btn" type="button"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Button</button>
            <a href="" class="btn"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Link</a>
            <br>

            <p>Default icon disabled</p>
            <button class="btn" type="button" disabled><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Button</button>
            <a href="" class="btn is-disabled"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Link</a>
            <br>

            <p>Кнопка с рамкой</p>
            <button class="btn btn_border" type="button">Button</button>
            <input class="btn btn_border" type="button" value="Input">
            <a href="" class="btn btn_border">Link</a>
            <br>

            <p>Кнопка белая</p>
            <button class="btn btn_white" type="button">Button</button>
            <input class="btn btn_white" type="button" value="Input">
            <a href="" class="btn btn_white">Link</a>
            <br>

            <p>Кнопка прозрачная с белой рамкой</p>
            <button class="btn btn_clear" type="button">Button</button>
            <input class="btn btn_clear" type="button" value="Input">
            <a href="" class="btn btn_clear">Link</a>
            <br>

            <p>Link</p>
            <button class="btn btn_link" type="button">Button</button>
            <input class="btn btn_link" type="button" value="Input">
            <a href="" class="btn btn_link">Link</a>
            <br>

            <p>Link disabled</p>
            <button class="btn btn_link" type="button" disabled>Button</button>
            <input class="btn btn_link" type="button" value="Input" disabled>
            <a href="" class="btn btn_link is-disabled">Link</a>
            <br>

            <p>Link icon</p>
            <button class="btn btn_link" type="button"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Button</button>
            <a href="" class="btn btn_link"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Link</a>
            <br>

            <p>Link icon disabled</p>
            <button class="btn btn_link" type="button" disabled><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Button</button>
            <a href="" class="btn btn_link is-disabled"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>Link</a>
            <br>

            <button class="btn btn_block" type="button">Button block</button>
            <input class="btn btn_block" type="button" value="Input block">
            <a href="" class="btn btn_block">Link block</a>

            <button class="btn pull-left" type="button">Button left</button>
            <button class="btn pull-right clear-no" type="button">Button right</button>
            <br>
            <div class="clear"></div>
            <hr>

            <form action="" data-validate="true">
                <label for="">Select file</label>
                <input type="file" name="" id="" title="Browse...">

                <label for="">Label *</label>
                <input type="text" name="textInput" id="" placeholder="Only digits" data-parsley-type="digits" required>

                <label for="">Label</label>
                <input type="text" name="textInput2" id="" disabled>

                <label for="">Label *</label>
                <select name="testSelect" id="" data-search="true" data-placeholder="Select an option" required>
                    <option value=""></option>
                    <option value="1">Select 1</option>
                    <option value="2">Select 2</option>
                </select>

                <label for="">Label</label>
                <select name="testSelect2" id="" data-search="true" data-placeholder="Select an option" disabled>
                    <option value=""></option>
                    <option value="1">Select 1</option>
                    <option value="2">Select 2</option>
                </select>

                <label for="">Label</label>
                <textarea name="testTextarea" id="" rows="3"></textarea>

                <label for="">Label</label>
                <textarea name="testTextarea2" id="" rows="3" disabled></textarea>

                <label for="dateInput">Date</label>
                <input type="text" name="dateInput" id="dateInput" class="datepicker">

                <label>Label</label>
                <div class="slider">
                    <div class="slider__range" data-min="0" data-max="100" data-step="1" data-values="10, 55"></div>
                </div>

                <p class="label">Select some of group *</p>
                <input type="checkbox" name="checkGroup[]"  id="checkGroup-1" value="1" required>
                <label for="checkGroup-1">Option 1</label>
                <input type="checkbox" name="checkGroup[]"  id="checkGroup-2" value="2">
                <label for="checkGroup-2">Option 2</label>
                <input type="checkbox" name="checkGroup[]"  id="checkGroup-3" value="3" disabled>
                <label for="checkGroup-3">Option 3</label>

                <p class="label">Select some of group</p>

                <input type="radio" name="checkGroup2[]"  id="checkGroup2-1" value="1">
                <label for="checkGroup2-1">Option 1</label>
                <input type="radio" name="checkGroup2[]"  id="checkGroup2-2" value="2">
                <label for="checkGroup2-2">Option 2</label>
                <input type="radio" name="checkGroup2[]"  id="checkGroup2-3" value="3" disabled>
                <label for="checkGroup2-3">Option 3</label>

                <p class="label">Select some</p>
                <input type="checkbox" name="checkGroup3[]"  id="checkGroup3-1" value="1">
                <label for="checkGroup3-1" class="checkbox-slide">Option 1</label>
                <input type="checkbox" name="checkGroup3[]"  id="checkGroup3-2" value="2">
                <label for="checkGroup3-2" class="checkbox-slide">Option 2</label>

                <hr>

                <input type="checkbox" name="check1"  id="check1" value="1" required>
                <label for="check1">Send *</label>

                <br>

                <button class="btn" type="submit" disabled>Send</button>
            </form>

            <form name="validation-form" id="validation-form" action="" data-validate="true">
                <fieldset>
                    <legend>Проверка валидации</legend>
                    <label for="validation-form__login">Введите логин *</label>
                    <input type="text" name="validation-form__login" id="validation-form__login" data-parsley-type="alphanum" minlength="5" maxlength="20" required autofocus>

                    <label for="validation-form__password">Введите пароль *</label>
                    <input type="password" name="validation-form__password" id="validation-form__password" data-parsley-type="alphanum" data-parsley-length="[5, 20]" required>

                    <label for="validation-form__password-repeat">Повторите пароль *</label>
                    <input type="password" name="validation-form__password-repeat" id="validation-form__password-repeat" data-parsley-equalto="#validation-form__password" required>

                    <label for="validation-form__name">Введите ФИО</label>
                    <input type="text" name="validation-form__name" id="validation-form__name" data-parsley-name-ru>

                    <label for="validation-form__email">Введите email</label>
                    <input type="email" name="validation-form__email" id="validation-form__email">

                    <label for="validation-form__url">Введите url</label>
                    <input type="url" name="validation-form__url" id="validation-form__url">

                    <label for="validation-form__url">Введите телефон</label>
                    <input type="tel" name="validation-form__url" id="validation-form__url" data-parsley-phone data-mask="phoneRu">

                    <label for="validation-form__integer">Введите целое число между -255 и 255</label>
                    <input type="number" name="validation-form__integer" id="validation-form__integer" data-parsley-min="-255" data-parsley-max="255">

                    <label for="validation-form__double">Введите число между 0 и 1</label>
                    <input type="text" name="validation-form__double" id="validation-form__double" pattern="(\d*\.)?\d+" data-parsley-range="[0, 1]">

                    <label for="validation-form__textarea">Напишите о себе (не более 100 символов)</label>
                    <textarea name="validation-form__textarea" id="validation-form__textarea" rows="3" data-parsley-maxlength="100"></textarea>

                    <label for="validation-form__date">Выберите дату</label>
                    <input type="text" name="validation-form__date" id="validation-form__date" class="datepicker" placeholder="DD.MM.YYYY" data-parsley-date>

                    <label for="validation-form__date-autumn">Выберите любой день осени 2016</label>
                    <input type="text" name="validation-form__date-autumn" id="validation-form__date-autumn" class="datepicker" placeholder="DD.MM.YYYY" data-parsley-date data-date-min="01.09.2016" data-date-max="30.11.2016">

                    <label for="validation-form__file-choose">Загрузите файл размером до 100 Kb</label>
                    <input type="file" name="validation-form__file-choose" id="validation-form__file-choose" data-parsley-max-file-size="100" title="Browse...">

                    <label for="validation-form__select">Выберите любой вариант *</label>
                    <select name="validation-form__select" id="validation-form__select" data-search="true" data-placeholder="Select an option" required>
                        <option value=""></option>
                        <option value="1">Оксфорды</option>
                        <option value="2">Броги</option>
                    </select>

                    <p class="label">Выберите от 1 до 3 вариантов *</p>
                    <input type="checkbox" name="validation-form__check-group[]" id="validation-form__check-group-1" value="1" data-parsley-check="[1, 3]" required>
                    <label for="validation-form__check-group-1">Angular2</label>
                    <input type="checkbox" name="validation-form__check-group[]" id="validation-form__check-group-2" value="2">
                    <label for="validation-form__check-group-2">React</label>
                    <input type="checkbox" name="validation-form__check-group[]" id="validation-form__check-group-3" value="3">
                    <label for="validation-form__check-group-3">Vue</label>
                    <input type="checkbox" name="validation-form__check-group[]" id="validation-form__check-group-4" value="4">
                    <label for="validation-form__check-group-4">Backbone</label>
                    <input type="checkbox" name="validation-form__check-group[]" id="validation-form__check-group-5" value="5">
                    <label for="validation-form__check-group-5">Ember</label>

                    <br>

                    <p class="label">Выберите любой вариант *</p>
                    <input type="radio" name="validation-form__check-group-radio[]" id="validation-form__check-group-radio-1" value="1" required>
                    <label for="validation-form__check-group-radio-1">Angular2</label>
                    <input type="radio" name="validation-form__check-group-radio[]" id="validation-form__check-group-radio-2" value="2">
                    <label for="validation-form__check-group-radio-2">React</label>
                    <input type="radio" name="validation-form__check-group-radio[]" id="validation-form__check-group-radio-3" value="3">
                    <label for="validation-form__check-group-radio-3">Vue</label>
                    <input type="radio" name="validation-form__check-group-radio[]" id="validation-form__check-group-radio-4" value="4">
                    <label for="validation-form__check-group-radio-4">Backbone</label>
                    <input type="radio" name="validation-form__check-group-radio[]" id="validation-form__check-group-radio-5" value="5">
                    <label for="validation-form__check-group-radio-5">Ember</label>

                    <br>

                    <div class="check-group">

                        <label class="custom-check custom-check_type_checkbox custom-check_style_slide is-active">
                            <input name="checkGroup3" type="checkbox" value="1" data-custom="check">
                            Слайд выбран
                        </label>

                        <label class="custom-check custom-check_type_checkbox custom-check_style_slide">
                            <input name="checkGroup3" type="checkbox" value="1" data-custom="check">
                            Слайд не выбран
                        </label>

                        <br>
                        <label class="custom-check custom-check_type_checkbox custom-check_style_slide disabled is-disabled">
                            <input name="checkGroup3" type="checkbox" value="2" data-custom="check" disabled="">
                            Slide option 2
                        </label>
                </div>

                    <input type="checkbox" name="validation-form__agree" id="validation-form__agree" value="1" required>

                    <label for="validation-form__agree">Согласен с условиями *</label>

                    <button class="btn" type="submit" disabled>Отправить</button>

                </fieldset>
            </form>

        </div>

        @@include('template/footer.html')
    </div>

    @@include('template/foot.html')

    @@include('template/popups.html')
</body>
</html>
