<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKa4F9d87Ch5i_nCgEw38w5S2P7I0QGPA"></script>
<script src="js/external.js" type="text/javascript"></script>
<script src="js/internal.js" type="text/javascript"></script>