
<footer class="footer">
    <div class="container">

        <div class="footer__top">
            <div class="footer__side">
                <ul class="footer__nav">
                    <li><a href="#">Купить оборудование</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <ul class="footer__cont">
                    <li>
                        <i class="footer__cont-info">Служба поддержки</i>
                        <a class="footer__cont-link" href="tel:+78002000005">8 800 200-00-05</a>
                    </li>
                    <li>
                        <i class="footer__cont-info">Офис компании</i>
                        <a class="footer__cont-link" href="tel:+74957373733">+7 (495) 737-37-33</a>
                    </li>
                </ul>
                <ul class="footer__sonet">
                    <li><a class="icon-fb" href="#" target="_blank" title="Facebook"></a></li>
                    <li><a class="icon-vk" href="#" target="_blank" title="ВКонтакте"></a></li>
                    <li><a class="icon-yt" href="#" target="_blank" title="YouTube"></a></li>
                </ul>
            </div>

            <div class="footer__main js-accordions-footer">
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Сплит-системы Daikin</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Сплит-системы Midea</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Сплит-системы Kentatsu</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Сплит-системы Axioma</h5>
                    <ul class="footer__menu">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">ASX-E</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Полупромышленные кондиционеры</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Daikin</a></li>
                        <li><a href="#">Midea</a></li>
                        <li><a href="#">Kentatsu</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Системы чиллер-фанкойл</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Daikin</a></li>
                        <li><a href="#">Midea</a></li>
                        <li><a href="#">Kentatsu</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Системы VRF</h5>
                    <ul class="footer__menu">
                        <li><a href="#">VRV Daikin</a></li>
                        <li><a href="#">Kentatsu DX PRO</a></li>
                        <li><a href="#">Midea MIV</a></li>
                        <li><a href="#">Midea V5</a></li>
                        <li><a href="#">Samsung DVM</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Приточно-вытяжная вентиляция</h5>
                    <ul class="footer__menu">
                        <li><a href="#">FlaktWoods Prime</a></li>
                        <li><a href="#">Kentatsu Stormann Aero</a></li>
                        <li><a href="#">Kentatsu Комфорт</a></li>
                        <li><a href="#">Паскаль</a></li>
                        <li><a href="#">Janka</a></li>
                        <li><a href="#">Wolter</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Модульная вентиляция</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Wolter</a></li>
                        <li><a href="#">Stormann</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Системы увлажнения</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Draabe</a></li>
                    </ul>
                </div>
                <div class="footer__unit">
                    <h5 class="footer__title js-accordion-head">Отопительное оборудование</h5>
                    <ul class="footer__menu">
                        <li><a href="#">Kentatsu FURST</a></li>
                        <li><a href="#">MINIB</a></li>
                        <li><a href="#">Furst</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- END footer__top -->

        <div class="footer__btm">
            <div class="footer__btm-lt">
                <ul class="footer__btm-info">
                    <li>&copy; Daichi 2016. Все права защищены.</li>
                    <li><a href="#">Правила и условия</a></li>
                </ul>
            </div>
            <div class="footer__btm-rt">
                <div class="footer__btm-made">Сделано в <a href="http://greensight.ru/">Greensight</a></div>
            </div>
        </div><!-- END footer__btm -->

    </div><!-- END container -->
</footer><!-- END Site footer-->
