<header class="header">
    <div class="header-desktop @@color_modificator" id="header-desktop">
        <a href="/" title="На главную">
          <img class="header-logo header-logo_desktop-lg for-black" src="img/logo-daichi-white.svg" alt="Daichi">
          <img class="header-logo header-logo_desktop-lg for-white" src="img/logo-daichi-color.svg" alt="Daichi">
        </a>

        <a class="header__geolocation" href="#"><span class="icon icon-baloon"></span>Москва</a>

        <nav class="main-nav pull-right">
            <ul class="main-nav__list">
                <li class="main-nav__item main-nav__item_ml main-nav__item_relative">
                    <div class="header-search">
                        <form id="search-form-desktop" class="header-search__form" style="display: none;">
                            <button type="submit" class="header-search__search-btn btn btn_link"><span class="icon icon-search"></span></button>
                            <input type="text" placeholder="Что Вы ищете?">
                            <button type="button" class="header-search__close-btn btn btn_link" data-visibility="show" data-show="#show-search-desktop" data-hide="#search-form-desktop" data-queue="show">
                                <span class="icon icon-cross"></span>
                            </button>
                        </form>

                        <button id="show-search-desktop" type="button" class="header-search__show-btn btn btn_link mb0" data-visibility="show" data-show="#search-form-desktop" data-hide="#show-search-desktop" data-queue="show">
                            <span class="icon icon-search"></span>
                        </button>
                    </div>
                </li>
                <li class="main-nav__item main-nav__item_ml">
                    <button class="btn btn_clean mb0" type="button" title="Личный кабинет">
                        <span class="icon icon-user"></span>
                    </button>
                </li>
                <li class="main-nav__item main-nav__item_ml">
                    <a class="btn btn_clean mb0" href="#" title="Сравнение товаров"><span class="icon icon-list"></span> 2 </a>
                </li>
                <li class="main-nav__item main-nav__item_ml">
                    <a class="btn btn_clean mb0" href="#" title="Отложенные товары"><span class="icon icon-heart"></span> 4 </a>
                </li>
                <li class="main-nav__item main-nav__item_ml">
                    <a class="main-nav__link" href="#">In English</a>
                </li>
            </ul>
        </nav>

        <nav class="main-nav main-nav_desktop pull-right">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a class="main-nav__link js-prod-menu_show" role="button">Оборудование <span class="icon icon-menu"></span></a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__link js-buy-menu_show" role="button">Купить <span class="icon icon-arrow"></span></a>
                    <ul class="main-nav-subnav">
                        <li class="main-nav-subnav__item main-nav-subnav__item_blue">
                            <a class="main-nav-subnav__link" href="#">Кондиционирование</a>
                        </li>
                        <li class="main-nav-subnav__item main-nav-subnav__item_violet">
                            <a class="main-nav-subnav__link" href="#">Вентиляция</a>
                        </li>
                        <li class="main-nav-subnav__item main-nav-subnav__item_orange">
                            <a class="main-nav-subnav__link" href="#">Увлажнение</a>
                        </li>
                        <li class="main-nav-subnav__item main-nav-subnav__item_green">
                            <a class="main-nav-subnav__link" href="#">Отопление</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__link" href="#">Новости</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__link" href="#">О компании</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="header-tablet">
            <img class="header-logo for-black" src="img/logo-daichi-white.svg" alt="Daichi">
            <img class="header-logo for-white" src="img/logo-daichi-color.svg" alt="Daichi">


            <nav class="main-nav pull-right">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a class="main-nav__link js-prod-menu_show" role="button">Оборудование <span class="icon icon-menu"></span></a>
                    </li>
                    <li class="main-nav__item">
                        <a class="main-nav__link js-buy-menu_show" role="button">Купить <span class="icon icon-arrow"></span></a>
                        <ul class="main-nav-subnav">
                            <li class="main-nav-subnav__item main-nav-subnav__item_blue">
                                <a class="main-nav-subnav__link" href="#">Кондиционирование</a>
                            </li>
                            <li class="main-nav-subnav__item main-nav-subnav__item_violet">
                                <a class="main-nav-subnav__link" href="#">Вентиляция</a>
                            </li>
                            <li class="main-nav-subnav__item main-nav-subnav__item_orange">
                                <a class="main-nav-subnav__link" href="#">Увлажнение</a>
                            </li>
                            <li class="main-nav-subnav__item main-nav-subnav__item_green">
                                <a class="main-nav-subnav__link" href="#">Отопление</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-nav__item">
                        <a class="main-nav__link" href="#">Новости</a>
                    </li>
                    <li class="main-nav__item">
                        <a class="main-nav__link" href="#">О компании</a>
                    </li>
                    <li class="main-nav__item">
                        <a class="main-nav__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header__prod-menu prod-menu" id="prod-menu">
        <div class="prod-menu__back js-prod-menu_hide"></div>
        <div class="prod-menu__body" id="prod-menu-body">
            <a class="prod-menu__close js-prod-menu_hide" role="button"></a>
            <div class="prod-menu__nav">
                <h5 class="prod-menu__title">Оборудование</h5>
                <ul class="prod-menu__list">
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Сплит-системы</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Daikin</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_01.jpg" alt="Daikin Emura">
                                        <div class="offer-menu__txt">Emura</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_02.jpg" alt="Daikin FTXS">
                                        <div class="offer-menu__txt">FTXS</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_03.jpg" alt="Daikin FTXB-C">
                                        <div class="offer-menu__txt">FTXB-C</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_04.jpg" alt="Daikin FTX">
                                        <div class="offer-menu__txt">FTX</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_05.jpg" alt="Daikin FTYN">
                                        <div class="offer-menu__txt">FTYN</div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="offer-menu__title">Midea</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_06.jpg" alt="Midea Kid Star">
                                        <div class="offer-menu__txt">Kid Star</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_07.jpg" alt="Midea Mission">
                                        <div class="offer-menu__txt">Mission</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_08.jpg" alt="Midea Blanc">
                                        <div class="offer-menu__txt">Blanc</div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="offer-menu__title">Kentatsu</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_09.jpg" alt="Kentatsu Titan Genesis">
                                        <div class="offer-menu__txt">Titan Genesis</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_10.jpg" alt="Kentatsu Mark">
                                        <div class="offer-menu__txt">Mark</div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="offer-menu__title">Axioma</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_01.jpg" alt="Axioma Axinesis">
                                        <div class="offer-menu__txt">Axinesis</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_02.jpg" alt="Axioma Maxioma">
                                        <div class="offer-menu__txt">Maxioma</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Полупромышленные кондиционеры</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Axioma</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_01.jpg" alt="Axioma Axinesis">
                                        <div class="offer-menu__txt">Axinesis</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_02.jpg" alt="Axioma Maxioma">
                                        <div class="offer-menu__txt">Maxioma</div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="offer-menu__title">Kentatsu</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_09.jpg" alt="Kentatsu Titan Genesis">
                                        <div class="offer-menu__txt">Titan Genesis</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_10.jpg" alt="Kentatsu Mark">
                                        <div class="offer-menu__txt">Mark</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Системы VRF</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Midea</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_06.jpg" alt="Midea Kid Star">
                                        <div class="offer-menu__txt">Kid Star</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_07.jpg" alt="Midea Mission">
                                        <div class="offer-menu__txt">Mission</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_08.jpg" alt="Midea Blanc">
                                        <div class="offer-menu__txt">Blanc</div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="offer-menu__title">Kentatsu</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_09.jpg" alt="Kentatsu Titan Genesis">
                                        <div class="offer-menu__txt">Titan Genesis</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_10.jpg" alt="Kentatsu Mark">
                                        <div class="offer-menu__txt">Mark</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Системы чиллер-фанкойл</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Kentatsu</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_09.jpg" alt="Kentatsu Titan Genesis">
                                        <div class="offer-menu__txt">Titan Genesis</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_10.jpg" alt="Kentatsu Mark">
                                        <div class="offer-menu__txt">Mark</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Приточно-вытяжная вентиляция</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Midea</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_06.jpg" alt="Midea Kid Star">
                                        <div class="offer-menu__txt">Kid Star</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_07.jpg" alt="Midea Mission">
                                        <div class="offer-menu__txt">Mission</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_08.jpg" alt="Midea Blanc">
                                        <div class="offer-menu__txt">Blanc</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Модульная вентиляция</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Daikin</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_01.jpg" alt="Daikin Emura">
                                        <div class="offer-menu__txt">Emura</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_02.jpg" alt="Daikin FTXS">
                                        <div class="offer-menu__txt">FTXS</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_03.jpg" alt="Daikin FTXB-C">
                                        <div class="offer-menu__txt">FTXB-C</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_04.jpg" alt="Daikin FTX">
                                        <div class="offer-menu__txt">FTX</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_05.jpg" alt="Daikin FTYN">
                                        <div class="offer-menu__txt">FTYN</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Системы увлажнения</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Daikin</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_02.jpg" alt="Daikin FTXS">
                                        <div class="offer-menu__txt">FTXS</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_03.jpg" alt="Daikin FTXB-C">
                                        <div class="offer-menu__txt">FTXB-C</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_04.jpg" alt="Daikin FTX">
                                        <div class="offer-menu__txt">FTX</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_05.jpg" alt="Daikin FTYN">
                                        <div class="offer-menu__txt">FTYN</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="prod-menu__line">
                        <a class="prod-menu__link js-prod-submenu-link" role="button">Отопительное оборудование</a>
                        <div class="prod-menu__offer offer-menu">
                            <h5 class="offer-menu__title">Daikin</h5>
                            <ul class="offer-menu__list">
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_03.jpg" alt="Daikin FTXB-C">
                                        <div class="offer-menu__txt">FTXB-C</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_04.jpg" alt="Daikin FTX">
                                        <div class="offer-menu__txt">FTX</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="offer-menu__link" href="#">
                                        <img class="offer-menu__img" src="img/prod-menu/prod-menu_05.jpg" alt="Daikin FTYN">
                                        <div class="offer-menu__txt">FTYN</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-mobile">
        <div class="clearfix">
            <div class="hamburger js-menu-open">
                <span class="hamburger__line hamburger__line_top"></span>
                <span class="hamburger__line hamburger__line_middle"></span>
                <span class="hamburger__line hamburger__line_bottom"></span>
            </div>

            <div class="header-search">
                <form id="search-form" class="header-search__form" style="display: none;">
                    <button type="submit" class="header-search__search-btn btn btn_link"><span class="icon icon-search"></span></button>
                    <input type="text" placeholder="Что Вы ищете?">
                    <button id="close-search" type="button" class="header-search__close-btn btn btn_link" data-visibility="show" data-show="#show-search" data-hide="#search-form" data-queue="show">
                        <span class="icon icon-cross"></span>
                    </button>
                </form>

                <button id="show-search" type="button" class="header-search__show-btn btn btn_link mb0" data-visibility="show" data-show="#search-form" data-hide="#show-search" data-queue="show">
                    <span class="icon icon-search"></span>
                </button>
            </div>

            <img class="header-logo" src="./img/logo-daichi-color.svg" alt="Daichi">
        </div>

        <div class="header-shop">
            <div class="pull-left header-shop__item" data-shop="#shop-equipment">
                Оборудование <span class="icon icon-arrow"></span>
            </div>
            <div class="pull-right header-shop__item" data-shop="#shop-buy">
                Купить <span class="icon icon-arrow"></span>
            </div>
        </div>
    </div>
    <div class="mobile-shop js-shop" id="shop-equipment">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Оборудование</span> <span class="icon icon-cross"></span></p>
        <ul class="mobile-shop__list">
            <li class="mobile-shop__item" data-item="1">Сплит-системы</li>
            <li class="mobile-shop__item" data-item="2">Полупромышленные кондиционеры</li>
            <li class="mobile-shop__item" data-item="3">Системы VRF</li>
            <li class="mobile-shop__item" data-item="4">Системы чиллер-фанкойл</li>
            <li class="mobile-shop__item" data-item="5">Приточно-вытяжная вентиляция</li>
            <li class="mobile-shop__item" data-item="6">Модульная вентиляция</li>
            <li class="mobile-shop__item" data-item="7">Системы увлажнения</li>
            <li class="mobile-shop__item" data-item="8">Отопительное оборудование</li>
        </ul>
    </div>

    <div class="mobile-shop js-shop" id="shop-buy">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Купить оборудование</span> <span class="icon icon-cross"></span></p>
        <ul class="mobile-shop__list">
            <li class="mobile-shop__item mobile-shop__item_last"><a class="mobile-shop__link mobile-shop__link_blue" href="#">Кондиционирование</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a class="mobile-shop__link mobile-shop__link_green" href="#">Вентиляция</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a class="mobile-shop__link mobile-shop__link_violet" href="#">Увлажнение</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a class="mobile-shop__link mobile-shop__link_orange" href="#">Отопление</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="1">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Сплит-системы</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item" data-item="9">Daikin</li>
            <li class="mobile-shop__item" data-item="10">Midea</li>
            <li class="mobile-shop__item" data-item="11">Kentatsu</li>
            <li class="mobile-shop__item" data-item="12">Axioma</li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="2">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Полупромышленные кондиционеры</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Daikin</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Midea</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kentatsu</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="3">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Системы VRF</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">VRV Daikin</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kentatsu DX PRO</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Midea MIV</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Midea V5</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Samsung DVM</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="4">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Системы чиллер-фанкойл</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Daikin</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Midea</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kentatsu</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="5">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Приточно-вытяжная вентиляция</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">FlaktWoods Prime</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kentatsu Stormann Aero</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kentatsu Комфорт</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Паскаль</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Janka</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Wolter</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="6">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Модульная вентиляция</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Wolter</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Stormann</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="7">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Системы увлажнения</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Draabe</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="8">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Отопительное оборудование</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl2">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kentatsu FURST</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">MINIB</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Furst</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="9">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Daikin</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl3">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Emura</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">FTXS</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">FTXB-C</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">FTX</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">FTYN</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="10">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Midea</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl3">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Kid Star</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Mission</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Blanc</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="11">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Kentatsu</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl3">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Titan Genesis</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">Mark</a></li>
        </ul>
    </div>

    <div class="mobile-shop" data-list="12">
        <p class="mobile-shop__title"><span class="mobile-shop__wrapper">Axioma</span> <span class="icon icon-cross"></span><span class="icon icon-arrow"></span></p>
        <ul class="mobile-shop__list mobile-shop__list_lvl3">
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">ASX-A</a></li>
            <li class="mobile-shop__item mobile-shop__item_last"><a href="#">AXS-E</a></li>
        </ul>
    </div>
</header>

<nav class="main-nav main-nav_mobile js-sliding-menu">
    <ul class="main-nav__list main-nav__list_white">
        <li class="main-nav__item"><span class="icon icon-cross icon-cross_big js-menu-close"></span>
            <div class="pull-right">In English</div>
        </li>
        <li class="main-nav__item"><a class="main-nav__link" href="#"><span class="icon icon-baloon"></span>Москва</a>
            <div class="pull-right"><span class="icon icon-geolocation"></span></div>
        </li>
        <li class="main-nav__item"><a class="main-nav__link" href="#"><span class="icon icon-user"></span>Личный кабинет</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#"><span class="icon icon-heart"></span>Отложенные товары</a>
            <div class="pull-right cl-grey">4</div>
        </li>
        <li class="main-nav__item"><a class="main-nav__link" href="#"><span class="icon icon-list"></span>Сравнение товаров</a>
            <div class="pull-right cl-grey">2</div>
        </li>
    </ul>

    <ul class="main-nav__list">
        <li class="main-nav__item"><a class="main-nav__link" href="#">Новости</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">О компании</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">Контакты</a></li>
    </ul>

    <div class="main-nav__footer">
        <p class="contacts">Служба поддержки<br><a class="btn btn_link mb0" href="#">8 800 200-00-05</a></p>
        <p class="contacts">Офис компании<br><a class="btn btn_link mb0" href="#">+7 (495) 737-37-33</a></p>
    </div>
</nav>
