<div id="equipment" class="popup popup_equipment" style="display: none;">
    <div class="popup-menu">
        <h4>Оборудование</h4>
        <ul class="popup-menu__list">
            <li class="popup-menu__item">Сплит-системы
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Полупромышленные кондиционеры
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Системы VRF
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Системы чиллер-фанкойл
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Приточно-вытяжная вентиляция
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Модульная вентиляция
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Системы увлажнения
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
            <li class="popup-menu__item">Отопительное оборудование
                <div class="popup-submenu">
                    <p class="fw-no fz-20">Daikin</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Emura</a></li>
                        <li><a href="#">FTXS</a></li>
                        <li><a href="#">FTXB-C</a></li>
                        <li><a href="#">FTX</a></li>
                        <li><a href="#">FTYN</a></li>
                    </ul>

                    <p class="fw-no fz-20">Midea</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Kid Star</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Blanc</a></li>
                    </ul>

                    <p class="fw-no fz-20">Kentatsu</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">Titan Genesis</a></li>
                        <li><a href="#">Mark</a></li>
                    </ul>

                    <p class="fw-no fz-20">Axioma</p>
                    <ul class="popup-menu__sublist">
                        <li><a href="#">ASX-A</a></li>
                        <li><a href="#">AXS-E</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
