<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-search" viewBox="0 0 18 18">
            <path class="icon-search__path" d="M18.353,17.646 L17.646,18.353 L13.286,13.993 C11.876,15.238 10.029,16.000 8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,10.029 15.238,11.876 13.993,13.286 L18.353,17.646 ZM8.000,1.000 C4.134,1.000 1.000,4.134 1.000,8.000 C1.000,11.866 4.134,15.000 8.000,15.000 C11.866,15.000 15.000,11.866 15.000,8.000 C15.000,4.134 11.866,1.000 8.000,1.000 Z"/>
        </symbol>
    </defs>
    <defs>
        <symbol id="arrow-left" viewBox="0 0 13 25">
            <path class="arrow-left__path" d="M1.918,12.490 L13.002,23.993 L12.038,24.993 L-0.006,12.490 L12.038,-0.018 L13.002,0.985 L1.918,12.490 Z"/>
        </symbol>
    </defs>
    <defs>
        <symbol id="arrow-right" viewBox="0 0 13 25">
            <path d="M11.081,12.490 L-0.002,23.993 L0.962,24.993 L13.006,12.490 L0.962,-0.018 L-0.002,0.985 L11.081,12.490 Z" class="cls-1"/>
        </symbol>
    </defs>
</svg>