<!-- SIDE NAV -->
<nav class="top-menu">
    <div class="container">
        <ul>
            <li class="active"><a href="#">История</a></li>
            <li><a href="#">Структура</a></li>
            <li><a href="#">Партнёры</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Представительства</a></li>
            <li><a href="#">Объекты</a></li>
            <li><a href="#">Шоу-рум</a></li>
            <li><a href="#">Наша миссия</a></li>
        </ul>
    </div>
</nav>
<!-- /SIDE NAV -->