/* Стилизация раскрываемых блоков (accordion) */

.ui-accordion {
    .ui-accordion-icons {
        padding: 0;
    }

    .ui-accordion-header {
        margin: 0;
        padding: 0;

        &.ui-state-active,
        &.is-disabled {
            cursor: default;
        }
    }

    .ui-accordion-content {
        overflow: visible;
        margin: 0;
        padding: 0;

    }

    .ui-accordion-header-active {
        .icon-arrow {
            transform: rotate(-180deg);
        }
    }
}

.accordion {
        &_footer {
            lost-column: .75 flex;
            lost-flex-container: row;
            @media (width <= $tablet-md-size) {
                border-bottom: 1px solid #ddd;
            }

            .ui-accordion-content {
                @media (width <= $tablet-md-size) {
                    padding: 0 48px;
                }

                @media (width <= $tablet-size) {
                    padding: 0 32px;
                }

                @media (width <= $mobile-size) {
                    padding: 0 16px;
                }
            }
    }

    &__head {
        .accordion_footer & {
            position: relative;
            margin-bottom: 11px;

            font-size: 16px;
            font-weight: normal;

            .icon-arrow {
                position: absolute 50% 48px null null;
                width: 8px;
                height: 5px;
                margin-top: -2px;
                background: svg('arrow_drop', '[fill]: #000') no-repeat center;
                background-size: cover;
                transition: transform 250ms ease;

                @media (width > $tablet-md-size) {
                    display: none;
                }

                @media (width < $tablet-size) {
                    position: absolute 50% 32px null null;
                }

                @media (width < $mobile-size) {
                    position: absolute 50% 16px null null;
                }
            }

            @media (width <= $tablet-md-size) {
                margin-bottom: 0;
                padding: 22px 48px;
                border-top: 1px solid #ddd;
                font-size: 15px;
            }

            @media (width <= $tablet-size) {
                padding: 22px 32px;
            }

            @media (width <= $mobile-size) {
                padding: 22px 16px;
            }
        }
    }

    &__col {
        lost-column: 1/3 flex;

        @media (width <= $tablet-md-size) {
            lost-column: 1 flex;
        }
    }
}
