/* Базовые стили */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    background: #fff;
    font-size: 15px;
    font-family: 'gotham_pro', Arial, Helvetica, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    line-height: 1.5;
    color: $cl-global;
    vertical-align: top;
    backface-visibility: hidden;
    font-weight: 100;
}

main{
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: #000;
    text-decoration: none;
    transition: all $time ease;

    &:hover {
        color: $cl-blue;
        text-decoration: none;
        border-color: transparent;
    }

    &.blue {
        border-bottom: 1px solid transparent;
        color: $cl-blue;

        &:hover {
            color: $cl-blue;
            border-bottom: 1px solid $cl-blue;

            .text-solid {
                border-bottom:1px solid $cl-blue;
            }
        }
    }

    &.black {
        border-bottom: 1px solid transparent;

        &:hover {
            color: $cl-blue;
        }
    }

    &.grey {
        border-bottom: 1px solid transparent;
        color: #888;

        &:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    &.small {
        font-size: 13px;
    }

    &.big {
        font-size: 18px;
    }

    &.bold {
        font-weight: bold;
    }

    &.no-border {
        border-bottom: none;

        &:hover {
            border-bottom: none;

        }
    }
}

strong,
b {
    font-weight: bold;

    i,
    em {
        font-weight: bold;
        font-style: italic;
    }
}

em,
i {
    font-style: italic;

    strong,
    b {
        font-weight: bold;
        font-style: italic;
    }
}

p {
    margin: 0 0 calc($gutter / 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: calc($gutter / 2) 0;
    color: $cl-global;
    font-size: 72px;
    font-weight: 100;

    &:first-child {
        margin-top: 0;
    }

    &.page-title{
        text-align: center;
    }
}

h1 {
    margin-top: 0;
}

h2 {
    font-size: 56px;
    &.page-title{
        @media (max-width: $tablet-lg-size){
           font-size: 40px;
        }

        @media (max-width: $mobile-size){
           font-size: 24px;
        }
    }
}

h3 {
    font-size: 48px;
    &.page-title{
        @media (max-width: $tablet-lg-size){
           font-size: 30px;
        }

        @media (max-width: $mobile-size){
           font-size: 22px;
        }
    }
}

h4 {
    font-size: 32px;
    &.page-title{
        @media (max-width: $tablet-lg-size){
           font-size: 26px;
        }

        @media (max-width: $mobile-size){
           font-size: 20px;
        }
    }
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

hr {
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    display: block;
    position: relative;
    height: 1px;
    margin: calc($gutter / 2) 0;
    line-height: 0;
    font-size: 0;
}

ul {
    margin-bottom: calc($gutter / 2);
    font-size: 15px;

    li {
        list-style: disc inside;
        margin-bottom: 10px;
    }

    &.ls-no li {
        list-style: none;
    }

    &.ls-outside li {
        list-style: disc outside;
    }

    ul {
        margin: calc($gutter / 2) 0 calc($gutter / 2) 13px;
    }

    ol {
        margin: calc($gutter / 2) 0 calc($gutter / 2) 20px;

        li {
            list-style: decimal inside;
            margin-bottom: 10px;
        }
    }
}

ol {
    margin-bottom: calc($gutter / 2);
    font-size: 15px;

    li {
        list-style: decimal inside;
        margin-bottom: calc($gutter / 2);
    }

    ul {
        margin: calc($gutter / 2) 0 calc($gutter / 2) 13px;

        li {
            list-style: disc inside;
            margin-bottom: calc($gutter / 2);
        }
    }

    ol {
        margin: calc($gutter / 2) 0 calc($gutter / 2) 20px;

        li {
            list-style: decimal inside;
            margin-bottom: calc($gutter / 2);
        }
    }
}

.table {
    border: 1px solid $cl-grey;
    margin: calc($gutter / 2) 0;

    th,
    td {
        background: none;
        border: 1px solid $cl-grey;
        padding: 10px;
        text-align: left;
    }
}

q,
blockquote {
    margin-bottom: calc($gutter / 2);
    font-style: italic;
}

fieldset {
    border: 1px solid $cl-grey;
    margin-bottom: calc($gutter / 2);
}

.gradient-block {
    background-image: $gradient;
}

.mouse-block{
    position: absolute;
    left: calc(50% + 180px);
    transform:translate(-50%,0);
    bottom: 60px;
    user-select:none;
    font-size: 14px;
    color: #999999;

    @media (max-width: $tablet-lg-size-min){
        display: none;
    }

    span{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }

    &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 36px;
        background: url('../img/mouse.png') no-repeat;
    }
}

.back-link{
    margin-bottom: 38px;

    @media (max-width: $mobile-size){
        margin-bottom: 20px;
    }

    a{
        font-size: 13px;
        color: #888;
        border-bottom: none;
        text-decoration: none;

        &:before{
            content: "";
            display: inline-block;
            margin-right: 8px;
            width: 8px;
            height: 5px;
            background-image: svg('arrow_drop', '[fill]: #888');
            transform: rotate(90deg);
        }
    }
}

.subscribe{
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
    padding: 60px 0 70px;
    margin-top: 50px;
    text-align: center;

    @media (max-width: $tablet-md-size){
        border-bottom: none;
        padding: 30px 0;
    }

    h6{
        font-weight: normal;
        margin: 0;
    }

    p{
        font-size: 14px;
        margin-top: 5px;
        color: rgba(0,0,0,.5);
    }

    form{
        max-width: 440px;
        margin: 0 auto;
        position: relative;

        input[type="email"]{
            border-radius: 24px;
            padding: 0 40px 0 22px;
            font-size: 15px;
            background: transparent;
        }

        .btn.btn-link{
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 10px;
            border: none;
            width: auto;
            z-index: 2;
            &:hover{
                opacity: .8;
            }
        }
    }
}

.readmore{
    a,span{
        border-bottom: none;
        font-size: 15px;
        color: #000;
        display: inline-block;
        position: relative;

        &:after{
            width: 5px;
            margin-left: 8px;
            height: 9px;
            content: "";
            display: inline-block;
            background: url('../img/icon/arrow-right-d.png') no-repeat;
        }

        &:hover{
            opacity: .5;
        }
    }
}

.showmore{
    border-bottom: none;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    color: #888888;
    .icon-arrow{
        background-image: svg('arrow_drop','[fill]: #888');
    }

    &:hover{
        color: $cl-blue;
        .icon-arrow{
            background-image: svg('arrow_drop','[fill]: $cl-blue');
        }
    }

    .text{
        margin-right: 5px;
    }

    &.active{
        .icon-arrow{
            transform: rotate(-180deg);
        }
    }
}

.container.full-size{
    max-width: 100%;
    @media (max-width: $tablet-lg-size-min){
        padding-right:0;
    }
}

.hide-footer{
    .footer{
        display: none;
        
        @media (max-width: $tablet-size-min){
            display: block;
        }
    }
}