
/* ---------- SECTION PRODUCTS OFFER: Prod-card ------------------*/
.prod-card {
    position: relative;
    height: 450px;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    transition: border-color 0.3s;

    &:hover {
        border-color: #cbcbcb;

        .prod-card__top,
        .prod-card__rate {
            opacity: 1;
        }
    }

    &.for-catalog {

        .prod-card__text .prod-card__rate {
            display: none;
        }

        &:hover {
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            height: auto;
            min-height: 450px;
            border-color: #cbcbcb;
            z-index: 5;

            .prod-card__more {
                visibility: visible;
                height: auto;
                opacity: 1;
            }
        }
    }

    &__top {
        opacity: 0;

        margin: -15px -10px 0;
        padding: 0;
        list-style: none;
        text-align: right;
        font-size: 0;
        transition: opacity 0.3s;

        &-item {
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }

        &-btn {
            display: block;
            position: relative;
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px auto;
            border: 1px solid transparent;
            border-radius: 6px;
            z-index: 1;

            &:hover{
                border-color: #00adef;
            }

            &_comp{
                background-image: url(../img/svg/icon_compare_gray.svg);
            }
            &_like{
                background-image: url(../img/svg/icon_heart_gray.svg);
            }
        }
    }

    &__pict {
        height: 210px;
        line-height: 210px;
        margin: 20px 0 27px;
        overflow: hidden;
    }

    &__img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
    }

    &__text {
        font-size: 15px;
        line-height: 22px;
    }

    &__rate {
        opacity: 0;
        margin: -27px auto 17px;
        transition: opacity 0.3s;
    }

    &__type {
        color: #888888;
        max-height: 44px;
        overflow: hidden;
    }

    &__name {
        max-height: 44px;
        overflow: hidden;
    }

    &__price {
        margin-top: 15px;
        color: #00adef;
        font-weight: 400;
    }

    &__more{
        visibility: hidden;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s;
    }

    &__status{
        margin: 15px 0;
        overflow: hidden;

        .prod-card__rate{
            float: left;
            opacity: 1;
            margin: 5px 15px;
        }
    }

    &__comment{
        float: left;
        width: 50%;
        padding-right: 15px;
        color: #888;
        text-align: right;
        font-size: 13px;
        line-height: 20px;
    }

    &__icons{
        height: 44px;
        margin: 15px -6px;
        overflow: hidden;
    }

    &__btn{
        position: relative;
        margin: 0;
        z-index: 1;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
    }
}



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .prod-card {
        height: 350px;
        border-color: #cbcbcb;

        &.for-catalog {

            .prod-card__text .prod-card__rate {
                display: block;
            }

            &:hover {
                position: static;
                min-height: 350px;
            }
        }

        &__top {
            opacity: 1;
        }

        &__rate {
            opacity: 1;
            margin: -5px auto 10px;
        }

        &__pict {
            height: 160px;
            line-height: 160px;
            margin: 5px 0;
        }

        &__more {
            display: none;
        }

        &__price{
            margin-top: 10px;
        }
    }
}

/* ---------- ADAPTIVE 960 --------------------------------------------------*/
@media (max-width: 959px) {



}


/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {

    .prod-card {
        height: auto;
        min-height: 330px;
        padding: 25px 25px 15px;

        &.for-catalog {

            &:hover {
                min-height: 330px;
            }
        }

        &__pict {
            height: 150px;
            margin: 10px 0;
        }

        &__text {
            font-size: 13px;
            line-height: 20px;
        }

        &__type {
            max-height: 40px;
        }

        &__name {
            max-height: 40px;
        }

        &__rate {
            margin: 0 auto 5px;
        }

        &__price {
            margin-top: 5px;
            font-size: 15px;
        }
    }
}













