
/* ---------- BLOCK: Paginator -----------------------------------------------*/

.paging {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;

    li {
        height: 40px;
        margin: 0;
        list-style: none;
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
    }

    a {
        display: block;

        &:hover{
            color: #00adef;
            border-color: #00adef;
        }
    }

    &__prev a,
    &__next a {
        width: 40px;
        height: 40px;
        font-size: 0;
        text-indent: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5px 9px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }

    &__prev a {
        margin-right: 65px;
        background-image: url('../img/svg/icon_page-prev_black.svg');
    }

    &__next a {
        margin-left: 65px;
        background-image: url('../img/svg/icon_page-next_black.svg');
    }

    &__page {
        padding: 2px 0;

        a {
            min-width: 36px;
            height: 36px;
            padding: 5px;
            line-height: 24px;
            border: 1px solid transparent;
            border-radius: 50%;
        }

        &.is-active a {
            color: #00adef;
            cursor: default;

            &:hover{
                border-color: transparent;
            }
        }
    }

    &__dots {
        width: 36px;
        line-height: 40px;
        cursor: default;
    }
}



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .paging {

        li {
            font-size: 15px;
        }

        &__page {
            padding: 5px 0;

            a {
                min-width: 30px;
                height: 30px;
                padding: 5px;
                line-height: 18px;
            }
        }

        &__prev a {
            margin-right: 5px;
        }

        &__next a {
            margin-left: 10px;
        }

        &__dots {
            width: 30px;
        }
    }
}













