.top-menu{
    background: url('../img/top-menu-bg.jpg') top center no-repeat;
    width: 100%;
    height: 104px;
    line-height: 104px;
    overflow: hidden;
    clear: both;
    
    @media (min-width: $desktop-lg-size-min){
        background-size: 100% 105px;
    }

    @media (max-width: $tablet-size){
        height: 64px;
        line-height: 64px;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    ul{
        text-align: justify;
        margin: 0;
        @media (max-width: $tablet-size){
           text-align: left;
        }

        &:after{
            content:'';
            display: inline-block;
            width: 100%;
            height: 0;
        }
    }

    li{
        display: inline-block;
        list-style: none;
        vertical-align: top;

        @media (max-width: $tablet-size){
            margin-right: 20px;
        }

        a{
            border-bottom: none;
            font-size: 18px;
            color: #fff;

            @media (max-width: $tablet-size){
                font-size: 15px;
            }

            &:hover{
                color: $cl-blue;
                border-bottom: none;
            }

        }

        &.active{
            a{
                color: $cl-blue;
            }
        }
    }
}