
/* ---------- BLOCK: Review --------------------------------------------------*/

.review {
    padding: 38px 0 20px;
    border-top: 1px solid #ddd;
    overflow: hidden;

    &:last-child {
        border-bottom: 1px solid #ddd;
    }

    &__info {
        float: left;
        width: 22.7%;
        padding-right: 32px;
        color: #999;
        font-size: 14px;
        line-height: 20px;
    }

    &__rate {
        margin: 9px 0 24px;
    }

    &__name {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    &__city {
        margin-bottom: 22px;
    }

    &__time {
        margin-bottom: 22px;
    }

    &__date {
        margin-bottom: 22px;
    }

    &__text {
        float: left;
        width: 77.3%;
    }

    &__title {
        margin: 0 0 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    &__note {
        margin: 15px 0;
        font-size: 15px;
        line-height: 26px;
        overflow: hidden;

        p {
            margin: 0;
            font-size: inherit;
            line-height: inherit;
        }
    }
}









/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .review {
        &__info {
            width: 30%;
            padding-right: 28px;
        }

        &__text {
            width: 70%;
        }

        &__note {
            max-height: 156px;
        }
    }

}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .review {

        &__info {
            float: none;
            position: relative;
            width: auto;
            padding-right: 0;
        }

        &__text {
            float: none;
            width: auto;
        }

        &__title {
            font-size: 16px;
        }

        &__name {
            margin-right: 70px;
            font-size: 14px;
        }

        &__city {
            margin: 0;
        }

        &__time {
            margin: 0;

            br {
                display: none;
            }
        }

        &__rate {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__note {
            max-height: none;
            font-size: 13px;
            line-height: 20px;
        }
    }
}













