
/* ---------- BLOCK: Filters -----------------------------------------------*/

.filters {

    &__unit {
        margin-bottom: -1px;
        border: 1px solid #ddd;

        &.has-no-side-borders {
            border-left: none;
            border-right: none;

            .filters__unit-title {
                padding: 30px 30px 30px 0;
            }

            .filters__unit-body {
                padding: 10px 0 18px;
            }
        }
        &.has-no-borders {
            border: none;
        }

        &-title {
            position: relative;
            margin: 0;
            padding: 30px 45px 30px 30px;
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer;

            &:hover {
                color: #01adef;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 30px;
                width: 10px;
                height: 10px;
                margin-top: -5px;
                background: no-repeat center url('../img/svg/icon_accordion-wedge_black.svg');
                background-size: 7px auto;
                transition: all 0.3s;
            }

            &.is-open:after{
                transform: rotate( -180deg );
            }
        }

        &-body {
            padding: 10px 30px 18px;

            &.for-checkbox{
                padding-top: 32px;
            }
        }

        &-btns {
            padding: 30px;
            text-align: center;

            .btn {
                margin: 15px 0;
            }
        }
    }

    &__btn {

        &-more {
            display: inline-block;
            margin-bottom: 10px;
            padding-top: 28px;
            color: #00adef;
            font-size: 15px;
            line-height: 20px;
            background: no-repeat center top url('../img/svg/icon_plus_blue.svg');
            background-size: 21px 21px;
            border-bottom-color: transparent;

            &:hover {
                border-bottom-color: #00adef;
            }
        }

        &-clear {
            display: inline-block;
            vertical-align: top;
            height: auto;
            margin: 10px 0 0;
            padding: 0 0 0 18px;
            color: #000;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            background: transparent no-repeat left center url('../img/svg/icon_delete_black.svg');
            background-size: 8px 8px;
            border: none;

            &:focus {
                color: #000;
                background-color: transparent;
            }

            &:hover {
                color: #00adef;
                background-color: transparent;
            }
        }
    }

    .slider {
        margin: 30px 25px 22px;
    }
}










/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .filters {

        &__unit {

            &-title {
                padding: 30px;

                &:after {
                    right: 10px;
                }
            }

            &.has-no-borders {

                .filters__unit-btns {
                    padding: 30px 0;
                }
            }
        }
    }
}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {


}













