
/* ---------- BLOCK: Breadcrumbs ---------------------------------------------*/

.breadcrumbs {
    margin: 0;
    padding: 25px 0 30px;
    font-size: 0;

    &__item {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        margin: 0 8px 0 0;
        color: #a3a3a3;
        font-size: 14px;
        line-height: 22px;

        &:after {
            content: "/";
        }

        &:last-child {
            margin-right: 0;

            &:after {
                content: "";
            }

            a {
                margin-right: 0;
            }
        }
    }

    a {
        margin-right: 6px;
        color: #a3a3a3;
        font-size: inherit;
        line-height: inherit;
        border-bottom-color: transparent;

        &:hover:not(.active) {
            color: #00adef;
            border-bottom-color: #00adef;
        }
    }

    &.inside{
        text-align: center;
        padding: 0;
        .breadcrumbs__item{
            a{
                font-size: 15px;
            }
            a.active{
                color: #000;
            }
            &:after{
                content: "|";
            }
            &:last-child:after{
                content: "";
            }
        }
    }
}



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .breadcrumbs {
        padding: 0;
        margin-bottom: 30px;

        &__item {
            display: none;

            &.for-mobile {
                display: block;
                margin: 0 -32px;

                a {
                    display: block;
                    margin: 0;
                    padding: 21px 0 21px 50px;
                    font-size: 13px;
                    background: #f6f6f6 no-repeat 32px 50% url(../img/svg/icon_go-back_gray.svg);
                    background-size: 4px 7px;
                    border: none;
                }

                &:after {
                    content: "";
                }
            }
        }
    }
}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .breadcrumbs {
        margin-bottom: 16px;

        &__item.for-mobile a {
            padding: 13px 0 13px 50px;
        }
    }
}













