
/* ---------- BLOCK: Rate Stars ----------------------------------------------*/

.rate {
    position: relative;
    height: 9px;
    width: 60px;
    background: repeat-x 0 0 url(../img/svg/icon_star-rate-out_blue.svg);
    background-size: auto 100%;

    &_gray {
        background-image: url(../img/svg/icon_star-rate-out_gray.svg);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: repeat-x 0 0 url(../img/svg/icon_star-rate-fill_blue.svg);
        background-size: auto 100%;
    }

    &_one:after   { width: 20%; }
    &_two:after   { width: 40%; }
    &_three:after { width: 60%; }
    &_four:after  { width: 80%; }
    &_five:after  { width: 100%; }
}


.rate-count {
    text-align: left;
    max-width: 220px;

    &__total {
        overflow: hidden;

        &-digit {
            float: left;
            width: 50%;
            font-size: 48px;
            line-height: 50px;
            letter-spacing: 0.06em;
        }

        &-stars {
            float: left;
            width: 50%;
            padding-top: 28px;

            .rate {
                height: 13px;
                width: 88px;
            }
        }
    }

    &__note {
        margin-top: 10px;
        color: #999;
        font-size: 14px;
        line-height: 16px;
    }

    &__list {
        margin: 28px 0 0;
        padding: 0;
    }

    &__line {
        display: flex;
        flex-flow: row nowrap;
        margin: 16px 0;
        font-size: 14px;
        line-height: 16px;

        &.is-empty {
            color: #999;
        }

        &-rate {
            width: 35%;
            padding-top: 6px;
        }

        &-pers {
            width: 22%;
            color: #999;
        }

        &-note {
            width: 43%;
        }
    }
}


/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {


}













