
/* ---------- BLOCK: Dealer --------------------------------------------------*/

.dealer {
    position: relative;
    min-height: 216px;
    padding: 30px 39px 30px 44px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #ddd;
    overflow: hidden;

    &:hover {
        background-color: #f6f6f6;
    }

    &__info {
        float: left;
        width: 42%;
        padding-right: 20px;
    }

    &__name {
        margin-bottom: 23px;
        color: #00adef;
        font-size: 18px;
        font-weight: 400;

        a {
            color: inherit;
            font-size: inherit;
            border-bottom-color: transparent;

            &:hover {
                border-bottom-color: #00adef;
            }
        }
    }

    &__text {

    }

    &__site{
        margin-top: 5px;

        a{
            color: #00adef;
            border-bottom-color: transparent;

            &:hover {
                border-bottom-color: #00adef;
            }
        }
    }

    &__sales {
        float: left;
        width: 34%;
        padding-right: 20px;

        &-title {
            min-height: 39px;
            margin-bottom: 7px;
            padding-top: 3px;
            font-weight: 400;
            line-height: 18px;
        }

        &-list {
            margin: 0;
            padding: 0;
            color: #888;
            font-size: 14px;
        }

        &-item {
            margin: 0;
            list-style: none;
        }
    }

    &__features {
        margin: 18px 0 0;
        padding: 0;
        font-size: 0;

        &-item {
            display: inline-block;
            vertical-align: top;
            margin: 4px 4px 0 0;
            padding: 0 16px;
            color: #fff;
            font-size: 12px;
            line-height: 24px;
            border-radius: 3px;
            background-image: linear-gradient(to right, #00adef 0%, #31ebbd 100%);
        }
    }

    &__more {
        float: left;
        width: 24%;
        text-align: right;

        &-btn {

            .btn {
                margin: 0;
                padding: 0 30px;
            }
        }
    }

    &__rate {
        float: right;
        margin: 8px 0 12px;
    }

    &__review {
        clear: both;
        margin-bottom: 50px;
        color: #888;
    }
}


/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .dealer {
        padding: 30px;

        &__info {
            width: 36%;
        }

        &__sales {
            width: 30%;

            &-item {
                display: inline;
            }
        }

        &__more {
            width: 34%;

            &-btn .btn {
                margin: 0;
                padding: 0 30px;
            }
        }
    }

}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .dealer {
        padding: 50px 20px 30px;

        &__info {
            float: none;
            width: auto;
        }

        &__sales {
            float: none;
            width: auto;
            margin: 20px 0 25px;

            &-title {
                min-height: 0;
                margin-bottom: 4px;
                padding-top: 0;
                font-size: 13px;
                line-height: 20px;
            }

            &-list {
                font-size: 13px;
                line-height: 20px;
            }
        }

        &__text {
            font-size: 13px;
            line-height: 20px;
        }

        &__more {
            float: none;
            width: auto;
            text-align: left;

            &-btn {
                margin-top: 20px;

                .btn{
                    display: block;
                    width: 100%;
                    margin: 0;
                    text-align: center;
                }
            }
        }

        &__rate {
            position: absolute;
            float: none;
            top: 20px;
            left: 20px;
            margin: 0;
        }

        &__review {
            position: absolute;
            top: 15px;
            left: 90px;
            font-size: 12px;
        }
    }
}













