
/* ---------- BLOCK: Documents list ------------------------------------------*/

.docs-list {
    margin: 50px 0;
    padding: 0;

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        list-style: none;
        margin-bottom: 30px;
        overflow: hidden;

        &:last-child {
             margin-bottom: 0;
        }
    }

    &__icon {
        display: block;
        flex: 0 0 45px;
        width: 45px;
        height: 58px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &__text {
        padding: 5px 0 5px 35px;
        font-size: 15px;
        line-height: 24px;
    }

    &__name {

    }

    &__note {
        color: #999;
    }

    &__btns {
        padding: 5px 0 0 15px;
    }

    &__btn {
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: none;
    }

}

.icon-btn-load { background-image: url(../img/svg/icon_doc-load_blue.svg); }
.icon-btn-view { background-image: url(../img/svg/icon_doc-view_blue.svg); }

.icon-doc-pdf { background-image: url(../img/svg/icon_doc-pdf_blue.svg); }
.icon-doc-doc { background-image: url(../img/svg/icon_doc-doc_blue.svg); }
.icon-doc-jpg { background-image: url(../img/svg/icon_doc-jpg_blue.svg); }
.icon-doc-xls { background-image: url(../img/svg/icon_doc-xls_blue.svg); }



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .docs-list {

        &__item {
            flex-wrap: wrap;
        }

        &__icon {
            flex: 0 0 24px;
            width: 24px;
            height: 31px;
        }

        &__text {
            flex: 1 1 0;
            padding: 0 0 0 16px;
            font-size: 13px;
            line-height: 20px;
        }

        &__btns {
            width: 100%;
            padding: 7px 0 0 36px;
        }
    }

}













