
/* ---------- BLOCK: Overview -------------------------------------------*/

.overview {

    &__video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    &__text {
        margin-top: 15px;
        font-size: 16px;
        line-height: 24px;
    }

    &__articles {
        margin: 50px 0;
    }

    &__list {
        margin: 0;
        padding: 0;

        &.for-aside {
            .overview-article {
                margin: 20px 0;

                &__title {
                    margin: 0;
                    font-size: 14px;
                }

                &__link {
                    margin: 0;
                }
            }
        }
    }

    &-article {
        list-style: none;
        margin: 35px 0;
        overflow: hidden;

        &__icon {
            float: left;
            width: 16px;
            height: 16px;
            margin: 3px 14px 3px 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        &__title {
            margin: 0 0 5px;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;

            a {
                border-bottom: none;
            }
        }

        &__link {
            margin-left: 30px;
            color: #999;
            font-size: 14px;
            line-height: 22px;

            a {
                border-bottom: none;
            }
        }
    }

    &__more {
        margin-top: 15px;

        &-link {

        }
    }
}

.icon-vent { background-image: url(../img/icon_vent.png); }
.icon-sun-snow { background-image: url(../img/icon_sun-snow.png); }



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {
    .overview {

        &__text {
            font-size: 13px;
            line-height: 20px;
        }

        &-article {

            &__title {
                font-size: 13px;
                font-weight: 700;
                line-height: 20px;
            }

            &__note {
                margin: 6px 0 0 32px;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}













