
/* ---------- BLOCK: Offer ---------------------------------------------------*/

.offer {
    min-height: 192px;
    padding: 30px 39px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #ddd;
    overflow: hidden;

    &:hover {
        background-color: #f6f6f6;
    }

    &__info {
        float: left;
        width: 42%;
        padding-right: 20px;
    }

    &__shop {
        margin-bottom: 25px;
        padding-top: 5px;

        &-name {
            margin-right: 23px;
            color: #00adef;
            font-size: 18px;
            font-weight: 400;

            a {
                color: inherit;
                line-height: 21px;
                border-bottom-color: transparent;
            }
        }

        &-review {
            display: inline-block;
            vertical-align: baseline;
            margin-right: 23px;
            color: #888;
            font-size: 14px;
            line-height: 20px;
        }

        &-rate {
            display: inline-block;
            vertical-align: baseline;
        }
    }

    &__terms {
        margin: 0;
        padding: 0;
        font-size: 14px;

        &-item {
            margin: 0;
            list-style: none;
        }
    }

    &__sales {
        float: left;
        width: 34%;
        padding-right: 20px;

        &-title {
            margin-bottom: 25px;
            padding-top: 6px;
            font-weight: 400;
            line-height: 22px;
        }

        &-list {
            margin: 0;
            padding: 0;
            color: #888;
            font-size: 14px;
        }

        &-item {
            margin: 0;
            list-style: none;
        }
    }

    &__price {
        float: left;
        width: 24%;
        text-align: right;

        &-now {
            margin-bottom: 55px;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;

            span {
                position: relative;
            }

            em {
                display: block;
                position: absolute;
                top: 50%;
                right: 100%;
                margin: -10px 12px 0 0;
                padding: 0 14px 0 5px;
                color: #fff;
                font-style: normal;
                font-size: 12px;
                font-weight: 400;
                line-height: 22px;
                background: no-repeat 0 0 url(../img/svg/icon_discount_blue.svg);
                background-size: 100% 100%;
            }

            i {

            }
        }

        &-old {
            margin: -42px 0 27px;
            color: #888;
            font-size: 15px;
            font-weight: 400;
            line-height: 15px;

            span {
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -8px;
                    right: -20px;
                    border-bottom: 1px solid #888;
                }
            }
        }

        &-btn {

            .btn {
                min-width: 177px;
                margin: 0;
            }
        }
    }
}


/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .offer {
        padding: 30px;

        &__info {
            width: 36%;
        }

        &__terms {

            &-item {
                display: inline;
            }
        }

        &__sales {
            width: 30%;

            &-item {
                display: inline;
            }
        }

        &__price {
            width: 34%;
        }
    }

}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .offer {
        padding: 20px 20px 30px;

        &__info {
            float: none;
            width: auto;
        }

        &__sales {
            float: none;
            width: auto;
            margin: 20px 0 25px;

            &-title {
                margin-bottom: 4px;
                padding-top: 0;
                font-size: 13px;
                line-height: 20px;
            }

            &-list {
                font-size: 13px;
                line-height: 20px;
            }
        }

        &__shop {
            margin-bottom: 20px;

            &-name {
                display: block;
            }
        }

        &__terms {
            font-size: 13px;
            line-height: 20px;
        }

        &__price {
            float: none;
            width: auto;
            text-align: left;

            &-now {
                display: inline-block;
                vertical-align: top;
                margin: 0;
                font-size: 20px;

                span {
                    display: inline-block;
                    vertical-align: bottom;
                }

                em {
                    position: static;
                    display: inline-block;
                    vertical-align: bottom;
                    margin: 0 10px 0 0;
                }
            }

            &-old {
                display: inline-block;
                vertical-align: top;
                margin: 7px 0 0;
                font-size: 13px;
            }

            &-btn {
                margin-top: 20px;

                .btn{
                    display: block;
                    width: 100%;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}













