
/* ---------- BLOCK: Sorting -------------------------------------------------*/

.sorting {
    padding: 25px 0;
    line-height: 22px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &__side {
        float: right;
        line-height: 30px;
    }

    &__note {
        font-size: 15px;
    }

    &__geo {

        &-name {
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
            padding-left: 35px;
            background: no-repeat left center url('../img/svg/icon_map-point_blue.svg');
            background-size: 19px 26px;
        }

        &-btn {
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 20px;
            margin: 5px 0;
            background: no-repeat center url('../img/svg/icon_sight_gray.svg');
            background-size: 17px 17px;
            border-bottom: none;
            border-radius: 50%;
        }
    }

    &__title {
        float: left;
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }

    &__by {
        position: relative;
        margin: 0 170px 0 150px;

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0;
        }

        &-item {
            display: inline-block;
            vertical-align: top;
            margin: 0 25px 0 0;

            &:last-child {
                margin-right: 0;
            }

            &.is-active {

                .sorting__by-btn {
                    color: #000;
                }
                .sorting__icon {
                    opacity: 1;
                }
            }
        }

        &-btn {
            display: block;
            color: #888;
            font-size: 15px;
            line-height: 30px;
            border-bottom: none;

            &:hover {

                .sorting__icon {
                    opacity: 1;
                }
            }
        }
    }

    &__icon {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 30px;
        margin-left: 2px;
        background: no-repeat center url('../img/svg/icon_sort-none_gray.svg');
        background-size: 16px 16px;
        opacity: 0;

        &.icon-az {
            background-image: url('../img/svg/icon_sort-az_gray.svg');
        }

        &.icon-za {
            background-image: url('../img/svg/icon_sort-za_gray.svg');
        }
    }

    &__mob-btn {
        display: none;
    }
}




/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .sorting {

        &__title {
            display: none;
        }

        &__note {
            display: none;
        }

        &__by {
            float: right;
            margin: 0;

            &-item {
                display: none;
                margin: 0;

                &.is-active {
                    display: block;
                }
            }
        }

        &__mob-btn {
            display: block;
            float: left;
            padding-left: 33px;
            font-size: 15px;
            line-height: 30px;
            background: no-repeat left center url('../img/svg/icon_filter-mob_blue.svg');
            background-size: 22px 22px;
            border-bottom: none;
        }
    }

}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {


}













