
/* ---------- BLOCK: Features  -----------------------------------------------*/

.features-line{
    margin: 0;
    padding: 0;
    font-size: 0;

    &__item{
        display: inline-block;
        vertical-align: top;
        list-style: none;
        margin: 6px;

        i{
            display: block;
            width: 32px;
            height: 32px;
            border: 1px solid #bbb;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px 24px;
        }
    }
}

.features-list {
    margin: 0;
    padding: 0;

    &__item{
        list-style: none;
        margin-bottom: 12px;
        overflow: hidden;
    }

    &__icon {
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        border: 1px solid #bbb;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
    }

    &__note {
        display: block;
        margin-left: 48px;
        padding-top: 5px;
        font-size: 14px;
        line-height: 22px;
    }
}


.icon-prod-auto  {background-image: url(../img/svg/icon_prod-auto_gray.svg);}
.icon-prod-water {background-image: url(../img/svg/icon_prod-water_gray.svg);}
.icon-prod-flash {background-image: url(../img/svg/icon_prod-flash_gray.svg);}
.icon-prod-freez {background-image: url(../img/svg/icon_prod-freez_gray.svg);}
.icon-prod-termo {background-image: url(../img/svg/icon_prod-termo_gray.svg);}
.icon-prod-touch {background-image: url(../img/svg/icon_prod-touch_gray.svg);}



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .features-list {

        &__note {
            margin-left: 40px;
            font-size: 13px;
        }
    }
}













