/* Стилизация кнопок */

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    overflow: visible;
    border-radius: 24px;
    clear: both;
    margin: 0 -4px calc($gutter / 2) 0;
    padding: 0;
    font-family: 'gotham_pro', Arial, Helvetica, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    outline: none;
    transition: all $time ease;

    @include button-style(
        $cl-blue,
        $cl-dk-blue,
        $cl-dkst-blue,
        #bbb,

        $cl-blue,
        $cl-dk-blue,
        $cl-dkst-blue,
        #bbb,

        #fff,
        #fff,
        $cl-md-grey,
        $cl-md-grey
    );
    @include button-size(
        $field-height,
        1px,
        48px,
        15px
    );

    &:hover,
    &.is-hover,
    &:focus,
    &.is-focus {
        text-decoration: none;
    }

    &.is-disabled,
    .is-disabled &,
    &[disabled] {
        cursor: default;
        pointer-events: none;
    }

    & + & {
        margin-left: $gutter;
    }

    &:last-child,
    &.pull-right,
    &.pull-left {
        /*margin-left: 0;*/
    }

    &.btn_border {
        @include button-style(
            transparent,
            transparent,
            transparent,
            $cl-lg-grey,

            #ddd,
            $cl-blue,
            $cl-dkst-blue,
            $bbb,

            #000,
            $cl-blue,
            $cl-dkst-blue,
            #bbb
        );
    }

    &.btn_blue-border {
        @include button-style(
            transparent,
            transparent,
            transparent,
            $cl-lg-grey,

            $cl-blue,
            $cl-dk-blue,
            $cl-blue,
            $bbb,

            $cl-blue,
            $cl-dk-blue,
            $cl-blue,
            #bbb
        );
    }

    &.btn_blue{
        border: 1px solid $cl-blue;
        color: $cl-blue;
    }

    &.btn_block {
        display: block;
        width: 100%;

        & + & {
            margin-top: calc($gutter / 2);
            margin-left: 0;
        }
    }

    &.btn_link {
        font-weight: 100;
        border-radius: 0;

        @include button-style(
            transparent,
            transparent,
            transparent,
            transparent,

            transparent,
            transparent,
            transparent,
            transparent,

            $cl-blue,
            $cl-blue,
            $cl-blue,
            $cl-dk-grey
        );
        @include button-size(
            22px,
            0,
            0,
            16px
        );

        &:hover,
        &.is-hover,
        &:focus,
        &.is-focus {
            border-bottom: 1px solid $cl-blue;
        }
    }

    &.btn_clean {
        @include button-style(
            transparent,
            transparent,
            transparent,
            transparent,

            transparent,
            transparent,
            transparent,
            transparent,

            #fff,
            #fff,
            #fff,
            $cl-dk-grey
        );
        @include button-size(
            $gutter,
            0,
            0,
            14px
        );
    }

    &.btn_small {
        @include button-size(
            $field-height,
            1px,
            27px,
            15px
        );
    }

    &.btn_large {
        @include button-size(
            $field-height,
            1px,
            62px,
            15px
        );
    }

    &.btn_white {
        @include button-style(
            #fff,
            #ebebeb,
            #e1e1e1,
            #ddd,

            #fff,
            #ebebeb,
            #e1e1e1,
            #ddd,

            $cl-blue,
            $cl-blue,
            $cl-md-grey,
            #bbb
        );
    }

    &.btn_clear {
        @include button-style(
            transparent,
            #fff,
            #fff,
            #ddd,

            #fff,
            #fff,
            #fff,
            #ddd,

            #fff,
            #000,
            #bbb,
            #bbb
        );
    }

    &.btn_more {
        padding: 0 30px 0 42px;
        &:after {
            content: '';
            width: 7px;
            height: 13px;
            background: url(../img/svg/arrow_btn_more.svg) no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
        }
    }

}
.application-btn {
    border-bottom: none;

    & + & {
        margin-left: 65px;
    }
}
