/*
.slick-dots {
    text-align: center;
    margin: 0;
    
    li {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        width: 12px;
        height: 12px;
        position: relative;
        margin: 0 12px;
        
        button {
            font-size: 0;
            overflow: hidden;
            text-indent: -9999px;
            width: 4px;
            height: 4px;
            background: #a0a5a5;
            border-radius: 50%;
            margin: 0;
            padding: 0;
            border: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        
    }
    
    .slick-active {
        button {
            width: 12px; 
            height: 12px;
        }
    }
    
}
.slick {
    &__main_slider {
        height: 896px;
        background: url(../img/bg_main_slider.jpg) no-repeat center;
        background-size: cover;
        
        .slick-dots {
            position: absolute;
            left: 50%;
            bottom: 59px;
            transform: translateX(-50%);
            
            li {
                float: left;
            }
            
        }
        
    }
}
*/