
/* ---------- BLOCK: Footer --------------------------------------------------*/

.footer {
    overflow: hidden;

    &__top {
        display: flex;
        flex-flow: row nowrap;
        margin: 88px -16px 28px;
    }

    &__btm {
        min-height: 96px;
        padding: 37px 0 34px;
        color: #999;
        font-size: 14px;
        line-height: 24px;
        border-top: 1px solid #ddd;

        &-lt {
            float: left;
        }

        &-rt {
            float: right;
        }

        &-copy {
            display: inline-block;
            position: relative;
            vertical-align: top;
        }

        &-info {
            margin: 0;
            padding: 0;
            font-size: 0;

            li {
                display: inline-block;
                position: relative;
                vertical-align: top;
                margin-right: 29px;
                font-size: 14px;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -15px;
                    border-right: 1px solid #ccc;
                }

                &:last-child {
                    margin-right: 0;

                    &:after {
                        display: none;
                    }
                }

                a {
                    color: inherit;
                    border-bottom: none;
                }
            }
        }


        a {
            color: #999;
            border-bottom: none;

            &:hover {
                color: #05a5dc;
            }
        }
    }

    &__side {
        width: 25%;
        padding: 0 16px;
    }

    &__main {
        width: 75%;
        padding: 0 16px;
        column-count: 3;
        column-gap: 32px;
    }


    &__unit {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 30px;
    }

    &__title {
        margin: 0 0 14px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    &__menu {
        margin: 14px 0 0;
        padding: 0;

        li {
            margin-bottom: 4px;
            list-style: none;
            line-height: 17px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: #777;
            font-size: 14px;
            line-height: 17px;
            border-bottom-color: transparent;

            &:hover {
                color: #00adef;
                border-bottom-color: #00adef;
            }
        }
    }

    &__nav {
        margin: 0 0 30px;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 14px;
        }

        a{
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            border-bottom: none;
        }
    }

    &__cont {
        margin: 25px 0;
        padding: 0;

        li {
            list-style: none;
            margin: 12px 0;
        }

        &-info {
            display: block;
            color: #999;
            font-style: normal;
            font-size: 14px;
            line-height: 24px;
        }

        &-link {
            color: #05a5dc;
            font-size: 18px;
            line-height: 26px;
            border-bottom: none;
        }
    }

    &__sonet {
        margin: 25px 0;
        padding: 0;
        font-size: 0;

        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 22px 22px;
            border-bottom: none;
        }
    }
}

.icon-fb { background-image: url(../img/svg/social_fb.svg); }
.icon-vk { background-image: url(../img/svg/social_vk.svg); }
.icon-yt { background-image: url(../img/svg/social_yt.svg); }



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {


}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .footer {

        &__top {
            flex-flow: column-reverse nowrap;
            margin: 0 -32px;
        }

        &__side {
            width: auto;
            padding: 0 32px;
        }

        &__main {
            width: auto;
            column-count: auto;
            column-gap: 0;
            padding: 0;
            border-bottom: 1px solid #ddd;
        }

        &__unit {
            display: block;
            margin-bottom: 0;
            border-top: 1px solid #ddd;

            .footer__title {
                position: relative;
                margin: 0;
                padding: 23px 32px 24px;
                font-size: 18px;
                line-height: 32px;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 28px;
                    width: 7px;
                    height: 7px;
                    margin-top: -3px;
                    background: no-repeat center url(../img/svg/icon_accordion-wedge_black.svg);
                    background-size: 7px auto;
                    transition: all 0.3s;
                }

                &.ui-state-active:after {
                    transform: rotate( -180deg );
                }
            }
        }

        &__menu {

            li {
                margin: 0 32px 16px;

                &:last-child {
                    margin-bottom: 34px;
                }
            }

            a{
                display: block;
                font-size: 15px;
                line-height: 20px;
                border-bottom: none;
            }
        }

        &__nav {
            margin: 40px 0;

            li {
                margin-bottom: 20px;
            }

            a {
                font-size: 18px;
                line-height: 36px;
            }
        }

        &__cont {

            li {

            }

            &-info {
                font-size: 14px;
                line-height: 24px;
            }

            &-link {
                font-size: 24px;
                line-height: 40px;
            }
        }

        &__sonet {

            a {
                width: 40px;
                height: 40px;
                background-size: 27px 27px;
            }
        }
    }
}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .footer {

        &__top {
            margin: 0 -16px;
        }

        &__side {
            width: auto;
            padding: 0 16px;
        }

        &__main {

        }

        &__unit {


            .footer__title {
                padding: 15px 16px 16px;
                font-size: 15px;

                &:after {
                    right: 15px;
                }
            }
        }

        &__menu {

            li {
                margin: 0 16px 16px;

                &:last-child {
                    margin-bottom: 24px;
                }
            }

            a{
                font-size: 13px;
            }
        }

        &__nav {
            margin: 25px 0;

            li {
                margin-bottom: 4px;
            }

            a {
                display: block;
                font-size: 15px;
            }
        }

        &__cont {

            li {

            }

            &-info {
                font-size: 13px;
            }

            &-link {
                font-size: 18px;
                line-height: 26px;
            }
        }

        &__sonet {
            margin: 15px 0;
        }

        &__btm {
            padding: 18px 0 26px;
            font-size: 12px;
            line-height: 20px;

            &-lt {
                float: none;
            }

            &-rt {
                float: none;
                margin-top: 15px;
            }

            &-info {

                li {
                    display: block;
                    margin: 0;
                    font-size: 12px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
