/* Стилизация элементов форм */

label,
.label {
    display: block;
    position: relative;
    margin-bottom: calc($gutter / 4);
    font-weight: 100;

    &.sr-only {
        border: 0;
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        clip: rect(0, 0, 0, 0);
    }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
    border: 1px solid transparent;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 calc($gutter / 2) 0;
    padding: 0;
    vertical-align: top;
    outline: none;
    zoom: 1;
    border-radius: 3px;
    transition: all $time ease;
    font-family: 'gotham_pro', Arial, Helvetica, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-weight: 100;

    @include field-style(
        #fff,
        #fff,
        #f6f6f6,
        #fff,
        $cl-lg-grey,

        $cl-grey,
        $cl-blue,
        $cl-blue,
        $cl-blue,
        $cl-dk-grey,

        $cl-global,
        $cl-global,
        $cl-global,
        $cl-global,
        $cl-dk-grey
    );
    @include field-size(
        $field-height,
        10px,
        5px,
        14px
    );

    &.is-disabled,
    .is-disabled &,
    &[disabled] {
        cursor: default;
        pointer-events: none;
    }

    @include placeholder {
        color: $cl-grey;
    }

    &.parsley-error {
        border-color: $cl-red;
        background-color: #fff;
    }
}

textarea {
    height: auto;
    resize: vertical;

    &.parsley-error {
        border-color: $cl-red;
    }
}

/* Кастомный файловый инпут */

.custom-file {
    position: relative;
    margin-bottom: calc($gutter / 2);

    @include clearfix;

    .btn {
        overflow: hidden;
        margin: 0;
        cursor: pointer;
        z-index: 1;
    }

    input[type=file],
    input[type=file]:focus,
    input[type=file]:hover {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 99;
    }

    &__name {
        @include button-size(
            $field-height,
            0,
            0,
            14px
        );

        display: inline-block;
        margin-left: 10px;
    }
}

/* Кастомные чекбоксы и радио */

.custom-check {
    &_style_slide {
        padding: 6px 0 6px calc($field-height + 30);
        position: relative;
        cursor: pointer;
        transition: all $time ease;

        &:before {
            content: '';
            background: #fff;
            border: 1px solid #ddd;
            border-radius: calc($field-height / 2);
            position: absolute 0 null null 0;
            width: 62px;
            height: 30px;
        }

        &:after {
            content: '';
            background: #bbb;
            border-radius: 50%;
            position: absolute 4px null null 5px;
            width: 24px;
            height: 24px;
            transition: all $time ease;
        }

        &.is-active {
            &:before {
                background: #fff;
            }

            &:after {
                background: $cl-blue;
                left: 37px;
            }
        }

        &.is-disabled {
            &:before {
                background: #f6f6f6;
            }

            &:after {
                background-color: #ddd;
            }
        }

        &:hover {
            &.is-active {
                &:before {
                    border-color: $cl-blue;
                }
            }
        }
    }
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);

    & + label {
        position: relative;
        display: block;
        margin-bottom: 14px;
        padding-left: 30px;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
        color: #888;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
            transition: all $time ease;
        }

        &:before {
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #bbb;
        }

        &:after {
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background: none;
        }
    }

    &:disabled {
        & + label {
            color: $cl-grey;
            cursor: not-allowed;

            &:before {
                border-color: $cl-grey-alter;
                background-color: #ddd;
            }
        }
    }

    &:checked {
        & + label {
            color: #000;
        }

        & + label:before {
            border-color: transparent;
        }

        & + label:after {
            background-image: svg('check');
            background-size: 18px 12px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:disabled + label:after {
            background-image: svg('check', '[fill]: #ccc');
            background-size: 18px 12px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

input[type="radio"] {
    position: absolute;
    clip: rect(0,0,0,0);

    & + label {
        position: relative;
        display: block;
        margin-bottom: 14px;
        padding-left: 30px;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
        color: #888;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            transition: all $time ease;
        }

        &:before {
            content: '';
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #bbb;
        }

        &:after {
            top: 5px;
            left: 5px;
            width: 8px;
            height: 8px;
        }
    }

    &:disabled {
        & + label {
            color: $cl-grey;
            cursor: not-allowed;

            &:before {
                border-color: $cl-grey-alter;
                background-color: #ddd;
            }
        }
    }

    &:checked {
        & + label {
            color: #000;
        }

        & + label:before {
            border-color: $cl-blue;
        }

        & + label:after {
            background-color: $cl-blue;
        }

        &:disabled + label:before {
            border-color: $cl-grey;
        }

        &:disabled + label:after {
            background-color: $cl-grey;
        }
    }
}

input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after {
    border-radius: 2px;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
    border-radius: 50%;
}

/* select2 */

.select2-container {
    display: block;
    margin: 0 0 calc($gutter / 2) 0;
    font-family: 'pt_sans', Arial, Helvetica, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: none;

    &.select2 {
        width: 100% !important;
    }

    .select2-selection--single {
        border-color: $cl-grey;
        border-radius: 0;
        box-shadow: none;
        height: $field-height;
        border-radius: 3px;
        line-height: calc($field-height - 2);
        transition: color $time ease,
                    background-color $time ease,
                    border-color $time ease;

        .select2-selection__rendered {
            padding-right: 10px;
            padding-left: 10px;
            line-height: $field-height;
        }

        .select2-selection__placeholder {
            color: $cl-grey;
        }

        .select2-selection__arrow {
            width: calc($field-height - 2);
            height: calc($field-height - 2);
            transition: transform $time ease;

            b {
                border: none;
                width: 8px;
                height: 5px;
                background: url('../img/svg/arrow_drop.svg');
            }
        }
    }

    &.select2-container--focus,
    &.select2-container--open {
        .select2-selection--single {
            border-color: #ddd;
            background-color: #f6f6f6;
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                transform: rotate(-180deg);
                b {

                }
            }
        }
    }

    &.select2-container--disabled {
        .select2-selection--single {
            background: $cl-lg-grey;
            border-color: $cl-dk-grey;
            color: $cl-dk-grey;

            .select2-selection__arrow {
                b {
                    opacity: 0.7;
                }
            }
        }

        &.select2-container--focus,
        &.select2-container--open {
            .select2-selection--single {
                border-color: $cl-dk-grey;
            }
        }
    }

    .select2-search--dropdown {
        .select2-search__field {
            border-color: $cl-grey;
            height: 30px;
            margin: 0;
            padding: 4px 10px;
        }
    }

    .select2-results__option {
        list-style: none outside;
        margin: 0;
        padding: 4px calc($gutter / 2);

        &--highlighted[aria-selected] {
            background: #fff;
            color: $cl-blue;
        }

        &[aria-selected="true"] {
            background: $cl-lg-grey;
            color: $cl-global;

            &:hover {
                background: #fff;
                color: $cl-blue;
            }
        }
    }
}

.select2-dropdown {
    border-color: #ddd;
    border-top-width: 0;
    border-radius: 0 0 3px 3px !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

/* Parsley */

.parsley-error {
    border-color: $cl-red;
}

.parsley-error-message {
    color: $cl-red;
    font-size: 12px;
    margin: 0;
}
