/* Настройки адаптива */

/* Изменение настроек сетки */
$gutter: 32px;
$column: 90px;
$grid-columns: 12;
$max-width: 1088px;

/* Точки адаптива */
$mobile-size: 479px;
$mobile-size-min: 480px;
$mobile-lg-size: 639px;
$mobile-lg-size-min: 640px;
$tablet-size: 767px;
$tablet-size-min: 768px;
$tablet-md-size: 959px;
$tablet-md-size-min: 960px;
$tablet-lg-size: 1023px;
$tablet-lg-size-min: 1024px;
$desktop-size: 1199px;
$desktop-size-min: 1200px;
$desktop-md-size: 1279px;
$desktop-md-size-min: 1280px;
$desktop-lg-size: 1409px;
$desktop-lg-size-min: 1400px;


/* Сокращения
Пример использования: @media (--mobile) {}
*/
@custom-media --mobile (max-width: $mobile-size);
@custom-media --mobile-min (min-width: $mobile-size-min);
@custom-media --tablet (max-width: $tablet-size);
@custom-media --tablet-min (min-width: $tablet-size-min);
@custom-media --tablet-md (max-width: $tablet-md-size);
@custom-media --tablet-md-min (min-width: $tablet-md-size-min);
@custom-media --tablet-lg (max-width: $tablet-lg-size);
@custom-media --tablet-lg-min (min-width: $tablet-lg-size-min);
@custom-media --desktop (max-width: $desktop-size);
@custom-media --desktop-min (min-width: $desktop-size-min);
@custom-media --desktop-md (max-width: $desktop-md-size);
@custom-media --desktop-md-min (min-width: $desktop-md-size-min);
@custom-media --desktop-lg (max-width: $desktop-lg-size);
@custom-media --desktop-lg-min (min-width: $desktop-lg-size-min);
