.header {
    position: relative;
    z-index: 20;
    @include clearfix;

    &-shop {
        position: relative;
        padding-top: 30px;
        @include clearfix;

        &:before {
            content: '';
            position: absolute 10px -48px null -48px;
            height: 1px;
            background-color: #ddd;

            @media (width < $tablet-size) {
                position: absolute 7px -32px null -32px;
            }

            @media (width <= $mobile-size) {
                position: absolute 7px -16px null -16px;
            }
        }

        &__item {
            position: relative;
            width: 50%;
            cursor: pointer;

            &:first-child {
                &:after {
                    content: '';
                    position: absolute -19px 0 null null;
                    height: 63px;
                    width: 1px;
                    background-color: #ddd;

                    @media (width <= $tablet-size) {
                        position: absolute -23px 0 null null;
                        height: 67px;
                    }
                }
            }

            &:last-child {
                padding-left: 48px;

                @media (width <= $tablet-size) {
                    padding-left: 32px;
                }

                @media (width <= $mobile-size) {
                    padding-left: 16px;
                }

                .icon-arrow {
                    position: absolute 50% 0 null null;
                }
            }

            .icon-arrow {
                position: absolute 50% 16px null null;
                width: 8px;
                height: 5px;
                margin-top: -2px;
                background: svg('arrow_drop', '[fill]: #000') no-repeat center;
                background-size: cover;
            }
        }

        @media (width > $tablet-md-size) {
            display: none;
        }
    }

    &-main {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
        background: #fff;
    }

    &-desktop {
        position: fixed 0 0 null 0;
        padding: 19px 53px 0 40px;
        z-index: 3;
        @include clearfix;

        &_black {
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #000;
            transition: background-color 0.3s;

            .for-white {
                display: none;
            }

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }
        }

        &_pink {
            background: #e56fc0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            color: #fff;
			
			.for-white {
                display: none;
            }

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }
        }

        &_blue {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #3e7797;
            color: #fff;
			
			.for-white {
                display: none;
            }

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }

            a.btn_clean {color: #fff;}
        }

        &_silver {
            border-bottom: 1px solid #d8d8da;
            background-color: #eaebec;
            color: #000;
			
			.for-black {
                display: none;
            }

            .icon-menu {
                background-image: svg('menu', '[fill]: #000');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #000');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #000');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #000');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #000');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #000');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #000');
            }

            .header-tablet:before{
                background-color: #d8d8da;
            }
        }

        &_radialbluegray {
            background-image: radial-gradient(circle farthest-side at 1px 1px, #8aabc0, #485964);
        }

        &_dark-blue {
            background-color: #124c71;
            background-image: linear-gradient(-45deg, #165f8d, #124c71);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            color: #fff;

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }
        }

        &_light-blue {
            background: #2c92b3;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c92b3', endColorstr='#77b0e5',GradientType=0 );
            color: #fff;

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }
        }

        &_night-blue {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #0c2738;
            background-image: linear-gradient(60deg, #0c2738, #14415e);
            color: #fff;

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }
        }

        &_sky-blue {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            background-image: linear-gradient(45deg, #a7cee9, #50a2d8);
            color: #fff;
			
			.for-white {
                display: none;
            }

            .icon-menu {
                background-image: svg('menu', '[fill]: #fff');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #fff');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #fff');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #fff');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #fff');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #fff');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #fff');
            }
        }

        &_pink {
            background: #e56fc0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            color: #fff;

            .icon-menu {
                background-image: svg('menu', '[fill]: #000');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #000');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #000');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #000');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #000');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #000');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #000');
            }
        }
		
		&_white {
            color: #000;
            background-image: none;
            background-color: #fff;
            box-shadow: 0 6px 22px -2px rgba(200, 200, 200, 0.5);
            transition: background-color 0.3s;

            .for-black {
                display: none;
            }
			
			            .icon-menu {
                background-image: svg('menu', '[fill]: #000');
            }

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: #000');
            }

            .icon-baloon {
                background-image: svg('baloon', '[fill]: #000');
            }

            .icon-search {
                background-image: svg('search', '[fill]: #000');
            }

            .icon-user {
                background-image: svg('user', '[fill]: #000');
            }

            .icon-heart {
                background-image: svg('heart', '[fill]: #000');
            }

            .icon-list {
                background-image: svg('list', '[fill]: #000');
            }
		}

        @media (width <= $desktop-lg-size) {
            padding: 2px 45px 0;
        }

        @media (width <= $tablet-md-size) {
            display: none;
        }
    }

    &-tablet {
        @include clearfix;

        @media (width > $desktop-lg-size) {
            display: none;
        }

        @media (width <= $desktop-lg-size) {
            position: relative;
            display: block;
            padding-top: 8px;

            &:before {
                content: '';
                position: absolute -4px -45px null -45px;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.2);
            }

            .header-desktop_white &:before {
                background-color: #ddd;
            }
        }

        @media (width <= $tablet-md-size) {
            display: none;
        }
    }

    &-mobile {
        position: relative;
        padding: 9px 48px 21px;
        border-bottom: 1px solid #ddd;
        @include clearfix;

        .hamburger {
            display: block;
            position: absolute;
            top: 24px;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &.is-open {
                top: 18px;

                .hamburger__line {
                    &_top {
                        transform: rotate(135deg);
                        top: 14px;
                    }

                    &_middle {
                        opacity: 0;
                        left: -60px;
                    }

                    &_bottom {
                        top: 14px;
                        transform: rotate(-135deg);
                    }
                }
            }

            &__line {
                position: absolute;
                height: 1px;
                width: 100%;
                background: #000;
                left: 0;
                transform: rotate(0deg);
                transition: $time ease-in-out;

                &_top {
                    top: 0;
                }

                &_middle {
                    top: 8px;
                }

                &_bottom {
                    top: 16px;
                }
            }
        }


        @media (width > $tablet-md-size) {
            display: none;
        }

        @media (width <= $tablet-size) {
            padding: 9px 32px 20px;
        }

        @media (width <= $mobile-size) {
            padding: 9px 16px 21px;
        }

    }

    &-search {
        position: absolute;
        right: -6px;
        transform: translateY(-50%);
        z-index: 2;

        &__form {
            width: 475px;
            position: relative;

            input {
                margin-bottom: 0;
                padding-left: 58px;
                padding-right: 32px;
                border-radius: 24px;
            }

            /*@media (width > $desktop-lg-size) {
                top: -8px;
                width: 700px;
            }*/

            /*@media (width <= $desktop-size) {
                width: 400px;
            }*/

            @media (width <= $tablet-lg-size) {
                width: 270px;
            }

            @media (width <= $tablet-size) {
                width: 415px;
            }

            @media (width <= $mobile-size) {
                width: 288px;
            }
        }

        &__search-btn {
            position: absolute 13px null null 18px;
            margin-bottom: 0;
            z-index: 2;
        }

        &__close-btn {
            position: absolute 15px 24px null null;
            margin-bottom: 0;
            z-index: 2;

            .icon-cross {
                background-image: svg('cross', '[fill]: #000');
            }
        }

        &__show-btn {
            position: relative;
            top: 5px;

            @media (width <= $desktop-lg-size) {
                top: 13px;
            }
        }

        .btn.btn_link {
            padding: 0;
            border-bottom: none;
        }

        .icon-search {
            @media (width <= $desktop-lg-size) {
                margin-top: -14px;
            }

            @media (width <= $tablet-md-size) {
                margin-top: -2px;
            }
        }

        @media (width <= $desktop-lg-size) {
            transform: translateY(-56%);
        }

        @media (width <= $tablet-md-size) {
            height: 48px;
            right: 51px;
            transform: none;
        }

        @media (width <= $tablet-size) {
            right: 32px;
        }

        @media (width <= $mobile-size) {
            right: 16px;
        }
    }


    &-logo {
        display: block;
        float: left;
        width: 120px;
        height: 45px;
        margin-right: 45px;

        &_desktop-lg {
            @media (width <= $desktop-lg-size) {
                display: none;
            }
        }

        @media (width <= $tablet-md-size) {
            display: block;
            float: none;
            width: 120px;
            height: 45px;
            margin: 0 auto;
        }
    }

    &__geolocation {
        position: relative;
        border-bottom: none;
        font-size: 15px;
        font-weight: 100;
        line-height: 50px;
        color: inherit;

        &:before {
            content: '';
            position: absolute -9px null -6px -22px;
            width: 1px;
            background-color: #ddd;

            @media (width <= $desktop-lg-size) {
                content: none;
            }
        }

        .icon {
            margin-right: 15px;
            margin-top: -7px;
        }
    }
}

.main-nav {
    padding: 9px 0 0;
    font-size: 15px;
    font-weight: 100;
    line-height: 32px;

    &_mobile {
        position: absolute 0 null null 0;
        width: 400px;
        padding: 0;
        background: #f6f6f6;
        z-index: 25;
        transition: transform 350ms ease;
        transform: translateX(-100%);

        &.is-visible {
            @media (width <= $tablet-md-size) {
                transform: translateX(0);
            }
        }

        @media (width <= $tablet-md-size) {
            width: 100%;
            padding:0;
        }

        @media (width <= $mobile-size) {
            padding: 0;
        }

    }

    &_desktop {
        @media (width <= $desktop-lg-size) {
            display: none;
        }
    }

    & + & {
        margin-right: 52px;
    }

    &__list {
        margin-bottom: 0;

        &_white {
            background-color: #fff;
        }
    }

    &__item {
        display: inline-block;
        padding: 0 0 21px 0;
        vertical-align: middle;
        margin-bottom: 0;
        list-style: none;

        &_relative {
            position: relative;
        }

        & + & {
            margin-left: 33px;
        }

        &_ml {
            & + & {
                margin-left: 35px;
            }
        }

        /*&:hover {
            .main-nav-subnav {
                display: block;
            }
        }*/

        @media (width < $desktop-lg-size) {
            padding: 0 0 16px 0;
        }

        @media (width <= $tablet-md-size) {
            display: block;
            padding: 8px 48px 7px;
            border-top: 1px solid #ddd;

            & + & {
                margin-left: 0;
            }

            .cl-grey {
                color: #888;
                font-size: 13px;
            }

            .icon-baloon {
                margin-right: 15px;
            }

            .icon-user {
                margin-right: 16px;
            }

            .icon-heart {
                margin-right: 14px;
            }

            .icon-list {
                margin-right: 18px;
            }
        }

        @media (width < $tablet-size) {
            padding: 8px 32px 7px;
        }

        @media (width < $mobile-size) {
            padding: 8px 16px 7px;
        }
    }

    &-subnav {
        position: absolute 80px 0 null 0;
        margin: 0;
        list-style: none;
        font-size: 0;
        transform: translateY(-25%);
        transition: translate 350ms ease;
        visibility: hidden;

        &.is-active {
            transform: translateY(0);
            visibility: visible;
        }

        &__item {
            display: inline-block;
            width: 25%;
            margin: 0;
            padding: 0;
            font-size: 18px;
            background-color: #f6f6f6;
            color: #999;
            text-align: center;
            box-shadow: inset 0px 18px 16px -16px rgba(0, 0, 0, 0.4);

            &:hover {
                color: #fff;
            }

            &_blue {
                &:hover {
                    background-color: $cl-dk-blue;
                }
            }

            &_violet {
                &:hover {
                    background-color: $cl-violet;
                }
            }

            &_orange {
                &:hover {
                    background-color: $cl-orange;
                }
            }

            &_green {
                &:hover {
                    background-color: $cl-green;
                }
            }
        }

        &__link {
            display: block;
            padding: 34px 0px 28px;
            color: inherit;
            font-size: inherit;
            border-bottom: none;
            transition: none;
        }

        @media (width <= $desktop-lg-size) {
            position: absolute 65px -45px null -45px;
        }
    }

    .btn_clean {
        color: #888;
        font-size: 13px;
    }

    &__link {
        border-bottom: none;
        letter-spacing: 0.2px;
        color: inherit;

        .icon-arrow {
            margin-left: 4px;
        }

        &:hover {
            color: $cl-blue;

            .icon-arrow {
                background-image: svg('arrow_drop', '[fill]: $cl-blue');
            }

            .icon-menu {
                background-image: svg('menu', '[fill]: $cl-blue');
            }
        }
    }

    &__footer {
        border-top: 1px solid #ddd;

        .contacts {
            font-size: 12px;

            .btn_link {
                line-height: 22px;
                font-size: 15px;
            }
        }

        @media (width <= $tablet-md-size) {
            padding: 20px 48px 16px;
        }

        @media (width < $tablet-size) {
            padding: 20px 32px 16px;
        }

        @media (width < $mobile-size) {
            padding: 20px 16px 16px;
        }
    }
}

.mobile-shop {
    position: absolute 65px 0 null 0;
    background: #fff;
    transform: translateX(100%);
    transition: transform 350ms ease;

    &.is-visible {
        transform: translateX(0);

        @media (--tablet-md-min) {
            visibility: hidden;
        }
    }

    &__list {
        min-height: 480px;
        margin-bottom: 0;
        background: #f6f6f6;
    }

    &__item {
        position: relative;
        padding: 14px 48px;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        font-size: 13px;
        list-style: none;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute 50% 46px null null;
            width: 8px;
            height: 5px;
            background: url('../img/svg/arrow_drop.svg') no-repeat center;
            transform: rotate(-90deg) translateY(-50%);

            @media (width < $tablet-size) {
                position: absolute 50% 28px null null;
            }

            @media (width < $mobile-size) {
                position: absolute 50% 12px null null;
            }
        }

        @media (width < $tablet-size) {
            padding: 14px 32px;
        }

        @media (width < $mobile-size) {
            padding: 14px 16px;
        }

        &_last {
            &:after {
                content: none;
            }
        }

        a {
            display: block;
            border-bottom: none;
        }
    }

    &__title {
        position: relative;
        padding: 13px 48px;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        text-align: center;
        font-weight: bold;

        .icon-cross {
            position: absolute 25px 48px null null;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            background-image: svg('cross', '[fill]: #000');
            background-size: cover;
            cursor: pointer;

            @media (width < $tablet-size) {
                position: absolute 25px 31px null null;
            }

            @media (width < $mobile-size) {
                position: absolute 25px 16px null null;
            }
        }

        .icon-arrow {
            position: absolute 25px null null 48px;
            width: 11px;
            height: 8px;
            margin-top: -4px;
            background: url('../img/svg/arrow_drop.svg') no-repeat center;
            background-size: cover;
            transform: rotate(90deg);
            cursor: pointer;

            @media (width < $tablet-size) {
                position: absolute 25px null null 32px;
            }

            @media (width < $mobile-size) {
                position: absolute 25px null null 16px;
            }
        }

        @media (width < $tablet-size) {
            padding: 13px 32px;
        }

        @media (width < $mobile-size) {
            padding: 13px 16px;
        }
    }

    &__wrapper {
        @media (width < $mobile-size) {
            display: block;
            max-width: 90%;
            margin: 0 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__link {
        position: relative;
        padding-left: 22px;

        &:before {
            content: '';
            position: absolute 50% null null 0;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            border-radius: 50%;
        }

        &_blue {
            &:before {
                background-color: $cl-dk-blue;
            }
        }

        &_green {
            &:before {
                background-color: $cl-green;
            }
        }

        &_violet {
            &:before {
                background-color: $cl-violet;
            }
        }

        &_orange {
            &:before {
                background-color: $cl-orange;
            }
        }
    }

    @media (width < $tablet-size) {
        position: absolute 62px 0 null 0;
    }
}


.prod-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;

    &.is-active {
        right: 0;

        .prod-menu__back {
            opacity: 1;
        }

        .prod-menu__body {
            transform: none;
        }

    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, 0.4);
        opacity: 0;
        transition: all 0.6s;
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 550px;
        font-size: 0;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        transition: all 0.6s cubic-bezier(.59,.01,.34,.94);
        transform: translateX( -100% );

        &.is-open {
            width: 1500px;

            .prod-menu__nav {
                width: 500px;
                margin-left: -30px;
                box-shadow: 0 0 120px rgba(0,0,0, 0.15);
            }
        }
    }

    &__close {
        display: block;
        position: absolute;
        top: 36px;
        right: 36px;
        width: 22px;
        height: 22px;
        background: no-repeat center url('../img/svg/icon_close_black.svg');
        background-size: 100% 100%;
        border: none;
        transition: all 0.3s;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            transform: rotate( 90deg ) ;
        }
    }

    &__nav {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 550px;
        padding-top: 60px;
        background-color: #fff;
        overflow-y: auto;
        z-index: 1;
        transition: all 0.6s cubic-bezier(.59,.01,.34,.94);
    }

    &__title {
        margin: 0 20px 30px 105px;
        font-size: 32px;
        line-height: 40px;
    }

    &__list {
        margin: 75px 0 50px;
        padding: 0;
    }

    &__line {
        margin: 0;
        list-style: none;
    }

    &__link {
        display: block;
        padding: 28px 20px 28px 105px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        border-bottom: none;

        &:hover {
            background-color: #fafafa;
        }

        &.is-active {
            color: #fff;
            background-color: #00adef;
            cursor: default;

            + .prod-menu__offer {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.6s;
            }
        }
    }

    &__offer {
        //display: none;
    }
}

.offer-menu {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1030px;
    padding: 60px 40px;
    z-index: -1;
    overflow-y: auto;

    &__title {
        margin: 40px 20px 10px 35px;
        font-size: 32px;
        line-height: 40px;
    }

    &__list {
        margin: 10px 0 40px;
        padding: 0;
        font-size: 0;

        > li {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            list-style: none;
        }
    }

    &__link {
        display: block;
        padding: 10px;
        color: #888;
        text-align: center;
        line-height: 100px;
        border: 1px solid transparent;

        &:hover {
            border-color: #00adef;
        }
    }

    &__img {
        display: inline-block;
        vertical-align: middle;
        max-width: 130px;
        max-height: 100px;
    }

    &__txt {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
    }
}


/* ---------- ADAPTIVE 1550 --------------------------------------------------*/
@media (max-width: 1549px) {

    .prod-menu {
        &__body.is-open {
            width: 775px;
        }

        &__offer {
            width: 305px;
        }

        &__list {
            margin: 30px 0;
        }
    }

    .offer-menu {
        padding: 150px 20px 50px 40px;

        &__title {
            margin: 20px 0 0 35px;
            font-size: 20px;
            font-weight: 400;
        }

        &__list {
            margin: 0 0 20px 35px;

            li {
                display: block;
                width: auto;
                margin: 0;
            }
        }

        &__link {
            padding: 4px 0;
            text-align: left;
            border: none;
        }

        &__img {
            display: none;
        }

        &__txt {
            margin: 0;
            font-size: 18px;
        }
    }
}

/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .prod-menu {
        display: none;
    }
}
