/* Helpers */

/* Visibility */

@each $min-size, $size in (0, all),
                          (0, mobile),
                          (mobile, tablet),
                          (tablet, tablet-lg)
                          (tablet-lg, desktop)
                          (desktop, 0) {
    @if $size == all {
        .hidden-$(size) {
            display: none;
        }
    } @else if $size == mobile {
        @media (width <= $(size)-size) {
            .hidden-$(size) {
                display: none;
            }
        }
    } @else if $size == 0 {
        @media (width >= $(min-size)-size-min) {
            .hidden-$(size) {
                display: none;
            }
        }
    } @else {
        @media ($(min-size)-size-min <= width <= $(size)-size) {
            .hidden-$(size) {
                display: none;
            }
        }
    }
}

.visible {
    &-mobile,
    &-tablet,
    &-tablet-lg,
    &-desktop,
    &-desktop-lg,
    &-mobile-inline,
    &-tablet-inline,
    &-tablet-lg-inline,
    &-desktop-inline,
    &-desktop-lg-inline,
    &-mobile-iblock,
    &-tablet-iblock,
    &-tablet-lg-iblock,
    &-desktop-iblock,
    &-desktop-lg-iblock {
        display: none !important;
    }

    @media (width <= $mobile-size) {
        &-mobile {
            display: block !important;

            &-inline {
                display: inline !important;
            }

            &-iblock {
                display: inline-block !important;
            }
        }
    }

    @media ($mobile-size-min <= width <= $tablet-size) {
        &-tablet {
            display: block !important;

            &-inline {
                display: inline !important;
            }

            &-iblock {
                display: inline-block !important;
            }
        }
    }

    @media ($tablet-size-min <= width <= $tablet-lg-size) {
        &-tablet-lg {
            display: block !important;

            &-inline {
                display: inline !important;
            }

            &-iblock {
                display: inline-block !important;
            }
        }
    }

    @media ($tablet-lg-size-min <= width <= $desktop-size) {
        &-desktop {
            display: block !important;

            &-inline {
                display: inline !important;
            }

            &-iblock {
                display: inline-block !important;
            }
        }
    }

    @media (width >= $desktop-size-min) {
        &-desktop-lg {
            display: block !important;

            &-inline {
                display: inline !important;
            }

            &-iblock {
                display: inline-block !important;
            }
        }
    }
}

/* Display*/

.display-iblock {
    display: inline-block;
}

.display-block {
    display: block;
}

/* Float */

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pull-no {
    float: none !important;
}

/* Clear */

.clearfix {
    @include clearfix;
}

.clear-no { clear: none !important; }

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    margin-top: -1px;
}

/* Text-align */

.text {
    &-c { text-align: center !important; }

    &-l { text-align: left !important; }

    &-r { text-align: right !important; }
}

/* Размеры и начертания шрифта */

.fz {
    &-10 { font-size: 10px; }

    &-11 { font-size: 11px; }

    &-12 { font-size: 12px; }

    &-13 { font-size: 13px; }

    &-14 { font-size: 14px; }

    &-16 { font-size: 16px; }

    &-18 { font-size: 18px; }

    &-20 { font-size: 20px; }

    &-24 { font-size: 24px; }

    &-28 { font-size: 28px; }

    &-32 { font-size: 32px; }

    &-48 { font-size: 48px; }
}

.fw {
    &-bold {
        font-weight: bold;
    }

    &-no {
        font-weight: normal;
    }
}

.fs {
    &-italic {
        font-style: italic;
    }

    &-no {
        font-style: normal;
    }
}

/* Разные варианты text-decoration + подчеркивание dotted */

.text-dec {

    &-no,
    &-no:hover,
    &-und-h,
    &-no-h:hover {
        text-decoration: none;
    }

    &-und,
    &-und:hover,
    &-und-h:hover,
    &-no-h {
        text-decoration: underline;
    }

    &-dot {
        border-bottom: 1px dotted $cl-blue;
        text-decoration: none;
    }

    &-dot:hover,
    a:hover &-dot,
    button:hover &-dot {
        border-color: $cl-dk-blue;
        text-decoration: none;
    }
}
