.icon {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    transition: color $time ease,
                background-color $time ease,
                border-color $time ease,
                opacity $time ease;

    &-search {
        width: 24px;
        height: 20px;
        background-image: svg('search');
        background-repeat: no-repeat;
        background-size: cover;

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-user {
        width: 20px;
        height: 22px;
        background-image: svg('user');

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-arrow {
        width: 8px;
        height: 5px;
        background-image: svg('arrow_drop');
    }

    &-arrow-right_small {
        width: 5px;
        height: 9px;
        background-image: svg('a-left', '[fill]: #000');
        transform: rotate(180deg);
    }

    &-arrow-left {
        display: block;
        width: 13px;
        height: 25px;
        background-image: svg('a-left', '[fill]: #000');
    }

    &-menu {
        width: 8px;
        height: 7px;
        background-image: svg('menu');
    }

    &-cross {
        width: 8px;
        height: 8px;
        background-image: svg('cross');

        .btn & {
            margin: -2px 0 0 0;
        }

        &_big {
            width: 18px;
            height: 18px;
            background-size: 18px;
            background-image: svg('cross_big');
        }
    }

    &-geolocation {
        width: 17px;
        height: 17px;
        background-image: svg('geolocation');
        background-repeat: no-repeat;

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-list {
        width: 16px;
        height: 13px;
        background-image: svg('list');

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-heart {
        width: 20px;
        height: 18px;
        background-image: svg('heart');

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-pdf {
        width: 21px;
        height: 19px;
        background-image: svg('pdf');
        margin-top: -6px;
        margin-left: 15px;
    }

    &-baloon {
        width: 19px;
        height: 26px;
        background-image: svg('baloon');
        background-size: contain;
        background-repeat: no-repeat;

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-down-up {
        width: 8px;
        height: 11px;
        background-image: svg('down_up');

        .btn & {
            margin: -2px 0 0 0;
        }
    }

    &-help {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        border: 1px solid #888;
        color: #888;
        border-radius: 50%;
        line-height: 16px;
        font-size: 10px;
    }


    &-video {
        width: 23px;
        height: 23px;
        background-image: svg('video');

        .btn & {
            margin-right: 0;
            margin-left: 14px;

            .no-svg & {
                display: none;
            }
        }

        .btn_blue-border:hover & {
            background-image: svg('video', '[fill]: #4687e0');
        }

        &-w{
            width: 16px;
            height: 16px;
            /* background-image: svg('video', '[fill]: #fff'); */
            /* background-size: 16px 16px; */
            background: url(../img/svg/video-w.svg);
        }
    }

    .btn & {
        margin: -2px calc($gutter / 2) 0 0;

        .no-svg & {
            display: none;
        }
    }

    &-picture{
        width: 18px;
        height: 14px;
        background: url(../img/svg/picture.svg);
    }

    &-play{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -16px;
        width: 32px;
        height: 40px;
        background: url(../img/svg/play.svg);
    }

    &-on{
        width: 18px;
        height: 12px;
        background: url(../img/svg/on.svg);
    }

    &-slider-arrow {
        width: 13px;
        height: 26px;
        margin: 0 !important;
    }

}
