.promo-banner__img_daikin-mc {
	margin-bottom: 44px;
	margin-top: 49px;
}

.promo-technology {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    padding-top: 72px;

    .promo-text {
        max-width: 890px;
    }

    .promo-text__logo {
        margin-bottom: 46px;
    }

    .promo-text__type {
        font-size: 18px;
        margin-bottom: 28px;
    }
}

.technology-list {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;

    &__item {
        list-style: none;
        text-align: center;
    }

    &__wrap-img {
        height: 125px;
        margin-bottom: 12px;
    }
}

.promo-allergen {
    margin-top: 172px;
    padding-bottom: 89px;
    position: relative;

    &__content {
        background-color: #00adef;
        background-image: linear-gradient(142deg, rgba(0, 173, 239, .8) -13.58%, rgba(55, 244, 197, .8) 86.42%);
    	justify-content: flex-end;
        color: #fff;
        display: flex;
        font-size: 18px;
        padding: 123px 190px 128px 181px;
        position: relative;
        width: 64%;
        z-index: 2;
    }

    &__inner-content {
    	position: relative;
		max-width: 564px;
    }

    &__title {
        color: #fff;
        line-height: 1.166666666666667;
        margin-bottom: 43px;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 91px;
    }

    &__allergen {
        position: absolute;

        &_top {
            background: url('../img/allergen_img-top.png');
            height: 192px;
            right: 37px;
            top: 16px;
            width: 173px;
        }

        &_bottom {
            background: url('../img/allergen_img-bottom.png');
            bottom: 63px;
            height: 130px;
            left: 143px;
            /* right: 756px; */
            width: 127px;
        }
    }
    
}

.promo-adjuvant {
    margin-left: auto;
    margin-right: auto;
    margin-top: 158px;
    max-width: 1200px;
    overflow: hidden;

    &__wrap-img {
        float: left;
        width: 39%;
        /* width: 486px; */
    }

    &__content {
        float: left;
        width: 50%;
        font-size: 18px;
        margin-left: 144px;
        position: relative;
        max-width: 570px;

        &.is-fixed {
            position: fixed;
        }
    }

    &__title {
        line-height: 1.166666666666667;
        margin-bottom: 40px;
    }
}

.promo-daikin-mc-dream {
    background: url('../img/bg_dream_daikin-mc.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin-top: 206px;
    min-height: 890px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 84px;

    .promo-text {
        max-width: 700px;
    }
}

.promo-convenience {
    margin-left: auto;
    margin-right: auto;
    margin-top: 172px;
    max-width: 1232px;
    overflow: hidden;

    &__content {
        float: left;
        font-size: 18px;
        max-width: 427px;
        position: relative;
        padding-left: 10px;
    }

    &__type {
        font-size: 24px;
    }

    &__title {
        line-height: 1.166666666666667;
        margin-bottom: 41px;
    }

    &__wrap-img {
        float: left;
        margin-left: 163px;
        max-width: 52.02922077922078%;
    }
}

.promo-energy {
    margin-top: 162px;
    position: relative;
}

.promo-energy-preview {
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
    margin-top: 42px;

    &__inner {
        margin-left: auto;
        margin-right: auto;
        min-height: 799px;
        max-width: 1600px;
        overflow: hidden;
        position: relative;
    }

    &__column {
        align-items: flex-end;
        display: flex;
        position: relative;
    }

    &__content {
        position: absolute;
        max-width: 272px;
        text-align: center;
        bottom: 14%;
        left: 11%;
    }

    &__img {
        /* width: 100vmax; */
        /* width: 1031px; */
        z-index: -1;
        position: absolute;
        right: 0;
        top: 0;
        /* left: 50%; */
        transform: translateY(0);
        pointer-events: none;
        /* bottom: 0; */
        /* right: 0; */
        position: absolute;
        /* float: right; */
        /* display: block; */
        /* width: 100%; */
        /* object-fit: cover; */
        /* height: 100%; */
    }

    &__logo {
        margin-bottom: 22px;
    }
}

.promo-timer {
    margin-top: 139px;

    &__img {
        display: block;
        margin: 62px auto 0;
    }
}

.promo-turbomode {
    background: url('../img/bg_turbomode_daikin-mc.jpg') no-repeat 50% 50%;
    background-size: cover;
    min-height: 1012px;
    position: relative;

    &__content {
        background-color: #00adef;
        background-image: linear-gradient(142deg, rgba(0, 173, 239, .8) -13.58%, rgba(55, 244, 197, .8) 86.42%);
        color: #fff;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 49%;
        padding: 79px 203px 99px 177px;
        display: flex;
        justify-content: flex-end;
    }

    &__content-inner {
        max-width: 405px;
    }

    &__title {
        color: #fff;
        margin-bottom: 38px;
    }
}

/* ---------- ADAPTIVE 1440 --------------------------------------------------*/
@media (max-width: 1439px) {
    .promo-energy-preview {
        /* display: flex; */
        /* flex-direction: column-reverse; */
        /* justify-content: center; */
        padding-bottom: 30px;

        &__content {
            position: static;
            margin: 30px auto 0;
        }

        &__inner {
            min-height: auto;
        }

        &__img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 75%;
            /* position: static; */
            /* transform: translateY(0) !important; */
        }
    }
}

/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {
    .promo-adjuvant {
        /* display: flex; */
        /* flex-direction: column; */
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;

        &__title {
            font-size: 40px;
            line-height: 48px;
        }

        &__wrap-img,
        &__content {
            /* float: none; */
            /* max-width: none; */
            /* width: auto; */
        }

        &__content {
            margin: 15px 0 0;
        }
    }

    .promo-convenience {
        /* display: flex; */
        /* flex-direction: column-reverse; */
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;

        &__wrap-img,
        &__content {
            /* float: none;
            max-width: none;
            width: auto; */
        }

        &__wrap-img {
            margin-left: 0;
        }

        &__content {
            margin: 15px 0 0;

        }

        &__type {
            margin-bottom: 23px;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .promo-text__title_daikin-mc {
        margin-bottom: 61px;
    }
}

/* ---------- ADAPTIVE 1024 --------------------------------------------------*/
@media (max-width: 1023px) {
    .promo-technology {
        padding-top: 8px;
    }

    .technology-list {
        padding-top: 41px;
    }

    .promo-adjuvant {
        flex-direction: column;
        margin-top: 61px;
        text-align: left;

        &__wrap-img {
            margin-left: 15px;
            margin-right: 15px;
        }

        &__content {
            font-size: 15px;
            margin: 0 15px 0;
            max-width: none;
        }
    }

    .promo-convenience {
        /* flex-direction: column-reverse; */
        margin-top: 91px;
        text-align: left;

        &__wrap-img {
            margin-left: 15px;
            margin-right: 15px;
            max-width: 43%;
        }

        &__content {
            font-size: 15px;
            margin: 0 15px 0;
            max-width: 354px;
            /* max-width: none; */
        }

        &__title {
            font-size: 40px;
        }
    }

    .promo-allergen {
        margin-top: 96px;

        &__content {
            font-size: 15px;
            justify-content: flex-start;
            padding: 60px 32px;
            /* width: 100%; */
        }

        &__title {
            font-size: 40px;
        }

        &__img {
            /* display: block; */
            /* object-fit: cover; */
            /* position: static; */
            /* width: 100%; */
            width: 78%;
        }
    }

    .promo-daikin-mc-dream {
        margin-top: 68px;
        min-height: 664px;
        padding-top: 84px;
    }

    .promo-turbomode {
        min-height: 660px;

        &__content {
            font-size: 15px;
            /* justify-content: flex-start; */
            padding: 55px 32px;
            width: 59%;
            /* position: static; */
            /* transform: translateY(0); */
            /* width: auto; */
        }

        &__title {
            font-size: 40px;
        }
    }

    .promo-energy {
        margin-top: 77px;
    }

    .promo-certs {
        padding-top: 84px;

        &__docs {
            margin-top: 39px;
        }
    }

    .promo-press {
        padding-top: 86px;
    }
}

/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {
    .technology-list {
        flex-wrap: wrap;

        &__item {
            width: 50%;
        }
    }

    .promo-adjuvant {
        margin-top: 0;

        &__title {
            margin: 0 0 26px;
            font-size: 24px;
            line-height: 28px;
        }

        &__content {
            font-size: 15px;
            line-height: 26px;
        }
    }

    .promo-convenience {
        &__type {
            margin-bottom: 12px;
            font-size: 15px;
            line-height: 24px;
        }

        &__title {
            margin: 0 0 26px;
            font-size: 24px;
            line-height: 28px;
        }

        &__content {
            font-size: 15px;
            line-height: 26px;
        }
    }

    .promo-allergen {
        &__title {
            font-size: 24px;
        }

        &__inner-content {
            font-size: 15px;
        }
    }

    .promo-turbomode {
        &__title {
            font-size: 24px;
        }

        &__content-inner {
            font-size: 15px;
        }
    }

    .promo-features__list_daikin-mc {
        .promo-features__item-note {
           font-size: 15px;
        }
    }

    .promo-buy_daikin-mc {
        .promo-text__subtitle {
            font-size: 32px;
        }
    }

    .promo-daikin-mc-dream {
        margin-top: 40px;
        min-height: 424px;
        padding-top: 130px;


        .promo-text {
            max-width: 400px;
        }
    }

    .promo-convenience {
        margin-top: 40px;
    }
}

/* ---------- ADAPTIVE 480 --------------------------------------------------*/
@media (max-width: 479px) {
    .technology-list {
        &__item {
            width: 100%;
        }
    }
}