.promo-page_axioma {

    .promo-traits {

        &__image {
            max-width: 30%;
            margin: 50px auto;
        }

        &__table {
            margin-top: 0;
            table-layout: fixed;
        }
    }

    .promo-bigimage {
        position: relative;
        width: 95%;
        margin: auto;
        @include clearfix;

        &-left {
            width: 85%;
            height: 100%;
        }

        &-right {
            width: 15%;
            position: absolute;
            height: 100%;
            top: 5%;
            right: 0;
            text-align: right;
        }
    }

    .promo-pult {
        max-height: 81%;
    }

    .promo-buy {
        min-height: 905px;
        background: url("$img_path/promo-b_bg.jpg");
        background-size: cover;
        padding: 85px 0;

        &__btn {
            margin-top: 30px;
            margin-bottom: 0;
        }

        &__image {
            display: block;
            margin: auto;
        }
    }

    .promo-control {
        height: 861px;
        overflow: visible;

        &__pict {
            margin: 0;
        }

        &__img {
            height: auto;
        }

        &__text {
            min-height: auto;
            padding-bottom: 85px;
            left: 48%;
            margin: 0;
            top: 42%;
            transform: translateY(-50%);
        }

        .promo-text {
            max-width: 470px;
        }

        &__right {
            right: 52%;
            position: absolute;
            height: 100%;
            width: 48%;

        }

        &__stand {
            max-width: 468px;
            width: 60%;
            background: url($img_path/pult_bg.jpg) left bottom no-repeat;
            height: 100%;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            background-size: contain;

            &-pult {
                position: absolute;
                left: 11%;
                width: 67%;
                height: 100%;
                background: url($img_path/inhtml/pult_axioma_big.png) left bottom no-repeat;
                background-size: contain;
                bottom: 20%;
                margin-bottom: 10%;
            }

            &-side {
                width: 100%;
                background: url($img_path/inhtml/pult_stand.png) left bottom no-repeat;
                position: absolute;
                height: 100%;
                background-size: contain;
            }
        }
    }

    .promo-features__item {
        padding: 10px 0;
        max-width: 361px;
    }
}

.promo-traits {

    .promo-page_midea-mis & {
        padding-bottom: 155px;

        @media (max-width: $desktop-size) {
            padding-bottom: 113px;
        }

        @media (max-width: $tablet-md-size) {
            padding-bottom: 89px;
        }

        @media (max-width: $mobile-size) {
            padding-bottom: 57px;
        }
    }

    &__block {
        @include clearfix;
        max-width: 810px;
        padding-bottom: 55px;
        margin: auto;
        position: relative;

        .promo-page_midea-mis & {
            padding-bottom: 26px;

            @media (max-width: $desktop-size) {
                margin-top: 32px;
            }

            @media (max-width: $tablet-md-size) {
                margin-top: 43px;
                padding-bottom: 54px;
            }

            @media (max-width: $mobile-size) {
                margin-top: 21px;
                padding-bottom: 22px;
            }
        }
    }

    &__column {

        &-left {
            width: 35%;
            float: left;
            color: #999;
            font-size: 18px;
            text-align: left;

            &_mobile {
                position: absolute;
                display: none;
            }
        }

        &-right {
            width: 65%;
            float: right;
        }
    }

    &__thumb {
        margin-left: auto;
        margin-right: auto;
    }

    &__row {
        border-bottom: 1px solid #ddd;
        height: 91px;
        width: 100%;
        display: table;

        &-thumb {
            height: 114px;
            padding: 0;
            line-height: 2.3;
        }

        &-model {
            padding-top: 28px;
        }

        &-data {
            display: table-cell;
            vertical-align: middle;

            span {
                display: block;
                font-size: 14px;

                @media (max-width: $tablet-size) {
                    font-size: 12px;
                }
            }
        }

        .promo-page_midea-mis & {
            @media (max-width: $mobile-size) {
                height: 100px;
            }
        }
    }

    &__cell {
        width: 50%;
        display: table-cell;
        font-size: 15px;
        text-align: center;
    }

    &__slider {

        & .slider-arrow {
            position: absolute;
            z-index: 2;
            fill: #81d6f7 !important;
            margin: 0;
            &-prev {
                top: 42px;
                left: -33px;
            }

            &-next {
                top: 42px;
                right: -33px;
            }
        }
    }
}

.promo-axioma-design {
    min-height: 1129px;
    background: no-repeat center top url('$img_path/bg_design.jpg');
    color: #fff;
    background-size: cover;
    padding-top: 310px;

    .promo-text {
        max-width: 450px;
    }
}

.promo-axioma-comfort {
    min-height: 963px;
    background: no-repeat right top url('$img_path/bg_sleep.jpg');
    position: relative;

    .promo-gradient {
        position: absolute;
        left: 0;
        bottom: 0;

        .promo-text__type {
            opacity: 1;
        }
    }

    .promo-text__note {
        max-width: 550px;
    }
}

.promo-filter {
    margin-top: 150px;
    text-align: center;
    position: relative;
    @include clearfix;

    &__container {
        position: relative;
    }

    &__bg {
        background: no-repeat center top url('$img_path/bg_filter.jpg');
        min-height: 1340px;
        position: relative;
        background-size: cover;
    }

    &__flow {
        width: 40%;
        position: absolute;
        height: 42%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }

    &__start {
        width: 17%;
        top: 19px;
        position: absolute;
        right: 44px;

        &-title {
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            margin-top: 21px;
        }

        &-desc {
            font-size: 15px;
        }
    }

    &__text {
        font-size: 24px;
        width: 35%;
        top: 42%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

    }
}

.leaves {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
	pointer-events: none;

    .slide-1 {
        right: 40%;
        top: 100%;
        z-index: 6;
    }

    .slide-2 {
        right: 65px;
        top: 100%;
        z-index: 1;
    }
    .slide-3 {
        right: 65%;
        top: 100%;
        z-index: 2;
    }

    .slide-4 {
        right: 250px;
        top: 100%;
        z-index: 4;
    }

    &__plume {

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &_right {
            text-align: right;
            height: 40%;
        }
    }
}

.parallax-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
}

.js-parallax.leaf {
    max-height: 400px;
    -webkit-transition: opacity .5s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: opacity .5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: opacity .5s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.leaf-row {
    position: absolute;
    width: 100%;
	pointer-events: none;
    height: 80%;
}

/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .promo-page_axioma {
        .promo-buy {
            min-height: 576px;
            padding: 65px 0;

            img {
                max-width: 70%;
            }

            &__btn {
                margin: 0;
            }
        }

        .promo-control {
            height: 560px;

            &__text {
                padding: 50px 70px 20px;
            }
        }
    }

    .promo-axioma-design {
        min-height: 727px;
        padding-top: 195px;
    }

    .promo-axioma-comfort {
        min-height: 632px;
        background-size: 70%;
    }

    .promo-gradient .promo-text {
        padding: 60px 48px;
    }

    .promo-filter {
        margin-top: 35%;
        height: 930px;

        &__bg {
            min-height: 930px;
            background-size: contain;
            background-position: left bottom;
        }

        &__flow {
            width: 50%;
            top: -30%;
        }

        &__start {
            width: 50%;

            &-img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 40%;
            }

            &-title {
                width: 52%;
                float: right;
                font-size: 16px;
            }

            &-desc {
                width: 52%;
                float: right;
                font-size: 14px;
            }
        }

        &__text {
            font-size: 16px;
            top: 43%;
            width: 30%;
        }
    }

    .leaves__plume_right {
        height: 28%;
    }
}

/* ---------- ADAPTIVE 960 --------------------------------------------------*/
@media (max-width: 959px) {

    .promo-page_axioma {

        .promo-control {
            height: 425px;

            &__text {
                position: absolute;
                padding: 50px 20px 20px 45px;
                left: 42%;
            }
        }
    }

    .promo-axioma-design {
        min-height: 544px;
        padding-top: 130px;

        .promo-text {
            max-width: 400px;
        }
    }

    .promo-axioma-comfort {
        min-height: 384px;
        background-size: 55%;

        .promo-gradient {
            height: 100%;

            .promo-text {
                padding: 0 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .promo-filter {
        height: 698px;

        &__bg {
            min-height: 698px;
        }

        &__flow {
            width: 55%;
        }

        &__start {
            width: 60%;

            &-img {
                width: 43%;
            }
        }

        &__text {
            width: 40%;
        }
    }

    .promo-traits__slider {

        .slider-arrow-next {
            right: -13px;
        }

        .slider-arrow-prev {
            left: -13px;
        }
    }

    .leaves__plume_right {
        height: 25%;
    }
}

/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {

    .promo-page_axioma {

        .promo-control {

            &__text {
                position: absolute;
                width: 100%;
                height: 50%;
                left: 0;
                top: 0;
                transform: none;
            }

            &__right {
                left: 0;
                right: 0;
                margin: auto;
                z-index: 1;
                width: 100%;
            }

            &__stand {
                max-width: 132px;
            }
        }

        .promo-buy {
            min-height: 424px;

            &__btn {
                width: 100%;
                margin-top: 0;
                margin-bottom: 47px;
            }
        }
    }

    .promo-traits {

        &__title {
            font-size: 24px;
        }

        &__description {
            font-size: 13px;
        }
    }

    .promo-axioma-design {
        min-height: 424px;
        padding-top: 130px;

        .promo-text {
            max-width: 400px;
        }
    }

    .promo-axioma-comfort {
        min-height: 456px;
        background-size: 75%;
        background-position: top right;

        .promo-gradient {
            height: 50%;
            width: 100%;
        }
    }

    .promo-filter {
        height: 848px;
        margin-top: 50px;

        &__bg {
            min-height: 848px;
        }

        &__flow {
            width: 80%;
            top: 0;
            height: 20%;
        }

        &__start {
            width: 100%;
            top: 23%;
            height: 30%;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 350px;

            &-img {
                width: 100%;
                height: 37%;
                top: 0;
                transform: none;
            }

            &-title {
                width: 100%;
                float: none;
                position: relative;
                top: 40%;
                margin-top: 25px;
            }

            &-desc {
                width: 100%;
                float: none;
                top: 40%;
                position: relative;
            }
        }

        &__text {
            width: 70%;
            top: 60%;
            right: 0;
            left: auto;
            margin: 0;
            font-size: 0.8125rem;
            text-align: right;
            max-width: 300px;
        }
    }

    .promo-traits {

        &__column {

            &-left {
                display: none;

                &_mobile {
                    display: block;
                    width: 50%;

                    .promo-page_midea-mis & {
                        width: 100%;
                    }

                    .promo-traits__row-data  {
                        display: block;
                        padding: 14px 0;
                    }
                }
            }

            &-right {
                float: none;
                width: 100%;

                .promo-traits__table-mob-label {
                    opacity: 0;

                    .promo-page_midea-mis & {
                        max-height: 50px;
                    }
                }
            }
        }

        &__cell {
            text-align: left;
            font-size: 0.8125rem;

            .slick-current {

                .promo-traits__row:first-child:after {
                    width: 100% !important;
                }
            }
        }

        &__row-thumb {

            .promo-page_midea-mis & {
                height: 125px;
            }
				
			&_mode {
                .promo-traits__row-data {
                    margin-top: 65px;
                }
			}	
				
            .promo-traits__row-data {
                margin-top: 45px;

                img {
                    max-width: 95%;
                }
            }
        }

        &__slider {

            .slider-arrow-prev {
                left: 0;
                top: -50px;
            }

            .slider-arrow-next {
                right: 0;
                top: -50px;
            }
        }

        &__block {
            padding-top: 30px;
            padding-bottom: 25px;
        }

        &__desc-block_ident {
            margin-top: 65px;
        }

        &__title {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    .leaf-row {display: none;}

    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

    #pult {bottom: 0 !important;}

}
