.promo-switcher {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 1260px;
	padding-top: 32px;

	&__img {
		opacity: 0;
		position: absolute;
		transform: translateX(150px);

		&.is-active {
			opacity: 1;
			position: relative;
			transform: translateX(0);
			transition: transform 0.3s, opacity 0.3s;
		}
	}
}

.promo-midea-design {
	align-items: center;
	background: url('../img/bg_design_midea.jpg') no-repeat 50% 0;
	background-size: cover;
	display: flex;
	justify-content: center;
	min-height: 911px;
	position: relative;
}

.promo-midea-features {
	margin-top: 168px;
}

.promo-midea-features-list {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1097px;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;

	&__item {
		list-style: none;
		margin-left: 15px;
		text-align: center;

		&:first-child {
			margin-left: 0;
		}
	}

	&__wrap-img {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 144px;
	}

	&__note {
		margin-top: 21px;
	}
}

.promo-sensor {
	margin-top: 170px;
	text-align: center;

	.promo-text {
		&__type {
			font-size: 18px;
		}
	}
}

@keyframes waves_1 {
	0% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	42.1053%, 57.8947% {
		animation-timing-function: ease-in-out;
		opacity: 0.5;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	100% {
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

@keyframes waves_2 {
	0%, 5.26316% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	47.3684%, 57.8947% {
		animation-timing-function: linear;
		opacity: 0.5;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	100% {
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

@keyframes waves_3 {
	0%, 10.5263% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	52.6316%, 57.8947% {
		animation-timing-function: linear;
		opacity: 0.5;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	100% {
	    opacity: 0;
	    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

@keyframes waves_4 {
	0%, 15.7895% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	57.8947% {
		animation-timing-function: linear;
		opacity: 0.5;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}

	100% {
		opacity: 0;
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}


.promo-sensor-block {
	margin-bottom: 58px;
	position: relative;
	text-align: center;

	&__waves {
		margin-top: 20px;
	}

	&__wave {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		opacity: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 16px;

		&:first-child {
			margin-top: 0;
		}

		&_first {
			animation-direction: normal;
			animation-duration: 1.9s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			animation-name: waves_1;
			animation-play-state: running;
		}

		&_second {
			animation-direction: normal;
			animation-duration: 1.9s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			animation-name: waves_2;
			animation-play-state: running;
		}

		&_third {
			animation-direction: normal;
			animation-duration: 1.9s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			animation-name: waves_3;
			animation-play-state: running;
		}

		&_fourth {
			animation-direction: normal;
			animation-duration: 1.9s;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			animation-name: waves_4;
			animation-play-state: running;
		}
	}
}

.promo-midea-dream {
	display: flex;
	margin-top: 178px;

	&__content,
	&__wrap-img {
		width: 50%;
	}

	&__content {
		background-color: #00adef;
		background-image: linear-gradient(142deg, rgba(0, 173, 239, .8) -13.58%, rgba(55, 244, 197, .8) 86.42%);
		color: #fff;
		display: flex;
		font-size: 18px;
		justify-content: flex-end;
		padding: 143px 136px;
	}

	&__inner-content {
		max-width: 448px;
	}

	&__title {
		color: #fff;
		margin-bottom: 37px;
	}

	&__img {
		display: block;
	}
}

.promo-midea-pult {
	margin-left: auto;
	margin-right: auto;
	margin-top: 178px;
	max-width: 1290px;
	position: relative;
	margin-bottom: 133px;
}

.promo-midea-pult-block {
	background-color: #00adef;
	background-image: linear-gradient(142deg, rgba(0, 173, 239, .8) -13.58%, rgba(55, 244, 197, .8) 86.42%);
	bottom: -133px;
	color: #fff;
	font-size: 18px;
	max-width: 688px;
	padding: 82px 117px 126px;
	position: absolute;
	right: 64px;

	&__title {
		color: #fff;

	}
}

.promo-midea-advantages {
	padding-top: 150px;

	.promo-text {
		&__title {
			margin-top: 40px;
		}
	}
}

.promo-advantages-list {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1180px;
    margin: -70px auto 18px;
    padding: 60px 0 0;

    &__item {
    	list-style: none;
    	margin-top: 70px;
    	max-width: 370px;
    	text-align: center;
    }

    &__title {
    	font-size: 20px;
    	font-weight: 400;
    	margin-top: 33px;

		@media (max-width: $mobile-size) {
			 .promo-page_midea-mis & {
			 	font-size: 18px;
				font-weight: 400;
				margin-top: 21px;
				line-height: 24px;
				margin-bottom: 13px;
			 }
		}
    }

    &__wrap-img {
    	height: 85px;

		.promo-page_midea-mis & {
			height: 80px;
		}
    }

	&__img {
		.promo-page_midea-mis & {
			max-width: 80px;
		}
		
		&_halfsize {
			max-width: 85px;
		}
	}

	&__note {
		@media (max-width: $mobile-size) {
			 .promo-page_midea-mis & {
			 	font-size: 13px;
				 line-height: 20px;
			 }
		}
	}
}

.promo-midea-control {
	background: url('../img/midea_control.jpg') no-repeat;
	background-size: cover;
	color: #fff;
	margin-top: 145px;
	min-height: 949px;
	padding-top: 104px;
	text-align: center;

	.promo-text__type {
		color: #fff;
		opacity: 1;
	}

	.promo-text__note {
		margin-left: auto;
		margin-right: auto;
		max-width: 650px;
	}
}



.promo-midea-remote-control {
	align-items: center;
	//background: url('../img/bg_remote_control.png') no-repeat 100% 50%;
	border-radius: 50%;
	display: flex;
	height: 951px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 99px;
	position: relative;
	text-align: center;
	width: 951px;

	&__content {
		font-size: 18px;
		line-height: 1.166666666666667;
		margin-bottom: 18px;
		max-width: 441px;
	}

	&__inner-content {
		opacity: 0;
		transition: all 1s;
		transform: translate3d(0, 10px, 0);

		&.fadeInUp {
			opacity: 1;
			transform: none;
		}
	}

	&__line {
		opacity: 0;
		transition: all 1s;

		&.fade {
			opacity: 1;
		}
	}

	&__title {
		margin-bottom: 40px;
	}

	&__note {
		line-height: 1.555555555555556;
	}

	&__wrap-img {
		position: absolute;
		z-index: 9;

		.promo-midea-remote-control__line {
			content: '';
			position: absolute;
		}

		&_first {
			left: -111px;
			top: 149px;

			.promo-midea-remote-control__line {
				background: url('../img/remove_control_step-1.png') no-repeat 0 100%;
				bottom: -62%;
				left: 65%;
				height: 363px;
				width: 803px;
			}
		}

		&_second {
			right: -162px;
			top: 132px;

			.promo-midea-remote-control__line {
				background: url('../img/remove_control_step-2.png');
				height: 352px;
				right: 45%;
				top: 100%;
				width: 162px;
			}
		}

		&_third {
			bottom: -54px;
			right: 74px;

			.promo-midea-remote-control__line {
				background: url('../img/remove_control_step-3.png');
				height: 116px;
				right: 104%;
				top: 22%;
				width: 338px;
			}
		}

		&_fourth {
			left: -25px;
			top: 526px;
		}
	}

	&__img {
		opacity: 0;
		transition: all 1s;
		transform: translate3d(0, 10px, 0);

		&.fadeInUp {
			opacity: 1;
			transform: none;
		}
	}
}

.promo-midea-details {
	display: flex;
/* 	background-image: url('../img/bg_midea_details_boy.png'), url('../img/bg_midea_details_girl.png');
	background-repeat: no-repeat, no-repeat;
	background-position: 0 50%, 100% 50%;
	background-size: contain, contain; */
	justify-content: space-between;
	font-size: 18px;
	margin-top: 250px;
	min-height: 905px;

	&__column {
		&_boy,
		&_girl {
			align-self: flex-end;
		}
	}

	.promo-text {
		max-width: 590px;
	}

	.promo-text__type {
		color: #000;
	}

	&__img {
		margin-top: 70px;
	}
}

.promo-midea-science {
	margin-top: 354px;
	position: relative;

	.container {
		position: relative;
	}
}

.promo-midea-science-block {
	background-color: #00adef;
	background-image: linear-gradient(142deg, rgba(0, 173, 239, .8) -13.58%, rgba(55, 244, 197, .8) 86.42%);
	font-size: 18px;
	max-width: 808px;
	padding: 96px 115px 103px;
	position: absolute;
	right: 52px;
	top: -270px;

	&__content {
		color: #fff;
	}

	&__title {
		color: #fff;
		line-height: 1.166666666666667;
		margin-bottom: 44px;
	}
}

.promo-midea-child {
	background: url('../img/bg_promo_child.jpg') no-repeat 50% 50%;
	background-size: cover;
	font-size: 18px;
	margin-top: 140px;
	min-height: 1010px;
	padding-top: 135px;
	position: relative;
	text-align: center;

	&__notice {
		bottom: 87px;
		color: #fff;
		font-size: 20px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		max-width: 783px;
	}
}

/* ---------- ADAPTIVE 1024 --------------------------------------------------*/
@media (max-width: 1023px) {
	.promo-midea-dream {
		&__content {
			font-size: 15px;
			padding: 70px 32px;
			width: 100%;
		}

		&__title {
            font-size: 48px;
        }
	}

	.promo-midea-science-block {
		max-width: none;
		padding: 70px 32px;
		position: static;
		width: 100%;

		&__content {
			font-size: 15px;
		}

		&__title {
            font-size: 48px;
        }
	}
}

/* ---------- ADAPTIVE 960 --------------------------------------------------*/
@media (max-width: 959px) {
	.promo-midea-dream {
		flex-direction: column;

		&__inner-content,
		&__wrap-img,
		&__content {
			width: auto;
		}

		&__wrap-img {
			text-align: center;
		}

		&__img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {
	.promo-midea-dream {
		&__title {
            margin: 0 0 26px;
            font-size: 24px;
            line-height: 28px;
        }

        &__content {

            line-height: 26px;
        }
    }

    .promo-midea-pult-block {
    	font-size: 15px;
    	max-width: none;
		padding: 70px 32px;
		position: static;

		&__title {
            margin: 0 0 26px;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .promo-midea-advantages {
    	padding-top: 0;
    }

    .promo-advantages-list__item {
    	max-width: none;
    }

    .promo-midea-science {
    	.container {
    		padding-left: 0;
    		padding-right: 0;
    	}
    }

    .promo-midea-science-block {
    	&__title {
            margin: 0 0 26px;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .promo-buy_midea {
    	.promo-text__subtitle {
    		font-size: 32px;
    	}
    }
}

/* ---------- ADAPTIVE 480 --------------------------------------------------*/
@media (max-width: 479px) {
	.promo-midea-features-list {
		display: block;

		&__item {
			margin-left: 0;
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
