.promo-page_midea-blanc {
    .promo-banner {
        &__img {
            margin-top: 90px;
            margin-bottom: 70px;
            max-width: 928px;
            padding: 0 40px;
        }

        &__lead {
            color: #fff;
        }
    }

    .container {
        max-width: 1232px;
        padding: 0 32px;
    }

    .promo-bigimage {
        position: relative;
        width: 95%;
        margin: auto;
        @include clearfix;

        &-left {
            width: 85%;
            height: 100%;
        }

        &-right {
            width: 15%;
            position: absolute;
            height: 100%;
            top: 5%;
            right: 0;
            text-align: right;
        }
    }

    .promo-pult {
        max-height: 81%;
    }

    .promo-traits {
        &__image {
            opacity: 0.7;
            padding-top: 170px;
            padding-bottom: 30px;
        }

        &__thumb {
            max-height: 60px;
        }
    }

    .promo-gradient {
        position: relative;
        left: 44%;
        top: 0;
    }

    .promo-design__container {
        max-width: 1408px;
        margin: auto;
    }

    .promo-design__main-photo {
        top: 3%;
        left: 0;
    }

    .promo-gradient {
        .promo-text__note {
            max-width: 480px;
        }

        .promo-text__type {
            opacity: 0.5;
        }

        .promo-text {
            padding-bottom: 130px;
        }
    }

    .promo-design-details {
        position: relative;
        min-height: 1040px;

        &__title {
            max-width: 480px;
            font-size: 48px;
            line-height: 1.2;
            text-align: left;
            margin: 0;
        }

        &__note {
            padding-top: 40px;
            max-width: 480px;
        }

        &__wave {
            width: 690px;
            height: 690px;
            background: url("$img_path/inhtml/wave_bg.jpg") no-repeat center right;
            position: absolute;
            border-radius: 50%;
            right: 0;
            bottom: 0;
            background-size: cover;
        }
    }

    .promo-press .container {
        max-width: 1472px;
    }
}
