
/* ---------- PAGE: Promo ----------------------------------------------------*/

.promo-page {

    &__link {
        display: inline-block;
        position: relative;
        color: #00adef;
        font-size: 18px;
        line-height: 26px;
        border: none;

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            border-bottom: 1px solid #00adef;
            transition: width 0.3s;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

.promo-banner {
    padding: 50px 0 30px;
    background: #000;
    color: #fff;
    font-weight: 100;

    &_bluepage {
        background: #3e7797;
        background-image: linear-gradient(to bottom, #3e7797, #a1d4ee);

        .promo-banner__lead {
            color: #fff;
        }
    }

    &_radial-bluegraypage {
        background: #485964;
        background-image: radial-gradient(circle farthest-side at 1px 1px, #8aabc0, #485964);
    }

    &_night-bluepage {
        padding-top: 54px;
        background-image: linear-gradient(60deg, #0a202f, #14415e);
    }

    &_sky-bluepage {
        padding-top: 54px;
        padding-bottom: 14px;
        background-image: linear-gradient(45deg, #d4e5f1, #4fa2d8);

        .promo-banner__lead {
            color: #fff;
        }

        .promo-banner__img {
            margin: 82px auto 0;
        }
    }

    &_silverpage{
        background: #eaebec;
        color: #000;

        .promo-banner__title{
            color: #000;
        }

        .promo-banner__img{
            margin-top: 60px;
        }
    }

    &_dark-bluepage {
        background: #165f8d;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#124c71+0,165e8c+50,124c71+100 */
		background: linear-gradient(135deg,  rgba(18,76,113,1) 0%,rgba(22,94,140,1) 50%,rgba(18,76,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding-bottom: 30px;
        overflow: hidden;
    }

    &_light-bluepage {
        background: #2c92b3;
        background: linear-gradient(to bottom,  #2c92b3 0%,#77b0e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c92b3', endColorstr='#77b0e5',GradientType=0 );
    }

    &_pink {
        background-image: linear-gradient(to bottom, #e56fc0, #fdc8e1);
    }

    &__title {
        color: #fff;
        text-align: center;
        line-height: 72px;
    }

    &__lead {
        margin-bottom: 36px;
        color: #888;
        text-align: center;
        font-size: 20px;

        &_white {
            color: #fff;
        }

        &_black {
            color: #000;
        }
    }

    &__btns {
        text-align: center;
    }

    &__img {
        display: block;
        margin: 15px auto 11px;

        &_midea {
            margin-bottom: 70px;
            margin-top: 70px;
        }

        .promo-page_midea-mis & {
            margin: 66px auto 61px;
        }
    }

    &__down {
        display: block;
        width: 30px;
        height: 45px;
        margin: 0 auto;
        background: no-repeat center url('../img/svg/icon_down_white.svg');
        background-size: 26px 15px;
        opacity: 0.5;
        transition: opacity 0.3s;
        border-bottom: none;

        &.black{
            background: no-repeat center url('../img/svg/icon_arrow-scroll.svg');
            background-size: 26px 16px;
        }

        &:hover {
            opacity: 1;
            background-repeat: repeat-y;
        }
    }
}


.promo-text {
    max-width: 710px;
    margin: 0 auto;
    font-weight: 100;
    text-align: center;

    &_bluepage {
        max-width: 932px;
    }

    &_daikin {
        max-width: 780px;
    }

    &_daikin-mc {
        max-width: 775px;
    }

    &_midea {
        max-width: 920px;
    }

    &_midea-design {
        max-width: 675px;
    }

    &__type {
        margin-bottom: 18px;
        /* color: #fff; No-no! */
        color: rgba(0,0,0, 0.5);
        font-size: 24px;
        /* opacity: 0.5; */

        &_black {
            /* color: rgba(0, 0, 0, 0.5); */
            color: #000;
            /* opacity: 1; */
        }

        &_white {
            color: #fff;
        }

        &_grey {
            color: #888;
        }

        &_daikin {
            color: $cl-global;
        }
    }

    &__title {
        margin-top: 5px;
        margin-bottom: 33px;
        line-height: 56px;
        color: inherit;

        span{
            display: block;
            font-size: 36px;
		}

		&_daikin,
        &_daikin-mc {
            margin-bottom: 45px;
        }
    }

    &__note {
        font-size: 18px;
        line-height: 28px;
    }

    &__img {
        display: block;
        margin-top: 50px;
    }
}


.promo-traits {
    padding: 140px 0;

    &__product{
        margin-left: auto;
        margin-right: auto;
        display: block;
	}

    &_daikin {
        padding-bottom: 112px;
        padding-top: 112px;
    }

    &_daikin-mc {
        padding-bottom: 50px;
        padding-top: 169px;
    }

    &_midea {
        padding-top: 141px;
        @media (max-width: $tablet-size){
            margin-bottom: 50px;
        }
    }

    .promo-page_draabe & {
        padding: 125px 0 50px;
    }

    .promo-text {
        .promo-page_draabe & {
            max-width: 928px;
        }
    }

    &__advantages {
        max-width: 1026px;
        margin: 90px auto 70px;
        padding: 0;
        font-size: 0;

        .promo-page_midea-mis & {
            margin-top: 63px;

            @media (max-width: $desktop-size) {
                margin-bottom: 86px;
                margin-top: 51px;
            }
        }

        .promo-page_draabe & {
            max-width: 100%;
            margin-top: 101px;
            display: flex;
            justify-content: space-between;
        }

        &_daikin {
            margin-bottom: 87px;
            margin-top: 76px;
        }

        &-item {
            display: inline-block;
            vertical-align: top;
            width: 33.33%;
            font-weight: 100;
            text-align: center;
            list-style: none;
            border-right: 1px solid #eaeaea;

            .promo-traits__advantages_no-border & {
                border-right: none;
            }

            &:last-child {
                border-right: none;
            }

            @media (max-width: $tablet-size) {
                border-right: none;
            }

            .promo-page_draabe & {
                max-width: 405px;
            }
        }

        &-title {
            margin-bottom: 26px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 400;
        }

        &-img {
            margin-bottom: 78px;
        }

        &-class {
            display: inline-block;
            position: relative;
            height: 58px;
            padding: 1px;
            background: linear-gradient(128deg, #008abf 20%, #2cc39e);
            min-width: 122px;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 8px;
                right: -20px;
                width: 39px;
                height: 39px;
                background-color: #fff;
                border: 1px solid #1eb0a9;
                transform: rotate( 45deg );
            }

            span {
                display: block;
                position: relative;
                padding: 10px 15px 10px 25px;
                color: #2cc39e;
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0.06em;
                background: #fff;
                z-index: 1;
            }
        }

        &-data {
            color: #2cc39e;
            font-size: 48px;
            line-height: 58px;
            background: -webkit-linear-gradient(-62deg, #028dbe 30%, #6ad0b4 70%);
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &_has-arrow {
                sub {
                    margin-left: -7px;
                }
            }

            sup {
                display: inline-block;
                position: static;
                vertical-align: top;
                margin-left: 5px;
                font-size: 24px;
                font-weight: 400;
                line-height: 42px;
                background: -webkit-linear-gradient(-62deg, #028dbe 30%, #6ad0b4 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            sub {
                display: inline-block;
                position: static;
                vertical-align: bottom;
                margin-left: 5px;
                font-size: 24px;
                font-weight: 400;
                line-height: 42px;
                background: -webkit-linear-gradient(-62deg, #028dbe 30%, #6ad0b4 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i {
                font-size: 30px;
                font-style: normal;
                letter-spacing: 0.08em;
            }
        }

        &-arrow {
            height: 15px;
            position: absolute;
            right: 109px;
            top: 7px;
            width: 46px;
        }

        /*
        &__gradient-text {
        background: linear-gradient(128deg, #008abf 20%, #2cc39e);
        color: #2cc39e;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        */
        &-note {
            margin-top: 23px;
            font-size: 15px;
            line-height: 22px;

            .promo-page_midea-mis & {
                margin-top: 19px;
            }
        }

        &-icon {
            height: 59px;

            img {
                max-height: 100%;
            }

            .promo-page_midea-mis & {
                height: 63px;
            }
        }
    }

    &__product {
        &_daikin-mc {
            display: block;
            margin: 174px auto 71px;
        }
    }

    &__table {
        min-width: 750px;
        margin: 100px auto 55px;
        border-collapse: collapse;
        font-weight: 100;

        &-cell {
            width: 33.33%;
            padding: 10px 0;
            font-size: 15px;
            text-align: center;

            &.is-grey {
                color: #999;
                font-size: 18px;
                text-align: left;
            }
        }

        &-thumb {
            display: block;
            margin: 0 auto 15px;
        }

        tr {
            height: 95px;
            border-bottom: 1px solid #ddd;
        }

        &-mob-label {
            display: none;
        }
    }

    &__more {
        text-align: center;
    }

    &__image {
        display: block;
        margin: auto;

        .promo-page_midea-mis & {
            opacity: 0;
            transform: translateY(-25%);
            transition: opacity 2.5s ease, transform 1.5s ease;

            &.is-faded {
                opacity: 1;
                transform: translateY(0);
            }

            @media (max-width: $desktop-size) {
                max-height: 340px;
            }

            @media (max-width: $tablet-md-size) {
                max-height: 300px;
            }

            @media (max-width: $mobile-size) {
                max-height: 150px;
            }
        }
    }

    &__desc-block {
        max-width: 932px;
        margin: auto;
        text-align: center;
        padding-bottom: 24px;

        &_ident {
            margin-top: 98px;

            @media (max-width: $tablet-md-size) {
                .promo-page_midea-mis & {
                    margin-top: 66px;
                    padding-bottom: 0;
                }
            }
        }
    }

    &__title {
        font-size: 32px;
    }

    &__description {
        padding-top: 23px;
        padding-bottom: 16px;
        font-size: 18px;

        .promo-page_midea-mis & {
            padding-top: 6px;
            padding-bottom: 11px;
        }
    }

    &__subtitle {
        font-size: 14px;
    }
}

.promo-traits-inverter {
    overflow: hidden;
}

.promo-gradient {
    width: 56%;
    text-align: left;
    background-color: #00adef;
    background-image: linear-gradient(to bottom right, #00adef, #22dad5, #2ce6cd);
    overflow: hidden;

    &_daikin {
        bottom: 179px;
        position: absolute;
        right: 0;
    }

    .promo-text {
        float: right;
        width: 100%;
        max-width: 805px;
        padding: 90px;
        color: #fff;
        text-align: left;

        &__type {
            color: #fff;
        }

        &__note {
            max-width: 430px;
        }
    }
}

.promo-bigimage {
    position: relative;
    width: 95%;
    margin: 0 auto 30px;
    @include clearfix;

    &_daikin {
        align-items: center;
        display: flex;
        margin-bottom: 83px;
        width: auto;
    }

    .promo-page_midea-mis & {
        margin-bottom: 45px;
        width: auto;
    }
}

.promo-design{
    position: relative;



    &__tabs {
        position: relative;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        &-list {
            float: left;
            width: 35%;
            padding: 75px 0 0 90px;
        }

        &-imgs {
            float: right;
            position: relative;
            width: 65%;
            margin-top: -300px;
            text-align: right;
            overflow: hidden;
        }

        &-img {
            display: block;
            right: 0;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            z-index: -10;
            transform: translateX( 150px );

            &.is-active {
                display: inline-block;
                position: static;
                vertical-align: top;
                visibility: visible;
                opacity: 1;
                z-index: auto;
                transition: all 0.6s;
                transform: translateX( 0 );
            }

            .promo-page_midea-mis & {
                @media (min-width: $desktop-lg-size-min) {
                    max-width: none;
                    width: 100%;
                }
            }
        }

        &-color {
            max-width: 200px;
            margin-bottom: 7px;
            padding: 11px 30px 11px 12px;
            border: 1px solid transparent;
            border-radius: 24px;
            list-style: none;
            font-weight: 100;
            cursor: pointer;

            &.is-active {
                border-color: $cl-blue;
                cursor: default;
            }

            span {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 20px;
                border: 1px solid #ccc;
                border-radius: 50%;
                vertical-align: middle;
            }
        }
    }

    &__awards {

        &-title {
            margin: 0;
            text-align: center;
            font-size: 32px;
            font-weight: 100;
            line-height: 40px;
        }

        &-list {
            padding: 55px 0 130px;
            text-align: center;
            font-size: 0;

            li {
                display: inline-block;
                width: 20%;
                padding: 20px;
                margin: 0;
                list-style: none;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 100px;
                filter: grayscale(1);
                opacity: 0.7;
                transition: all 0.4s ease;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
        }
    }

    &__main-photo {
        position: absolute -2px 105px null null;

        @media (max-width: $desktop-lg-size) {
            width: 50%;
        }

        @media (max-width: $desktop-size) {
            position: absolute -2px 50px null null;
        }

        @media (max-width: $tablet-md-size) {
            position: static;
            width: 100%;
            margin-top: 78px;
            padding: 0 48px;
        }

        @media (max-width: $mobile-lg-size) {
            margin-top: 67px;
            padding: 0 16px;
        }

    }

    &-details {
        padding-top: 140px;

        &__title {
            max-width: 940px;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            line-height: 40px;
            text-align: center;

            @media (max-width: $tablet-md-size) {
                padding: 0 16px;
            }

            @media (max-width: $tablet-size) {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
        }

        &__note {
          font-size: 18px;
          line-height: 28px;
        }

        &__col-container {
            display: flex;
            padding-top: 127px;

            @media (max-width: $desktop-size) {
                padding-top: 78px;
            }

            @media (max-width: $mobile-lg-size) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__col {
            &_wide {
                width: 58%;

                .promo-page_midea-mis & {
                    min-height: 100%;
                    background-image: url('../img/midea_design.jpg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    @media (max-width: $mobile-lg-size) {
                        margin-top: 51px;
                        min-height: 370px;
                        background-position: center top;
                    }
                }

                @media (max-width: $tablet-size) {
                    width: 100%
                }
            }

            &_narrow {
                width: 42%;

                @media (max-width: $tablet-size) {
                    padding: 0 16px;
                }

                @media (max-width: $mobile-lg-size) {
                    width: 100%;
                    max-width: 272px;
                    padding: 0;
                }
            }
        }

        &__feature {
            width: 272px;
            margin: 0 auto;

            span {
                display: block;
                margin-top: 42px;
                text-align: center;

                @media (max-width: $desktop-size) {
                    margin-top: 26px;
                }

                @media (max-width: $mobile-size) {
                    margin-top: 16px;
                }
            }

            img {
                display: block;
                margin: 0 auto;

                @media (max-width: $desktop-size) {
                    max-width: 176px;
                }
            }

            & + & {
                margin-top: 110px;

                @media (max-width: $desktop-size) {
                    margin-top: 55px;
                }

                @media (max-width: $mobile-size) {
                    margin-top: 36px;
                }
            }

            @media (max-width: $tablet-size) {
                width: 100%;
            }
        }
    }
}


.promo-comfort {
    min-height: 900px;
    padding-top: 85px;
    color: #fff;
    background:no-repeat center top url('../img/bg_comfort.jpg');
    background-size: cover;

    &_daikin {
        background: none;
        color: $cl-global;
        padding-top: 145px;
    }

    .promo-text {
        max-width: 740px;
    }
}


.promo-features {
    padding: 100px 0 125px;

    &_daikin {
        .promo-features__more {
            margin-top: 50px;
        }
    }

    &_daikin-mc {
        padding-bottom: 0;
    }

    .promo-page_draabe & {
        padding-top: 44px;
        padding-bottom: 26px;

        .promo-text {
            max-width: 928px;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 1180px;
        margin: 55px auto;
        padding: 0;
        list-style: none;

        &_daikin {
            margin-bottom: 0;
            margin-top: 0;

            .promo-features__item-pict {
                background-image: linear-gradient(to bottom right, #00adef, #22dad5, #2ce6cd);
                border: 0;
            }

            .promo-features__item-img {
                max-height: none;
                max-width: 100%;
            }
        }

        &_daikin-mc {
            max-width: none;

            .promo-features__item {
                max-width: 429px;
            }

            .promo-features__item-title,
            .promo-features__item-note {
                font-size: 18px;
            }
        }

        &_left {
            max-width: 100%;

            .promo-page_midea-mis & {
                margin-bottom: 5px;

                @media (max-width: $desktop-size) {
                    margin-bottom: 18px;
                    margin-top: 70px;
                }

                @media (max-width: $tablet-size) {
                    display: flex;
                    margin-left: 0;
                    margin-right: 0;
                }

                @media (max-width: $mobile-size) {
                    margin-top: 57px;
                }
            }
        }

        .promo-page_draabe & {
            margin: 154px auto 0;
        }

        .promo-humidity & {
            max-width: 100%;
            margin: 101px auto 0;
        }
    }

    &__item {
        max-width: 370px;
        margin: 35px 0;
        padding: 10px 20px;
        list-style: none;
        font-weight: 100;
        text-align: center;

        &-pict {
            position: relative;
            width: 88px;
            height: 88px;
            margin: 0 auto 37px;
            border: 1px solid #ccc;
            border-radius: 5px;

            .promo-features__list_no-border & {
                border: none;
            }

            .promo-features__list_gradient & {
                background-image: linear-gradient(142deg, #31bbf1, #5bf3d1);
            }

            &.no-border{
                width: auto;
                height: auto;
                display: block;
                text-align: center;
                border: none;
                border-radius: none;
                img{
                    position: static;
                    display: inline-block;
                    vertical-align: top;
                    max-width: none;
                    max-height: none;
                }
            }
        }

        .promo-features__list_left & {
            text-align: left;
            padding: 0;
            lost-column: 1/3;
            max-width: 100%;

            @media (max-width: $tablet-md-size) {
                lost-column: 1/2;
                margin-top: 0;
                margin-bottom: 77px;
            }

            @media (max-width: $mobile-lg-size) {
                lost-column: 1 1 0;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            @media (max-width: $mobile-size) {
                margin-bottom: 51px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .promo-page_draabe & {
            padding: 0;
            lost-column: 1/3;
            max-width: 100%;
            margin-top: 0;
            margin-bottom: 84px;
        }

        .promo-humidity & {
            lost-column: 1/4;
        }

        &-img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 58px;
            max-height: 58px;
            margin: auto;

            .promo-features__list_left & {
                position: static;
                max-width: 104px;
                max-height: 104px;
                margin: 0;
            }
        }

        &-title {
            margin-bottom: 14px;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;

            .promo-features__list_left & {
                margin-top: 38px;
                margin-bottom: 29px;
                font-weight: 300;
                font-size: 32px;
                line-height: 36px;

                @media (max-width: $desktop-size) {
                    margin-top: 48px;
                    margin-bottom: 25px;
                    font-size: 24px;
                    line-height: 30px;
                }

                @media (max-width: $mobile-size) {
                    margin-top: 26px;
                    margin-bottom: 20px;
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .promo-page_draabe & {
                margin-bottom: 19px;
            }
        }

        &-note {
            font-size: 15px;

            .promo-humidity & {
                font-size: 13px;
                line-height: 22px;
                margin-top: 28px;
            }
        }
    }

    &__more {
        text-align: center;

        &-link {
            display: inline-block;
            color: #00adef;
            font-size: 18px;
            border-bottom: none;
        }
    }

    &__wrap-img {
        align-items: center;
        display: flex;
        height: 208px;
        justify-content: center;
        margin-bottom: 27px;
    }
}

.promo-humidity {
    padding-top: 101px;
    padding-bottom: 51px;
    background-color: #85be71;
    background-image: url('../img/humidity_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .promo-text {
        max-width: 992px;
    }

    &-bar {
        position: relative;
        margin-top: 79px;
        padding-top: 54px;
        padding-bottom: 54px;
        text-align: center;

        span {
            display: block;
            font-size: 24px;
            line-height: 28px;
        }

        &:before {
            content: '';
            position: absolute 0 0 0 0;
            background-color: #fff;
            opacity: 0.2;
        }
    }

    &__percent {
        position: relative;
        display: inline-block;
        margin-bottom: 26px;
        padding: 0 82px;
        font-size: 70px;
        line-height: 70px;

        &:after,
        &:before {
            content: '';
            position: absolute 50% null null 0;
            width: 38px;
            height: 12px;
            margin-top: -4px;
            background-image: url('../img/svg/water.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:after {
            position: absolute 50% 0 null auto;
        }
    }
}

.promo-beauty {
    padding-top: 125px;
    padding-bottom: 300px;

    .promo-text {
        max-width: 992px;
    }

    &-entrance {
        max-width: 50%;
        margin-top: 113px;
        margin-bottom: 100px;
        padding-left: 39px;
        font-size: 18px;
        line-height: 28px;

        p {
            & + & {
                margin-top: 28px;
            }
        }
    }

    &-features {
        @include clearfix;

        &__col {
            position: relative;
            width: 50%;
            float: left;

            &:last-child {
                .promo-beauty-features__gradient-block {
                    position: absolute -249px null null 50%;
                }
            }
        }

        &__img {
            width: 100%;
        }

        &__gradient-block {
            display: table;
            max-width: 528px;
            position: absolute 375px null null 50%;
            padding: 0 62px;
            min-height: 297px;
            background-image: (45deg, rgb(0,173,239) 0%, rgb(49,236,190) 100%);
            color: #fff;
            font-size: 18px;
            line-height: 26px;
            background-image: linear-gradient(60deg, #00adef, #31ecbe);
            text-align: center;
            transform: translateX(-50%);

            p {
                display: table-cell;
                vertical-align: middle;
                margin-bottom: 0;
            }

        }
    }
}

.promo-blocks {
    padding-top: 80px;

    .promo-text {
        max-width: 928px;
    }

    &-imgs {
        margin-top: 77px;
        padding-top: 125px;
        padding-bottom: 84px;
        background-color: #bed4dc;
        background-image: url('../img/draabe_sys_block_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .container {
            display: flex;
        }

        &__item {
            lost-column: 1/3;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    &-list {
        .promo-features__list {
            max-width: 100%;
            margin-top: 91px;
        }

        .promo-features__item-title {
            margin-bottom: 26px;
            font-size: 24px;
            line-height: 28px;
        }

        .promo-features__item-note {
            max-width: 380px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.promo-atomizers {
    .promo-text {
        max-width: 928px;
    }

    &-container {
        display: flex;
        align-items: center;
        padding-top: 64px;
    }

    &-bg {
        width: 64%;
        position: relative;
        min-height: 612px;
        background-image: url('../img/bubbles.jpg');
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-img {
        width: 36%;
        text-align: right;
    }

        &__text-block {
            position: absolute 50% null null 50%;
            max-width: 500px;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 18px;
            line-height: 26px;

            p {
                margin-bottom: 0;
                & + & {
                    margin-top: 26px;
                }
            }
        }
}

.promo-construction {
    margin-bottom: 120px;
    padding: 64px 0;
    background-color: #f6f6f6;

    &-container {
        display: flex;
        min-height: 528px;
        margin-bottom: 121px;
    }

    &-wrapper {
        display: flex;
        max-width: 1326px;
        margin-right: auto;
        margin-left: auto;

        & + & {
            margin-top: 48px;
        }

        img {
            display: block;
        }

        p {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &-col {
        position: relative;

        ul {
            li {
                margin-left: 14px;
                margin-bottom: 18px;
                padding-left: 6px;
            }
        }

            h5 {
                color: inherit;
            }

        &_half {
            width: 50%;
            padding: 37px 0;

            h5 {
                margin-bottom: 50px;
            }

            &:first-child {
                ul {
                    max-width: 568px;
                }
            }

            &:last-child {
                background-image: url('../img/ocean_bg.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                color: #fff;
                text-align: center;
            }
        }

        &_wide {
            width: 59%;
        }

        &_narrow {
            width: 41%;
        }

        &__list {
            width: 400px;
            position: absolute 50% null null 50%;
            transform: translate(-50%, -50%);

            &_right {
                left: auto;
                right: 0;
                transform: translate(0, -50%);
            }

                &_left {
                    transform: translate(0, -50%);
                    left: auto;
                    right: 111px;
                    text-align: right;
                }
        }


    }
}

.promo-control {
    position: relative;
    height: 900px;
    overflow: hidden;

    &__pict {
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        margin-right: -375px;
        text-align: right;
        overflow: hidden;
    }

    &__img {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: auto;
        max-width: none;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        min-height: 675px;
        margin: 115px 0 115px 65px;
        padding: 95px 20px 50px 115px;
        background-color: #00adef;
        background-image: linear-gradient(142deg, rgba(0,173,239,.8) -13.58%, rgba(55,244,197,.8) 86.42%);
        z-index: 1;

        .promo-text {
            max-width: 425px;
            margin: 0;
            color: #fff;
            text-align: left;

            &__type {
                color: #fff;
            }
        }
    }

    &-other{
        height: auto !important;

        &__list{
            max-width: 1180px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            margin: 55px auto 0;
            padding: 0;
            @media (max-width: $desktop-size){
                display: block;
            }
            li{
                list-style: none;
                text-align: center;
                max-width: 310px;
                margin: 35px 0 0 0;
                padding: 10px 20px;
                @media (max-width: $desktop-size){
                    display: block;
                    margin: 35px auto;
                }
                &:nth-child(2){
                    img{
                        position: relative;
                        left: 60%;
                        transform: translate(-50%,0);
                        bottom: -50px;
                    }
                }
            }

            &-thumb{
                height: 180px;
                margin-bottom: 25px;
            }

            &-note{
                font-size: 15px;
                color: #000;
                line-height: 1.47;
            }
        }
    }
}

.promo-online {
    padding-top: 110px;
    overflow: hidden;

    .promo-text__note{
        max-width: 560px;
        margin: 0 auto;
    }

    &__btns {
        margin: 35px 0 20px;
        text-align: center;
    }

    &__btn {
        display: inline-block;
        vertical-align: top;
        margin: 35px;
        border-bottom: none;
        border-radius: 5px;

        &:hover {
            opacity: 0.8;
        }

        img {
            display: block;
        }
    }

    &__pict {
        float: left;
        max-width: 90%;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.promo-desk {
    padding-top: 15px;

    &__row {
        margin-top: 120px;
        overflow: hidden;
    }

    &__col {
        float: left;
        width: 50%;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}


.promo-details {
    padding: 118px 0 201px;

    &__body {
        margin-top: 130px;
    }

    &__pict {
        float: right;
        width: 66.66%;
        text-align: right;
		position: relative;
    }

    &__img {
        display: inline-block;
        vertical-align: top;
		
		&_effect {
			opacity: 0;
		}
    }
	
	&__canvas {
		position: absolute;
		width: 100%;
		height: 100%;
	}

    &__list {
        float: left;
        width: 33.33%;
    }

    &__item {
        max-width: 310px;
        margin: 0 auto 77px;
        list-style: none;
        text-align: center;
        line-height: 22px;

        &:last-child {
            margin-bottom: 0;
        }

        &-img {
            margin-bottom: 30px;
        }

        &-note {
            font-size: 15px;
            line-height: 22px;
        }
    }
}


.promo-gauge {
    height: 896px;
    padding-top: 140px;
    color: #fff;
    background: #000 no-repeat center url('../img/bg_indicator.jpg');
    background-size: cover;
}

.promo-progress{
    width: 210px;
    height: 4px;
    overflow: hidden;
    margin-top: 5px;
    span{
        display: block;
        height: 3px;
        background: -moz-linear-gradient(left, rgba(205,255,118,1) 0%, rgba(205,255,118,1) 50%, rgba(255,101,101,1) 100%);
        background: -webkit-linear-gradient(left, rgba(205,255,118,1) 0%,rgba(205,255,118,1) 50%,rgba(255,101,101,1) 100%);
        background: linear-gradient(to right, rgba(205,255,118,1) 0%,rgba(205,255,118,1) 50%,rgba(255,101,101,1) 100%);
        transition: width 2s ease;
        background-size: 210px 4px;
    }
}

.promo-stats{
    text-align: left;
    margin: 80px auto 0;
    max-width: 460px;
    color: #fff;
    font-size: 0;
    @media (max-width: $tablet-size){
        margin-top: 20px;
    }

    h6{
        color: #fff;
        margin-top: 3px;
    }

    p{
        margin: 0;
        font-size: 15px;
        line-height: 1.2;
    }

    &__left{
        margin-right: 90px;
        @media (max-width: $tablet-size){
            margin: 0;
        }
    }

    &__left,
    &__right{
        display: inline-block;
        vertical-align: top;
        @media (max-width: $tablet-size){
            display: block;
            margin-bottom: 30px;
        }
    }

    &__row{
        margin-top: 18px;
    }

    &__counter{
        vertical-align: bottom;
        margin-bottom: 15px;
        position: relative;
        display: inline-block;
        &:after{
            position: absolute;
            content: "";
            top: 13px;
            right: 2px;
            width: 17px;
            height: 19px;
            display: inline-block;
            background: url(../img/svg/icon_arrow-down.svg) no-repeat;
        }

        small{
            font-size: 24px;
            color: #fff;
        }
    }

    .counter{
        font-size: 72px;
        line-height: 72px;
        position: relative;
        left: -3px;
        font-weight: normal;
    }
}

.promo-works{
    padding: 135px 0 0 0;
    @media (max-width: $tablet-lg-size){
        padding-top: 50px;
    }

    .promo-text{
        max-width: 840px;
    }

    &__row{
        position: relative;
        @include clearfix;
        margin-top: 90px;
        padding-bottom: 200px;
        @media (max-width: $desktop-size){
            padding-bottom: 300px;
        }
        @media (max-width: $tablet-lg-size){
            margin-top: 50px;
            padding-bottom: 0;
        }
    }

    .promo-gradient{
        width: 100%;
    }

    &__col{
        width: 60%;
        max-width: 840px;
        position: relative;

        &:last-child{
            position: absolute;
            top: 220px;
            left: 0;
            z-index: 9;
            @media (max-width: $tablet-lg-size){
                position: static;
                width: 100%;
            }
        }

        &:first-child{
            float: right;
            position: relative;
            @media (max-width: $mobile-size){
                width: 100%;
                float: none;
            }
        }
    }

    img{
        vertical-align: top;
    }

    &__details{
        position: absolute;
        top: 0;
        text-align: right;
        left: -220px;

        @media (max-width: $tablet-lg-size){
            left: -200px;
        }

        @media (max-width: $mobile-size){
            position: static;
            text-align: left;
        }

        p{
            font-size: 18px;
            line-height: 1.35;
            color: #999999;
        }
    }

    .promo-traits__advantages-data{
        margin: -10px 0 10px;
    }

    .air-flow{
        min-height: 615px;
        margin: 120px 0 40px;
        background: url(../img/bg_air-flow.png) top center no-repeat;
        background-size: contain;

        &__item{
            max-width: 46%;
            padding: 14% 2% 0 5%;
            text-align: center;
            @media (max-width: $desktop-size){

                .promo-text__title {
                    margin: 0 0 26px;
                    font-size: 24px;
                    line-height: 28px;
                }

                .promo-text__note {
                    font-size: 13px;
                    line-height: 20px;
                }
            }

            @media (max-width: $tablet-md-size){
                padding-top: 12%;
            }

            @media (max-width: $tablet-size){
                width: 100%;
                padding: 0 16px;
                margin: 0 auto;
            }

            @media (max-width: $mobile-size){
                max-width: 100%;
            }
        }

        @media (max-width: $tablet-size){
            background: transparent;
            margin: 50px 0 40px;
            min-height: 1px;
        }
    }
}

.promo-certs {
    padding-top: 120px;

    &__docs {
        display: table;
        width: 100%;
        max-width: 930px;
        margin: 80px auto 0;
        padding: 0;
        font-weight: 100;
        border-collapse: collapse;
    }

    &__doc {
        display: table-row;
        list-style: none;
        margin: 0;
        border-bottom: 1px solid #ddd;

        &-title {
            display: table-cell;
            width: 200px;
            padding: 29px 0;
            font-size: 24px;
        }

        &-links {
            display: table-cell;
            padding: 29px 0;
            text-align: right;

            .blue {
                font-size: 15px;
                line-height: 32px;

                .text-solid {
                    position: relative;
                    border: none;

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        border-bottom: 1px solid #00adef;
                        transition: width 0.3s;
                    }

                    &:hover {
                        border: none;

                        &:after {
                            width: 100%;
                        }
                    }
                }

                &:hover .text-solid {
                    border-bottom: none;
                }
            }
        }
    }
}


.promo-press {
    padding: 107px 0 105px;

    &__line {
        display: flex;
        flex-flow: row nowrap;
        margin: 60px -16px 0;
    }

    &__col {
        width: 33.33%;
        padding: 16px;
    }

    &__item {
        position: relative;
        min-height: 320px;
        padding: 36px 37px;
        background-color: #fff;
        border: 1px solid #ddd;
        transition: box-shadow 0.4s;

        &:hover {
            box-shadow: 0 6px 13px rgba(0,0,0,.1);

            .promo-press__item-title {
                color: #00adef;
            }
        }

        &-title {
            min-height: 52px;
            margin: 0 0 15px;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            transition: color 0.4s;
        }

        &-note {
            max-height: 110px;
            margin: 15px 0 35px;
            overflow: hidden;
        }

        &-logo {
            display: block;
        }

        &-link {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: none;
        }
    }
}


.promo-buy {
    min-height: 528px;
    padding-top: 185px;
    color: #fff;
    text-align: center;
    background: #000 no-repeat 0 0 url('../img/parallax_bg.jpg');
    background-size: 100% auto;

    &_second{
        min-height: 959px;
        padding-top: 90px;
        background: #000 no-repeat 0 0 url('../img/promo-buy_bg.jpg');
        .promo-text {
            max-width: 100%;
            line-height: 50px;
		}
    }
    &_daikin,
    &_daikin-mc {
        background: #fff no-repeat 0 0 url('../img/parallax_bg_daikin.jpg');
        background-size: 100% auto;
        height: 805px;
        padding-top: 168px;

        .promo-text {
            color: #000;
        }

        .promo-text__title {
            margin-bottom: 0;
        }

        .promo-text__subtitle {
            margin: 0 0 36px;
        }
    }

    &_daikin-mc {
        background-image: url('../img/parallax_bg_daikin-mc.jpg');
        height: 891px;
        padding-top: 93px;

        .promo-text__subtitle {
            margin: 0 0 36px;
            font-size: 48px;
        }
    }

    &_midea {
        background: url('../img/bg_buy_midea.jpg') no-repeat;
        background-size: cover;
        height: 805px;
        padding-top: 108px;

        .promo-text {
            max-width: 820px;

            &__title {
                color: #000;
                margin-bottom: 0;
            }

            &__subtitle {
                font-size: 48px;
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
    }

    &__btn {
        width: 210px;
        margin-bottom: 57px;
    }

    &_midea-mis {
        padding-top: 93px;
        padding-bottom: 73px;
        background: #000 no-repeat center center url('../img/blue_bg.jpg');
        background-size: cover;

        .promo-text {
            margin-bottom: 58px;


            @media (max-width: $desktop-size) {
                margin-bottom: 37px;
            }

            @media (max-width: $mobile-size) {
                margin-bottom: 28px;
            }
        }

        .promo-buy__image {
            @media (max-width: $desktop-size) {
                max-width: 42%;
            }

            @media (max-width: $mobile-size) {
                max-width: 95%;
            }
        }
    }
}


.promo-similar {
    position: relative;
    background-color: #f6f6f6;

    &__half {
        float: left;
        width: 50%;
        color: #000;

        &.to-left{

            .promo-similar__back {
                left: 0;
                right: 50%;
                background-image: linear-gradient( 142deg, #00adef, #22dad5, #2ce6cd );
            }

            .promo-similar__front {
                padding: 37px 57px 108px 0;
            }

            .promo-similar__arrow {
                left: 0;
                background-image: url('../img/svg/icon_arrow-l_white.svg');
                transform: translateX( -30px );
            }
        }

        &.to-right{

            .promo-similar__back {
                left: 50%;
                right: 0;
                background-image: linear-gradient( 142deg, #2ce6cd, #22dad5, #00adef );
            }

            .promo-similar__front {
                padding: 37px 0 108px 57px;
            }

            .promo-similar__arrow {
                right: 0;
                background-image: url('../img/svg/icon_arrow-r_white.svg');
                transform: translateX( 30px );
            }
        }

        &:hover {
            color: #fff;

            .promo-similar__arrow,
            .promo-similar__back {
                opacity: 1;
                transform: none;
            }
			.promo-similar__type {
				color: #fff;
			}
        }
    }

    &__back {
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.4s ease;
    }

    &__front {
        position: relative;
        min-height: 440px;
        transition: all 0.4s ease;
        font-weight: 100;
    }

    &__type {
        margin-bottom: 0;
        font-size: 18px;
		color: rgba(0,0,0,0.5);
		transition: color 0.4s ease;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 45px;
        color: inherit;
        line-height: 43px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__arrow {
        display: block;
        position: absolute;
        top: 50%;
        width: 31px;
        height: 15px;
        background: no-repeat center;
        background-size: 26px 15px;
        opacity: 0;
        transition: all 0.4s ease;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: none;
    }
}


.promo-safety{
    padding: 150px 0 300px;
    @media (max-width: $desktop-size){
        padding-bottom: 100px;
    }

    @media (max-width: $tablet-md-size){
        padding: 50px 0;
    }

    &__list{
        max-width: 1180px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: 30px auto;
        padding: 0;

        @media (max-width: $desktop-size){
            display: block;
        }

        li{
            list-style: none;
            text-align: center;
            max-width: 342px;
            margin: 35px 0;
            padding: 10px 20px;
            @media (max-width: $desktop-size){
                margin: 35px auto;
            }
        }

        &-thumb{
            min-height: 225px;
            margin-bottom: 25px;
            position: relative;
        }

        &-title{
            font-weight: normal;
            font-size: 18px;
            line-height: 1.25;
            color: #000;
        }

        &-note{
            font-size: 15px;
            color: #000;
            line-height: 1.47;
        }

        &-info{
            display: inline-block;
            position: absolute;
            width: 37px;
            height: 47px;
            right: 25px;
            top: 10px;
            background: url(../img/svg/icon_info.svg) no-repeat;
        }
    }
}

.promo-works{
    .promo-gradient{
        float: none;
        .promo-text{
            padding: 80px 90px;
            text-align: center;
        }
        .promo-text__note{
            margin: 0 auto;
            max-width: 420px;
            @media (max-width: $mobile-size){
                margin-left: -40px;
                margin-right: -40px;
            }
        }
    }
}

.promo-usability-list {
    font-size: 0;
    list-style: none;
    margin-left: -41px;
    padding-top: 51px;

    &__item {
        display: inline-block;
        margin-left: 41px;
    }

    &__img {
        fill: #fff;
    }
}

/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {
    .promo-text {
        &__type {
            margin-bottom: 23px;
            font-size: 20px;
            line-height: 24px;
        }

        &__title {
            font-size: 40px;
            line-height: 48px;
        }

        &__note {
            font-size: 15px;
            line-height: 26px;
        }
    }

    .promo-banner {
        padding: 40px 0 30px;

        &__title {
            margin-bottom: 10px;
            font-size: 56px;
            line-height: 64px;
        }

        &__lead {
            font-size: 18px;
        }

        &__img {
            max-width: 65%;

            .promo-page_midea-mis & {
                max-width: 52%;
                margin-bottom: 42px;
            }
        }
    }

    .promo-traits {
        padding: 90px 0 115px;

        .promo-text {
            max-width: 550px;
        }

        .promo-text_daikin-mc {
            max-width: 775px;
        }

        &__advantages {
            margin: 50px auto 70px;

            &_daikin {
                margin: 73px auto 90px;
            }
        }

        &__table {
            margin: 85px auto 55px;
        }

        &__description {
            font-size: 15px;
        }

        &__title {
            font-size: 28px;
        }
    }

    .promo-design {

        &__gradient {
            min-height: 545px;

            .promo-text {
                padding: 100px 60px 100px 48px;
            }
        }

        &__tabs {

            &-imgs {
                margin-top: -210px;
            }

            &-list {
                padding: 75px 0 0;
            }
        }

        &__awards {

            &-title {
                font-size: 24px;
                line-height: 32px;
            }

            &-list {
                margin: 0;
                padding: 35px 0 85px;

                img {
                    max-height: 120px;
                }
            }
        }
    }

    .promo-comfort {
        min-height: 840px;
        padding-top: 95px;

        .promo-text {
            max-width: 655px;
        }
    }

    .promo-features {
        padding: 100px 0 115px;

        &__list {
            margin: 55px -20px 40px;

            &_left {
                margin: 65px 0 40px;
            }
        }

        &__item {
            width: 33.33%;
            margin: 25px 0;
        }
    }

    .promo-control {
        height: 825px;

        &__pict {
            margin-right: -260px;
        }

        &__img {
            margin-left: -300px;
        }

        &__text {
            min-height: 595px;
            margin: 115px 0 115px -65px;
            padding: 95px 55px 50px 80px;
        }
    }

    .promo-online {
        padding-top: 100px;
    }

    .promo-desk {
        padding-top: 70px;

        .promo-text {
            max-width: 505px;
        }

        &__row {
            margin-top: 90px;
        }
    }

    .promo-details {
        padding: 118px 0 65px;

        .promo-text {
            max-width: 540px;
        }

        &__body {
            margin-top: 85px;
        }

        &__pict {
            float: none;
            width: auto;
            text-align: center;
        }

        &__img {
            width: 760px;
        }

        &__list {
            float: none;
            width: auto;
            margin-top: 130px;
            font-size: 0;
        }

        &__item {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            max-width: none;

            &-img {

            }

            &-note {

            }
        }
    }

    .promo-gauge {
        height: 575px;
        padding-top: 90px;

        .promo-text {
            max-width: 550px;
        }
    }

    .promo-certs {
        padding-top: 105px;

        &__docs {
            margin: 65px auto 0;
        }
    }

    .promo-press {
        padding: 120px 0 75px;

        &__line {
            flex-flow: row wrap;
            margin: 50px -16px 0;
        }

        &__col {
            width: 50%;
        }
    }

    .promo-buy {
        min-height: 400px;
        padding-top: 115px;

        &_midea-mis {
            padding-top: 68px;
            padding-bottom: 56px;

            .promo-buy__btn {
                margin-bottom: 40px;
            }

            @media (max-width: $mobile-size) {
                padding-top: 42px;
            }
        }
    }

    .promo-similar {

        &__half {

            &.to-left .promo-similar__arrow {
                left: -30px;
            }

            &.to-right .promo-similar__arrow {
                right: -30px;
            }
        }
    }
}

/* ---------- ADAPTIVE 1024 --------------------------------------------------*/
@media (max-width: 1023px) {
    .promo-traits__product_daikin-mc {
        margin-top: 65px;
        margin-bottom: 47px;
    }

    .promo-features {
        padding-top: 0;
    }

    .promo-features_daikin-mc {
        padding-bottom: 0;
    }

    .promo-features__list_daikin-mc {
        margin-top: 0;
    }

    .promo-features__item-title {
        font-size: 15px;
    }
}

/* ---------- ADAPTIVE 960 --------------------------------------------------*/
@media (max-width: 959px) {

    .promo-banner {
        padding: 80px 0 50px;

        &__lead {
            margin-bottom: 53px;
        }

        &__img {
            max-width: 90%;
            margin: 60px auto 70px;

            .promo-page_midea-mis & {
                max-width: 80%;
                margin-bottom: 67px;
                margin-top: 111px;
            }
        }
    }

    .promo-traits {
        padding: 70px 0 100px;

        &__advantages {
            .promo-page_midea-mis & {
                margin-bottom: 69px;
                margin-top: 51px;
            }
        }
    }

    .promo-design {

        &__gradient {
            float: none;
            width: auto;
            min-height: 0;

            .promo-text {
                padding: 70px 32px;

                &__note {
                    max-width: 540px;
                }
            }
        }

        &__tabs {
            &-imgs {
                float: none;
                width: auto;
                margin-top: 60px;
            }

            &-list {
                position: relative;
                float: none;
                width: auto;
                margin: -100px 0 0;
                padding: 0;
                z-index: 1;
            }
        }

        &__awards {
            margin-top: 95px;

            &-list {

                li {
                    width: 50%;
                    text-align: center;
                }

                img {
                    max-height: 130px;
                }
            }
        }

        .promo-page_midea-mis & {
            .promo-gradient {
                width: 100%;
            }
        }
    }

    .promo-features {

        &__item {
            width: 50%;
        }
    }

    .promo-online {

        .promo-text {
            max-width: 490px;
        }
    }

    .promo-control {
        height: auto;

        &__text {
            position: static;
            min-height: 560px;
            margin: 0;
            padding: 70px 32px;

            .promo-text {
                max-width: 480px;
            }
        }

        &__pict {
            position: static;
            height: 580px;
            text-align: left;
            margin: 0;
        }

        &__img {
            margin: 0;
        }
    }

    .promo-desk {

        &__col {
            float: none;
            width: auto;
        }
    }

    .promo-details {
        padding: 118px 0 0;

        .promo-text {
            max-width: 550px;
        }

        &__body {
            margin: 70px 0;
        }

        &__img {
            max-width: 85%;
        }

    }

    .promo-press {
        padding: 120px 0 58px;

        &__line {
            display: block;
            margin: 50px 0 0;
        }

        &__col {
            display: block;
            width: auto;
            padding: 12px 0;
        }

        &__item {
            min-height: 0;
        }
    }

    .promo-similar {

        &__img {
            max-width: 80%;
        }

        &__arrow {
            display: none;
        }
    }
}


/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {

    .promo-page {

        &__link {
            font-size: 14px;
        }
    }

    .promo-text {

        &__type {
            margin-bottom: 12px;
            font-size: 15px;
            line-height: 24px;
        }

        &__title {
            margin: 0 0 26px;
            font-size: 24px;
            line-height: 28px;
        }

        &__note {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .promo-banner {
        position: relative;
        padding: 50px 0 195px;

        &__title {
            font-size: 28px;
            line-height: 32px;
        }

        &__lead {
            font-size: 13px;
            line-height: 22px;
        }

        &__btns {
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 40px;

            .btn {
                display: block;
                width: 100%;
                margin: 24px 0 0;
            }
        }

        &__img {
            margin: 60px auto;
        }
    }

    .promo-traits {
        padding: 40px 0 55px;

        &__advantages {

            &-item {
                display: block;
                width: auto;
                margin-bottom: 40px;
            }

            &-note {
                margin-top: 12px;
                font-size: 13px;
                line-height: 20px;
            }

            &-class {
                margin: 0 0 10px -20px;
            }
        }

        &__table {
            min-width: 100%;
            margin: 55px auto 25px;

            &-mob-label {
                display: block;
                min-height: 20px;
                padding-right: 1px;
                color: #999;
                font-size: 12px;
                line-height: 20px;

                span {
                    word-break:break-all;
                }
            }

            &-cell {
                vertical-align: bottom;
                padding: 20px 0;
                text-align: left;
                font-size: 13px;
            }

            tr {
                height: auto;

                td {
                    width: 50%;

                    &:first-child {
                        display: none;
                    }
                }
            }

            &-thumb {
                margin: 0 0 15px;
            }
        }
    }

    .promo-design {

        &__gradient {

            .promo-text {
                padding: 30px 16px 40px;
            }
        }

        &__tabs {

            &-imgs {
                margin-top: 34px;
            }

            &-list {
                margin: -30px 0 0;
            }
        }

        &__awards {
            margin-top: 45px;

            &-title {
                font-size: 18px;
                line-height: 24px;
            }

            &-list {
                padding: 30px 0 55px;
            }
        }
    }


    .promo-comfort {
        min-height: 500px;
        padding-top: 80px;
        background-position: right top;
    }

    .promo-features {
        padding: 60px 0 55px;

        &__list {
            display: block;
            margin: 0 -16px 40px;

            &_daikin-mc {
                .promo-features__item:nth-child(n + 4) {
                    display: block;
                }
            }
        }

        &__item {
            display: block;
            width: auto;
            margin: 35px auto;

            &:nth-child(n + 4) {
                display: none;
            }

            &-title {
                font-size: 18px;
                line-height: 24px;
            }

            &-note {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .promo-control {
        &__text {
            min-height: 0;
            padding: 30px 16px 70px;
        }

        &__pict {
            height: 330px;
        }

        &__img {
            min-width: 100%;
        }
    }

    .promo-online {
        padding-top: 75px;

        &__btns {
            margin: 45px 0 55px;
            font-size: 0;
        }

        &__btn {
            max-width: 50%;
            margin: 0;
            padding: 5px;
        }
    }

    .promo-desk {

        &__row {
            margin-top: 45px;
        }
    }

    .promo-details {
        padding: 70px 0 0;

        &__body {
            margin: 45px 0;
        }

        &__img {
            max-width: 100%;
        }

        &__list {
            margin: 100px 0 80px;
        }

        &__item {
            display: block;
            width: auto;
            margin-bottom: 40px;

            &-img {
                max-width: 160px;
                margin-bottom: 20px;
            }

            &-note {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .promo-gauge {
        height: 530px;
        padding-top: 70px;
    }

    .promo-certs {
        padding-top: 70px;

        &__docs {
            display: block;
            margin: 25px auto 0;
        }

        &__doc {
            display: block;

            &-title {
                display: block;
                width: auto;
                padding: 20px 0 0;
                font-size: 18px;
                line-height: 24px;
            }

            &-links {
                display: block;
                padding: 0 0 20px;

                .blue {
                    display: block;
                    position: relative;
                    margin-top: 16px;
                    padding-right: 80px;
                    text-align: left;
                    font-size: 13px;
                    line-height: 20px;

                    .text-solid:after {
                        display: none;
                    }
                }

                .icon {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                br {
                    display: none;
                }
            }
        }
    }

    .promo-press {
        padding: 70px 0 40px;

        &__line {
            margin: 25px 0 0;
        }

        &__col {
            padding: 8px 0;
        }

        &__item {
            padding: 25px 20px 30px 20px;

            &-title {
                min-height: 0;
                font-size: 15px;
                line-height: 22px;
            }

            &-note {
                max-height: 140px;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .promo-buy {
        background-position: center top !important;
        background-size: auto 135%;

        .promo-text__title {
            font-size: 28px;
            line-height: 40px;

            span {
                font-size: 15px;
            }
        }
    }

    .promo-similar {

        &__half {
            float: none;
            width: auto;
            height: 290px;
            overflow: hidden;

            &:hover {
                color: #000;
            }

            &.to-left {

                .promo-similar__back {
                    display: none;
                }

                .promo-similar__front {
                    padding: 35px 0;
                    text-align: left;
                }
            }

            &.to-right {
                color: #fff;

                .promo-similar__back {
                    left: 0;
                    top: 50%;
                    opacity: 1;
                }

                .promo-similar__front {
                    padding: 35px 0;
                    text-align: right;
                }
            }
        }

        &__front {
            min-height: 0;
            height: 100%;
            padding: 0;
        }

        &__type {
            font-size: 13px;
            line-height: 20px;
        }

        &__title {
            margin: 10px 0 25px;
            font-size: 20px;
            line-height: 24px;
        }

        &__img {
            max-height: 140px;
        }

    }
}

/* ---------- ADAPTIVE 480 --------------------------------------------------*/
@media (max-width: $mobile-size) {
    .promo-banner {

        &__img {

            .promo-page_midea-mis & {
                max-width: 95%;
                margin-bottom: 60px;
                margin-top: 56px;
            }
        }
    }

    .promo-traits {
        &__advantages {
            .promo-page_midea-mis & {
                margin-top: 46px;
            }
        }
    }
}
