.object-page{
    padding: 50px 0;

    @media (max-width: $tablet-size){
        padding: 30px 0 20px;
    }

    .back-link{
        margin-top: 35px;
    }

    address{
        font-style: normal;
        border: 2px solid #00adef;
        text-align: center;
        padding: 50px 30px;
        font-size: 14px;
        @media (max-width: $mobile-size){
            padding: 25px 20px;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 55px;
        }

        small{
            display: block;
            font-size: 14px;
            margin-bottom: 35px;
            &.silver{
                color: #888888;
            }
        }

        a{
            border-bottom: none;
            &.phone{
                font-size: 24px;
                color: #000;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }

    &__actions{
        border: 1px solid #dddddd;
        margin-bottom: 25px;
        display: inline-block;
        div{
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid #dddddd;
            min-height: 54px;
            line-height: 1.25;
            text-align: center;
            padding: 18px 20px;
            font-size: 14px;
            color: #999999;
            &:first-child{
                border-left: 0;
            }
            @media (max-width: $mobile-size){
               display: block;
               border: 0;
               border-top: 1px solid #dddddd;
               text-align: left;
               &:first-child{
                    border-top: 0;
               }
            }
        }

        @media (max-width: $mobile-size){
           display: block;
        }
    }

    &__item{
       h4{
            line-height: 1.25;
            margin-bottom: 30px;
            @media (max-width: $tablet-lg-size){
               font-size: 26px;
            }

            @media (max-width: $mobile-size){
               font-size: 20px;
               margin-bottom: 15px;
            }
       }
       
       p{
            font-size: 15px;
            color: #000;
            line-height: 1.65;
            line-height: 24px;
            margin: 0;
       }
    }

    &__row{
        @media (min-width: $desktop-size-min){
            overflow: hidden;
            margin: 0 -16px;
            @include clearfix;
        }
    }

    &__col{
        margin: 32px 0;
        @media  (min-width: $desktop-size-min){
            float: left;
            width: calc(50% - 32px);
            margin: 0 16px;
            &:first-child{
                padding-right: 50px;
            }
        }
    }

    &__slider{
        .slick-dots{
            text-align: center;
            font-size: 0;
            margin-top: 30px;
            li{
                list-style: none;
                display: inline-block;
                vertical-align: top;
                margin: 0 6px;
                &.slick-active,
                &:hover{
                    button{
                        background: #3eb5f1;
                    }
                }
            }
            button{
                text-indent: -9999px;
                background: #fff;
                padding: 0;
                margin: 0;
                cursor: pointer;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                border: 1px solid #3eb5f1;
            }
        }
        img{
            width: 100%;
        }
    }

    &__right{
        width: 330px;
        margin-left: 20px;
        @media (max-width: $tablet-md-size){
            width: 100%;
            max-width: 330px;
            margin: 0 auto;
        }
    }

    &__details{
        margin-top: 70px;
        @media (min-width: $tablet-md-size-min){
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        @media (max-width: $tablet-md-size){
            margin-top: 30px;
        }

        p{
            font-size: 15px;
            line-height: 22px;
            margin: 5px 0 0;
        }

        dl{
            max-width: 600px;
            font-size: 0;

            dt{
                display: inline-block;
                vertical-align: bottom;
                width: 477px;
                margin-bottom: 10px;
                border-bottom: 1px dotted #dddddd;
                font-size: 15px;
                padding-right: 5px;
                line-height: 22px;
                color: #000;

                @media (max-width: $tablet-size){
                    width: 82%;
                }

                span{
                    display: inline;
                    background: #fff;
                    position: relative;
                    bottom: -7px;
                    padding-right: 5px;
                }
            }

            dd{
                display: inline-block;
                vertical-align: bottom;
                margin-bottom: 5px;
                font-size: 15px;
                line-height: 22px;
                padding-left: 5px;
                color: #000;
            }
        }
    }

    &__dl{
        margin-bottom: 90px;

        @media (min-width: $desktop-size-min){
            overflow: hidden;
            @include clearfix;
        }

        @media (max-width: $tablet-md-size){
            margin-bottom: 30px;
        }
    }

    &__dt{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #000;

        @media (min-width: $desktop-size-min){
            float: left;
            max-width: 280px;
        }
    }

    &__dd{
        font-size: 15px;
        line-height: 22px;
        color: #000;
        @media (min-width: $desktop-size-min){
            padding-left: 290px;
            @include clearfix;
        }
    }
}