
/* ---------- PAGE: Product --------------------------------------------------*/

.product {

    &__head {

    }

    &__tabs {
        position: relative;
        margin-top: 40px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 80px;
            background-color: #f6f6f6;
        }

        &-head {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            position: relative;
            height: 80px;
        }

        &-btn {
            display: inline-block;
            position: relative;
            vertical-align: top;
            padding: 25px 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            border: 2px solid transparent;

            span {
                margin-left: 5px;
                color: #999;
            }

            &.is-active {
                border-bottom-color: #00adef;
            }
        }

        &-body {
            position: relative;
            overflow: hidden;
        }

        &-item {
            position: absolute;
            visibility: hidden;
            padding: 75px 0 60px;
            opacity: 0;
            z-index: -10;

            &.is-active {
                position: relative;
                visibility: visible;
                opacity: 1;
                z-index: auto;
                transition: all 0.6s;
            }
        }
    }
}

.prod-tab {
    overflow: hidden;

    &__spoiler {
        &:after {
            content: "";
            display: table;
            clear: both;
        }

        &-btn {
            display: none;
        }
    }

    &__head {
        margin: -65px 0 10px;

        &-note {
            padding: 29px 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            clear: both;
        }
    }

    &__main {
        float: left;
        width: 75%;
        padding-right: 16px;
    }

    &__side {
        float: right;
        width: 25%;
        padding-left: 16px;

        &-unit {
            margin-bottom: 55px;
        }

        &-title {
            margin: 0 0 35px;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
        }
    }

    &__title {
        margin: 0 0 35px;
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;

        span {
            color: #999;
        }
    }

    &__reviews {
        margin-bottom: 45px;
    }

    &__rate-count {
        text-align: right;

        .rate-count {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }

    &__add-review {
        margin: 30px 0 65px;
    }

    &__cards {
        margin: -10px -16px 55px;
        font-size: 0;
        line-height: 0;

        .prod-card__img {
            display: inline-block;
        }

        .slick-arrow {
            display: block;
            position: absolute;
            bottom: -9px;
            width: 31px;
            height: 15px;
            margin: 0;
            padding: 0;
            font-size: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100% 100%;
            border: none;
            border-radius: 0;
            z-index: 1;
        }

        .slick-prev {
            left: 16px;
            background-image: url(../img/svg/icon_arrow-l_black.svg);
        }

        .slick-next {
            right: 16px;
            background-image: url(../img/svg/icon_arrow-r_black.svg);
        }

        .slick-dots {
            position: absolute;
            left: 55px;
            right: 55px;
            bottom: -15px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0;

            li {
                display: inline-block;
                vertical-align: top;
                margin: 6px;
                list-style: none;

                &.slick-active button{
                    background: #00adef;
                }
            }

            button {
                width: 8px;
                height: 8px;
                margin: 0;
                padding: 0;
                background: #fff;
                border: 1px solid #00adef;
            }
        }
    }

    &__card {
        display: inline-block;
        position: relative;
        vertical-align: top;
        padding: 16px;
        width: 25%;
    }

    &__videos {
        margin: -6px -16px 65px;
        overflow: hidden;
    }

    &__video {
        float: left;
        width: 25%;
        padding: 16px;
    }

    &__offers {
        line-height: 0;
        font-size: 0;
    }

    &__offer {
        margin-bottom: 16px;
        transition: all 0.6s;

        &:last-child {
            margin-bottom: 0;
        }

        &.just-loaded {
            height: 0;
            min-height: 0;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-top: none;
            border-bottom: none;
            visibility: hidden;
            opacity: 0;
            transform: translateY( 20px );
        }
    }

    &__more {
        margin: 70px 0 20px;
    }

    &__filters {
        padding-left: 30px;
    }
}


.prod-props {
    margin: 20px 0 40px;
    padding: 0;

    &__item {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 10px;
        list-style: none;
        font-size: 14px;
        line-height: 22px;
        overflow: hidden;
    }

    &__name {
        position: relative;
        align-self: flex-start;
        width: 55%;
        padding-right: 32px;
        font-weight: 400;

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5px;
            border-bottom: 2px dotted #ddd;
        }

        span {
            position: relative;
            vertical-align: top;
            padding-right: 5px;
            background-color: #fff;
            z-index: 1;
        }
    }

    &__data {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        width: 45%;
        padding-left: 10px;
        font-weight: 100;
    }
}


.prod-desc {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &__lt {
        float: left;
        width: 50%;
        padding-right: 16px;
    }

    &__rt {
        float: right;
        width: 50%;
        max-width: 535px;
        margin-top: -17px;
        padding-left: 16px;

        &.for-features {
            margin-top: 70px;
        }
    }

    &__head {

    }

    &__type {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 24px;
    }

    &__title {
        margin: 3px 0 20px;
        font-size: 0;
        line-height: 40px;

        &-name {
            margin: 0 25px 0 -2px;
            font-size: 32px;
            font-weight: 400;
            line-height: 40px;
        }

        &-note {
            display: inline-block;
            vertical-align: baseline;
            margin-right: 25px;
            color: #888;
            font-size: 14px;
            line-height: 20px;
            border-bottom: none;
        }

        &-rate {
            display: inline-block;
            vertical-align: baseline;
            line-height: 9px;
        }
    }

    &__pict {
        position: relative;
        height: 425px;
        overflow: hidden;
    }

    &__thumbs {
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 100%;

        &-item {
            width: 90px;
            height: 90px;
            line-height: 90px;
            text-align: center;
            cursor: pointer;
        }

        &-img {
            display: inline-block;
            vertical-align: middle;
            max-width: 70px;
            max-height: 70px;
        }

        .slick-slide {
            height: 90px;
            opacity: 0.3;

            &:hover {
                border-color: #00adef;
            }

            &.slick-current {
                opacity: 1;
            }

            img {
                display: inline-block;
            }
        }
    }

    &__imgs {
        height: 100%;
        margin-left: 150px;

        &-item {
            text-align: center;
            line-height: 425px;
        }

        &-img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
        }

        .slick-slide img {
            display: inline-block;
        }
        .slick-track,
        .slick-list {
            height: 100%;
        }
    }

    &__params {
        max-width: 490px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        &-lt {
            float: left;
            width: 50%;

            .select2-selection--single {
                border-color: #000;
                border-right: none;
                border-radius: 3px 0 0 3px;

                .select2-selection__rendered {
                    padding-left: 15px;
                    font-size: 15px;
                }
            }
        }

        &-rt {
            float: right;
            width: 50%;

            .select2-selection--single {
                border-color: #000;
                border-radius: 0 3px 3px 0;

                .select2-selection__rendered {
                    padding-left: 15px;
                    font-size: 15px;
                }
            }
        }

        &-title {
            margin-bottom: 10px;
            color: #888;
            font-size: 13px;
        }

        .select2-container.select2-container--focus .select2-selection--single,
        .select2-container.select2-container--open .select2-selection--single {
            border-color: #000;
        }
    }

    &__price {
        margin: 25px 0 35px;
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;

        span {
            font-size: 32px;
        }

        .icon-rub {
            font-size: 24px;
        }

    }

    &__offer {
        margin: 0 -20px 35px 0;
        font-size: 0;

        &-all {
            width: 220px;
            margin: 0 10px 0 0;
            padding: 0 15px;
            text-align: center;
            font-weight: 400;

            span {
                margin-left: 5px;
                color: #91daf6;
            }
        }
    }

    &__features {

        &-list {
            height: 165px;
            margin-bottom: 28px;
            overflow: hidden;
        }

        &-more {
            margin-left: 10px;
        }
    }

    &__btn {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
        padding: 13px 12px;
        color: #000;
        font-size: 15px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 24px;

        &:hover {
            color: #000;
            border-color: #00adef;
        }

        i {
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }
    }
}

.icon-reserve { background-image:  url(../img/svg/icon_heart_black.svg); }
.icon-compare { background-image:  url(../img/svg/icon_compare_black.svg); }

.review-form{
    min-height: 100vh;
    width: 50vw;
    padding: 60px 95px;
    min-width: 880px;

    @media (max-width: $tablet-md-size){
        min-width: 100%;
        width: 100%;
    }

    @media (max-width: $tablet-size){
        padding: 30px 35px;
    }

    @media (max-width: $mobile-lg-size){
        padding: 20px 16px;
    }

    .page-title{
        text-align: left;
        line-height: 1.5;
        margin-bottom: 55px;

        @media (max-width: $mobile-lg-size){
            margin-bottom: 16px;
        }
    }

    .rate{
        height: 24px;
        width: 160px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;

        &__status{
            display: inline-block;
            margin-left: 22px;
            vertical-align: middle;
            margin-top: 10px;
            
            @media (max-width: $mobile-lg-size){
                display: block;
                margin-left: 0;
            }
        }
    }

    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email],
    textarea{
        border-color: #dddddd;
        padding: 0 17px;
        margin-bottom: 0;
    }

    textarea{
        resize: none;
        font-size: 14px;
        line-height: 1.57;
        height: 136px;
        padding: 14px 17px;
    }

    input[type=submit]{
        cursor: pointer;
        margin: 0;

        @media (max-width: $mobile-lg-size){
            margin-top: 30px;
        }
    }

    &__row{
        margin-top: 32px;

        label{
            font-size: 13px;
            color: #888;
            display: block;
        }

        &.inline{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:space-between;

            @media (max-width: $mobile-lg-size){
                display: block;
            }
        }
    }

    &__row-submit{
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items:center;

        @media (max-width: $mobile-lg-size){
            display: block;
        }
    }

    &__col{
        width: calc(50% - 16px);

        @media (max-width: $mobile-lg-size){
            width: 100%;
            margin-top: 30px;

            &:first-child{
                margin-top: 0;
            }
        }
    }

    &__agree{
        font-size: 14px;
        line-height: 1.57;

        a{
            display: inline-block;
        }
    }

    .switcher-list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
        font-size: 0;
        line-height: 0;
        overflow: hidden;

        @media (max-width: $mobile-lg-size){
            display: block;
        }

        li{
            display: inline-block;
            vertical-align: top;
            list-style: none;
            margin: 0;
            width: 33.33%;

            @media (max-width: $mobile-lg-size){
                width: 100%;
            }

            &:first-child{
                a{
                    border-radius: 3px 0 0 3px;

                    @media (max-width: $mobile-lg-size){
                        border-radius: 3px 3px 0 0;
                    }
                }
            }

            &:last-child{
                a{
                    border-right: 1px solid #dddddd;
                    border-radius: 0 3px 3px 0;

                    @media (max-width: $mobile-lg-size){
                        border-radius: 0 0 3px 3px;
                        border: 1px solid #dddddd;
                    }
                }
            }

            &.active{
                a{
                    border: 1px solid #00adef;
                    border-right: none;

                    @media (max-width: $mobile-lg-size){
                        border: 1px solid #00adef;
                        border-right: 1px solid #00adef;
                        border-bottom: none;
                    }
                }

                & + li{
                    a{
                        border-left: 1px solid #00adef;

                        @media (max-width: $mobile-lg-size){
                            border-top: 1px solid #00adef;
                            border-left: 1px solid #dddddd;
                            border-right: 1px solid #dddddd;
                        }
                    }
                }

                &:last-child{
                    a{
                        border-right: 1px solid #00adef;

                        @media (max-width: $mobile-lg-size){
                            border: 1px solid #00adef;
                        }
                    }
                }
            }
        }

        a{
            display: block;
            text-decoration: none;
            text-align: center;
            color: #000;
            font-size: 15px;
            height: 48px;
            line-height: 48px;
            border: 1px solid #dddddd;
            border-right: none;

            @media (max-width: $mobile-lg-size){
                border-right: 1px solid #dddddd;
                border-bottom: none;
            }
        }
    }
}

/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .product {

        &__tabs {

            &-item {
                padding: 60px 0 40px;
            }

            &-btn {
                font-size: 15px;
            }
        }
    }

    .prod-desc {

        &__rt {
            margin-top: 0;
        }

        &__title {
            margin: 3px 0 10px;
        }

        &__pict {
            height: 350px;
        }

        &__thumbs {
            width: 50px;

            &-item {
                width: 50px;
                height: 80px;
                line-height: 80px;
            }

            &-img {
                max-width: 45px;
                max-height: 45px;
            }

            .slick-slide {
                height: 80px;
            }
        }

        &__imgs {
            margin-left: 80px;

            &-item {
                line-height: 350px;
            }

            &-img {
                max-width: 90%;
            }
        }

        &__price {
            margin: 20px 0 25px;
        }

        &__offer {
            margin-bottom: 20px;
        }

        &__features-more {
            margin-left: 0;
        }
    }

    .prod-tab {

        &__filters {
            padding-left: 13px;
        }

        &__main {

            &.for-prod-props {
                float: none;
                width: auto;
                padding-right: 0;
            }

            &.for-prod-reviews {
                width: 70%;
            }
        }

        &__side {

            &.for-prod-props {
                display: none;
            }

            &.for-prod-reviews {
                width: 30%
            }
        }

        &__card {
            width: 33.3%;
        }

        &__video {
            width: 33.3%;
        }
    }
}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .product {

        &__tabs {
            margin: 0 0 -1px;

            &:before {
                display: none;
            }

            &-head {
                display: none;
            }

            &-body {
                position: relative;
                overflow: visible;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: -32px;
                    right: -32px;
                    border-top: 1px solid #ddd;
                }
            }

            &-item {
                position: static;
                visibility: visible;
                padding: 0;
                opacity: 1;
                z-index: auto;
            }
        }
    }

    .prod-desc {

        &__lt {
            float: none;
            width: auto;
            padding-right: 0;
        }

        &__rt {
            float: none;
            width: auto;
            max-width: none;
            padding-left: 0;

            &.for-features {
                margin-top: 0;
            }
        }

        &__title {

            &-name {
                display: block;
                margin-bottom: 15px;
            }
        }

        &__pict {
            height: auto;
            padding-bottom: 40px;
        }

        &__thumbs {
            display: none;
        }

        &__imgs {
            height: 350px;
            margin: 0;

            .slick-dots {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -15px;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 0;

                li {
                    display: inline-block;
                    vertical-align: top;
                    margin: 6px;
                    list-style: none;

                    &.slick-active button{
                        background: #00adef;
                    }
                }

                button {
                    width: 8px;
                    height: 8px;
                    margin: 0;
                    padding: 0;
                    background: #fff;
                    border: 1px solid #00adef;
                }
            }
        }

        &__offer {
            margin-bottom: 46px;
        }

        &__features {
            margin: 0 -32px;
            padding: 32px 32px 20px;
            background-color: #f6f6f6;
        }
    }

    .prod-tab {
        position: relative;
        overflow: visible;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -32px;
            right: -32px;
            border-top: 1px solid #ddd;
        }

        &__head {
            margin: 0;
        }

        &__main {

            &.for-prod-offers,
            &.for-prod-reviews {
                float: none;
                width: auto;
                padding-right: 0;
            }

        }

        &__side {
            display: none;
            float: none;
            width: auto;
            padding: 15px 0;

            &.for-prod-offers {
                display: none;

                &.is-open {
                    display: block;
                }
            }

            &.for-prod-reviews {
                float: none;
                width: 220px;
                padding-left: 0;
                margin-bottom: 30px;
            }


        }

        &__spoiler {

            &-btn {
                display: block;
                position: relative;
                padding: 20px 30px 20px 0;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                border: none;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    margin-top: -5px;
                    background: no-repeat center url(../img/svg/icon_accordion-wedge_black.svg);
                    background-size: 7px 4px;
                    transition: all 0.6s;
                }

                &.is-active&:after{
                    transform: rotate( -180deg );
                }

                span {
                    margin-left: 5px;
                    color: #999;
                }
            }

            &-content {
                display: none;
                padding: 30px 0;
                //overflow: hidden;
            }
        }

        &__filters {
            padding-left: 0;
        }

        &__add-review {
            margin: 0 0 40px;
        }

        &__card {
            width: 50%;
        }

        &__video {
            width: 50%;
        }
    }

    .prod-props {

        &__name {
            width: 67%;
        }

        &__data {
            width: 33%;
        }
    }
}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .prod-desc {

        &__type {
            font-size: 13px;
            line-height: 24px;
        }

        &__title {
            margin: 0;
            &-name {
                margin: 0 0 0 -2px;
                font-size: 24px;
                line-height: 28px;
            }
        }

        &__imgs {
            height: 230px;

            &-item {
                line-height: 230px;
            }
        }

        &__price {
            font-size: 20px;

            span {
                font-size: 24px;
            }

            i {
                font-size: 20px;
            }
        }

        &__offer {
            margin: 0 0 5px;
            text-align: center;

            &-all {
                width: 100%;
                margin: 0 0 10px;
            }
        }

        &__features {
            padding: 28px 32px 15px;
        }
    }

    .prod-tab {

        &__head-note {
            font-size: 12px;
            line-height: 20px;
        }

        &__offer {
            margin-bottom: 24px;
        }

        &__title {
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 28px;
        }

        &__video {
            float: none;
            width: auto;
        }
    }

    .prod-props {
        margin: 20px -16px 40px;


        &__item {
            padding: 8px 16px;
            font-size: 13px;
            line-height: 20px;

            &:nth-child(2n + 1) {
                background-color: #f6f6f6;
            }
        }

        &__name {
            width: 50%;
            padding: 0;
            word-wrap: break-word;

            &:after {
                display: none;
            }

            span {
                background-color: transparent;
            }
        }

        &__data {
            width: 50%;
            align-items: flex-start;
            word-wrap: break-word;
        }
    }
}

/* ---------- ADAPTIVE 560 ---------------------------------------------------*/
@media (max-width: 559px) {

    .prod-desc {
        &__params-lt,
        &__params-rt {
            float: none;
            width: auto;

            .select2-selection--single {
                border-radius: 3px;
                border: 1px solid #000;
            }
        }
    }

    .prod-tab {

        &__card {
            display: block;
            width: auto;
        }
    }
}












