.news{
    padding: 45px 0 0;
    background: #f6f6f6;

    @media (max-width: $tablet-size){
        padding: 30px 0 0;
        overflow: hidden;
    }

    h2{
        margin-bottom: 8px;
    }

    &__list{
        font-size: 0;
        line-height: 0;
        display: flex;
        flex-flow:row wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        margin: 35px -16px 0;
        @media (max-width: $tablet-size){
            margin: 20px 0;
        }
    }

    &__link{
        z-index: 999;
        position: absolute;
        display: block;
        text-decoration: none;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        border-bottom: none;
        height: 100%;
    }

    &__row{
        width: calc(33.33% - 32px);
        margin: 22px 16px;
        background: #fff;
        box-shadow: 0 6px 13px rgba(0,0,0,.04);
        min-height: 310px;
        overflow: hidden;
        padding: 35px 40px;
        position: relative;
        transition: all 0.6s;

        &:hover{
            box-shadow: 0 6px 13px rgba(0, 0, 0, .1);

            .news__title span{
                color: $cl-blue;
            }
        }

        @media (max-width: $desktop-size){
            width: calc(50% - 32px);
        }

        @media (max-width: $tablet-md-size){
            margin: 10px 8px;
        }

        @media (max-width: $tablet-size){
            width: 100%;
            padding: 15px;
            margin: 10px 0;
        }

        @media (max-width: $mobile-size){
            min-height: 1px;
        }

        img{
            vertical-align: top;
        }
        
        &.just-loaded {
            height: 0;
            min-height: 0;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-top: none;
            border-bottom: none;
            visibility: hidden;
            opacity: 0;
            transform: translateY( 20px );
        }

        &.has-thumbnails{
            position: relative;
            text-align: center;
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            @media (max-width: $mobile-size){
                background: none !important;
            }

            &.dark{
                &:before{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.2);
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                .news__title,
                .readmore{
                    span{
                        color: #fff;
                    }
                }

                .readmore span:after{
                    background: url('../img/icon/arrow-right.png') no-repeat;
                }

                .news__details{
                    padding-top: 60px;

                    @media (max-width: $mobile-size){
                        padding-top: 15px;
                    }
                }
            }

            .news__details{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                margin: 0;
                top: 0;
                padding-top: 15px;

                img{
                    @media (max-width: $mobile-size){
                        margin-bottom: 15px;
                        max-height: 30%;
                    }
                }
            }

            .news__title{
                margin-top: 15px;
                padding-left: 0;

                @media (max-width: $mobile-size){
                    margin-top: 0;
                }

                span{
                    font-size: 22px;
                    color: #000;
                    font-weight: 300;
                    line-height: 1.27;

                    @media (max-width: $mobile-size){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__date{
        font-size: 14px;
        line-height: 1.25;
        color: #999;
    }

    &__details{
        font-size: 0;
        margin-top: 40px;

        @media (max-width: $mobile-size){
            margin-top: 20px;
        }
    }

    &__title{
        padding-left: 25px;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 72px);

        @media (max-width: $mobile-size){
            padding-left: 15px;
        }

        span{
            font-size: 18px;
            border-bottom: none;
            color: #000;
            line-height: 1.45;
            font-weight: 600;

            @media (max-width: $mobile-size){
                font-size: 16px;
            }

            /* &:hover{
                color: $cl-blue;
            } */
        }
    }

    &__thumb{
        display: inline-block;
        vertical-align: middle;
        width: 72px;
        height: 72px;
        border-radius:50%;
        background-position: center center;
        background-size:cover;

        img{
            display: none;
        }
    }

    &__text{
        font-size: 15px;
        color: #000;
        line-height: 22px;
        margin-top: 25px;
    }

    &__bg{
        display: none;
        @media (max-width: $mobile-size){
            display: block;
        }
    }

    .readmore{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 30px;
        @media (max-width: $mobile-size){
            bottom: 15px;
        }
    }

    &__paging{
        margin-top: 70px;
        
        @media (max-width: $mobile-size){
            margin-top: 40px;
        }
    }
}
