.structure{
    padding-top: 50px;

    @media (max-width: $tablet-size){
        padding-top: 30px;
    }

    &__container{
        border-bottom: 1px solid #dddddd;
        &:last-child{
            @media (max-width: $tablet-md-size){
                border-bottom: none;
            }
        }
    }

    &__list{
        font-size: 0;
        margin: 20px -35px 0;

        @media (max-width: $desktop-size){
            margin: 20px -16px 0;
        }
    }

    &__row{
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0 35px;
        margin: 30px 0 15px;
        overflow: hidden;

        @media (max-width: $desktop-size){
            padding: 0 16px;
            margin: 0;
        }

        @media (max-width: $tablet-lg-size){
            width: 50%;
        }

        @media (max-width: $tablet-size){
            width: 100%;
        }

        &-item{
            background: #fff;
            padding: 40px 0;
            @media (max-width: $tablet-size){
                padding: 20px 0;
            }
        }

        &.active{
            overflow: visible;
            .structure__row-item{
                padding: 40px 35px;
                position: absolute;
                z-index: 2;
                right: 0;
                left: 0;
                box-shadow: 0 0 15px rgba(136,136,136,.2);

                @media (max-width: $desktop-size){
                    padding: 40px 32px;
                    left: -16px;
                    right: -16px;
                }

                @media (max-width: $tablet-size){
                    padding: 20px 16px;
                    left: 0;
                    right: 0;
                }
            }

            .structure__details-text{
                p{
                    display: block;
                }
            }
        }
    }

    &__details{
        h5{
            font-size: 20px;
            position: relative;
            padding-bottom: 15px;
            font-weight: 600;

            @media (max-width: $tablet-size){
                font-size: 15px;
            }

            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                right: 0;
                display: block;
                background: rgb(13,165,227);
                background: -moz-linear-gradient(left, rgba(13,165,227,1) 0%, rgba(60,224,180,1) 100%);
                background: -webkit-linear-gradient(left, rgba(13,165,227,1) 0%,rgba(60,224,180,1) 100%);
                background: linear-gradient(to right, rgba(13,165,227,1) 0%,rgba(60,224,180,1) 100%);
            }
        }

        &-text{
            font-size: 14px;
            line-height: 22px;
            color: #000;
            padding-top: 10px;
            p:not(:first-child){
                display: none;
            }
            
            @media (max-width: $tablet-size){
                padding-top: 0;
            }
        }
    }

    &__btn{
        margin-top: 20px;

        .showmore{
            color: #999;
            font-weight: 300;
            font-size: 14px;
            &:not(.active){
                .icon-arrow{
                    background-image: svg('arrow_drop','[fill]: #999');
                    transform: rotate(-90deg);
                }
            }

            &:hover{
                color: $cl-blue;
                .icon-arrow{
                    background-image: svg('arrow_drop','[fill]: $cl-blue');
                }
            }
        }
    }
}