.promo-banner__img_daikin {
	/* margin-top: 32px; */
	margin-bottom: 0;
}

.promo-bigimage-pult {
	height: 100%;
	width: 11%;
}

.promo-bigimage-product {
	height: 100%;
	margin-right: -70px;
	text-align: right;
}

.promo-traits__cell.slick-current {
	.promo-traits__row {
		&:first-child {
			position: relative;
			&:after {
				background: $cl-lght-grey;
				bottom: 0;
				display: block;
				content: '';
				height: 5px;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
				width: 182px;

				.promo-page_midea-mis & {
					@media (max-width: $tablet-size) {
						transform: none;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}

.promo-daikin-design {
	background-size: cover;
	background: url('../img/bg_design_daikin.jpg') no-repeat 50% 100% / 100% 100%;
	color: #fff;
	min-height: 1226px;
	padding-top: 310px;
	position: relative;
}

.promo-properties {
	display: flex;
	flex-wrap: wrap;
	margin-top: 75px;

	&__column {
		&_img {
			flex-shrink: 0;
		}

		&_properties {
			margin-left: auto;
			margin-right: 43px;
		}
	}
}

.promo-properties-list {
	&__item {
		list-style: none;
		margin: 90px 0 0;
		text-align: center;

		&:first-child {
			margin-top: 0;
		}
	}

	&__img {
		display: block;
		margin-bottom: 22px;
		margin-left: auto;
		margin-right: auto;
	}
}

.daikin-control {
	align-items: center;
	display: flex;
	/* flex-wrap: wrap; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 94px;
	max-width: 1394px;

	&__column {
		&_list {
			margin-right: 20px;
		}

		&_img {
			margin-left: auto;
		}
	}
}

.daikin-control-list {
	&__item {
		list-style: none;
		margin-top: 91px;
		text-align: center;

		&:first-child {
			margin-top: 0;
		}
	}

	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&__description {
		margin-top: 25px;
	}
}

.promo-work {
	background: #000 url('../img/bg_night.jpg') no-repeat 50% 50% / cover;
	color: #fff;
	height: 707px;
	margin: 138px 0 21px;
	padding-top: 124px;
	text-align: center;

	.promo-text {
		max-width: 930px;
	}
}

.noise-level {
	display: flex;
	font-size: 18px;
	justify-content: center;
	margin-top: 46px;

	&:before,
	&:after {
		content: '';
		display: inline-block;
		height: 177px;
		width: 132px;
		vertical-align: middle;
	}

	&:before {
		background: url('../img/bg_noise_left.png') no-repeat;
		background-size: contain;
	}

	&:after {
		background: url('../img/bg_noise_right.png') no-repeat;
		background-size: contain;
	}

	&__content {
		display: inline-block;
		margin-left: 60px;
		margin-right: 60px;
		padding-top: 52px;
		vertical-align: middle;
	}

	&__title {
		font-size: 48px;
	}

	&__unit {
		font-weight: 400;
		font-size: 24px;
	}
}

/* ---------- ADAPTIVE 1440 --------------------------------------------------*/
@media (max-width: 1439px) {
	.promo-properties {
		display: block;

		&__column {
			text-align: center;

			&_properties {
				margin-right: 0;
			}
		}
	}

	.promo-properties-list {
		font-size: 0;
		margin-left: -15px;
		margin-top: 30px;

		&__item {
			display: inline-block;
			font-size: 15px;
			margin-left: 15px;
			margin-top: 0;
			vertical-align: top;
		}
	}
}

/* ---------- ADAPTIVE 1024 --------------------------------------------------*/
@media (max-width: 1023px) {
	.promo-bigimage-product {
		margin-right: 0;
	}

	.daikin-control {
		flex-direction: column-reverse;

		&__column {
			width: 100%;

			&_list {
				margin-right: 0;
			}
		}
	}

	.daikin-control-list {
		margin-left: -15px;
		margin-top: 30px;
		text-align: center;

		&__item {
			display: inline-block;
			margin-left: 15px;
			margin-top: 0;
			vertical-align: top;
		}
	}
}

/* ---------- ADAPTIVE 960 --------------------------------------------------*/
@media (max-width: 959px) {
	.promo-traits__cell.slick-current {
		.promo-traits__row {
			&:first-child {
				&:after {
					display: none;
				}
			}
		}
	}
}


/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {
	.noise-level {
		align-items: center;

		&__content {
			padding-top: 0;
		}
	}
}


/* ---------- ADAPTIVE 480 --------------------------------------------------*/
@media (max-width: 479px) {
	.noise-level__content {
		margin-left: 10px;
		margin-right: 10px;
	}

	.promo-gradient_daikin {
		.promo-text {
			padding: 10px;
		}
	}
}
