.promo-mis-midea {
    &-comfort {
        max-width: 1223px;
        margin: 0 auto;
        padding-top: 150px;

        .promo-text {
            max-width: 992px;

            @media (max-width: $desktop-size) {
                max-width: 752px;
            }
        }


        &-force {
            position: relative;
            padding-top: 425px;

            &__img {
                position: absolute 38px 4px null null;

                @media (max-width: $desktop-size) {
                    position: absolute -17px 63px null null;
                }

                @media (max-width: $tablet-md-size) {
                    top: -232px;
                    right: -10px;
                }

                @media (max-width: $mobile-lg-size) {
                    top: 136px;
                    right: 0;
                }

                /*@media (max-width: $mobile-size) {
                    top: 103px;
                    right: -10px;
                }*/

                img {
                    @media (max-width: $desktop-size) {
                        max-height: 500px;
                    }

                    @media (max-width: $tablet-md-size) {
                        max-height: 465px;
                    }

                    @media (max-width: $mobile-lg-size) {
                        max-height: 220px;
                    }
                }
            }

            .promo {
                &-gradient {
                    width: 100%;
                    max-width: 992px;
                    margin-left: auto;
                    margin-right: auto;
                    background-image: url('../img/shadow.png'), linear-gradient(to bottom right, #00adef, #22dad5, #2ce6cd);
                    background-position: top right, center;
                    background-repeat: no-repeat, no-repeat;

                    @media (max-width: $desktop-size) {
                        max-width: 752px;
                        margin-left: 48px;
                        background-size: 350px auto, auto auto;
                    }

                    @media (max-width: $tablet-md-size) {
                        max-width: none;
                        width: auto;
                        margin-left: -48px;
                        margin-right: -48px;
                        background-size: 350px auto, auto auto;
                    }

                    @media (max-width: $tablet-size) {
                        margin-left: -16px;
                        margin-right: -16px;
                    }

                    @media (max-width: $mobile-lg-size) {
                        background-size: 175px auto, auto auto;
                    }
                }

                &-text {
                    width: 100%;
                    max-width: 100%;
                    float: none;

                    &__title {
                        max-width: 455px;

                        @media (max-width: $tablet-size) {
                            font-size: 2.5rem;
                            line-height: 3rem;
                            margin-bottom: 33px;
                        }

                        @media (max-width: $mobile-lg-size) {
                            margin: 0 0 26px;
                            font-size: 1.5rem;
                            line-height: 1.75rem;
                        }
                    }

                    &__note {
                        max-width: 705px;
                    }
                }
            }

            .energy-block {
                position: absolute 0 null null 0;

                @media (max-width: $tablet-md-size) {
                    position: absolute;
                    top: -385px;
                    left: 55%;
                }

                @media (max-width: $mobile-lg-size) {
                    position: static;
                    margin-bottom: 195px;
                }
            }

            @media (max-width: $desktop-size) {
                padding-top: 246px;
            }

            @media (max-width: $tablet-md-size) {
                padding-top: 24px;
            }

            @media (max-width: $mobile-size) {
                padding-top: 42px;
            }
        }


        @media (max-width: $desktop-md-size) {
            width: 100%;
            max-width: 100%;
            padding-left: 48px;
            padding-right: 48px;
        }

        @media (max-width: $desktop-size) {
            padding-top: 110px;
        }

        @media (max-width: $tablet-md-size) {
            padding-top: 85px;
        }

        @media (max-width: $tablet-size) {
            padding-left: 16px;
            padding-right: 16px;
        }

        @media (max-width: $mobile-size) {
            padding-top: 38px;
        }
    }

    &-advantages {
        padding-top: 146px;
        padding-bottom: 133px;

        @media (max-width: $desktop-size) {
            padding-top: 102px;
            padding-bottom: 113px;
        }

        @media (max-width: $tablet-md-size) {
            padding-top: 70px;
            padding-bottom: 97px;
        }

        @media (max-width: $mobile-size) {
            padding-top: 39px;
            padding-bottom: 73px;
        }

        .promo-advantages-list {
            padding-top: 0;
            margin-top: 50px;
            margin-bottom: 118px;
            max-width: 1232px;

            @media (max-width: $desktop-size) {
                margin-top: 54px;
                margin-bottom: 42px;
            }

            @media (max-width: $tablet-md-size) {
                margin-bottom: 29px;
                margin-top: 97px;
            }

            @media (max-width: $mobile-size) {
                margin-top: 32px;
            }

            &__item {
                margin-top: 93px;
                lost-column: 1/3;
                max-width: 100%;

                @media (max-width: $desktop-size) {
                    margin-top: 42px;
                }

                @media (max-width: $tablet-md-size) {
                    lost-column: 1/2;
                    margin-top: 0;
                    margin-bottom: 58px;
                }

                @media (max-width: $mobile-lg-size) {
                    lost-column: 1 1 0;
                    &:last-child {
                        margin-bottom: 0;
                    }

                }

                @media (max-width: $mobile-size) {
                    margin-bottom: 24px;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &-control {
        padding-top: 140px;
        padding-bottom: 16px;

        @media (max-width: $desktop-size) {
            padding-top: 91px;
            padding-bottom: 18px;
        }

        @media (max-width: $tablet-md-size) {
            padding-top: 75px;
            padding-bottom: 0;
        }

        @media (max-width: $mobile-size) {
            padding-top: 33px;
            padding-bottom: 0;
        }

        &_wifi {
            min-height: 1060px;
            padding-top: 98px;
            padding-bottom: 0;
            background-color: #b19876;
            background-image: url('../img/midea_wifi.jpg');
            background-size: cover;
            color: #fff;

            @media (max-width: $desktop-size) {
                min-height: 712px;
                padding-top: 78px;
            }

            @media (max-width: $tablet-md-size) {
                min-height: 600px;
                padding-top: 61px;

            }

            @media (max-width: $mobile-lg-size) {
                min-height: 480px;
                padding-top: 30px;
                background-position: 45% center;
            }

            .promo-text {
                color: inherit;

                @media (max-width: $tablet-size) {
                    max-width: 500px;
                }
            }
        }

        &-tabs {
            position: relative;
            margin-top: 82px;

            .promo-design__tabs-list {
                float: none;
                position: absolute 95px null null 184px;
                width: 300px;
                padding: 0;
                margin: 0;
                z-index: 2;

                @media (max-width: $desktop-size) {
                    position: absolute 55px null null 96px;
                }

                @media (max-width: $tablet-md-size) {
                    position: absolute 55px null null 32px;
                }

                @media (max-width: $mobile-lg-size) {
                    position: static;
                    margin-top: 38px;
                    margin-left: 16px;
                }
            }

            .promo-design__tabs-imgs {
                float: none;
                width: 100%;
                margin-top: 0;
            }

            @media (max-width: $desktop-size) {
                margin-top: 66px;
            }

            @media (max-width: $tablet-md-size) {
                margin-top: 58px;
            }

            @media (max-width: $mobile-size) {
                margin-top: 44px;
            }
        }

        .promo-design__tabs-color {


            &.is-active {
                span {
                    background-color: $cl-blue;
                    border-color: $cl-blue;
                }

            }
        }

        .promo-text {
            @media (max-width: $tablet-size) {
                padding: 0 16px;
            }
        }
    }
}
