.news-page{
    &__wrap{
        max-width: 800px;
        margin: 30px auto 0;
    }

    &__item{
        padding-top: 40px;

        @media (max-width: $mobile-size){
           padding-top: 20px;
        }
    }

    .page-title{
        font-size: 32px;
        line-height: 1.25;
        text-align: left;

        @media (max-width: $tablet-lg-size){
           font-size: 26px;
        }

        @media (max-width: $mobile-size){
           font-size: 20px;
        }
    }

    p{
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 28px;
    }

    &__date{
        font-size: 15px;
    }

    &__slider{
        margin-bottom: 36px;

        @media (max-width: $mobile-size){
           margin-bottom: 20px;
        }

        .slick-dots{
            text-align: center;
            font-size: 0;
            margin-top: 32px;

            li{
                list-style: none;
                display: inline-block;
                vertical-align: top;
                margin: 0 6px;
                &.slick-active,
                &:hover{
                    button{
                        background: #3eb5f1;
                    }
                }
            }
            
            button{
                text-indent: -9999px;
                background: #fff;
                padding: 0;
                margin: 0;
                cursor: pointer;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                border: 1px solid #3eb5f1;
            }
        }
    }

    &__nav{
        background: #00adef;
        height: 60px;
        margin-top: 80px;
        line-height: 60px;
        @include clearfix;

        a{
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            border-bottom: none;
            opacity: .4;
            @media (max-width: $mobile-size){
                font-size: 15px;
            }
            &:hover{
                opacity: 1;
            }
        }
    }

    &__prev{
        float: left;
        &:before{
            content: "";
            position: relative;
            z-index: 2;
            display: inline-block;
            vertical-align: middle;
            width: 13px;
            height: 25px;
            margin-right: 22px;
            position: relative;
            top: -2px;
            background-image: url(../img/svg/a-left.svg);
        }
    }

    &__next{
        float: right;
        &:after{
            content: "";
            position: relative;
            z-index: 2;
            display: inline-block;
            vertical-align: middle;
            width: 13px;
            height: 25px;
            margin-left: 22px;
            position: relative;
            top: -2px;
            background-image: url(../img/svg/a-right.svg);
        }
    }
}