.offices {
    padding: 50px 0 40px;
    background: #f6f6f6;
    position: relative;

    a {
        border: none;
    }

    dl {
        margin-top: 5px;
    }

    dt {
        float: left;
        padding-right: 3px;
        color: $cl-md-grey;
    }

    &__popup {
        display: none;
        position: absolute;
        z-index: 31;
        width: 100%;
        top: 16%;

        .offices-row {
            width: 100%;
        }
        .offices-row_active {
            box-shadow: none;
            left: 0;
            box-sizing: border-box;
            border-radius: 0;
            border: none;
        }
    }

    &-switch {
        list-style: none;
        text-align: center;
        font-size: 20px;
        margin-bottom: 25px;

        span {
            cursor: pointer;
        }

        .active{

            span {
                color: $cl-blue;
            }
        }

        &__item {
            display: inline-block;
            padding: 0 15px;
            border-right: 1px solid #c5c5c5;

            &:last-child {
                border: none;
            }
        }
    }

    &-list {
        position: relative;
        font-size: 0;
        display: flex;
        flex-wrap: wrap;
    }

    &-row {
        lost-column: 1/4 4 70px;
        position: relative;
        transition: all 0.6s;
        font-size: 13px;
        color: #000;
        line-height: 1.7;


        @media (max-width: $desktop-size){
            lost-column: 1/3 3 50px;
        }

        @media (max-width: $tablet-lg-size){
            lost-column: 1/3 3 30px;
        }

        @media (max-width: $tablet-size){
            lost-column: 1/2 2 30px;
        }

        @media (max-width: $mobile-size){
            lost-column: 1/1;
        }

        &__container {
            padding: 20px 0 24px 0;
            border: 1px solid transparent;
            font-size: 13px;
            width: 100%;
            box-sizing: content-box;

            @media (max-width: $desktop-size){
                padding: 20px 0 24px 0;
            }
        }

        &_active {
            border: 1px solid $cl-lght-grey;
            border-radius: 10px;
            box-shadow: 0 0 20px #dadada;
            background: #fff;
            z-index: 1;
            position: absolute;
            padding: 20px 35px 24px;
            left: -35px;

            @media (max-width: $desktop-size){
                padding: 20px 20px 24px;
                left: -20px;
            }

            @media (max-width: $mobile-size){
                box-shadow: none;
                border: 1px solid transparent;

                .offices-row__link_active {
                    display: none;
                }
            }

            .icon-arrow-right_small {
                transform: rotate(90deg);
            }
        }

        &__hidden {
            display: none;
        }

        &__email {
            color: $cl-blue;
        }

        &__more {
            margin-top: 10px;

            a {
                color: $cl-grey-alter;

                .icon-arrow-right_small {
                    margin-left: 3px;
                    background-image: svg('a-left', '[fill]: #c2c2c2');
                }

                &:hover {
                    color: $cl-blue;

                    .icon-arrow-right_small {
                        background-image: svg('a-left', '[fill]: $cl-blue');
                    }
                }
            }
        }

        &__close {
            position: absolute;
            top: 15px;
            right: 24px;
            margin-bottom: 0;
            z-index: 2;

            &:hover {
                border: none !important;
            }

            .icon-cross {
                background-image: svg('cross', '[fill]: #000');

                @media (max-width: $desktop-size){
                    background-image: svg('cross_big', '[fill]: #000');
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &__thumb {
        width: 160px;
        height: 85px;
        background: url("$img_path/logo-daichi-color.svg") no-repeat;
        background-size: contain;
        font-size: 20px;
        font-style: italic;
        text-align: right;
        color: #181416;
        font-family: Tahoma;
        padding-right: 8px;
        line-height: 1;
        padding-top: 42px;
    }

    &__container {
        display: none;
    }

    &-map {
        position: relative;

        &__external {
            height: 696px;
            width: 100%;
            overflow: hidden;
            position: relative;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;

            @media (max-width: $tablet-lg-size){
                height: 560px;
            }

            @media (max-width: $mobile-size){
                height: 432px;
            }
        }

        &__inner {
            width: 2800px;
            height: 1300px;
            background: url($img_path/svg/daichi_map.svg) center center no-repeat #dcf4ff;
            position: absolute;
        }

        &__town {
            width: 24px;
            height: 24px;
            background: #14a4ea;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;

            &_small {
                width: 16px;
                height: 16px;
            }

            .offices-row {
                width: auto;
                position: absolute;
                left: 50%;
                top: -25px;
                transform: translate(-50%, -100%);
                display: none;
                z-index: 1;

                &__bottom {
                    background: url("$img_path/inhtml/offices_descarrow.png") top center no-repeat;
                    width: 100%;
                    height: 16px;
                    position: absolute;
                    z-index: 2;

                    &_before {
                        top: -16px;
                        background-position: bottom center;
                    }
                }

                &_active {
                    border: 1px solid transparent;
                    position: relative;
                    border-radius: 5px;
                    box-shadow: 0 0 40px #dadada;
                    padding-bottom: 35px;
                    cursor: default;
                    left: 0;
                    box-sizing: border-box;
                    min-width: 320px;
                }
            }
        }

        &:before {
            content: "";
            display: block;
            height: 5px;
            position: relative;
            z-index: 1;
            box-shadow: 0 3px 2px -0 rgba(0,0,0,0.1);
        }

        &:after {
            content: "";
            display: block;
            height: 5px;
            position: relative;
            z-index: 1;
            box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
        }
    }

    &__overlay {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed; /* Stay in place */
        z-index: 30; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgba(0,0,0, 0.3); /* Black w/opacity */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
}
