.gallery{
    margin-top: 50px;

    @media (max-width: $mobile-size){
        margin-top: 30px;
    }

    h2{
        text-align: center;

        @media (max-width: $tablet-lg-size){
           font-size: 40px;
        }

        @media (max-width: $mobile-size){
           font-size: 24px;
        }
    }

    h5{
        color: #fff;
        line-height: 28px;
        transition: color $time ease;
        position: absolute;
        left: 0;
        bottom: 40px;
        margin: 0;
        padding: 0 10px 0 44px;

        @media (max-width: $tablet-lg-size){
            font-size: 20px;
            line-height: 24px;
            padding: 0 10px 0 25px;
            bottom: 25px;
        }

        @media (max-width: $mobile-size){
           font-size: 16px;
           line-height: 20px;
        }
    }

    &__list{
        margin: 50px -20px;
        @include clearfix;
        @media (max-width: $tablet-lg-size){
            margin: 40px -15px;
        }
        @media (max-width: $mobile-size){
            margin: 30px 0;
        }
    }

    &__row{
        float: left;
        width: calc(33.33% - 40px);
        margin: 20px;
        box-shadow: 0 6px 13px rgba(0,0,0,.04);
        position: relative;

        @media (max-width: $tablet-lg-size){
            width: calc(50% - 30px);
            margin: 15px;
        }

        @media (max-width: $mobile-size){
            width: 100%;
            margin: 12px 0;
        }

        a{
            display: block;
            text-decoration: none;
            &:hover{
                h5{
                    color: $cl-blue;
                }
                .gallery__thumb{
                    &:before{
                        background: rgba(0,0,0,.6);
                    }
                }
            }
        }
    }

    &__thumb{
        &:before{
            position: absolute;
            content:'';
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            transition: background $time ease;
        }
        img{
            vertical-align: top;
            max-width: 100%;
        }
    }

    &__details{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 34px 44px;
        @media (max-width: $tablet-lg-size){
            padding: 20px 25px;
        }
    }

    &__tags{
        li{
            list-style: none;
            display: inline-block;
            vertical-align: top;
            margin-left: 12px;
            &:first-child{
                margin-left: 0;
            }
            span{
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }

    &__slider{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        .slick-arrow{
            width: 31px;
            padding: 0;
            margin: 0;
            height: 15px;
            position: absolute;
            bottom: -55px;
            z-index: 99;
            text-indent: -9999px;
            border: none;
        }
        .slick-prev{
            left: 0;
            background: svg('icon_arrow-l_white.svg');
            &:hover{
                background: svg('icon_arrow-l_white.svg','[fill]: #3eb5f1');
            }
        }
        .slick-next{
            right: 0;
            background: svg('icon_arrow-r_white.svg');
            &:hover{
                background: svg('icon_arrow-r_white.svg','[fill]: #3eb5f1');
            }
        }
        &-info{
            position: absolute;
            text-align: center;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            bottom: -60px;
            left: 0;
            right: 0;
        }
    }
}