.partners{
    padding-top: 50px;

    .page-title{
        margin-bottom: 0;
    }

    h4{
        @media (max-width: $tablet-size){
            font-size: 19px;
            &.title{
                font-size: 24px;
            }
        }
    }

    @media (max-width: $tablet-size){
        padding-top: 30px;
    }

    &__container{
        padding-top: 35px;
        margin-bottom: 15px;
        border-bottom: 1px solid #dddddd;

        @media (max-width: $mobile-size){
            padding-top: 15px;
        }
        
        &:last-child{
            margin-bottom: 0;
            .partners__list{
                margin-bottom: 40px;
            }
            @media (max-width: $tablet-md-size){
                border-bottom: none;
            }
        }
    }

    &__list{
        font-size: 0;
        margin: 90px -40px;

        @media (max-width: $tablet-lg-size){
            margin: 30px -16px;
        }

        @media (max-width: $tablet-size){
            margin-top: 10px;
        }
    }

    &__thumb{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items:center;
        height: 100px;
        img{
            vertical-align: top;
            max-height: 100px;
            &:hover{
                opacity: .6;
            }

            @media (max-width: $tablet-size){
                max-width: 70%;
            }
        }

        @media (max-width: $tablet-size){
            height: 80px;
            margin-top: 10px;
        }

        a{
            border-bottom: none;
        }
    }

    &__row{
        width: 25%;
        min-height: 375px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0  40px;
        overflow: hidden;

        &:first-child:last-child{
            min-height: 1px;
        }

        @media (max-width: $desktop-size){
            width: 33.33%;
        }

        @media (max-width: $tablet-lg-size){
            width: 50%;
            padding: 0 32px;
        }

        @media (max-width: $mobile-size){
            width: 100%;
            min-height: 1px;
            padding: 0 16px;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }

        &-item{
            border: 1px solid transparent;
            background: #fff;
            padding: 0 0 35px 0;
            @media (max-width: $tablet-lg-size){
                 padding: 0 0 20px 0;
            }
            @media (max-width: $mobile-size){
                 padding: 0;
            }
        }

        &.active{
            overflow: visible;
            .partners__row-item{
                padding: 0 39px 35px 39px;
                position: absolute;
                z-index: 2;
                right: 1px;
                left: 1px;
                box-shadow: 0 0 6px rgba(0,0,0,.04);
                border: 1px solid #dddddd;

                @media (max-width: $tablet-lg-size){
                     padding: 0 31px 20px 31px;
                     height: auto;
                }

                @media (max-width: $mobile-size){
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    left: 0;
                    right: 0;
                    padding: 0 16px 20px 16px;
                    box-shadow: 0 0 15px rgba(136,136,136,.2);
                }
            }

            .partners__details-list{
                overflow: visible;
                max-height: none;
            }
        }
    }

    &__details{
        padding-top: 10px;

        h6{
            font-size: 18px;
            @media (max-width: $mobile-size){
                font-size: 15px;
            }
        }

        ul{
            li{
                font-size: 13px;
                line-height: 20px;
                list-style: none;
                position: relative;
                display: block;
                padding-left: 15px;
                &:before{
                    display: block;
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #000;
                    left: 0;
                    top: 8px;
                }
                a{
                    border-bottom: none;
                }
            }
        }

        &-list{
            max-height: 115px;
            overflow: hidden;
        }
    }

    &__btn{
        margin-top: 20px;
    }
}