.contacts{
    padding: 75px 0;
    @media (min-width: $tablet-md-size-min){
        border-bottom: 1px solid #dddddd;
    }

    @media (max-width: $mobile-size){
        padding: 30px 0;
    }

    &__wrap{
        padding-top: 35px;
        @media (max-width: $mobile-size){
            padding-top: 0;
        }
    }

    &__wrap-item{
        @media (min-width: $tablet-md-size-min){
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    dl{
        font-size: 18px;
        color: #000;
        overflow: hidden;
        padding-top: 30px;
        @include clearfix;

        @media (max-width: $tablet-md-size){
           padding-top: 0;
        }

        dt,dd{
            margin-top: 12px;
        }

        dt{
            float: left;
            max-width: 230px;
            @media (max-width: $mobile-size){
                float: none;
                max-width: 100%;
            }
        }

        dd{
            padding-left: 240px;
            @media (max-width: $mobile-size){
                padding: 0;
                margin: 5px 0 20px;
            }
        }
    }

    address{
        width: 490px;
        background: #f6f6f6;
        color:#000;
        text-align: center;
        font-style: normal;
        padding: 50px 20px;
        letter-spacing: .03em;
        margin-left: 30px;

        @media (max-width: $tablet-md-size){
            margin: 30px auto 0;
            padding: 30px 15px;
        }

        @media (max-width: $tablet-size){
            width: auto;
            max-width: 490px;
        }

        .phone{
            display: block;
            text-decoration: none;
            font-size: 32px;
            color: #000;
            line-height: 32px;
            font-weight: 600;
            border-bottom: none;
            @media (max-width: $mobile-size){
                font-size: 26px;
                line-height: 26px;
            }
        }

        span{
            font-size: 20px;
            display: block;
            margin: 23px 0 6px;
            @media (max-width: $mobile-size){
                font-size: 18px;
            }
        }

        small{
            font-size: 15px;
        }
    }

    &__tabs{
        border-top:1px solid #dddddd;
        margin-top: 30px;
        padding-top: 40px;

        @media (max-width: $mobile-size){
            padding-top: 30px;
        }

        &-nav{
            text-align: center;
            font-size: 0;

            li{
                display: inline-block;
                list-style: none;
                padding: 0 30px;
                height: 30px;
                line-height: 30px;
                margin: 0;
                border-left: 1px solid #cccccc;

                @media (max-width: $mobile-size){
                    display: block;
                    padding: 5px 0;
                    border: 0;
                    height: auto;
                }

                &:first-child{
                    border-left: none;
                }

                a{
                    font-size: 22px;
                    border-bottom: none;
                    font-weight: 600;

                    &.active{
                        color: $cl-blue;
                        font-weight: 100;
                    }
                }
            }
        }

        &-content{
            margin-top: 60px;

            @media (max-width: $mobile-size){
                margin-top: 40px;
            }

            p{
                font-size: 18px;
            }

            > div{
                display: none;
                &.active-tab{
                    display: block;
                }
            }
        }
    }
    
    .map{
        margin-top: 30px;
        width: 100%;
        height: 620px;
        .gm-style-mtc,
        .gm-style-cc,
        .gmnoprint{
            display: none;
        }
        .gm-bundled-control{
            display: block;
            top: -20px !important;
            left: 10px !important;
            right: auto !important;
            bottom: auto !important;
            .gmnoprint{
                display: block;
            }
            .gm-svpc{
                display: none;
            }
        }
    }
}