.articles{
    padding: 60px 0 0;

    @media (max-width: $tablet-size){
        padding: 30px 0 0;
    }

    h2{
        margin-bottom: 8px;
    }

    &__link{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        z-index: 99;
        border-bottom: none;
    }

    &__list{
        font-size: 0;
        line-height: 0;
        display: flex;
        flex-flow:row wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        margin: 35px -16px 0;
        @media (max-width: $tablet-size){
            margin: 20px 0;
        }
    }

    &__row{
        width: calc(33.33% - 32px);
        margin: 24px 16px;
        background: #fff;
        min-height: 310px;
        overflow: hidden;
        position: relative;
        text-align: left;
        background-size: cover;
        background-repeat: no-repeat;
		transition: all 0.6s;

        &:hover{
            box-shadow: 0 6px 13px rgba(0, 0, 0, .1);

            .articles__title span{
                opacity: .5;
            }
        }

        @media (max-width: $desktop-size){
            width: calc(50% - 32px);
        }

        @media (max-width: $tablet-md-size){
            margin: 10px 8px;
        }

        @media (max-width: $tablet-size){
            width: 100%;
            margin: 10px 0;
        }

        @media (max-width: $mobile-size){
            min-height: 1px;
            background: none !important;
        }
		
		&.just-loaded {
            height: 0;
            min-height: 0;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-top: none;
            border-bottom: none;
            visibility: hidden;
            opacity: 0;
            transform: translateY( 20px );
        }

        &.silver{
            background: #eeeeee;
            &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(135deg, rgba(226,226,226,0.4) 0%, rgba(150,150,150,0.4)100%);
                background: -webkit-linear-gradient(135deg, rgba(226,226,226,0.4) 0%, rgba(150,150,150,0.4) 100%);
                background: linear-gradient(135deg, rgba(226,226,226,0.4) 0%, rgba(150,150,150,0.4) 100%);
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        &.orange{
            background: -moz-linear-gradient(45deg, rgba(244,177,98,1) 0%, rgba(244,218,98,1) 100%);
            background: -webkit-linear-gradient(45deg, rgba(244,177,98,1) 0%,rgba(244,218,98,1) 100%);
            background: linear-gradient(45deg, rgba(244,177,98,1) 0%,rgba(244,218,98,1) 100%);
        }

        img{
            vertical-align: top;
        }

        &.dark{
            &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.3);
                top: 0;
                left: 0;
                z-index: 1;
            }

            .readmore{
                span{
                    color: #fff;
                    &:after{
                        background: url('../img/icon/arrow-right.png') no-repeat;
                    }
                }
            }

            .articles__title span{
                color: rgba(255,255,255,1);
                /* &:hover{
                    color: rgba(255,255,255,.5);
                } */
            }
            
            .articles__date,
            .articles__text{
                color: #fff;
            }
        }

        &.t-center{
            text-align: center;

            .articles__title{
                margin-top: 0;

                span{
                    font-size: 22px;
                    line-height: 1.25;
                    font-weight: 100;

                    @media (max-width: $mobile-size){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__date{
        font-size: 14px;
        color: #000;
        line-height: 1.25;
    }

    &__details{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin: 0;
        top: 0;
        padding: 30px 48px;

        @media (max-width: $mobile-size){
            padding: 15px;
        }
    }

    &__title{
        margin-top: 30px;

        @media (max-width: $mobile-size){
            margin-top: 20px;
        }

        span{
            font-size: 24px;
            color: rgba(0,0,0,1);
            font-weight: normal;
            line-height: 1.25;
            border-bottom: none;

            @media (max-width: $mobile-size){
                font-size: 18px;
            }

            /* &:hover{
                color: rgba(0,0,0,.5);
            } */
        }
    }

    &__text{
        font-size: 18px;
        color: #000;
        line-height: 1.45;
        margin-top: 20px;

        @media (max-width: $mobile-size){
            font-size: 14px;
            margin-top: 10px;
        }
    }

    &__thumb{
        margin-top: 40px;
    }

    &__bg{
        display: none;
        @media (max-width: $mobile-size){
            display: block;
        }
    }

    &__paging{
        margin-top: 70px;
        
        @media (max-width: $mobile-size){
            margin-top: 40px;
        }
    }

    .subscribe{
        background: #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
    }

    .readmore{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 30px;
        text-align: center;
        @media (max-width: $mobile-size){
            bottom: 15px;
        }
    }
}