.history{
    padding: 50px 0;
    @include clearfix;

    @media (width: $tablet-lg-size-min){
        padding-bottom: 0;
    }

    @media (max-width: $tablet-lg-size){
       padding: 0;
    }

    h1{
        font-size: 24px;
        line-height: 1.35;

        @media (max-width: $tablet-lg-size){
           max-width: 320px;
           margin: 0 auto;
        }

        @media (width: $tablet-lg-size-min){
            font-size: 20px;
        }
    }

    &__details{
        background: #fff;
        float: left;
        width: 800px;
        font-size: 0;
        margin: -50px 0 -50px -440px;
        padding: 50px 0 50px 440px;
        box-shadow: 0 6px 32px rgba(0,0,0,.08);
        position: relative;
        z-index: 2;

        @media (width: $tablet-lg-size-min){
            margin: -50px 0 -50px -515px;
            padding: 50px 0 50px 515px;
        }

        @media (max-width: $tablet-lg-size){
            float: none;
            text-align: center;
            width: auto;
            margin: 0 -32px;
            padding: 50px 32px 80px;
        }

        @media (max-width: $tablet-size){
            margin: 0 -16px;
            padding: 50px 16px;
        }
    }

    &__item{
       padding-bottom: 150px;

       @media (max-width: $tablet-lg-size-min){
           padding-bottom: 0;
       }
    }

    &__row{
       margin-top: 30px;

       @media (max-width: $tablet-lg-size){
           width: 50%;
           display: inline-block;
           vertical-align: top;
           padding: 0 40px;
           margin-top: 50px;
       }

       @media (max-width: $tablet-size){
           margin-top: 30px;
       }

       @media (max-width: $mobile-size){
           padding: 0;
       }
    }

    &__number{
        font-size: 40px;
        line-height: 40px;
        color: #00adef;
        display: inline-block;
        background: -webkit-linear-gradient(-62deg, #028dbe 0%, #6ad0b4 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__desc{
        font-size: 15px;
        line-height: 1.7;
        color: #000;
        margin-top: 10px;

        @media (width: $tablet-lg-size-min){
            font-size: 13px;
            line-height: 1.5;
        }

        @media (max-width: $tablet-lg-size){
            min-height: 50px;
        }

        @media (max-width: $tablet-size){
            font-size: 12px;
            line-height: 1.35;
            min-height: 1px;
        }
    }

    &__slider{
         &:before{
            content: "";
            display: block;
            position: absolute;
            width: 3000px;
            height: 1px;
            background: rgb(0,174,239);
            background: -moz-linear-gradient(left,  rgba(0,174,239,1) 0%, rgba(48,235,191,1) 30%, rgba(0,174,239,1) 60%);
            background: -webkit-linear-gradient(left,  rgba(0,174,239,1) 0%,rgba(48,235,191,1) 30%,rgba(0,174,239,1) 60%);
            background: linear-gradient(to right,  rgba(0,174,239,1) 0%,rgba(48,235,191,1) 30%,rgba(0,174,239,1) 60%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#00aeef',GradientType=1 );
            top: 105px;
            left: -360px;
            @media (max-width: $tablet-lg-size){
                display: none;
            }
       }

       &-item{
           @media (max-width: $mobile-size){
                &:last-child{
                    .history__text{
                        margin-bottom: 0;
                    }
               }
           }
       }

        @media (min-width:1025px){
            margin-left: 360px;
            margin-right: -44px;
            position: relative;
        }

        @media (max-width: $tablet-lg-size){
            border-left: 1px solid #0ec0e1;
            padding: 44px 0 44px 25px ;
        }

        .slick-slide{
            @media (min-width:1025px){
                display: inline-block !important;
                width: 480px !important;
            }

            @media (width: $tablet-lg-size-min){
                width: 340px !important;
            }
        }
    }

    &__date{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        color: #00afee;
        position: relative;
        padding-bottom: 45px;
        padding-top: 20px;

        @media (max-width: $tablet-lg-size){
            text-align: left;
            padding: 0;
        }

        @media (max-width: $tablet-size){
            font-size: 32px;
            line-height: 32px;
        }

        &:after{
            position: absolute;
            content: "";
            border: 1px solid #0ec0e1;
            width: 10px;
            height: 10px;
            left: 50%;
            background: #fff;
            border-radius: 50%;
            margin-left: -6px;
            bottom: -6px;
            @media (max-width: $tablet-lg-size){
                bottom: auto;
                left: -31px;
                margin: -6px 0 0 0;
                top: 50%;
            }
        }
    }

    &__text{
        padding-left:60px;
        margin-top: 44px;
        margin-bottom: 44px;

        @media (max-width: $tablet-lg-size){
            padding: 0;
            margin-top: 15px;
        }

        p{
            font-size: 14px;
            line-height: 1.5;
            color: #000;

            @media (max-width: $tablet-size){
                font-size: 13px;
                line-height: 1.65;
                margin-bottom: 25px;
            }
        }

        ul{

            li{
                display: block;
                margin: 0;
                list-style: none;
                font-size: 14px;
                line-height: 1.5;
                color: #000;
                padding-left: 12px;
                position: relative;

                @media (max-width: $tablet-size){
                    font-size: 13px;
                    line-height: 1.65;
                }

                &:before{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 5px;
                    height: 1px;
                    background: #000;
                    top: 10px;
                    left: 0;
                }
            }
        }
    }
}