
a,
button{
    cursor: pointer;
}

.page {
    padding-top: 118px;

    @media (min-width: $desktop-lg-size){
        padding-top: 81px;
    }
}


.icon-rub {
    text-transform: none;
    font-family: 'ruble', serif;
    font-style: normal;
}


.container {
    max-width: 1504px; /* 48 + 1408 + 48 */
    padding: 0 48px;
    margin: 0 auto;
    @include clearfix;

    /*
    @media (width <= $tablet-lg-size) {
        padding: 0 48px;
    }

    @media (width <= $tablet-size) {
        padding: 0 32px;
    }

    @media (width <= $mobile-size) {
        padding: 0 16px;
    }
    */
}

.mod-nowrap{
    white-space: nowrap;
}

.content-more {
    margin-top: 40px;
    text-align: center;

    &__btn {
        display: inline-block;
        vertical-align: top;
        color: #00adef;
        font-size: 18px;
        line-height: 1.2;
        border-bottom-color: transparent;

        &:hover {
            border-bottom-color: #00adef;
        }
        &.loading .content-more__icon{
            animation: load-more 1s linear 0s infinite;
        }
    }

    &__icon {
        display: block;
        width: 22px;
        height: 22px;
        margin: 0 auto 10px;
        background: no-repeat 0 0 url(../img/svg/icon_refresh_blue.svg);
        background-size: 22px 22px;
        border-radius: 50%;
    }

    &__text {

    }
}
@keyframes load-more {
    0%   {
        transform: rotate( 0deg );
    }
    100% {
        transform: rotate( 360deg );
    }
}


/* ---------- PAGE: Product --------------------------------------------------*/


/* ---------- SECTION: INTRO SLIDER ------------------------------------------*/

.sec-intro {
    height: 815px;
    background-color: #ecf1f1;
    overflow: hidden;

    &__slider {
        position: relative;
        height: 100%;

        .slick {

            &-list {
                height: 100%;
            }

            &-track{
                height: 100%;
            }

            &-dots {
                position: absolute;
                bottom: 50px;
                left: 50%;
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 0;
                transform: translateX( -50% );
                z-index: 1;

                li {
                    display: inline-block;
                    vertical-align: top;
                    width: 22px;
                    height: 22px;
                    margin: 0 7px;

                    &.slick-active button:after {
                        transform: scale(1 , 1);
                    }
                }

                button {
                    position: relative;
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    text-indent: 100%;
                    white-space: nowrap;
                    background: transparent;
                    border: none;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255,255,255, 0.5);
                    }

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 12px;
                        height: 12px;
                        margin: auto;
                        background-color: #00adef;
                        border-radius: 50%;
                        transition: transform 0.3s;
                        transform: scale(0.33, 0.33);
                    }
                }
            }

        }
    }

    &__slide {
        height: 100%;
    }

    &-slide {
        position: relative;
        background-image: radial-gradient(ellipse 95% 140% at 50% 40%, #ecf1f1, #e5ebeb, #bdcece);

        &__container{
            height: 100%;
            max-width: 1408px;
            padding: 0;
        }

        &__text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            position: static;
            width: 45%;
            height: 100%;
            padding: 0 0 50px 8.33%;
        }

        &__type {
            color: rgba(0,0,0, 0.5);
            font-size: 16px;
        }

        &__title {
            margin: 35px 0 10px -5px;
            font-size: 72px;
            font-weight: 100;
            line-height: 1.1;
        }

        &__lead {
            max-width: 450px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
        }

        &__note {
            margin: 35px 0 55px;
            max-width: 450px;
            font-size: 15px;
            line-height: 1.73;
        }

        &__pict {
            position: absolute;
            top: 0;
            left: 50%;
            right: 0;
            bottom: 0;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 90%;
            max-width: 100%;
            margin: auto;
            transition: transform 1s;

            &:hover {
                transform: scale(1.05, 1.05);
            }
        }
    }
}


/* ---------- SECTION: ABOUT ONE PRODUCT -------------------------------------*/
.sec-about {
    overflow: hidden;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    &.has-bg-clouds{
        background-image: url(../img/sec-about/bg_clouds_h800.jpg);
    }

    &.has-right-pict {

        .sec-about__text {
            float: left;
            padding: 50px 0 50px 8.33%;
        }

        .sec-about__pict {
            align-items: flex-start;
            left: 50%;
            right: 0;
        }
    }


    &__container {
        position: relative;
        height: 100%;
        max-width: 1408px;
        padding: 0;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__text {
        float: right;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: static;
        width: 50%;
        min-height: 800px;
        padding: 50px 0 50px 9.65%;
    }

    &__type {
        color: rgba(0,0,0, 0.5);
        font-size: 16px;
        font-weight: 100;
    }

    &__title {
        margin: 28px 0 15px -5px;
        font-size: 56px;
        line-height: 1.1;
    }

    &__lead {
        max-width: 400px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.3;
    }

    &__note {
        margin: 35px 0 40px;
        max-width: 360px;
        font-size: 15px;
        line-height: 1.73;
    }

    &__slogan {
        margin: 25px 0 55px;
        max-width: 360px;
        font-size: 18px;
        line-height: 1.44;
    }

    &__pict {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;

        &.is-wide {
            left: auto;

            .sec-about__img {
                max-width: none;
            }
        }
    }

    &__img {
        max-height: 90%;
    }

    &__info {
        position: relative;
        height: 600px;
        width: 100%;
        background-color: #2e847e;
        overflow: hidden;
    }

    &__video {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        height: 100%;
        transform: translateX( -50% );
        opacity: 0.8;
    }

    &__facts {
        position: relative;
        height: 100%;
        color: #fff;
        z-index: 1;
    }
}

.about-facts {
    margin: 0;
    padding: 110px 35px 0;
    list-style: none;
    text-align: center;
    font-size: 0;

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        max-width: 265px;
        margin: 35px 0;
    }

    &__data {
        margin-bottom: 12px;
        font-size: 64px;
        line-height: 1.1;
    }

    &__note {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.47;
    }
}


/* ---------- SECTION: PRODUCTS OFFER ----------------------------------------*/
.sec-products {
    padding: 90px 0;

    &__container {
        position: relative;
        height: 100%;
    }

    &__title {
        margin: 0 0 50px;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        line-height: 1.17;
    }

    &__menu {
        margin: 50px 0 65px;
        text-align: center;
        font-size: 0;

        &-btn {
            display: inline-block;
            vertical-align: top;
            margin: 5px 2px;
            padding: 15px 25px;
            font-size: 15px;
            line-height: 1.2;
            border: 1px solid transparent;
            border-radius: 24px;
            user-select: none;

            &:hover{
                color: #000;
                border-color: #d3d3d3;
            }

            &.is-active{
                border-color: #00adef;
                cursor: default;
            }

            &:active{
                color: #00adef;
                border-color: #00adef;
            }
        }
    }

    &__tabs {
        position: relative;
    }

    &__tab {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -10;
        transform: translateX( -30px );

        &.is-active{
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: translateX( 0 );
            transition: all 0.6s;
            z-index: auto;
        }
    }

    &__set {
        font-size: 0;
        line-height: 0;
    }

    &__card {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        transition: all 0.6s;

        &:nth-child(6){
            display: none;
        }

        &.just-loaded{
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            opacity: 0;
            border-top-width: 0;
            border-bottom-width: 0;
            transform: translateY( 50px );
        }
    }

    &__more {

    }
}


/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .page {
        padding-top: 115px;
    }

    .sec-intro {
        height: 650px;

        &-slide {

            &__title {
                font-size: 56px;
            }

            &__text {
                padding-left: 48px;
            }
        }
    }

    .sec-about {

        &.has-video {
            .sec-about__text {
                min-height: 440px;
            }
        }

        &__text {
            min-height: 770px;
        }

        &__info {
            height: 440px;
        }
    }

    .about-facts {
        padding: 45px 20px 0;

        &__item{
            margin: 25px 0;
        }
    }

    .sec-products {

        &__menu {
            margin: 45px 0;
        }

        &__card {
            width: 33.33%;
            padding: 16px;

            &:nth-child(6) {
                display: inline-block;
            }
        }

        &__set {
            margin: 0 -16px;
        }
    }
}

/* ---------- ADAPTIVE 960 --------------------------------------------------*/
@media (max-width: 959px) {

    .container {
        padding: 0 32px;
    }

    .page {
        padding-top: 0;
    }

    .sec-intro {
        height: auto;

        &__slider {
            height: auto;
        }

        &-slide {
            height: auto;

            &__text {
                display: block;
                width: auto;
                height: auto;
                padding: 55px 0 115px;
                text-align: center;
            }

            &__pict {
                position: static;
                padding-left: 50px;
            }

            &__img {
                position: static;
                max-width: 450px;

                &:hover {
                    transform: none;
                }
            }

            &__title {
                margin: 15px 0 10px;
            }

            &__lead {
                max-width: none;
                margin-bottom: 30px;
            }

            &__note {
                max-width: 580px;
                margin: 0 auto 30px;
                line-height: 20px;
            }

            &__btn .btn {
                min-width: 290px;
                margin: 0 auto;
            }
        }
    }

    .sec-about {
        text-align: center;

        &__text {
            display: block;
            float: none;
            width: auto;
            min-height: 0;
            padding: 85px 0;
        }

        &__pict {
            position: static;
        }

        &__title {
            margin: 15px 0;
        }

        &__lead {
            margin: 0 auto 40px;
        }

        &__note {
            max-width: 600px;
            margin: 60px auto 35px;
        }

        &__slogan {
            max-width: 450px;
            margin: 30px auto 50px;
            font-size: 15px;
            line-height: 26px;
        }

        &__pict {
            display: block;

            &.is-wide {
                margin: 40px -32px 10px;

                .sec-about__img {
                    max-width: 100%;
                    max-height: none;
                }
            }
        }

        &__info {
            height: 600px;
            width: auto;
            margin-bottom: 70px;
        }

        &__btn .btn {
            min-width: 290px;
            margin: 0 auto;
        }

        &.has-right-pict {

            .sec-about__text {
                float: none;
                padding: 80px 0;
            }
        }

        &.has-video {

            .sec-about__text {
                padding: 15px 0;
            }
        }
    }

    .about-facts {
        padding: 100px 60px 0;

        &__item {
            margin: 35px 0;
        }
    }

    .sec-products {

        &__card {
            width: 50%;
        }
    }
}


/* ---------- ADAPTIVE 768 --------------------------------------------------*/
@media (max-width: 767px) {

    .container {
        padding: 0 16px;
    }

    .sec-intro {

        &__slider .slick-dots {
            bottom: 30px;
        }

        &-slide {

            &__text {
                padding: 20px 0 80px;
            }

            &__title {
                font-size: 38px;
                line-height: 40px;
            }

            &__lead {
                font-size: 14px;
                line-height: 20px;
            }

            &__img{
                max-width: 100%;
            }

            &__note {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .sec-about {

        &__text {
            padding: 55px 0;
        }

        &__title {
            font-size: 38px;
        }

        &__lead {
            font-size: 14px;
            line-height: 20px;
        }

        &__note {
            margin: 20px auto;
            font-size: 13px;
            line-height: 20px;
        }

        &__info {
            height: 430px;
            margin: 0 -16px 50px;
        }

        &__slogan {
            margin: 20px auto;
            font-size: 13px;
            line-height: 20px;
        }
    }

    .about-facts {
        padding: 60px 20px 0;

        &__item {
            margin: 25px 0;
        }

        &__data {
            font-size: 48px;
        }

        &__note {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .sec-products {
        padding: 50px 0;

        &__title{
            margin-bottom: 25px;
            font-size: 24px;
        }

        &__menu {
            margin: 0 0 30px;

            &-btn {
                padding: 10px 15px;
                font-size: 13px;
                border-radius: 20px;
            }
        }

        &__card {
            display: block;
            width: auto;
            padding: 8px 16px;

            &:nth-child(6) {
                display: block;
            }
        }
    }
}













