.not-found{
    min-height: 840px;
    background: url('../img/404-bg.jpg') top center no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    padding: 470px 20px 0;

    @media (max-width: $tablet-lg-size-min){
        min-height: 740px;
    }
    
    @media (max-width: $tablet-size) {
        background-size: auto 330px;
        padding: 220px 20px 30px;
        min-height: 580px;
    }

    h1{
        font-size: 48px;
        line-height: 1.2;
        @media (max-width: $tablet-lg-size-min) {
            font-size: 40px;
        }

        @media (max-width: $tablet-size) {
            font-size: 24px;
            padding: 0 30px
        }
    }

    &__text{
        font-size: 20px;
        @media (max-width: $tablet-lg-size-min) {
            font-size: 18px;
        }

        @media (max-width: $tablet-size) {
            font-size: 15px;
            margin-top: 90px;
            padding: 0 30px;
            line-height: 22px;
        }
    }

    &__search{
        max-width: 385px;
        margin: 70px auto 0;
        position: relative;

        @media (max-width: $tablet-size) {
            width: 288px;
            margin-top: 30px;
        }

        input[type="search"]{
            border-radius: 24px;
            padding-left: 55px;
            @media (max-width: $tablet-size) {
                background: #f6f6f6;
            }
        }

        &-btn{
            position: absolute;
            top: 13px;
            left: 18px;
            margin-bottom: none;
            z-index: 2;
            border-bottom: none;
            &:hover{
                border-bottom: none !important;
            }
        }

        &-close{
            position: absolute;
            top: 13px;
            right: 24px;
            margin-bottom: none;
            z-index: 2;
            &:hover{
                border-bottom: none !important;
            }
            .icon-cross {
                background-image: svg('cross', '[fill]: #000');
            }
        }
    }
}