.object{
    padding: 50px 0 40px;

    @media (max-width: $tablet-size){
        padding: 30px 0 20px;
    }

    &__container{
        max-width: 1264px;
        padding: 0 48px;
        margin: 0 auto;

        @media (max-width: $tablet-md-size){
            padding: 0 32px;
        }

        @media (max-width: $tablet-size){
            padding: 0 16px;
        }
    }

    &__last{
        background: #f2f2f2;
        padding: 50px 0 100px;

        @media (max-width: $mobile-size){
           padding: 30px 0 60px;
        }

        h3{
            margin-top: 25px;
            @media (max-width: $mobile-size){
               margin-top: 10px;
            }
        }
    }

    &__paging{
        margin-top: 65px;
    }

    &__top{
        text-align: center;
        padding-top: 25px;

        @media (max-width: $mobile-size){
           padding-top: 0;
        }

        p{
            margin: 0;
            font-size: 18px;
            color: #000;
            line-height: 1.6;

            @media (max-width: $mobile-size){
               font-size: 15px;
            }

        }
    }

    &__list{
        margin: 75px 0 100px;

        @media (max-width: $mobile-size){
           margin: 30px 0 40px;
        }

        &.inline{
            margin: 0 0 75px;
            .object__col{
                width: 50%;
                margin: 16px;
				transition: all 0.6s;
               
                @media (min-width: $desktop-size-min){
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                }

                @media (max-width: $tablet-size){
                    width: 100%;
                    margin: 16px 0;
                }
				
				&.just-loaded {
					height: 0;
					min-height: 0;
					margin: 0;
					padding-top: 0;
					padding-bottom: 0;
					border-top: none;
					border-bottom: none;
					visibility: hidden;
					opacity: 0;
					transform: translateY( 20px );
				}

            }

            .object__row{
                margin: 0 -16px;
                @media (max-width: $desktop-size){
                    margin: 0;
                }
            }

            .object__thumb{
                width: 330px;
                overflow: hidden;

                @media (max-width: $desktop-size){
                    width: 100%;
                }

                @media (min-width: $tablet-size-min){
                    min-height: 320px;
                    height: auto;
                }


                img{
                    height: 100%;
                    width: auto;
                    max-width: none;

                    @media (max-width: $desktop-size){
                        height: auto;
                        width: 100%;
                    }

                }
            }

            .object__details{
                width: calc(100% - 330px);
                padding: 32px 30px;

                @media (max-width: $desktop-size){
                    width: 100%;
                    padding: 32px 30px;
                }

                @media (max-width: $mobile-size){
                   padding: 20px 15px;
                }
            }

            .object__title{
                margin-bottom: 12px;
            }
        }
    }

    &__row{
        @media (min-width: $tablet-size-min){
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            margin: 0 -45px;
        }

        @media (max-width: $desktop-size){
            margin: 0 -16px;
        }

        @media (max-width: $tablet-size){
            margin: 0;
        }
    }

    &__col{
        width: 33.33%;
        margin: 0 45px;
        background: #fff;
        box-shadow: 0 6px 24px rgba(0,0,0,.08);
        @media (max-width: $desktop-size){
            margin: 0 16px;
        }

        @media (max-width: $tablet-size){
            width: 100%;
            margin: 16px 0;
        }
    }

    &__thumb{
        height: auto;

        a{
            text-decoration: none;
        }

        @media (min-width: $tablet-size-min){
            height: 320px;
        }

        img{
            width: 100%;
            height: 100%;
            vertical-align: top;
        }

        &:hover{
            & + .object__details{
                .object__title a{
                    color: $cl-blue;
                }
            }
        }
    }

    &__details{
        padding: 32px;
        @media (max-width: $mobile-size){
           padding: 20px 15px;
        }
    }

    &__date{
        font-size: 14px;
        color: #999999;
        margin-bottom: 10px;
    }

    &__title{
        margin-bottom: 20px;
        min-height: 60px;
        padding-right: 5px;

        @media (max-width: $tablet-size){
           padding: 0;
        }

        @media (max-width: $mobile-size){
           margin-bottom: 20px;
        }

        a{
            text-decoration: none;
            font-size: 18px;
            color: #000;
            font-weight: 600;
            line-height: 26px;
            border-bottom: none;
            &:hover{
                color: $cl-blue;
            }
        }
    }

    &__text{
        font-size: 15px;
        color: #000;
        line-height: 24px;
    }

    &__tags{
        margin-top: 48px;

        @media (max-width: $mobile-size){
           margin-top: 30px;
        }

        ul{
            text-align: center;
            font-size: 0;

            li{
                margin: 0;
                list-style: none;
                margin: 8px 4px;
                display: inline-block;

                a{
                    display: inline-block;
                    text-decoration: none;
                    border: 1px solid #00adef;
                    font-size: 15px;
                    color: #000;
                    border-radius: 16px;
                    padding: 5px 16px;

                    @media (max-width: $tablet-size){
                        font-size: 13px;
                    }

                    &:hover{
                        background: #00adef;
                        color: #fff;
                    }
                }

            }

        }
    }

    &__similar{
        margin-top: 70px;
        @media (max-width: $mobile-size){
            margin-top: 30px;
        }

        &__row{
            margin: 0 -16px -16px;
            @media (min-width: $tablet-md-size-min){
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
            }
            
            @media (max-width: $tablet-md-size){
                margin: 0 0 -16px;
            }
        }

        &__col{
            width: calc(50% - 32px);
            margin: 0 16px;
            background: #fff;
            box-shadow: 0 6px 24px rgba(0,0,0,.08);
            overflow: hidden;
            padding: 45px 55px;
            @media (max-width: $desktop-size){
                padding: 20px 25px;
            }

            @media (max-width: $tablet-md-size){
                width: 100%;
                margin: 16px 0;
            }

            @media (max-width: $mobile-size){
                padding:15px;
            }
        }

        &__thumb{
            float: left;

            a{
                text-decoration: none;
            }
            
            img{
                vertical-align: top;
                border-radius:50%;
                width: 128px;
                height: 128px;

                @media (max-width: $mobile-size){
                    width: 96px;
                    height: 96px;
                }
            }

            &:hover{
                & + .object__similar__details{
                    .object__similar__title a{
                        color: $cl-blue;
                    }
                }
            }

        }

        &__details{
            padding-left: 185px;

            @media (max-width: $desktop-size){
                padding-left: 155px;
            }

            @media (max-width: $mobile-size){
                padding-left: 110px;
            }
        }

        &__title{
            a{
                font-size: 18px;
                border-bottom: none;
                color: #000;
                line-height: 1.6;
                font-weight: 600;

                @media (max-width: $mobile-size){
                    font-size: 15px;
                }

                &:hover{
                    color: $cl-blue;
                }
            }
        }
    }
}