.promo-ftxs-k-comfort{
    .promo-gradient{
        position: relative;
        overflow: visible;
        width: 60%;
        @include clearfix;
        @media (max-width: $desktop-size){
            width: 100%;
        }
        .promo-text__note{
            max-width: 600px;
        }
    }

    .promo-thumb{
        position: absolute;
        top: -308px;
        right: -637px;
        @media (max-width: $desktop-size){
            display: none;
        }
    }
}

.promo-ftxs-design{
    position: relative;
    height: 990px;
    margin: -90px auto 0;
    max-width: 1504px;

    @media (max-width: $tablet-md-size){
        margin: 0;
        height: auto;
    }

    &__left{
        position: absolute;
        top: 0;
        z-index: 2;
        width: 56%;
        left: 1.5%;
        max-width: 787px;
        @media (max-width: $tablet-md-size){
            position: static;
            width: 100%;
            margin: 50px auto 0;
            padding: 0 16px;
        }
    }

    &__right{
        position: absolute;
        right: 0;
        top: 170px;
        left: 44%;
        @media (max-width: $tablet-md-size){
            position: static;
        }
    }

    .promo-gradient{
        width: 100%;
    }

    .promo-text{
        padding: 90px 90px 140px 190px;

        @media (max-width: $tablet-md-size){
            padding: 30px 16px 70px;
        }
    }

    &__img{
        width: auto;
        margin: auto;
    }

    &__pult{
        text-align: center;
        max-width: 195px;
        margin: 90px auto 0;

        p{
            line-height: 1.46;
            margin: 16px 0 0 0;
        }

        @media (max-width: $tablet-md-size){
            margin-top: 50px;
        }
    }
}

.promo-ftxs-k-desk{
    .promo-gradient{
        width: 100%;
        float: none;
        padding: 20px 30px 20px 130px;
        height: 100%;
        @media (max-width: $tablet-md-size){
            padding: 30px 16px 70px;
        }
    }

    .promo-desk__row{
        display: flex;
        margin-top: 50px;
        flex-direction: row;
        flex-wrap: nowrap;
        @media (max-width: $tablet-md-size){
            display: block;
        }
    }

    .promo-text{
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }

    .promo-desk__col{
        float: none;
        @media (max-width: $tablet-md-size){
           width: 100%;
        }
    }
}

.promo-ftxs-k-control{
    background: url(../img/bg_control.jpg) top center no-repeat;
    background-size: cover;
    min-height: 870px;
    padding-top: 70px;

    @media (max-width: $tablet-md-size){
        min-height: 640px;
    }

    .promo-control__device-list{
        font-size: 0;
        line-height: 0;
        margin: 25px 0;
        padding: 0;

        li{
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            margin: 25px;

            @media (max-width: $mobile-size){
                width: 25%;
            }

            img{
                vertical-align: top;
            }
        }
    }
}

.promo-ftxs-comfort{
    padding-top: 170px;
    background: url(../img/bg_motion-sensor.jpg) top center no-repeat;
    background-size:cover;
    min-height: 920px;
    margin-top: 140px;

    @media (max-width: $tablet-md-size){
        margin-top: 70px;
        padding-top: 70px;
        min-height: 640px;
    }

    .promo-text__type{
        opacity: 1;
    }

    .promo-text__note{
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }
}

.conditioner{
    width: 435px;
    height: 266px;
    background: url(../img/conditioner.png) no-repeat;
    position: relative;
    margin: 0 auto;

    @media (max-width: $tablet-size){
        width: 80%;
        background-position: center center;
        background-size: contain;
    }

    &__waves{
        width: 132px;
        height: 177px;
        position: absolute;
        top: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        span{
            display: block;
            height: 100%;
            background: url(../img/svg/waves-left.svg) no-repeat;
            animation: waves 2s infinite;
            &:nth-child(1){
                width: 42px;
                background-position:  0 center;
                animation-delay: 1.3s;
            }
            &:nth-child(2){
                width: 35px;
                background-position: -46px center;
                animation-delay: .9s;
            }
            &:nth-child(3){
                background-position: -92px center;
                width: 42px;
                animation-delay: .5s;
            }
        }
        &.left{
            left: -100px;
        }
        &.right{
            flex-direction: row-reverse;
            right: -100px;
            span{
                background: url(../img/svg/waves-right.svg) no-repeat;
                &:nth-child(1){
                    background-position: -92px center;
                    width: 42px;
                }
                &:nth-child(2){
                    background-position: -46px center;
                }
                &:nth-child(3){
                    background-position:  0 center;
                    width: 42px;
                }
            }
        }
    }
}

.promo-ftxs-buy{
    min-height: 959px;
    padding-top: 90px;
    background: #000 no-repeat 0 0 url('../img/promo-buy_bg.jpg');

    @media (max-width: $tablet-md-size){
        min-height: 700px;
        background-size: cover;
    }

    .promo-text {
        max-width: 100%;
        line-height: 50px;
    }
}

/* Animations */

@keyframes waves {
    0% {
        opacity: 1;
    }

    20% {
        opacity: .75;
    }

    40% {
        opacity: .5;
    }

    50% {
        opacity: .25;
    }

    60% {
        opacity: .5;
    }

    80% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}