
/* ---------- PAGE: Catalog --------------------------------------------------*/

.catalog {

    &__body {
        padding: 50px 0;
    }

    &__sort {
        background-color: #f6f6f6;
    }

    &__side {
        float: right;
        width: 25%;
        padding-left: 16px;
    }

    &__main {
        float: left;
        width: 75%;
        padding-right: 16px;
    }

    &__list {
        margin: -16px;
        font-size: 0;
        line-height: 0;
    }

    &__card{
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 33.33%;
        padding: 16px;
        transition: all 0.6s;

        &.just-loaded{
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            opacity: 0;
            border-top-width: 0;
            border-bottom-width: 0;
            transform: translateY( 50px );
        }

        &.is-hidden {
            opacity: 0;
            transform: translateY( 30px );
        }
    }

    &__more {
        margin: 65px 0;
    }

    &__paging {
        margin: 50px 0;
    }
}

.product {
    &__tabs{
        &-body {
            .catalog {
                &__side {
                    display: none;
                }
            }
        }
    }
}

.cat-intro {
    padding: 69px 0 24px;
    background-color: #daaafc;
    background-image: linear-gradient(50deg, rgba(71,25,107,.8), rgba(212,76,153,.8));
    color: #fff;
    font-weight: 100;

    &__row {

        &:after{
            content: "";
            display: table;
            clear: both;
        }
    }

    &__pict {
        float: right;
        width: 50%;
    }

    &__img {
        display: block;
        margin: 0 auto -30px;
    }

    &__text {
        float: left;
        width: 50%;
    }

    &__type {
        margin-bottom: 23px;
        font-size: 20px;
        opacity: 0.5;
    }

    &__title {
        margin-bottom: 78px;
        color: #fff;
        line-height: 56px;
    }

    &__tags {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        clear: both;
        white-space: nowrap;
        overflow-x: auto;

        &-item {
            display: inline-block;
        }
    }
}

input[type="checkbox"] + .cat-intro__tags-btn {
    display: block;
    margin: 0;
    padding: 13px 25px;
    list-style: none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    border-radius: 24px;
    border: 1px solid transparent;
    opacity: 0.5;
    transition: all 0.3s;

    &:before,
    &:after {
        display: none;
    }

    &:hover {
        opacity: 1;
    }
}
input[type="checkbox"]:checked + .cat-intro__tags-btn {
    padding-right: 47px;
    color: #fff;
    border-color: #fff;
    opacity: 1;

    &:after {
        display: block;
        top: 18px;
        left: auto;
        right: 20px;
        width: 10px;
        height: 10px;
        background: no-repeat 100% 60% url('../img/svg/cross.svg');
        background-size: 100% 100%;
    }
}


.cat-banner {
    position: relative;
    height: 450px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    transition: box-shadow 0.6s;


    &:hover {
        box-shadow: 0 6px 13px rgba(0,0,0, 0.12);

        .cat-banner__back {
            transform: scale( 1.2, 1.2 );
        }
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: no-repeat center;
        background-size: cover;
        transition: all 1s;
    }

    &__front {
        position: relative;
        height: 100%;
        padding: 50px 0;
    }

    &__type {
        margin-top: -10px;
        font-size: 18px;
        line-height: 22px;
        opacity: 0.5;
    }

    &__title {
        margin: 15px 25px 25px;
        color: #fff;
        font-size: 22px;
        line-height: 28px;
    }

    &__pict {
        min-height: 160px;
        line-height: 160px;

        &.to-right{
            text-align: right;
        }
    }

    &__img {
        display: inline-block;
        vertical-align: middle;
    }

    &__more {
        position: absolute;
        left: 50%;
        bottom: 60px;
        padding-right: 12px;
        font-size: 15px;
        line-height: 22px;
        background: no-repeat 100% 60% url('../img/svg/icon_more-link_white.svg');
        background-size: auto 10px;
        transform: translateX( -50% );
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
    }
}

/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .catalog {

        &__side {
            width: 33.33%;
        }

        &__main {
            width: 66.66%;
        }

        &__card {
            width: 50%;
        }
    }

    .cat-intro{

        &__row {
            margin-right: -48px;
        }
    }

    .cat-banner {
        height: 350px;

        &__type {
            font-size: 16px;
            line-height: 20px;
        }

        &__title {
            margin: 12px 25px 5px;
            font-size: 20px;
            line-height: 26px;
        }

        &__pict {
            min-height: 145px;
            line-height: 145px;
        }

        &__more {
            bottom: 38px;
        }
    }

}

/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .catalog {

        &__side {
            display: none;
            float: none;
            width: auto;
            padding: 15px 0;

            &.is-open {
                display: block;
            }
        }

        &__main {
            float: none;
            width: auto;
            padding: 0;
        }
    }

    .cat-intro {

        &__row {
            margin: 0;
        }

        &__pict {
            float: none;
            width: auto;
            margin: 40px -32px 50px 0;
        }

        &__img{
            max-width: 60%;
        }

        &__text {
            float: none;
            width: auto;
        }

        &__type {
            font-size: 18px;
        }

        &__title {
            margin-bottom: 58px;
            font-size: 40px;
            line-height: 48px;
        }
    }
}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .catalog {

        &__body {
            padding: 0;
        }

        &__list {
            margin: 8px -8px;
        }

        &__card {
            padding: 8px;
        }
    }

    .cat-intro {
        padding: 55px 0 30px;

        &__pict {
            margin: 0 -16px 20px 0;
        }

        &__img{
            max-width: 90%;
        }

        &__type {
            margin: 0;
            font-size: 15px;
        }

        &__title{
            margin: 15px 0 40px;
            font-size: 24px;
            line-height: 28px;
        }

    }

    .cat-banner {
        height: 330px;

        &__front {
            padding: 35px 0;
        }

        &__type {
            margin: 5px 0 10px;
        }

        &__title {
            margin: 0 25px 5px;
            font-size: 18px;
            line-height: 24px;
        }

        &__img {
            max-height: 210px;
        }
    }
}


/* ---------- ADAPTIVE 560 ---------------------------------------------------*/
@media (max-width: 559px) {

    .catalog {

        &__card {
            display: block;
            width: auto;
        }
    }
}




