/* Стилизация попапов (fancybox) */

.fancybox-lock {
    overflow: visible !important;
}

.fancybox-overlay {
    background: rgba(0, 0, 0, .4);
    &.gallery-popup{
        background: rgba(0, 0, 0, .92);
        .fancybox-close{
            background: svg('close','[fill]: #fff');
            background-size: 22px 22px;
            width: 22px;
            height: 22px;
            left: auto;
            right: -54px;
            top: -64px;
            @media (max-width: $tablet-size){
                right: 0;
            }
            &:hover{
                opacity: .8;
            }
        }

        .gallery__slider{
            position: static;
            visibility: visible;
            opacity: 1;
            max-width: calc(100vw - 32px);
            img{
                max-width: calc(100vw - 32px);
            }
        }

        .fancybox-inner{
            overflow: visible !important;
            max-width: 800px;
            width: auto !important;
        }

        .fancybox-skin{
            background: transparent;
        }
    }

    &.review-popup{
        @media (max-width: $tablet-md-size){
            overflow-x: hidden;
        }

        .fancybox-close{
            top: 0;
             @media (max-width: $tablet-md-size){
                top: -48px;
                left: auto;
                right: -35px;
                z-index: 9999;
            }
        }

        .fancybox-wrap{
            left: auto !important;
            right: 0;

            @media (max-width: $tablet-md-size){
                width: 100% !important;
            }
        }

        .fancybox-inner{
            @media (max-width: $tablet-md-size){
                width: 100% !important;
            }
        }
    }
}

    .fancybox-wrap {
        &.is-left {
            left: auto !important;
            right: 0 !important;
            top: 0 !important;
        }
    }

    .fancybox-skin {
        background: #fff;
        border-radius: 0;
        box-shadow: none;

        .fancybox-opened & {
            box-shadow: none;
        }
    }

    .fancybox-close,
    .fancybox-next span,
    .fancybox-prev span {
        background-size: auto auto;
    }

    .fancybox-close {
        border: none;
        top: $gutter;
        left: -66px;
        width: 98px;
        height: 188px;
        background: svg('close') no-repeat 25px 72px, url('../img/svg/pipka_white.svg') no-repeat;
        background-size: 21px 21px, cover;
        z-index: -1;

        &:hover {

        }

        .fancybox-overlay_type_iframe & {
            top: calc($gutter / 2);
            right: calc($gutter / 2);
        }
    }

    .fancybox-next,
    .fancybox-prev {
        span {

        }

        &:hover {
            span {

            }
        }
    }

    .fancybox-prev {
        span {

        }

        &:hover {
            span {

            }
        }
    }

    .fancybox-next {
        span {

        }

        &:hover {
            span {

            }
        }
    }

.popup {
    width: 600px;
    padding: $gutter;

    @include clearfix;

    &_equipment {
        position: relative;
        width: 471px;
        padding: 0;

        @include clearfix;

        &.is-expanded {
            width: 775px;

            .popup-menu {
                position: relative;
                &:before {
                    content: '';
                    position: absolute 0 null 0 0;
                    width: 15px;
                    box-shadow: -9px 0px 18px -3px #bbb;
                }
            }

        }
    }

    &__hl {
        font-size: 24px;
    }

    &-menu {
        float: right;
        width: 471px;
        padding-top: 89px;

        h4 {
            margin-bottom: 26px;
            padding-left: 72px;
        }

        &__list {

        }

        &__item {
            margin-bottom: 0;
            padding: 27px 0 27px 73px;
            list-style: none;
            cursor: pointer;
            font-weight: normal;
            font-size: 18px;
            color: #000;

            &.is-active {
                background-color: $cl-blue;
                color: #fff;
                cursor: default;
            }

            &:hover {
                background-color: $cl-blue;
                color: #fff;
            }
        }

        &__sublist {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 19px;

            li {
                list-style: none;
                margin-bottom: 1px;
            }

            a {
                font-size: 18px;
                color: #888;
                border-bottom: none;
                font-weight: 100;
            }
        }
    }

    &-submenu {
        display: none;
        width: 304px;
        position: absolute 188px null null -304px;
        padding-left: 64px;
        color: #000;

        p {
            margin-bottom: 5px;
        }

        &.is-shown {
            display: block;
        }
    }
}
