/* ??? */

.ui-slider {
    background: $cl-lg-grey;
    height: 3px;

    &-range {
        background: $cl-blue;
    }

    .ui-slider-handle {
        background: $cl-blue;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-align: center;
        transition: all $time ease;
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $cl-blue;
            border-radius: 50%;
            z-index: 1;
            transition: all $time ease;
        }

        &:hover:after,
        &:active:after  {
            transform: scale( 1.6, 1.6 );
        }

        span {
            display: block;
            position: absolute;
            top: -30px;
            left: 0;
            white-space: nowrap;
            color: #000;
            transform: translateX( -50% );

            &.is-shifted-left {
                transform: translateX( -100% );
            }
            &.is-shifted-right {
                transform: translateX( 0 );
            }
        }
    }

    .ui-slider-horizontal .ui-slider-handle {
        top: -4px;
    }
}

.slider {
    position: relative;
    margin: $gutter 0;
}
