

/* ---------- SECTION: News and articles announces ---------------------------*/
.sec-news {
    padding: 90px 0;
    background-color: #f6f6f6;

    &.has-white-bg {
        background-color: #fff;
    }

    &.has-border-top{
        padding: 0 0 90px;

        .sec-news__title{
            padding-top: 65px;
            border-top: 1px solid #ddd;
        }
    }

    &__container {
        position: relative;
    }

    &__title {
        margin: 0 0 80px;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        line-height: 1.17;
    }

    &__set {
        display: flex;
        flex-flow: row wrap;
        margin: 65px -16px 0;
        font-size: 0;
        line-height: 0;
    }

    &__col {
        display: flex;
        vertical-align: top;
        width: 33.33%;
        padding: 16px;
    }

    &__more {
        margin-top: 65px;
        text-align: center;

        &-link {
            color: #00adef;
            font-size: 18px;
            line-height: 1.2;
            border-bottom-color: transparent;

            &:hover {
                border-bottom-color: #00adef;
            }
        }
    }
}


/* ---------- SECTION: NEWS ANNOUNCES: News-card -----------------------------*/
.news-card {
    position: relative;
    width: 100%;
    min-height: 320px;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 6px 13px rgba(0,0,0, 0.04);
    overflow: hidden;

    &:hover {
        box-shadow: 0 6px 13px rgba(0,0,0, 0.06);

        .news-card__title {
            color: #00adef;
        }

        .news-card__link {
            border-color: #00adef;
        }
    }

    &__data {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;

        &-item {
            display: inline-block;
            vertical-align: top;
            margin-right: 12px;
            padding-right: 12px;
            color: #999;
            font-size: 14px;
            line-height: 24px;
            border-right: 1px solid #ddd;

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
    }

    &__title {
        min-height: 52px;
        margin: 25px 0 20px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        transition: color 0.2s;
    }

    &__text {
        font-size: 15px;
        line-height: 1.47;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px dotted transparent;
        z-index: 1;
    }
}


/* ---------- SECTION: NEWS ANNOUNCES: Pict-card -----------------------------*/
.pict-card {
    position: relative;
    width: 100%;
    min-height: 320px;
    padding: 35px;
    background-color: #000;
    box-shadow: 0 6px 13px rgba(0,0,0,.04);
    overflow: hidden;

    &.has-dark-bg {
        color: #fff;

        .pict-card__back {
            opacity: 0.7;
        }

        .pict-card__title {
            color: #fff;
        }
    }

    &:hover {
        box-shadow: 0 6px 13px rgba(0,0,0, 0.06);
    }

    &__data {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;

        &-item {
            display: inline-block;
            vertical-align: top;
            margin-right: 12px;
            padding-right: 12px;
            font-size: 14px;
            line-height: 24px;
            border-right: 1px solid #ddd;

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
    }

    &__back {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
    }

    &__front {
        position: relative;
    }

    &__title {
        margin: 20px 0 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.15;
        transition: color 0.2s;
    }

    &__note {
        font-size: 18px;
        line-height: 26px;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        z-index: 1;
    }
}



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .sec-news {

        &__col {
            width: 50%;
        }

        &__title {
            margin: 0 0 40px;
            font-size: 40px;
            line-height: 56px;
        }

        &__set{
            margin: 40px -16px 0;
        }
    }
}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {

    .sec-news {

        &.has-border-top {
            padding: 0 0 30px;
        }

        &__title {
            margin: 0 0 55px;
        }
    }
}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .sec-news {
        padding: 50px 0;

        &.has-border-top .sec-news__title {
            margin: 0 0 15px;
            padding-top: 42px;
        }

        &__col {
            padding: 12px 0;
        }

        &__title {
            margin: 0 0 35px;
            font-size: 24px;
        }

        &__set {
            display: block;
            margin: 15px 0 40px;
        }

        &__col {
            display: block;
            width: auto;
        }
    }

    .news-card {
        min-height: 0;
        padding: 25px;

        &__data-item {
            font-size: 12px;
        }

        &__title {
            min-height: 0;
            margin: 0 0 5px;
            font-size: 16px;
            line-height: 24px;
        }

        &__text {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .pict-card {
        min-height: 235px;
        padding: 30px;

        &__back {
            width: 100%;
        }

        &__front {

        }

        &__title {
            margin: 10px 0 20px;
            font-size: 20px;
            line-height: 26px;
        }

        &__note {
            font-size: 15px;
            line-height: 24px;
        }
    }
}













