
/* ---------- BLOCK: Paginator -----------------------------------------------*/

.sec-brands {
    padding: 140px 0 150px;

    &__title {
        margin: 0 0 60px;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        line-height: 1.17;
    }

    &__line {
        position: relative;
        margin: 0 50px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__item {
        float: left;
        width: 280px;
        height: auto;

        &-img {
            display: block;
            max-width: 160px;
            height: auto;
            filter: grayscale( 100% );
            opacity: 0.5;
            transition: all 0.3s;
        }

        &-link {
            display: block;
            border-bottom: none;

            &:hover,
            &.is-active {

                .sec-brands__item-txt {
                    opacity: 1;
                }

                .sec-brands__item-img{
                    filter: grayscale( 0% );
                    opacity: 1;
                }
            }
        }

        &-txt {
            opacity: 0;

            font-size: 16px;
            line-height: 22px;
            border-bottom: 1px solid #eee;
        }
    }

    &__tabs {
        position: relative;
        overflow: hidden;
    }

    &__tab {
        position: absolute;
        transform: translateX( 100px );
        opacity: 0;

        &.is-active {
            position: relative;
            transform: none;
            transition: all 0.3s;
            opacity: 1;
        }
    }

    &__list {
        margin: 100px 0 0;
        padding: 0 50px;

         li {
             list-style: none;
             margin-bottom: 28px;

             &:last-child {
                 margin-bottom: 0;
             }
         }

        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            border-bottom: none;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 25px;
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        color: transparent;
        font-size: 0;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5px 9px;
        border: 1px solid #dedede;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
            border-color: #00adef;
        }
    }

    .slick-prev {
        left: -90px;
        background-image: url('../img/svg/icon_page-prev_black.svg');
    }

    .slick-next {
        right: -90px;
        background-image: url('../img/svg/icon_page-next_black.svg');
    }
}



/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {
    .sec-brands {

        &__list {
            margin-top: 80px;
        }

        &__item {
            width: 240px;

            &-txt {
                font-size: 14px;
            }
        }

        &__list {

            li {
                margin-bottom: 18px;
            }

            a {
                font-size: 16px;
            }
        }
    }
}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {
    .sec-brands {

        &__list {
            padding: 0;
        }

        &__line {
            margin: 0;
        }
    }
}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {

    .sec-brands {
        padding: 80px 0;

        &__title {
            margin-bottom: 30px;
            font-size: 2.375rem;
        }

        &__item {
            width: 140px;

            &-img {
                max-width: 115px;
            }
        }

        &__list {
            margin-top: 40px;

            li {
                margin-bottom: 15px;
            }

            a {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}













