
/* ---------- SECTION: Watched prod cards ------------------------------------*/
.sec-watched{
    padding: 80px 0 90px;
    background-color: #f2f2f2;

    &__title {
        margin-bottom: 65px;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        line-height: 56px;
    }

    &__set{
        font-size: 0;
        margin: 0 -16px;
    }

    &__col{
        display: inline-block;
        vertical-align: top;
        width: 240px;
        padding: 16px;
    }

}

.watched-prod {
    position: relative;
    height: 265px;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 0.6s;

    &:hover{
        box-shadow: 0 6px 13px rgba(0,0,0, 0.06);
    }

    &__pict {
        height: 130px;
        line-height: 130px;
        overflow: hidden;
    }

    &__img {
        display: inline-block;
        vertical-align: middle;
        max-height: 95%;
        max-width: 95%;
    }

    &__text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 25px;
        background-color: #fff;
    }

    &__name {
        min-height: 36px;
        font-size: 14px;
        line-height: 18px;
    }

    &__price {
        margin: 5px 0 10px;
        color: #00adef;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        .icon-rub {

        }
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
    }
}

.slick-slide .watched-prod__img{
    display: inline-block;
}


/* ---------- ADAPTIVE 1200 --------------------------------------------------*/
@media (max-width: 1199px) {

    .sec-watched{
        &__title{
            margin: 0 0 50px;
            font-size: 40px;
            line-height: 56px;
        }
    }

}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {


}


/* ---------- ADAPTIVE 768 ---------------------------------------------------*/
@media (max-width: 767px) {


}