.section-gallery {
    display: flex;

    @media (max-width: $desktop-size) {
        display: block;
    }

    .showroom & {
        margin-bottom: 99px;

        @media (max-width: $tablet-lg-size) {
            margin-bottom: 61px;
        }

        @media (max-width: $mobile-size) {
            margin-right: -16px;
            margin-left: -16px;

            &:last-child {
                margin-bottom: 32px;
            }
        }
    }

    &__list {
        position: static;

        @media (max-width: $mobile-size) {
            position: absolute 0 0 0 0;

            &:before {
                content: '';
                position: absolute 0 0 0 0;
                background-color: #fff;
            }
        }
    }

    &__item {
        position: relative;
        width: calc(100% / 3 - 7px);
        margin-bottom: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        min-height: 353px;

        & + & {
            margin-left: 10px;

            @media (max-width: $desktop-size) {
                margin-left: 0;
            }
        }

        @media (max-width: $desktop-size) {
            width: auto;
        }

        @media (max-width: $mobile-size) {
            height: auto;
            background-color: #f6f6f6;
        }

        img {
            position: absolute 50% null null 50%;
            transform: translate(-50%, -50%);
            max-width: none;
            min-width: 100%;
            height: 100%;

            @media (max-width: $mobile-size) {
                position: absolute 50% null null 0;
                transform: translateY(-50%);
                min-width: auto;
                max-width: 100%;
                height: auto;
            }
        }

        ul {
            position: absolute 50% 13% null 13%;
            margin: 0;
            transform: translateY(-50%);

            li {
                list-style: none;
                position: relative;
                z-index: 2;
                padding-left: 20px;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.2px;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    position: absolute 8px null null 5px;
                    width: 4px;
                    height: 4px;
                    background-color: #000;
                    border-radius: 50%;
                }
            }

            @media (max-width: $tablet-lg-size) {
                z-index: 2;
                position: absolute 50% 16px null 16px;

            }

        }
    }

    .slick-dots {
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            margin-bottom: 0;

            button {
                margin-bottom: 0;
                text-indent: -99999px;
                padding: 0;
                width: 8px;
                height: 8px;
                background-color: transparent;

                &:hover,
                &:active,
                &:focus {
                    border-color: $cl-blue;
                }
            }

            &.slick-active {
                button {
                    background-color: #00adef;
                }
            }

            & + & {
                margin-left: 10px;
            }
        }
    }
}
