.showroom {
    &-header {
        padding: 59px 96px 68px;
        text-align: center;

        &__title {
            margin-bottom: 52px;
            font-size: 56px;
            line-height: 70px;
            letter-spacing: 0.7px;

            @media (max-width: $tablet-lg-size) {
                margin-bottom: 38px;
                font-size: 48px;
                line-height: 56px;
                letter-spacing: 0.6px;
            }

            @media (max-width: $tablet-size) {
                margin-bottom: 56px;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.5px;
            }

            @media (max-width: $mobile-lg-size) {
                margin-bottom: 21px;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.3px;
            }
        }

        &__subtitle {
            margin-bottom: 41px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.2px;
            max-width: 690px;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: $mobile-lg-size) {
                margin-bottom: 27px;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.3px;
            }
        }

        @media (max-width: $desktop-lg-size) {
            padding: 59px 48px 68px;
        }

        @media (max-width: $tablet-lg-size) {
            padding: 61px 48px 68px;
        }

        @media (max-width: $tablet-size) {
            padding: 59px 32px 64px;
        }

        @media (max-width: $mobile-size) {
            padding: 32px 16px 54px;
        }
    }

    &-carousel {
        position: relative;
        height: 472px;

        @media (max-width: $mobile-lg-size) {
            height: auto;
        }

        &__img {
            position: relative;
            overflow: hidden;
            height: 472px;

            @media (max-width: $mobile-lg-size) {
                height: auto;
            }

            img {
                position: absolute 50% null null 50%;
                transform: translate(-50%, -50%);
                height: auto;
                margin: 0 auto;
                width: 100%;
                max-width: none;

                @media (max-width: $mobile-lg-size) {
                    position: static;
                    transform: none;
                    max-width: 100%;
                    width: 100%;
                }
            }

            &:after {
                content: '';
                position: absolute 0 0 0 0;
                background-color: #fff;
                opacity: 0.7;
                transition: opacity 0.3s ease;

                @media (max-width: $tablet-size) {
                    content: none;
                }
            }

            &.slick-center {
                &:after {
                    opacity: 0;
                }
            }
        }

        .slick-arrow {
            margin: 0;
            padding: 0;
            width: 48px;
            height: 48px;
            position: absolute 50% null null 21%;
            margin-top: -24px;
            background-color: transparent;
            background-image: svg('a-left', '[fill]: #000');
            background-size: 13px;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            text-indent: -99999px;
            z-index:2;

            &:hover,
            &:active,
            &:focus {
                border-bottom: none;

            }

            &:hover {
                background-image: svg('a-left', '[fill]: #00adef');
            }

            @media (max-width: $desktop-lg-size) {
                position: absolute 50% null null 60px;
            }

            @media (max-width: $tablet-size) {
                position: absolute 50% null null 16px;
            }
        }

        .slick-next {
            position: absolute 50% 21% null auto;
            transform: rotate(-180deg);

            @media (max-width: $desktop-lg-size) {
                position: absolute 50% 60px null auto;
            }

            @media (max-width: $tablet-size) {
                position: absolute 50% 16px null auto;
            }
        }
    }

    &-about {
        padding: 75px 96px;

        @media (max-width: $desktop-lg-size) {
            padding: 75px 48px;
        }

        @media (max-width: $tablet-lg-size) {
            padding: 75px 48px 66px;
        }

        @media (max-width: $tablet-size) {
            padding: 95px 32px 37px;
        }

        @media (max-width: $mobile-size) {
            padding: 64px 16px 45px;
        }

        h2 {
            margin-bottom: 70px;
            font-size: 56px;
            line-height: 70px;
            letter-spacing: 0.7px;
            text-align: center;

            @media (max-width: $tablet-size) {
                font-size: 40px;
                line-height: 40px;
                letter-spacing: 0.3px;
                margin-bottom: 81px;
            }

            @media (max-width: $mobile-lg-size) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.3px;
            }

            @media (max-width: $mobile-size) {
                margin-bottom: 56px;
            }
        }

        &-list {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            &-item {
                list-style: none;

                margin-bottom: 29px;

                @media (max-width: $tablet-lg-size) {
                    margin-bottom: 51px;
                }

                @media (max-width: $tablet-size) {
                    margin-bottom: 58px;
                }

                @media (min-width: $mobile-lg-size-min) {
                    lost-column: 1/3 3;
                }

                @media (max-width: $mobile-size) {
                    margin-bottom: 22px;
                }

                &__img {
                    display: block;
                    width: 98px;
                    height: 98px;
                    margin: 0 auto 18px;
                    border-radius: 50%;
                    text-align: center;
                    overflow: hidden;
                    line-height: 98px;

                    img {
                        height: 100%;
                        vertical-align: middle;
                    }

                    @media (max-width: $tablet-size) {
                        margin: 0 auto 21px;
                    }
                }

                &__description {
                    display: block;
                    max-width: 315px;
                    margin: 0 auto;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.2px;
                    text-align: center;

                    @media (max-width: $tablet-size) {
                        font-size: 15px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                    }

                    @media (max-width: $mobile-lg-size) {
                        padding: 0 16px;
                    }
                }
            }

            @media (max-width: $mobile-lg-size) {
                display: block;
            }
        }

        .slick-dots {
            text-align: center;

            li {
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                margin-bottom: 0;

                button {
                    margin-bottom: 0;
                    text-indent: -99999px;
                    padding: 0;
                    width: 8px;
                    height: 8px;
                    background-color: transparent;
                    border-color: $cl-blue;

                    &:hover,
                    &:active,
                    &:focus {
                        border-color: $cl-blue;
                    }
                }

                &.slick-active {
                    button {
                        background-color: #00adef;
                    }
                }

                & + & {
                    margin-left: 10px;
                }
            }
        }
    }

    &-sections {
        padding-top: 67px;
        padding-bottom: 111px;
        background-color: #f6f6f6;

        @media (max-width: $desktop-size) {
            padding-left: 48px;
            padding-right: 48px;
        }

        @media (max-width: $tablet-lg-size) {
            padding-top: 74px;
            padding-bottom: 63px;
        }

        @media (max-width: $tablet-size) {
            padding-top: 88px;
            padding-bottom: 63px;
            padding-left: 32px;
            padding-right: 32px;
        }

        @media (max-width: $mobile-size) {
            padding-top: 48px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 48px;
        }

        h2, h3 {
            padding: 0 96px;

            @media (max-width: $desktop-size) {
                padding: 0;
            }
        }

        h2 {
            text-align: center;
            letter-spacing: 0.7px;
            margin-bottom: 61px;

            @media (max-width: $tablet-lg-size) {
                line-height: 56px;
                margin-bottom: 15px;
            }

            @media (max-width: $tablet-size) {
                line-height: 40px;
                font-size: 40px;
                letter-spacing: 0.2px;
                margin-bottom: 80px;
            }

            @media (max-width: $mobile-lg-size) {
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.3px;
            }

            @media (max-width: $mobile-size) {
                margin-bottom: 13px;
            }

        }

        h3 {
            margin-bottom: 50px;
            font-size: 32px;
            line-height: 34px;
            letter-spacing: 0.4px;

            @media (max-width: $tablet-size) {
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0.3px;
                margin-bottom: 47px;
            }

            @media (max-width: $mobile-lg-size) {
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 0.3px;
            }

            @media (max-width: $mobile-size) {
                margin-bottom: 31px;
            }
        }

        &__howto {
            padding: 0 96px;
            text-align: center;
            margin-bottom: 0;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.4px;

            @media (max-width: $desktop-size) {
                padding: 0;
            }

            @media (max-width: $tablet-lg-size) {
                margin-top: 99px;
            }

            @media (max-width: $mobile-size) {
                margin-top: 16px;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.2px;
            }
        }
    }
}
