.tabs {
    position: relative;
    margin: 0;
    padding: 31px 0 0;
    background-color: #f6f6f6;
    @include clearfix;

    &__item {
        display: inline;
        list-style: none outside;
        padding: 0 0 25px;
        font-size: 18px;
        font-weight: normal;

        &:last-child {
            .tabs__link {
                margin-right: 0;
            }
        }
    }

        &__link {
            border-bottom: 1px solid transparent;
            display: inline-block;
            margin: 0 $gutter 0 0;
            padding-bottom: 23px;
            cursor: pointer;
            transition: all $time ease;

            &:hover {
                color: $cl-blue;
            }

            &.is-active {
                cursor: default;
                position: relative;

                &:after {
                    content: '';
                    position: absolute null 0 0 0;
                    height: 2px;
                    background-color: $cl-blue;
                }

                &:hover {
                    color: #000;
                }
            }
        }

    &__cnt {
        display: none;
        float: left;
        width: 100%;
        background-color: #fff;

        &.is-open {
            display: block;
        }
    }
}
