/* Стилизация тултипов */

.tooltip {
    cursor: pointer;
    transition: all $time ease;
    &:hover {
        color: $cl-blue;
    }
}

.ui-tooltip {
    background: #f6f6f6;
    box-shadow: none;
    max-width: 280px;
    padding: 20px 23px;
    color: #bbb;
    font-size: 13px;
    line-height: 22px;
    text-align: left;
    border-radius: 5px;

    &:before {
        content: '';
        width: 57px;
        height: 27px;
        position: absolute -18px null null 50%;
        margin-left: -28px;
        pointer-events: none;
        background-image: url('../img/svg/pipka.svg');
    }

    &.bottom {
        &:before {
            border-bottom-color: transparent;
            border-top-color: rgba(136, 136, 136, .8);
            top: 100%;
            bottom: auto;
        }
    }
}


/* ---------- ADAPTIVE 960 ---------------------------------------------------*/
@media (max-width: 959px) {
    .ui-tooltip {
        left: 21px !important;
        right: 21px;
        max-width: none;

        &:before {
            display: none;
        }
    }
}