/* Переменные */

/* colors */

$cl-global: #000;

$cl-dk-blue: #4687e0;
$cl-blue: #00adef;
$cl-dkst-blue: #0054a6;

$cl-dk-grey: #999;
$cl-md-grey: #888;
$cl-grey-alter: #bbb;
$cl-grey: #ccc;
$cl-lght-grey: #ddd;
$cl-lg-grey: #f6f6f6;

$cl-red: #e22e2e;
$cl-green: #53dad3;
$cl-orange: #f4b162;
$cl-violet: #7b76c6;
/* /colors */

/* sizes */

$field-height: 48px;

/* /sizes */

$img_path: ../img;

$time: 200ms;
$opac: 0.5;

$gradient: linear-gradient(128deg, #00adef 20%, #31ecbe);
