@import 'partials/partials.pcss';

.browse-happy {
    background: #fff;
    padding: 20px 0;
    text-align: center;

    strong {
        color: red;
    }

    &__notice {
        font-size: 20px;
    }

    &__security {
        font-size: 12px;
    }

    &__update {
        font-size: 14px;
    }

    &__recommend {
        font-size: 12px;
    }
}

.wrap-main {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;

    @include clearfix;

    b {
        color: $cl-red;
        font-size: 20px;
    }

    .gradient-circle {
        border-radius: 50%;

        &_grey {
            position: relative;
            width: 272px;
            height: 272px;
            background-image: linear-gradient(21deg, #c8c8c8, #dedede);

            @media (max-width: $desktop-size) {
                width: 176px;
                height: 176px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        img {
            position: absolute 50% null null 50%;
            transform: translate(-50%, -50%);

            @media (max-width: $desktop-size) {
                width: 70px;
            }
        }
    }

    .energy {
        color: #000;

        &_eco {
            color: #00adef;

            .energy__bar {
                background-color: #00adef;
                transition-delay: 1s;

                &.is-full {
                    width: 62%;
                }
            }
        }

        &-block {
            width: 205px;
        }

        &__bar {
            display: block;
            width: 0;
            margin-top: 3px;
            height: 3px;
            background-color: #000;
            transition: width 2s ease;

            &.is-full {
                width: 100%;
            }
        }

        & + & {
            margin-top: 21px;

            @media (max-width: $desktop-size) {
                margin-top: 19px;
            }
        }
    }
}

.rub {
    font-family: 'ruble';
    line-height: 1;
}

@lost flexbox flex;

.text-grid {
    lost-flex-container: row;
    background: beige;
    padding-top: 30px;

    &__block {
        height: 90px;
        text-align: center;
        lost-column: .5 flex;
        background: pink;
        margin-bottom: 30px;
    }
}

#some-block {
    color: #fff !important;
}
